<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_wedge_blod_0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-26,-3}</string>
                <key>spriteSize</key>
                <string>{48,36}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{413,445},{48,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_blod_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,-6}</string>
                <key>spriteSize</key>
                <string>{56,42}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{455,255},{56,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-6}</string>
                <key>spriteSize</key>
                <string>{74,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{262,425},{74,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{96,74}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{363,173},{96,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-5}</string>
                <key>spriteSize</key>
                <string>{112,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{363,87},{112,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{116,84}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{363,1},{116,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{72,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{451,463},{72,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_blod_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-6}</string>
                <key>spriteSize</key>
                <string>{76,58}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{452,385},{76,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_blod_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{82,60}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{262,363},{82,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-7}</string>
                <key>spriteSize</key>
                <string>{82,46}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{346,397},{82,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_blod_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{80,48}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{461,173},{80,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_blod_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-13}</string>
                <key>spriteSize</key>
                <string>{84,54}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{455,299},{84,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_blod_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-15}</string>
                <key>spriteSize</key>
                <string>{90,62}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{363,249},{90,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{1,363},{73,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_res_01_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{1,438},{73,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_res_01_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{338,445},{73,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_res_01_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{262,487},{73,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_wedge_res_01_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{1,513},{73,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_res_01_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,259}</string>
                <key>spriteSourceSize</key>
                <string>{73,259}</string>
                <key>textureRect</key>
                <string>{{1,588},{73,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{363,313},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_wedge_ss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_wedge.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cca322b30c8aea10959132b76a17afd0:f017431c0e103a6b1998b838c3edcbbd:e2523b9ae366a653d17d0c78979e6446$</string>
            <key>textureFileName</key>
            <string>skill_wedge.png</string>
        </dict>
    </dict>
</plist>
