<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colosseum_1_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1440}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1440}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{1860,486}}</string>
                <key>offset</key>
                <string>{-24,437}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,40},{1860,486}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_3_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,390},{74,108}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,29},{74,108}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,268},{76,120}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{76,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,140},{88,126}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{88,126}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{62,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,136}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1846},{84,138}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{84,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1676},{168,166}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{879,572},{168,166}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_3_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,652},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,624},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{24,26}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1626},{32,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{134,109},{32,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2008,70},{16,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,132},{16,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_3_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{28,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{544,375},{28,66}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,578},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,386},{24,44}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,1846},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,375},{18,66}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,70},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,377},{18,62}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1444},{180,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,391},{180,34}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1916,1660},{44,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,402},{44,12}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,1444},{230,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,383},{230,50}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,500},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{520,376},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colosseum_1.png</string>
            <key>size</key>
            <string>{2032,1932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e975cccebc7ae164fc62e4b2fc8622c:28c5ec115ed8fbfaefd12f165d791b9c:0731abf4c15cfe1633bef4064040243f$</string>
            <key>textureFileName</key>
            <string>colosseum_1.png</string>
        </dict>
    </dict>
</plist>
