<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>inagame_panel_tamer_skill_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,118},{134,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,134}}</string>
                <key>sourceSize</key>
                <string>{134,134}</string>
            </dict>
            <key>inagame_panel_tamer_skill_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>ingame_panel_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,162},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>ingame_panel_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,162},{90,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,86}}</string>
                <key>sourceSize</key>
                <string>{90,86}</string>
            </dict>
            <key>ingame_panel_attr_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,218},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_attr_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,218},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_attr_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,218},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_attr_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,194},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_attr_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,221},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_attr_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,218},{26,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,25}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>ingame_panel_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,110},{50,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,46}}</string>
                <key>sourceSize</key>
                <string>{50,46}</string>
            </dict>
            <key>ingame_panel_change_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,110},{46,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,41}}</string>
                <key>sourceSize</key>
                <string>{46,41}</string>
            </dict>
            <key>ingame_panel_die.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{120,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,97}}</string>
                <key>sourceSize</key>
                <string>{120,97}</string>
            </dict>
            <key>ingame_panel_die_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,162},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>ingame_panel_drag_mute_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{803,162},{90,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,99}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>ingame_panel_drag_mute_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,110},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,23},{44,53}}</string>
                <key>sourceSize</key>
                <string>{90,99}</string>
            </dict>
            <key>ingame_panel_drag_skill_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,118},{117,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,117}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>ingame_panel_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,101},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>ingame_panel_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,78},{36,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,32}}</string>
                <key>sourceSize</key>
                <string>{36,32}</string>
            </dict>
            <key>ingame_panel_full_atk_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{106,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,169}}</string>
                <key>sourceSize</key>
                <string>{106,169}</string>
            </dict>
            <key>ingame_panel_full_atk_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,178},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>ingame_panel_full_heal_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{106,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,169}}</string>
                <key>sourceSize</key>
                <string>{106,169}</string>
            </dict>
            <key>ingame_panel_full_heal_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,101},{106,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,58}}</string>
                <key>sourceSize</key>
                <string>{106,58}</string>
            </dict>
            <key>ingame_panel_indicater_atk_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,172},{32,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{32,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,216},{34,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_curve_twin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,162},{26,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{26,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_penetration.png</key>
            <dict>
                <key>frame</key>
                <string>{{913,110},{34,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,104},{32,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_square_height.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,162},{24,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{24,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_square_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,216},{28,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_square_width.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,190},{32,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_target_cone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,2},{32,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_voltes_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,218},{30,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_atk_wedge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,116},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,136},{32,20}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,11},{32,20}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_cross.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,216},{34,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{34,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_curve_twin.png</key>
            <dict>
                <key>frame</key>
                <string>{{1265,144},{26,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{26,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_penetration.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,162},{34,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{34,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_round.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,138},{32,32}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_square_height.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,218},{24,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{24,34}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_square_multi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,216},{28,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{28,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_square_width.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,144},{32,26}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{32,26}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_target_cone.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,40},{32,36}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{32,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_voltes_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1337,136},{30,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_indicater_heal_wedge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,150},{32,32}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>ingame_panel_mana_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,144},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>ingame_panel_mana_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,198},{47,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,16}}</string>
                <key>sourceSize</key>
                <string>{47,16}</string>
            </dict>
            <key>ingame_panel_mana_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,144},{48,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,16}}</string>
                <key>sourceSize</key>
                <string>{48,16}</string>
            </dict>
            <key>ingame_panel_mana_gg_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{266,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,56}}</string>
                <key>sourceSize</key>
                <string>{266,56}</string>
            </dict>
            <key>ingame_panel_mana_gg_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,184},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ingame_panel_mana_gg_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,242},{10,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,48}}</string>
                <key>sourceSize</key>
                <string>{10,48}</string>
            </dict>
            <key>ingame_panel_mana_gg_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1228,156},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ingame_panel_mana_gg_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,178},{66,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,65}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>ingame_panel_mana_gg_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,172},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ingame_panel_mana_gg_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,242},{10,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,48}}</string>
                <key>sourceSize</key>
                <string>{10,48}</string>
            </dict>
            <key>ingame_panel_mana_gg_0203.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,229},{31,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,23}}</string>
                <key>sourceSize</key>
                <string>{31,23}</string>
            </dict>
            <key>ingame_panel_mana_gg_0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,172},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>ingame_panel_mana_gg_0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1215,144},{10,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,48}}</string>
                <key>sourceSize</key>
                <string>{10,48}</string>
            </dict>
            <key>ingame_panel_mana_gg_0303.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,229},{23,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,23}}</string>
                <key>sourceSize</key>
                <string>{23,23}</string>
            </dict>
            <key>ingame_panel_mana_mute_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,60},{266,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,56}}</string>
                <key>sourceSize</key>
                <string>{266,56}</string>
            </dict>
            <key>ingame_panel_mana_mute_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,110},{34,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,6},{34,42}}</string>
                <key>sourceSize</key>
                <string>{266,56}</string>
            </dict>
            <key>ingame_panel_normal_skill_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,162},{90,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,90}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>ingame_panel_portrait.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,162},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ingame_panel_portrait_gg_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,110},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ingame_panel_portrait_gg_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,110},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>ingame_panel_portrait_hp_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,156},{44,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,4}}</string>
                <key>sourceSize</key>
                <string>{44,4}</string>
            </dict>
            <key>ingame_panel_portrait_hp_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,156},{44,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,4}}</string>
                <key>sourceSize</key>
                <string>{44,4}</string>
            </dict>
            <key>ingame_panel_portrait_hp_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{76,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,10}}</string>
                <key>sourceSize</key>
                <string>{76,10}</string>
            </dict>
            <key>ingame_panel_portrait_hp_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,136},{72,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,6}}</string>
                <key>sourceSize</key>
                <string>{72,6}</string>
            </dict>
            <key>ingame_panel_skill_gg_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,104},{78,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{78,80}</string>
            </dict>
            <key>ingame_panel_skill_gg_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,237},{108,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,12}}</string>
                <key>sourceSize</key>
                <string>{108,12}</string>
            </dict>
            <key>ingame_panel_tamer_skill_fx.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{178,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,174}}</string>
                <key>sourceSize</key>
                <string>{178,174}</string>
            </dict>
            <key>ingame_panel_tamer_skill_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,2},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>ingame_panel_target_atk_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,206},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,206},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,172},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1362,170},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,206},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1394,161},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_atk_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,161},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,161},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,204},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,195},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,195},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1466,195},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,184},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>ingame_panel_target_heal_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,184},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>temp_dragon.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,2},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{140,140}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>temp_skill.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>temp_tamer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,238}}</string>
                <key>offset</key>
                <string>{-4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,8},{162,238}}</string>
                <key>sourceSize</key>
                <string>{328,278}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame_panel.png</string>
            <key>size</key>
            <string>{1650,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7d1d3dae5a5ba12ac4aa45f9684b360:b18cb815ecb9a8599c8fce0c3af0d28a:bd9e9e4483a5aaadb6a1e2047eaefe3e$</string>
            <key>textureFileName</key>
            <string>ingame_panel.png</string>
        </dict>
    </dict>
</plist>
