<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ring_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{2,2},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_dark_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{2,115},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{2,228},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_earth_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{2,341},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{115,2},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_fire_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{228,2},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{341,2},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_light_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{115,115},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{115,228},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ring_water_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,111}</string>
                <key>spriteSourceSize</key>
                <string>{111,111}</string>
                <key>textureRect</key>
                <string>{{115,341},{111,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_ring.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1b0591cb9ff6125ee18b584af2a27cc:fdaea7a8556c026fa6babf7e13817bb1:5195f3428f2c3d2ed0118f507bdf4878$</string>
            <key>textureFileName</key>
            <string>missile_ring.png</string>
        </dict>
    </dict>
</plist>
