<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_spirit_blizzard_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,220}</string>
                <key>spriteSourceSize</key>
                <string>{242,238}</string>
                <key>textureRect</key>
                <string>{{1352,1},{224,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_spirit_blizzard_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,310}</string>
                <key>spriteSourceSize</key>
                <string>{817,328}</string>
                <key>textureRect</key>
                <string>{{152,1},{799,310}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_blizzard_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,341}</string>
                <key>spriteSourceSize</key>
                <string>{376,359}</string>
                <key>textureRect</key>
                <string>{{1009,1},{358,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_blizzard_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{152,802},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_spirit_blizzard_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{152,802},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_spirit_boom_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,262}</string>
                <key>spriteSourceSize</key>
                <string>{264,280}</string>
                <key>textureRect</key>
                <string>{{515,699},{246,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_spirit_boom_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,214}</string>
                <key>spriteSourceSize</key>
                <string>{223,232}</string>
                <key>textureRect</key>
                <string>{{1335,418},{205,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_ice_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,248}</string>
                <key>spriteSourceSize</key>
                <string>{280,258}</string>
                <key>textureRect</key>
                <string>{{763,693},{270,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_ice_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,166}</string>
                <key>textureRect</key>
                <string>{{1291,779},{152,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_ice_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,155}</string>
                <key>spriteSourceSize</key>
                <string>{170,173}</string>
                <key>textureRect</key>
                <string>{{1335,625},{152,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_ice_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,276}</string>
                <key>spriteSourceSize</key>
                <string>{277,294}</string>
                <key>textureRect</key>
                <string>{{1013,693},{259,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_snow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,370}</string>
                <key>spriteSourceSize</key>
                <string>{300,380}</string>
                <key>textureRect</key>
                <string>{{717,1},{290,370}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_spirit_wind_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{696,110}</string>
                <key>spriteSourceSize</key>
                <string>{714,128}</string>
                <key>textureRect</key>
                <string>{{464,1},{696,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_wind_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{888,149}</string>
                <key>spriteSourceSize</key>
                <string>{906,167}</string>
                <key>textureRect</key>
                <string>{{1,1},{888,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_spirit_wind_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{580,139}</string>
                <key>spriteSourceSize</key>
                <string>{598,157}</string>
                <key>textureRect</key>
                <string>{{576,1},{580,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spirit_all_03_charging_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,299}</string>
                <key>spriteSourceSize</key>
                <string>{317,317}</string>
                <key>textureRect</key>
                <string>{{1034,361},{299,299}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spirit_all_03_charging_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{315,318}</string>
                <key>spriteSourceSize</key>
                <string>{333,336}</string>
                <key>textureRect</key>
                <string>{{717,373},{315,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spirit_all_03_charging_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,193}</string>
                <key>spriteSourceSize</key>
                <string>{238,211}</string>
                <key>textureRect</key>
                <string>{{1352,223},{220,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spirit_all_03_charging_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{186,182}</string>
                <key>textureRect</key>
                <string>{{1441,779},{150,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_spirit.png</string>
            <key>size</key>
            <string>{1592,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1aa49dfbe6936e5d1183de99f5d1bcea:b27a464afd34f2a19b182bc3d8532cdc:b644fac941026c5dd83e543ac3e2d39b$</string>
            <key>textureFileName</key>
            <string>skill_spirit.png</string>
        </dict>
    </dict>
</plist>
