<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_shootingstar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{622,795}</string>
                <key>spriteSourceSize</key>
                <string>{638,819}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,795}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{542,596}</string>
                <key>spriteSourceSize</key>
                <string>{554,604}</string>
                <key>textureRect</key>
                <string>{{625,1},{542,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{525,482}</string>
                <key>spriteSourceSize</key>
                <string>{535,490}</string>
                <key>textureRect</key>
                <string>{{1169,1},{525,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_shootingstar_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{509,416}</string>
                <key>spriteSourceSize</key>
                <string>{517,422}</string>
                <key>textureRect</key>
                <string>{{625,599},{509,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,391}</string>
                <key>spriteSourceSize</key>
                <string>{274,391}</string>
                <key>textureRect</key>
                <string>{{1136,599},{274,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{161,943},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_shootingstar_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,193}</string>
                <key>spriteSourceSize</key>
                <string>{145,193}</string>
                <key>textureRect</key>
                <string>{{237,798},{145,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,56}</string>
                <key>spriteSourceSize</key>
                <string>{158,56}</string>
                <key>textureRect</key>
                <string>{{1,943},{158,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_shootingstar_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,143}</string>
                <key>spriteSourceSize</key>
                <string>{234,143}</string>
                <key>textureRect</key>
                <string>{{1,798},{234,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_shootingbreath.png</string>
            <key>size</key>
            <string>{1652,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a85160ebbc715e5bd1c170542e1ac41b:61aad8e5d7ae15e75bfb626e2bd4a178:5dcbe2202e7dcefbda70d5c18bb1f420$</string>
            <key>textureFileName</key>
            <string>skill_shootingbreath.png</string>
        </dict>
    </dict>
</plist>
