<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,137}</string>
                <key>spriteSourceSize</key>
                <string>{187,137}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,168}</string>
                <key>spriteSourceSize</key>
                <string>{262,168}</string>
                <key>textureRect</key>
                <string>{{140,1},{262,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{403,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56ec9c4e51d71e974eb04c42d8d1d8cc:bb9546af997fae9055da2304a1a56323:093a2e5f9704eb9caa7571c3413d0460$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
