<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_01_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,124}</string>
                <key>spriteSourceSize</key>
                <string>{99,124}</string>
                <key>textureRect</key>
                <string>{{846,1284},{99,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_02_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,138}</string>
                <key>spriteSourceSize</key>
                <string>{87,138}</string>
                <key>textureRect</key>
                <string>{{2,1368},{87,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,109}</string>
                <key>spriteSourceSize</key>
                <string>{152,109}</string>
                <key>textureRect</key>
                <string>{{542,1284},{152,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_01_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,180}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{360,1284},{100,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flag_02_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,82}</string>
                <key>spriteSourceSize</key>
                <string>{356,82}</string>
                <key>textureRect</key>
                <string>{{2,1284},{356,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_03_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,122}</string>
                <key>textureRect</key>
                <string>{{696,1284},{148,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_00_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{2,2},{1280,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stra_01_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{264,1368},{35,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stra_02_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,77}</string>
                <key>spriteSourceSize</key>
                <string>{120,77}</string>
                <key>textureRect</key>
                <string>{{142,1368},{120,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stra_03_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,20}</string>
                <key>spriteSourceSize</key>
                <string>{22,20}</string>
                <key>textureRect</key>
                <string>{{306,1368},{22,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_weidel_festival_right_night.png</string>
            <key>size</key>
            <string>{964,1457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e367da8ee45b389dacb07b81e352846:333a1cefa3529504f9f984597b2e453c:982f17dc277eba6e92ddfb91a79a8845$</string>
            <key>textureFileName</key>
            <string>lobby_weidel_festival_right_night.png</string>
        </dict>
    </dict>
</plist>
