<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_weidel_festival_center_00_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,899}</string>
                <key>spriteSourceSize</key>
                <string>{1280,899}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,899}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_center_01_night.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{559,216}</string>
                <key>spriteSize</key>
                <string>{162,206}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1283,1},{162,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_weidel_festival_center_night.png</string>
            <key>size</key>
            <string>{1446,901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:301461178d6b38fe8006c75573ef44b6:e6522a6b24cc3e19e4c6d7e44bee6a1b:eeca4c115d21a832b61eff103d5d1524$</string>
            <key>textureFileName</key>
            <string>lobby_weidel_festival_center_night.png</string>
        </dict>
    </dict>
</plist>
