<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>balloon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,124}</string>
                <key>spriteSourceSize</key>
                <string>{99,124}</string>
                <key>textureRect</key>
                <string>{{846,1284},{99,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>balloon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,138}</string>
                <key>spriteSourceSize</key>
                <string>{87,138}</string>
                <key>textureRect</key>
                <string>{{2,1368},{87,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,109}</string>
                <key>spriteSourceSize</key>
                <string>{152,109}</string>
                <key>textureRect</key>
                <string>{{542,1284},{152,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,180}</string>
                <key>spriteSourceSize</key>
                <string>{100,180}</string>
                <key>textureRect</key>
                <string>{{360,1284},{100,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>flag_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{356,82}</string>
                <key>spriteSourceSize</key>
                <string>{356,82}</string>
                <key>textureRect</key>
                <string>{{2,1284},{356,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flag_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,122}</string>
                <key>spriteSourceSize</key>
                <string>{148,122}</string>
                <key>textureRect</key>
                <string>{{696,1284},{148,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{2,2},{1280,960}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_weidel_festival_right_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{81,45}</string>
                <key>spriteSourceSize</key>
                <string>{93,59}</string>
                <key>textureRect</key>
                <string>{{357,1386},{81,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{68,70}</string>
                <key>spriteSourceSize</key>
                <string>{92,78}</string>
                <key>textureRect</key>
                <string>{{264,1368},{68,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_weidel_festival_right_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-2}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{440,1386},{50,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{36,34}</string>
                <key>spriteSourceSize</key>
                <string>{60,38}</string>
                <key>textureRect</key>
                <string>{{440,1418},{36,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{37,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,24}</string>
                <key>textureRect</key>
                <string>{{264,1438},{37,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{58,19}</string>
                <key>spriteSourceSize</key>
                <string>{64,27}</string>
                <key>textureRect</key>
                <string>{{336,1368},{58,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_weidel_festival_right_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{22,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{355,1433},{22,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{379,1433},{20,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{22,17}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{336,1428},{22,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_weidel_festival_right_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,15}</string>
                <key>spriteSourceSize</key>
                <string>{30,17}</string>
                <key>textureRect</key>
                <string>{{303,1438},{30,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_right_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{32,9}</string>
                <key>spriteSourceSize</key>
                <string>{32,17}</string>
                <key>textureRect</key>
                <string>{{478,1418},{32,9}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_weidel_festival_right_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{19,11}</string>
                <key>spriteSourceSize</key>
                <string>{27,17}</string>
                <key>textureRect</key>
                <string>{{529,1386},{19,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>stra_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,40}</string>
                <key>spriteSourceSize</key>
                <string>{35,40}</string>
                <key>textureRect</key>
                <string>{{492,1386},{35,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stra_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,77}</string>
                <key>spriteSourceSize</key>
                <string>{120,77}</string>
                <key>textureRect</key>
                <string>{{142,1368},{120,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_weidel_festival_right.png</string>
            <key>size</key>
            <string>{964,1457}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70a06acfccac01b3341d2a7e22c1f5ad:e84ca42e9737003fef7499232561000a:6d51332f760415fe5aee202a154c2618$</string>
            <key>textureFileName</key>
            <string>lobby_weidel_festival_right.png</string>
        </dict>
    </dict>
</plist>
