<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_circle_400_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{601,343},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,367},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,115}</string>
                <key>spriteSize</key>
                <string>{146,106}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{601,547},{146,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_400_01_s_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{42,115}</string>
                <key>spriteSize</key>
                <string>{146,110}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{835,343},{146,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{248,340}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{765,1},{248,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_02_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-9}</string>
                <key>spriteSize</key>
                <string>{262,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{249,1},{262,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,21}</string>
                <key>spriteSize</key>
                <string>{232,294}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,729},{232,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_03_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,19}</string>
                <key>spriteSize</key>
                <string>{244,302}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{589,699},{244,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{236,342}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{363,355},{236,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_04_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{246,364}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{246,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{248,340}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{765,1},{248,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_05_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-9}</string>
                <key>spriteSize</key>
                <string>{262,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{249,1},{262,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-2}</string>
                <key>spriteSize</key>
                <string>{250,340}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{513,1},{250,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_400_01_s_06_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-9}</string>
                <key>spriteSize</key>
                <string>{256,352}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{235,729},{256,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_circle_400_01.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5203c2ea5c3e4445800604fb83445dca:29f368f3907054c97d03c29be3ee6675:33f94dfaaff3974e30fa140314b23235$</string>
            <key>textureFileName</key>
            <string>skill_circle_400_01.png</string>
        </dict>
    </dict>
</plist>
