<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_monsterdragon_e_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{160,180}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,28},{160,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,637},{158,176}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,28},{158,176}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,170},{162,178}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,28},{162,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,168},{162,178}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,27},{162,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1847,2},{164,178}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,28},{164,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,2},{166,180}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,28},{166,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,2},{164,170}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,34},{164,170}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,164},{166,178}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,28},{166,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,332},{166,176}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,29},{166,176}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,1867},{166,178}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,28},{166,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,1470},{166,180}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,28},{166,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1883},{162,178}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,27},{162,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,662},{178,180}}</string>
                <key>offset</key>
                <string>{8,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,25},{178,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,1294},{174,178}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,30},{174,178}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_e_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1123,658},{168,180}}</string>
                <key>offset</key>
                <string>{6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,28},{168,180}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>effect_monsterdragon_r_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1682},{357,344}}</string>
                <key>offset</key>
                <string>{21,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,125},{357,344}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,848},{371,346}}</string>
                <key>offset</key>
                <string>{20,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,122},{371,346}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,848},{379,354}}</string>
                <key>offset</key>
                <string>{20,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,117},{379,354}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,1682},{389,354}}</string>
                <key>offset</key>
                <string>{20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,115},{389,354}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1682},{395,362}}</string>
                <key>offset</key>
                <string>{20,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,110},{395,362}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1273},{407,368}}</string>
                <key>offset</key>
                <string>{21,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,108},{407,368}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0124.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2},{409,378}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,102},{409,378}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0128.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{409,384}}</string>
                <key>offset</key>
                <string>{15,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,106},{409,384}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0132.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1273},{407,394}}</string>
                <key>offset</key>
                <string>{12,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,100},{407,394}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0136.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,858},{413,402}}</string>
                <key>offset</key>
                <string>{11,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,95},{413,402}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0140.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,434},{409,412}}</string>
                <key>offset</key>
                <string>{3,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,90},{409,412}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0144.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{383,422}}</string>
                <key>offset</key>
                <string>{-4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,84},{383,422}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_r_0148.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{385,430}}</string>
                <key>offset</key>
                <string>{-3,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,80},{385,430}}</string>
                <key>sourceSize</key>
                <string>{691,518}</string>
            </dict>
            <key>effect_monsterdragon_y_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,1229},{41,48}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,15},{41,48}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,1229},{43,40}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{43,40}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,1229},{35,46}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,14},{35,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1229},{41,42}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{41,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1229},{37,42}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,20},{37,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1229},{41,44}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{41,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1229},{39,44}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,19},{39,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1221},{35,44}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,17},{35,44}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0112.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1229},{41,42}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,19},{41,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0116.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1930},{45,46}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{45,46}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdragon_y_0120.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1229},{41,42}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,19},{41,42}}</string>
                <key>sourceSize</key>
                <string>{77,68}</string>
            </dict>
            <key>effect_monsterdraon_s_0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1845,332},{135,159}}</string>
                <key>offset</key>
                <string>{22,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,242},{135,159}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,334},{135,161}}</string>
                <key>offset</key>
                <string>{22,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,240},{135,161}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,500},{135,165}}</string>
                <key>offset</key>
                <string>{22,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,236},{135,165}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0110.png</key>
            <dict>
                <key>frame</key>
                <string>{{1155,168},{137,167}}</string>
                <key>offset</key>
                <string>{23,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,234},{137,167}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0114.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,500},{135,171}}</string>
                <key>offset</key>
                <string>{24,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,230},{135,171}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0118.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,181},{139,173}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,228},{139,173}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0122.png</key>
            <dict>
                <key>frame</key>
                <string>{{1515,2},{143,177}}</string>
                <key>offset</key>
                <string>{22,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,224},{143,177}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0126.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,662},{143,181}}</string>
                <key>offset</key>
                <string>{23,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,221},{143,181}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0130.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,650},{145,185}}</string>
                <key>offset</key>
                <string>{22,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,217},{145,185}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0134.png</key>
            <dict>
                <key>frame</key>
                <string>{{1283,1471},{147,189}}</string>
                <key>offset</key>
                <string>{21,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,214},{147,189}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0138.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1320},{149,193}}</string>
                <key>offset</key>
                <string>{20,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,210},{149,193}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0142.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,1476},{147,199}}</string>
                <key>offset</key>
                <string>{19,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,205},{147,199}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0146.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1476},{153,203}}</string>
                <key>offset</key>
                <string>{19,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,202},{153,203}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0150.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1525},{153,209}}</string>
                <key>offset</key>
                <string>{18,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,197},{153,209}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0154.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,1652},{157,213}}</string>
                <key>offset</key>
                <string>{18,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,194},{157,213}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0158.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,1662},{159,219}}</string>
                <key>offset</key>
                <string>{18,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,189},{159,219}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0162.png</key>
            <dict>
                <key>frame</key>
                <string>{{1311,1069},{163,223}}</string>
                <key>offset</key>
                <string>{17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,186},{163,223}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0166.png</key>
            <dict>
                <key>frame</key>
                <string>{{1285,840},{165,227}}</string>
                <key>offset</key>
                <string>{17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,183},{165,227}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0170.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,1085},{169,233}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,178},{169,233}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0174.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,413},{171,235}}</string>
                <key>offset</key>
                <string>{16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,176},{171,235}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0178.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,844},{173,239}}</string>
                <key>offset</key>
                <string>{16,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,173},{173,239}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0182.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,413},{175,243}}</string>
                <key>offset</key>
                <string>{16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,169},{175,243}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0186.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,413},{177,247}}</string>
                <key>offset</key>
                <string>{16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,165},{177,247}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0190.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1677},{179,251}}</string>
                <key>offset</key>
                <string>{16,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,162},{179,251}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0194.png</key>
            <dict>
                <key>frame</key>
                <string>{{955,1221},{183,253}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,160},{183,253}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
            <key>effect_monsterdraon_s_0198.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1266},{185,257}}</string>
                <key>offset</key>
                <string>{15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,156},{185,257}}</string>
                <key>sourceSize</key>
                <string>{397,537}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_monsterdragon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d25a0dec50683551fe2b12c44368c93e$</string>
            <key>textureFileName</key>
            <string>effect_monsterdragon.png</string>
        </dict>
    </dict>
</plist>
