<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_2_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,564}}</string>
                <key>offset</key>
                <string>{-2,-118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,236},{944,564}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>dark_castle2_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{650,394}}</string>
                <key>offset</key>
                <string>{24,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{659,281},{650,394}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_7.png</string>
            <key>size</key>
            <string>{948,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b54e9e1e011a25b0f24c947e103e5b61:f16bcdf3824d32c9bf10eb1acdaa2ecb:b2fa3fbe9133225c2e1d89a14c83d32a$</string>
            <key>textureFileName</key>
            <string>dark_castle2_7.png</string>
        </dict>
    </dict>
</plist>
