<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1798,330}}</string>
                <key>offset</key>
                <string>{-16,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,429},{1798,330}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_3.png</string>
            <key>size</key>
            <string>{1802,334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ef492593ee0fad6fd6324475b494d44:67c094993835864360494968c54c28f9:24ccb50ee8b5830de63b2896331c6f25$</string>
            <key>textureFileName</key>
            <string>dark_castle2_3.png</string>
        </dict>
    </dict>
</plist>
