<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_1.png</string>
            <key>size</key>
            <string>{1924,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68a84f345a92f68d009dc3ff1ad05aba:01312f409e732c0bb3a28ebfbb990106:59c67b1afe156b5af677a0158a8e24d0$</string>
            <key>textureFileName</key>
            <string>dark_castle2_1.png</string>
        </dict>
    </dict>
</plist>
