<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_canyon2_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,486}}</string>
                <key>offset</key>
                <string>{30,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,83},{406,486}}</string>
                <key>sourceSize</key>
                <string>{624,612}</string>
            </dict>
            <key>bg_low_canyon2_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,490},{22,22}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{22,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_low_canyon2_sand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{254,690}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{254,690}}</string>
                <key>sourceSize</key>
                <string>{380,744}</string>
            </dict>
            <key>bg_low_canyon2_text_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{354,320}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,88},{354,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bg_low_canyon2_text_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{344,380}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,53},{344,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bg_low_canyon2_text_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,1158},{150,432}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,0},{150,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_canyon2_2.png</string>
            <key>size</key>
            <string>{410,1850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22ab04b69cdb88176e206adf59fb01f6:4c5264fd1fc097b7c4d7343cc3b25119:8a2ec371a2f20db58213f0561a3985ab$</string>
            <key>textureFileName</key>
            <string>low_canyon2_2.png</string>
        </dict>
    </dict>
</plist>
