<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1038,298}}</string>
                <key>offset</key>
                <string>{-15,-251}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,502},{1038,298}}</string>
                <key>sourceSize</key>
                <string>{1216,800}</string>
            </dict>
            <key>bg_forest_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{798,288}}</string>
                <key>offset</key>
                <string>{36,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,0},{798,288}}</string>
                <key>sourceSize</key>
                <string>{1216,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest_5.png</string>
            <key>size</key>
            <string>{1842,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a2c0134352eea91b9b34c6f26b43da2:444af1b598db2521409f7ce9690f0bc7:fc0effc3aef2aac8279d5681d62746af$</string>
            <key>textureFileName</key>
            <string>forest_5.png</string>
        </dict>
    </dict>
</plist>
