<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{374,476}}</string>
                <key>offset</key>
                <string>{-20,-162}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,324},{374,476}}</string>
                <key>sourceSize</key>
                <string>{440,800}</string>
            </dict>
            <key>bg_forest_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{671,410}}</string>
                <key>offset</key>
                <string>{-6,-195}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,390},{671,410}}</string>
                <key>sourceSize</key>
                <string>{693,800}</string>
            </dict>
            <key>bg_forest_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{404,530}}</string>
                <key>offset</key>
                <string>{4,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,270},{404,530}}</string>
                <key>sourceSize</key>
                <string>{570,800}</string>
            </dict>
            <key>bg_forest_bush_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,792},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{214,164}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_bush_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,534},{497,256}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{497,256}}</string>
                <key>sourceSize</key>
                <string>{525,298}</string>
            </dict>
            <key>bg_forest_bush_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,734},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{117,117},{72,64}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,414},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,40},{24,20}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_forest_flower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,414},{164,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{164,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_forest_herb_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,790},{202,190}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{202,190}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_01_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{208,258}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,20},{208,258}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,792},{186,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,48},{186,202}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,808},{184,160}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,69},{184,160}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,534},{198,114}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,90},{198,114}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest_3.png</string>
            <key>size</key>
            <string>{1095,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d73ece9c284414c3b79c976477852efe:0499cc09dfccd06e839df6ac95cfdbfd:dcaa2430ef78cecd334235d1d67037c2$</string>
            <key>textureFileName</key>
            <string>forest_3.png</string>
        </dict>
    </dict>
</plist>
