<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shot_super_thunder_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,253},{116,123}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,7},{116,123}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>shot_super_thunder_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,253},{142,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{142,125}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>shot_super_thunder_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,253},{120,113}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,33},{120,113}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>shot_super_thunder_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{249,953}}</string>
                <key>offset</key>
                <string>{30,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,0},{249,953}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>shot_super_thunder_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{205,955}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,0},{205,955}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>shot_super_thunder_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,394},{185,939}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,16},{185,939}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>shot_super_thunder_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,209},{183,955}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,0},{183,955}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>shot_super_thunder_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{187,911}}</string>
                <key>offset</key>
                <string>{11,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,0},{187,911}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>shot_super_thunder_magic_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1856,394},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{154,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>shot_super_thunder_magic_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,253},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{112,114}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>shot_super_thunder_magic_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,268},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{62,62}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>shot_super_thunder_magic_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,119},{82,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{82,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>shot_super_thunder_particle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,203},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>shot_super_thunder_shock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1914,2},{111,115}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{111,115}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>shot_super_thunder_shock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,253},{135,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{135,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>shot_super_thunder_shock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,253},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>shot_super_thunder_shock_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,253},{147,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shot_super_thunder.png</string>
            <key>size</key>
            <string>{2027,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed94301f2ce8965d4a4d3659919678f6$</string>
            <key>textureFileName</key>
            <string>shot_super_thunder.png</string>
        </dict>
    </dict>
</plist>
