<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_food_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{66,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{66,76}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>effect_food_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{29,31}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{29,31}}</string>
                <key>sourceSize</key>
                <string>{43,41}</string>
            </dict>
            <key>effect_food_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{79,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,78}}</string>
                <key>sourceSize</key>
                <string>{81,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_food.png</string>
            <key>size</key>
            <string>{182,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b8a74bedd782f28a7ba7951508729d39:2f4da56ddc8b0f4c99c611ab55fb99f0:bc8347c4234350ce4ef76ac925c3a132$</string>
            <key>textureFileName</key>
            <string>effect_food.png</string>
        </dict>
    </dict>
</plist>
