<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_stun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{72,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{345,1},{72,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_stun_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_stun_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{87,1},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_stun_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{173,1},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_stun_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,34}</string>
                <key>spriteSourceSize</key>
                <string>{84,34}</string>
                <key>textureRect</key>
                <string>{{259,1},{84,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_stun_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{419,1},{35,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_stun.png</string>
            <key>size</key>
            <string>{455,36}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88e235504b0d678f02be3926ead07484:94809590af85696b72f204f9e0663a33:e1a0f4c2f2f18b62119508c33dc580f0$</string>
            <key>textureFileName</key>
            <string>effect_stun.png</string>
        </dict>
    </dict>
</plist>
