<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_ancient_forest_1_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,654},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,320},{640,640}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>map_ancient_forest_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,654},{648,658}}</string>
                <key>offset</key>
                <string>{-2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,453},{648,658}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_forest_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{650,746}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,364},{650,746}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_forest_4_a_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,760}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,350},{648,760}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_forest_4_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{648,760}}</string>
                <key>offset</key>
                <string>{4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,350},{648,760}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_forest_branch_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1296},{222,240}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,174},{222,240}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_bush_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{214,164}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_02_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1526},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{214,164}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_02_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1526},{214,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,67},{214,164}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1314},{308,200}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{308,200}}</string>
                <key>sourceSize</key>
                <string>{326,246}</string>
            </dict>
            <key>map_ancient_forest_herb_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1296},{202,190}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,52},{202,190}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1526},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{16,16}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>map_ancient_forest_light_01_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1544},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,44},{14,12}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>map_ancient_forest_tree_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,2},{588,606}}</string>
                <key>offset</key>
                <string>{346,-657}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{692,1314},{588,606}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
            <key>map_ancient_forest_tree_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,1314},{368,590}}</string>
                <key>offset</key>
                <string>{456,-665}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{912,1330},{368,590}}</string>
                <key>sourceSize</key>
                <string>{1280,1920}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ancient_forest_1.png</string>
            <key>size</key>
            <string>{2006,1692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96002703c2638a6228fded0b06233e7f:e77c6514bd098eae57ec98bb58540968:03b554876bc6fc86bb397b16bb607867$</string>
            <key>textureFileName</key>
            <string>map_ancient_forest_1.png</string>
        </dict>
    </dict>
</plist>
