<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hedgebat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{81,82}</string>
                <key>textureRect</key>
                <string>{{431,149},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{95,105}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{154,401},{95,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hedgebat_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{165,149},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{303,149},{126,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{111,112}</string>
                <key>spriteSourceSize</key>
                <string>{117,116}</string>
                <key>textureRect</key>
                <string>{{154,287},{111,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{178,178}</string>
                <key>textureRect</key>
                <string>{{1,1},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{151,154}</string>
                <key>textureRect</key>
                <string>{{1,165},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{267,287},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{151,154}</string>
                <key>textureRect</key>
                <string>{{165,1},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_earth_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{267,393},{103,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hedgebat_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{151,154}</string>
                <key>textureRect</key>
                <string>{{1,313},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{372,279},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{431,227},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{151,146}</string>
                <key>spriteSourceSize</key>
                <string>{151,154}</string>
                <key>textureRect</key>
                <string>{{318,1},{151,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hedgebat_water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,104}</string>
                <key>spriteSourceSize</key>
                <string>{105,104}</string>
                <key>textureRect</key>
                <string>{{373,385},{103,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_hedgebat.png</string>
            <key>size</key>
            <string>{507,497}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91518da88f54e57246f966aed79a685f:b727a24bc4c429f9a6a04e904f3a856d:6bf7a139ed10276acf7493df1d4d995a$</string>
            <key>textureFileName</key>
            <string>skill_hedgebat.png</string>
        </dict>
    </dict>
</plist>
