<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_agares_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1891,1596},{69,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{69,94}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>skill_agares_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1222},{208,256}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{208,256}}</string>
                <key>sourceSize</key>
                <string>{236,282}</string>
            </dict>
            <key>skill_agares_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1600},{200,144}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,144}}</string>
                <key>sourceSize</key>
                <string>{200,160}</string>
            </dict>
            <key>skill_agares_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1596},{132,169}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{132,169}}</string>
                <key>sourceSize</key>
                <string>{154,179}</string>
            </dict>
            <key>skill_agares_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,938},{102,124}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{102,124}}</string>
                <key>sourceSize</key>
                <string>{122,142}</string>
            </dict>
            <key>skill_agares_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,808},{102,128}}</string>
                <key>offset</key>
                <string>{-10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,128}}</string>
                <key>sourceSize</key>
                <string>{122,142}</string>
            </dict>
            <key>skill_agares_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1678},{65,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{65,102}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>skill_agares_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,1480},{248,244}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{248,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,592},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,1096},{236,250}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,1678},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>skill_agares_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,1222},{152,454}}</string>
                <key>offset</key>
                <string>{-136,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,133},{152,454}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{382,552}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{382,552}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,602}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{406,602}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,606},{384,588}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{384,588}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,592},{208,598}}</string>
                <key>offset</key>
                <string>{108,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,0},{208,598}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1222},{152,454}}</string>
                <key>offset</key>
                <string>{-136,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,133},{152,454}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1210},{382,552}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{382,552}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{406,602}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{406,602}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{384,588}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{384,588}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,802},{208,598}}</string>
                <key>offset</key>
                <string>{108,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,0},{208,598}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1096},{248,244}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{248,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1396,844},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_05_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,1348},{236,250}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_06_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1346},{248,244}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{248,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_06_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1670,556},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_06_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,844},{236,250}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_agares_07_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,1222},{152,454}}</string>
                <key>offset</key>
                <string>{-136,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,133},{152,454}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,2},{382,552}}</string>
                <key>offset</key>
                <string>{-21,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{382,552}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_07_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{406,602}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{406,602}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_07_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{384,588}}</string>
                <key>offset</key>
                <string>{14,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,5},{384,588}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
            <key>skill_agares_07_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1012},{208,598}}</string>
                <key>offset</key>
                <string>{108,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,0},{208,598}}</string>
                <key>sourceSize</key>
                <string>{424,652}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_agares.png</string>
            <key>size</key>
            <string>{1990,1764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02fb428b2a99ae00914a813194edbb0f:3da35f8d96d5fff23c7c55d60a7748af:20dfef3076f1a7e849a9e6650d8f6300$</string>
            <key>textureFileName</key>
            <string>skill_agares.png</string>
        </dict>
    </dict>
</plist>
