<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_text_boss_horn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,124}</string>
                <key>textureRect</key>
                <string>{{207,796},{130,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_horn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{126,123}</string>
                <key>textureRect</key>
                <string>{{148,1054},{126,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_boss_horn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,145}</string>
                <key>spriteSourceSize</key>
                <string>{155,145}</string>
                <key>textureRect</key>
                <string>{{290,572},{155,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_horn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,145}</string>
                <key>spriteSourceSize</key>
                <string>{151,145}</string>
                <key>textureRect</key>
                <string>{{1,1028},{151,145}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,138}</string>
                <key>spriteSourceSize</key>
                <string>{120,138}</string>
                <key>textureRect</key>
                <string>{{333,791},{120,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_boss_text_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,134}</string>
                <key>spriteSourceSize</key>
                <string>{316,134}</string>
                <key>textureRect</key>
                <string>{{259,254},{316,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_text_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{405,96}</string>
                <key>spriteSourceSize</key>
                <string>{405,96}</string>
                <key>textureRect</key>
                <string>{{1,254},{405,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_text_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{339,158}</string>
                <key>spriteSourceSize</key>
                <string>{339,158}</string>
                <key>textureRect</key>
                <string>{{99,254},{339,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_boss_text_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{427,121}</string>
                <key>spriteSourceSize</key>
                <string>{427,121}</string>
                <key>textureRect</key>
                <string>{{1,1},{427,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_leader_horn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,124}</string>
                <key>spriteSourceSize</key>
                <string>{130,124}</string>
                <key>textureRect</key>
                <string>{{157,928},{130,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_leader_horn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,123}</string>
                <key>spriteSourceSize</key>
                <string>{126,123}</string>
                <key>textureRect</key>
                <string>{{289,1053},{126,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_leader_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,128}</string>
                <key>spriteSourceSize</key>
                <string>{120,128}</string>
                <key>textureRect</key>
                <string>{{289,931},{120,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_leader_text_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,104}</string>
                <key>spriteSourceSize</key>
                <string>{365,104}</string>
                <key>textureRect</key>
                <string>{{1,661},{365,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_leader_text_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,73}</string>
                <key>spriteSourceSize</key>
                <string>{305,73}</string>
                <key>textureRect</key>
                <string>{{430,1},{305,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_leader_text_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{387,128}</string>
                <key>spriteSourceSize</key>
                <string>{387,128}</string>
                <key>textureRect</key>
                <string>{{1,124},{387,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_leader_text_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{327,98}</string>
                <key>spriteSourceSize</key>
                <string>{327,98}</string>
                <key>textureRect</key>
                <string>{{107,595},{327,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{414,1053},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{460,1053},{26,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{395,515},{44,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{437,561},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{48,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{107,924},{48,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{414,1133},{44,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{437,641},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,76}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{412,729},{44,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{430,308},{46,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,78}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{455,775},{44,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,62}</string>
                <key>spriteSourceSize</key>
                <string>{50,80}</string>
                <key>textureRect</key>
                <string>{{478,308},{22,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_warning_line_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,67}</string>
                <key>spriteSourceSize</key>
                <string>{120,67}</string>
                <key>textureRect</key>
                <string>{{395,393},{120,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_warning_line_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,68}</string>
                <key>spriteSourceSize</key>
                <string>{120,68}</string>
                <key>textureRect</key>
                <string>{{419,931},{120,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_warning_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,33}</string>
                <key>spriteSourceSize</key>
                <string>{267,33}</string>
                <key>textureRect</key>
                <string>{{395,124},{267,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,81}</string>
                <key>spriteSourceSize</key>
                <string>{199,81}</string>
                <key>textureRect</key>
                <string>{{207,595},{199,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_wave_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,60}</string>
                <key>spriteSourceSize</key>
                <string>{120,60}</string>
                <key>textureRect</key>
                <string>{{290,729},{120,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_text.png</string>
            <key>size</key>
            <string>{504,1180}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:525a70cf7d9279c871bd3309ba2f6b32:da040b1d911cb507772f14bd1d476bb2:cd9bae295ffe0933a755c440bfe49be0$</string>
            <key>textureFileName</key>
            <string>ingame_text.png</string>
        </dict>
    </dict>
</plist>
