<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_step_03_res_btn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{183,1},{123,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_03_res_btn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{1,479},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{126,513},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{1,545},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{126,579},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{1,611},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{126,645},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,64}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{1,677},{123,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{126,711},{123,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_0502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{123,50}</string>
                <key>spriteSourceSize</key>
                <string>{133,70}</string>
                <key>textureRect</key>
                <string>{{1,743},{123,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_normal_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{148,90}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,387},{148,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_normal_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{158,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,199},{158,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_normal_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{164,94}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{164,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_normal_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{158,92}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,293},{158,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_btn_normal_0501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{180,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{180,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{167,126},{79,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,90}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{1,996},{79,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_03_res_item_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{161,218},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{161,312},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{151,406},{105,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_03_res_item_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{109,870},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{1,902},{93,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_03_res_item_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{93,92}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{96,966},{93,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_03_res_item_0501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{126,763},{105,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_03_res_item_0502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,106}</string>
                <key>spriteSourceSize</key>
                <string>{105,106}</string>
                <key>textureRect</key>
                <string>{{1,795},{105,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>package_step_03.png</string>
            <key>size</key>
            <string>{255,1076}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20f36bd471c929aea85f8282aaa87b5b:0673676678383ef3f0e0cd0d33eef0b3:f465d70d531fee41e004d499573ab7cd$</string>
            <key>textureFileName</key>
            <string>package_step_03.png</string>
        </dict>
    </dict>
</plist>
