<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_nest_ether_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{775,456}}</string>
                <key>offset</key>
                <string>{-44,-165}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,337},{775,456}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>map_nest_ether_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{715,382}}</string>
                <key>offset</key>
                <string>{-17,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{106,411},{715,382}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>map_nest_ether_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{503,258}}</string>
                <key>offset</key>
                <string>{167,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,481},{503,258}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>map_nest_ether_6_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,779},{901,214}}</string>
                <key>offset</key>
                <string>{-6,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,549},{901,214}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_nest_ether_5.png</string>
            <key>size</key>
            <string>{1104,995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91fa2afb9640b3a4df05bbc986dc47d2:999497bbe86953c061ae2b17fca01395:df5f013ad54d60b1760955fd500bacd9$</string>
            <key>textureFileName</key>
            <string>map_nest_ether_5.png</string>
        </dict>
    </dict>
</plist>
