<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_nest_ether_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_6_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{1800,426}}</string>
                <key>offset</key>
                <string>{-12,-513}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,1100},{1800,426}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_nest_ether_2.png</string>
            <key>size</key>
            <string>{1926,2032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9136ce09b61c8b7e2ae12555a9c6a3a8:a501ccbfe34e4ab81b9c333f07172848:9f4092d07518b968531c67123a2fd637$</string>
            <key>textureFileName</key>
            <string>map_nest_ether_2.png</string>
        </dict>
    </dict>
</plist>
