<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_nest_ether_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{305,136}}</string>
                <key>offset</key>
                <string>{-227,-147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,479},{305,136}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>map_nest_ether_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{237,150}}</string>
                <key>offset</key>
                <string>{-316,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,387},{237,150}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>map_nest_ether_3_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{369,150}}</string>
                <key>offset</key>
                <string>{233,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{529,405},{369,150}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_nest_ether_3.png</string>
            <key>size</key>
            <string>{919,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ca9974fb162c349e815880791875c67:fb6bca32cf772c51f829f31afe48eca2:bf29a341776a709222d4536e437d5e30$</string>
            <key>textureFileName</key>
            <string>map_nest_ether_3.png</string>
        </dict>
    </dict>
</plist>
