<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1108,762}}</string>
                <key>offset</key>
                <string>{-192,-419}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,838},{1108,762}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{784,504}}</string>
                <key>offset</key>
                <string>{-596,-548}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,1096},{784,504}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,508},{594,524}}</string>
                <key>offset</key>
                <string>{245,-538}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{972,1076},{594,524}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_5.png</string>
            <key>size</key>
            <string>{1898,1034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50548aa2a882fb35216777dabbe3caf0:a9b8482876ca16b3731165d6181f3c85:efcd9afcac5bf7a1ef4493eca0f5ccfb$</string>
            <key>textureFileName</key>
            <string>volcano_5.png</string>
        </dict>
    </dict>
</plist>
