<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_spider_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{78,95}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{78,95}}</string>
                <key>sourceSize</key>
                <string>{204,189}</string>
            </dict>
            <key>missile_spider_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,99}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{68,99}}</string>
                <key>sourceSize</key>
                <string>{204,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_spider.png</string>
            <key>size</key>
            <string>{152,103}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d6a32a6dfff8cab63bfa7eebebd1925:8a205b1deabc245e9f1107b189d1de8b:7bb13b7a71d487876d9a207f22112755$</string>
            <key>textureFileName</key>
            <string>missile_spider.png</string>
        </dict>
    </dict>
</plist>
