<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_spearfish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{88,256}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,6},{88,256}}</string>
                <key>sourceSize</key>
                <string>{130,276}</string>
            </dict>
            <key>missile_spearfish_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{86,234}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{86,234}}</string>
                <key>sourceSize</key>
                <string>{130,276}</string>
            </dict>
            <key>missile_spearfish_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{80,204}}</string>
                <key>offset</key>
                <string>{-6,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{80,204}}</string>
                <key>sourceSize</key>
                <string>{130,276}</string>
            </dict>
            <key>missile_spearfish_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,100}}</string>
                <key>sourceSize</key>
                <string>{92,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_spearfish.png</string>
            <key>size</key>
            <string>{96,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9594c5c4759a6f053ab2f4a28e06f379:6590c849febdbee6d348ff9ef60abcb6:95585e3cf0dd12444a4d5486ea1fda99$</string>
            <key>textureFileName</key>
            <string>missile_spearfish.png</string>
        </dict>
    </dict>
</plist>
