<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Untitled-4.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1294,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1294,723}}</string>
                <key>sourceSize</key>
                <string>{1294,723}</string>
            </dict>
            <key>effect_fever_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,515},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_fever_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,803},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>effect_fever_a_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,385},{161,161}}</string>
                <key>offset</key>
                <string>{-14,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,161}}</string>
                <key>sourceSize</key>
                <string>{189,189}</string>
            </dict>
            <key>effect_fever_b_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,641},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>effect_fever_b_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1038},{58,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,85}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>effect_fever_p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,548},{146,161}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{146,161}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>effect_fever_p_01_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,256},{95,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{95,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>effect_fever_p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,887},{142,149}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,149}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>effect_fever_p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,995},{150,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{150,147}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>effect_fever_p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,696},{152,149}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,149}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>effect_fever_p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,847},{146,151}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{146,151}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>effect_fever_p_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,385},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>effect_fever_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,256},{127,173}}</string>
                <key>offset</key>
                <string>{129,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,121},{127,173}}</string>
                <key>sourceSize</key>
                <string>{413,415}</string>
            </dict>
            <key>effect_fever_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>effect_fever_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,803},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>effect_fever_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,713},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_fever.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c669550c3ffb14672c4511a5566b1e$</string>
            <key>textureFileName</key>
            <string>effect_fever.png</string>
        </dict>
    </dict>
</plist>
