<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_ancient_ruins_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_ancient_ruins_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_ancient_ruins_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dmgate_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dmgate_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dmgate_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{525,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1049,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1049,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_nightmare_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_nightmare_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_nightmare_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_relation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_relation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_relation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{525,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1049,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1049,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_menu_dungeon.png</string>
            <key>size</key>
            <string>{1572,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:594501eb0ad9c037113338367b138197:066fa72bcc76b939e9ab3a0b519506d3:a9331f529ea7630fa23a5f0808cbe562$</string>
            <key>textureFileName</key>
            <string>battle_menu_dungeon.png</string>
        </dict>
    </dict>
</plist>
