<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{952,1126}}</string>
                <key>offset</key>
                <string>{-317,-237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,474},{952,1126}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1130},{854,852}}</string>
                <key>offset</key>
                <string>{344,-374}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{941,748},{854,852}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,644},{594,524}}</string>
                <key>offset</key>
                <string>{245,-538}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{972,1076},{594,524}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1240},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>bg_volcano_spiderweb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{640,522}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,163},{640,522}}</string>
                <key>sourceSize</key>
                <string>{1008,870}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_5.png</string>
            <key>size</key>
            <string>{1539,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf01120ca297632f7b78b25fcd05dcc2:1fd5f0072c82b4d56d9c55ce212b2b06:f77de0003325ee3d137ad2c8b8959a8b$</string>
            <key>textureFileName</key>
            <string>volcano_5.png</string>
        </dict>
    </dict>
</plist>
