<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attr_tower_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,582}</string>
                <key>spriteSourceSize</key>
                <string>{242,582}</string>
                <key>textureRect</key>
                <string>{{1,1},{242,582}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_frame_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,580}</string>
                <key>spriteSourceSize</key>
                <string>{240,580}</string>
                <key>textureRect</key>
                <string>{{245,1},{240,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_frame_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,580}</string>
                <key>spriteSourceSize</key>
                <string>{240,580}</string>
                <key>textureRect</key>
                <string>{{487,1},{240,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_frame_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,580}</string>
                <key>spriteSourceSize</key>
                <string>{240,580}</string>
                <key>textureRect</key>
                <string>{{729,1},{240,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_frame_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,580}</string>
                <key>spriteSourceSize</key>
                <string>{240,580}</string>
                <key>textureRect</key>
                <string>{{971,1},{240,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_frame_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,580}</string>
                <key>spriteSourceSize</key>
                <string>{240,580}</string>
                <key>textureRect</key>
                <string>{{1213,1},{240,580}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_icon_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{1,585},{246,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>attr_tower_icon_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{251,583},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_icon_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{499,583},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_icon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{747,583},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_tower_icon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{248,248}</string>
                <key>textureRect</key>
                <string>{{995,583},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>attr_tower.png</string>
            <key>size</key>
            <string>{1454,832}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9de668528e835f77fe667c638b3995fa:191bd8a4e08aa06e973c54ac1f1aa824:1cdbf1a0515b35f7fe5428f534dc7949$</string>
            <key>textureFileName</key>
            <string>attr_tower.png</string>
        </dict>
    </dict>
</plist>
