<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle3_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,320}}</string>
                <key>offset</key>
                <string>{21,-240}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,480},{502,320}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle3_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1346,2},{694,260}}</string>
                <key>offset</key>
                <string>{-5,-270}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,540},{694,260}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle3_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{476,312}}</string>
                <key>offset</key>
                <string>{-9,-244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,488},{476,312}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle3_5_c_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{706,490}}</string>
                <key>offset</key>
                <string>{50,-416}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,971},{706,490}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle3_5.png</string>
            <key>size</key>
            <string>{2042,506}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9727c4bdb75aa0605f72e7298ff13bac:322a7fac3987a1fb73c208352d90552a:f212c02be54fc67ba9dec44cacf0576f$</string>
            <key>textureFileName</key>
            <string>dark_castle3_5.png</string>
        </dict>
    </dict>
</plist>
