<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_rune_word_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{54,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{54,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{54,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{54,56}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,43},{54,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_rune_word.png</string>
            <key>size</key>
            <string>{650,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1edb76a65cd2eaab1a49816318ec4c7:67d39901b2c7d1d785bd84130dd1b19b:b08fdf108932acd2b0c1746efb46b98d$</string>
            <key>textureFileName</key>
            <string>missile_rune_word.png</string>
        </dict>
    </dict>
</plist>
