<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>bg_ocean2_2_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,732},{512,932}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{544,334},{512,932}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>bg_ocean2_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1738,732},{104,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{104,62}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>bg_ocean2_fish_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1246},{164,158}}</string>
                <key>offset</key>
                <string>{6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{724,727},{164,158}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>bg_ocean2_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{1038,728}}</string>
                <key>offset</key>
                <string>{-20,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,494},{1038,728}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>bg_ocean2_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1246},{838,554}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,504},{838,554}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean2_1.png</string>
            <key>size</key>
            <string>{1844,1924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67614232a028b505af80f404423912b8:878f407c2dd4858511a63e03f48a567e:199a57cd2535bd370b461d663e808031$</string>
            <key>textureFileName</key>
            <string>ocean2_1.png</string>
        </dict>
    </dict>
</plist>
