<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_exploration_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{1384,2},{200,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,89},{200,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_exploration_island.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1380,1060}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1380,1060}}</string>
                <key>sourceSize</key>
                <string>{1380,1060}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_exploration_1.png</string>
            <key>size</key>
            <string>{1508,1064}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0e24b862498a0d0c8c2ac6fe4228d0b:272424ac85c005beb46c115fa6c4a63a:85852d5b1d3a961a6ae7d022b071629d$</string>
            <key>textureFileName</key>
            <string>map_exploration_1.png</string>
        </dict>
    </dict>
</plist>
