<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_smart_dragon_earth_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,82},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,98},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,192},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,82},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,138},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_earth_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,98},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,158},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,212},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,220},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,72},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,66},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,222},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,178},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,198},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,154},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,132},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,100},{80,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_earth_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_earth_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,154},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_earth_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>skill_smart_dragon_earth_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>skill_smart_dragon_fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,72},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,98},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,66},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,156},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,197},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,134},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,158},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,198},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,220},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,178},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,46},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,112},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,90},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,220},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,198},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,158},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,212},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,110},{80,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_fire_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,66},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_fire_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,66},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_fire_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>skill_smart_dragon_fire_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,2},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
            <key>skill_smart_dragon_water_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,80},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,72},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,100},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,114},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,166},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,197},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_water_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,212},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,158},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,214},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,220},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,212},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,222},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,220},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,132},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,224},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,182},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,174},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,196},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_water_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,156},{80,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_water_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,130},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_water_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,132},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>skill_smart_dragon_water_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>skill_smart_dragon_water_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_smart_dragon.png</string>
            <key>size</key>
            <string>{1200,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12931acda4d0962cc446ca788e9c2c89:ce7855ecfd0a6690ab59420996a10e88:bbfcb4cb0c880db5f2c511e779cd1a2b$</string>
            <key>textureFileName</key>
            <string>skill_smart_dragon.png</string>
        </dict>
    </dict>
</plist>
