<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_smart_dragon_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,82},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,88},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,72},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,72},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,82},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,82},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,80},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,80},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,80},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,78},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,80},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_smart_dragon.png</string>
            <key>size</key>
            <string>{601,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:178507ffe7601764c22f1ca6a8434cdb:42d334d91cfb670973ad5e302b8ac8b8:bbfcb4cb0c880db5f2c511e779cd1a2b$</string>
            <key>textureFileName</key>
            <string>skill_smart_dragon.png</string>
        </dict>
    </dict>
</plist>
