<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_smart_dragon_earth_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_earth_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_earth_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,82},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,78},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,68},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,68},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,80},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,82},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,82},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,78},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,82},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,80},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,88},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_earth_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,80},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,2},{156,76}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,38},{156,76}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,62}}</string>
                <key>offset</key>
                <string>{21,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,34},{78,62}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,2},{74,68}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,24},{74,68}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,94}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,10},{70,94}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,98},{26,90}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,2},{26,90}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{54,84}}</string>
                <key>offset</key>
                <string>{-17,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{54,84}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,2},{62,64}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{62,64}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,72},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,41},{68,54}}</string>
                <key>sourceSize</key>
                <string>{166,114}</string>
            </dict>
            <key>skill_smart_dragon_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,2},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>skill_smart_dragon_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,82},{34,42}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{34,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,78},{36,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,54},{36,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,68},{32,38}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,53},{32,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,68},{34,52}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,47},{34,52}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,80},{40,48}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,80},{32,42}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,51},{32,42}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,82},{34,44}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,51},{34,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,78},{32,40}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,52},{32,40}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,82},{30,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,50},{30,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,80},{40,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,51},{40,46}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,88},{36,38}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,53},{36,38}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>skill_smart_dragon_fire_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,80},{40,48}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,49},{40,48}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_smart_dragon.png</string>
            <key>size</key>
            <string>{1176,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:769db7fb6f2e58dd037b97b011bebc5e:a9e8ef7a38c4117f265fe4248d1576b1:bbfcb4cb0c880db5f2c511e779cd1a2b$</string>
            <key>textureFileName</key>
            <string>skill_smart_dragon.png</string>
        </dict>
    </dict>
</plist>
