<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>manus_aaa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{380,496}</string>
                <key>spriteSourceSize</key>
                <string>{382,502}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,191}</string>
                <key>spriteSourceSize</key>
                <string>{197,191}</string>
                <key>textureRect</key>
                <string>{{611,835},{197,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,211}</string>
                <key>spriteSourceSize</key>
                <string>{216,211}</string>
                <key>textureRect</key>
                <string>{{779,221},{216,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{304,407}</string>
                <key>spriteSourceSize</key>
                <string>{344,423}</string>
                <key>textureRect</key>
                <string>{{1,499},{304,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{744,1120},{165,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,170}</string>
                <key>spriteSourceSize</key>
                <string>{177,170}</string>
                <key>textureRect</key>
                <string>{{565,1120},{177,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,42}</string>
                <key>spriteSourceSize</key>
                <string>{25,46}</string>
                <key>textureRect</key>
                <string>{{1,1260},{25,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,181}</string>
                <key>spriteSourceSize</key>
                <string>{197,191}</string>
                <key>textureRect</key>
                <string>{{804,825},{185,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,132}</string>
                <key>spriteSourceSize</key>
                <string>{72,136}</string>
                <key>textureRect</key>
                <string>{{908,1012},{66,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,91}</string>
                <key>spriteSourceSize</key>
                <string>{47,95}</string>
                <key>textureRect</key>
                <string>{{251,957},{41,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{394,258}</string>
                <key>spriteSourceSize</key>
                <string>{452,296}</string>
                <key>textureRect</key>
                <string>{{383,1},{394,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,191}</string>
                <key>spriteSourceSize</key>
                <string>{197,191}</string>
                <key>textureRect</key>
                <string>{{780,439},{197,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_dark_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{312,119}</string>
                <key>spriteSourceSize</key>
                <string>{344,423}</string>
                <key>textureRect</key>
                <string>{{251,1066},{312,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_dark_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{84,252}</string>
                <key>spriteSourceSize</key>
                <string>{98,256}</string>
                <key>textureRect</key>
                <string>{{251,1187},{84,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_dark_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{350,248}</string>
                <key>spriteSourceSize</key>
                <string>{452,296}</string>
                <key>textureRect</key>
                <string>{{1,908},{350,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{394,258}</string>
                <key>spriteSourceSize</key>
                <string>{452,296}</string>
                <key>textureRect</key>
                <string>{{383,261},{394,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,191}</string>
                <key>spriteSourceSize</key>
                <string>{197,191}</string>
                <key>textureRect</key>
                <string>{{780,632},{197,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{312,119}</string>
                <key>spriteSourceSize</key>
                <string>{344,423}</string>
                <key>textureRect</key>
                <string>{{659,521},{312,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{84,252}</string>
                <key>spriteSourceSize</key>
                <string>{98,256}</string>
                <key>textureRect</key>
                <string>{{611,1034},{84,252}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_manus_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,4}</string>
                <key>spriteSize</key>
                <string>{350,248}</string>
                <key>spriteSourceSize</key>
                <string>{452,296}</string>
                <key>textureRect</key>
                <string>{{307,521},{350,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,293}</string>
                <key>spriteSourceSize</key>
                <string>{302,293}</string>
                <key>textureRect</key>
                <string>{{307,771},{302,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_light_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,218}</string>
                <key>spriteSourceSize</key>
                <string>{215,218}</string>
                <key>textureRect</key>
                <string>{{779,1},{215,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_manus_light_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{251,908},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_manus.png</string>
            <key>size</key>
            <string>{995,1291}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1c9a9f981249c977600c5ce538eb349:71a58796093fb93ea7478113a0cd02f1:aff1602a5d8dc56683f9a13db8426479$</string>
            <key>textureFileName</key>
            <string>skill_manus.png</string>
        </dict>
    </dict>
</plist>
