<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_rsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1940,1234}</string>
                <key>spriteSourceSize</key>
                <string>{2048,2048}</string>
                <key>textureRect</key>
                <string>{{1,1},{1940,1234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_illusion.png</string>
            <key>size</key>
            <string>{1942,1236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dbc1cd72227a067666948047cd7bcd8c:96ca905fb34db53c1aab65e50e8eaee4:9b41fe74a3ddf864fced5f8211625c88$</string>
            <key>textureFileName</key>
            <string>map_illusion.png</string>
        </dict>
    </dict>
</plist>
