<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_crystal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,435},{36,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{36,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,368},{44,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,162},{48,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,212},{48,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,262},{48,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{48,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,368},{44,65}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{44,65}}</string>
                <key>sourceSize</key>
                <string>{52,77}</string>
            </dict>
            <key>effect_crystal_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,54},{11,9}}</string>
                <key>offset</key>
                <string>{-25,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,25},{11,9}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{13,11}}</string>
                <key>offset</key>
                <string>{-23,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,18},{13,11}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,28},{11,13}}</string>
                <key>offset</key>
                <string>{-20,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,11},{11,13}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,15},{13,11}}</string>
                <key>offset</key>
                <string>{-16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{13,11}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,41},{11,13}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{11,13}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,54},{9,11}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,3},{9,11}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>effect_crystal_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,312},{80,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_crystal_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,445},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_crystal_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,445},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_crystal_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,158}}</string>
                <key>sourceSize</key>
                <string>{158,158}</string>
            </dict>
            <key>effect_crystal_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{99,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{99,114}}</string>
                <key>sourceSize</key>
                <string>{127,142}</string>
            </dict>
            <key>effect_crystal_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,263},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>effect_crystal_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_crystal.png</string>
            <key>size</key>
            <string>{187,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe7ca22565063661c6e675d80e6c8dde:5b9ba2a30bca80916ac7bf97b4cd0116:c7fd247a4520739108e9ca638d4a45b8$</string>
            <key>textureFileName</key>
            <string>effect_crystal.png</string>
        </dict>
    </dict>
</plist>
