<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attr_adv_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_disadv_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,35}</string>
                <key>spriteSourceSize</key>
                <string>{45,35}</string>
                <key>textureRect</key>
                <string>{{48,1},{45,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_enemy.png</string>
            <key>size</key>
            <string>{94,37}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8492537f83a103c5668cb702fd9f74cd:372df1d74a4ce9c7ef5b38a0a7d05e02:1b0ce079692a0551ed20c54825f265d1$</string>
            <key>textureFileName</key>
            <string>ingame_enemy.png</string>
        </dict>
    </dict>
</plist>
