<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,87}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{186,134},{60,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,182}</string>
                <key>textureRect</key>
                <string>{{2,2},{256,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,130}</string>
                <key>spriteSourceSize</key>
                <string>{62,130}</string>
                <key>textureRect</key>
                <string>{{186,2},{62,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06821ea9feeb8ee9843c214b617eb582:3c244e772534e4fb3aaa4ec3dca93136:093a2e5f9704eb9caa7571c3413d0460$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
