<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_cut_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{1280,914}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1,963},{1280,914}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,82}</string>
                <key>spriteSourceSize</key>
                <string>{40,82}</string>
                <key>textureRect</key>
                <string>{{1992,1},{40,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{707,302}</string>
                <key>spriteSourceSize</key>
                <string>{707,302}</string>
                <key>textureRect</key>
                <string>{{1283,1},{707,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-60}</string>
                <key>spriteSize</key>
                <string>{241,273}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1566,305},{241,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro_cut_04_res_e_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-61}</string>
                <key>spriteSize</key>
                <string>{253,281}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1283,305},{253,281}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro_cut_04_res_e_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-72}</string>
                <key>spriteSize</key>
                <string>{249,247}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1283,815},{249,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-71}</string>
                <key>spriteSize</key>
                <string>{241,249}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1534,1054},{241,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro_cut_04_res_e_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-75}</string>
                <key>spriteSize</key>
                <string>{253,243}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1803,809},{253,243}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>intro_cut_04_res_e_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-66}</string>
                <key>spriteSize</key>
                <string>{259,253}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1283,560},{259,253}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-59}</string>
                <key>spriteSize</key>
                <string>{265,259}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1566,548},{265,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-74}</string>
                <key>spriteSize</key>
                <string>{257,243}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1544,809},{257,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-71}</string>
                <key>spriteSize</key>
                <string>{245,231}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1283,1293},{245,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_04_res_e_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-70}</string>
                <key>spriteSize</key>
                <string>{227,249}</string>
                <key>spriteSourceSize</key>
                <string>{537,403}</string>
                <key>textureRect</key>
                <string>{{1283,1064},{227,249}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>intro_04.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc69cfc7004dcdbba5b987e7fe060b0a:22aa984bfb39cc75692cd6956b09b636:62ff40d6c15488bc8ec7b8f591fd31ea$</string>
            <key>textureFileName</key>
            <string>intro_04.png</string>
        </dict>
    </dict>
</plist>
