<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_moon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>missile_moon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>missile_moon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{30,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,31}}</string>
                <key>sourceSize</key>
                <string>{30,31}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_moon.png</string>
            <key>size</key>
            <string>{34,97}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88a1a9c5205d3907ee4d9b482a6ff372:35ac73006583afca2b3552b60fca80b0:08d9cf322c4025698e0b0a8e69cc17a8$</string>
            <key>textureFileName</key>
            <string>missile_moon.png</string>
        </dict>
    </dict>
</plist>
