<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tamer_speech_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,94}</string>
                <key>spriteSourceSize</key>
                <string>{290,94}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>speech.png</string>
            <key>size</key>
            <string>{292,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92b689723ba3e35acf89dd55520d809:3297044a3321798c0ccfa37982d782a6:04f1ec7b24dca4dfe1dbddab26d141c8$</string>
            <key>textureFileName</key>
            <string>speech.png</string>
        </dict>
    </dict>
</plist>
