<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_breath_gust_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{210,442}</string>
                <key>spriteSourceSize</key>
                <string>{272,500}</string>
                <key>textureRect</key>
                <string>{{318,799},{210,442}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{208,442}</string>
                <key>spriteSourceSize</key>
                <string>{272,500}</string>
                <key>textureRect</key>
                <string>{{639,345},{208,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-24}</string>
                <key>spriteSize</key>
                <string>{240,452}</string>
                <key>spriteSourceSize</key>
                <string>{272,500}</string>
                <key>textureRect</key>
                <string>{{185,345},{240,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-29}</string>
                <key>spriteSize</key>
                <string>{210,442}</string>
                <key>spriteSourceSize</key>
                <string>{272,500}</string>
                <key>textureRect</key>
                <string>{{427,345},{210,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{182,828}</string>
                <key>spriteSourceSize</key>
                <string>{186,830}</string>
                <key>textureRect</key>
                <string>{{1,1},{182,828}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{162,824}</string>
                <key>spriteSourceSize</key>
                <string>{186,830}</string>
                <key>textureRect</key>
                <string>{{185,181},{162,824}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{178,826}</string>
                <key>spriteSourceSize</key>
                <string>{186,830}</string>
                <key>textureRect</key>
                <string>{{185,1},{178,826}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,29}</string>
                <key>spriteSourceSize</key>
                <string>{43,47}</string>
                <key>textureRect</key>
                <string>{{189,981},{27,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-15}</string>
                <key>spriteSize</key>
                <string>{146,45}</string>
                <key>spriteSourceSize</key>
                <string>{180,113}</string>
                <key>textureRect</key>
                <string>{{849,345},{146,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-13}</string>
                <key>spriteSize</key>
                <string>{148,57}</string>
                <key>spriteSourceSize</key>
                <string>{168,113}</string>
                <key>textureRect</key>
                <string>{{56,831},{148,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{148,57}</string>
                <key>spriteSourceSize</key>
                <string>{168,113}</string>
                <key>textureRect</key>
                <string>{{115,831},{148,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{150,53}</string>
                <key>spriteSourceSize</key>
                <string>{168,113}</string>
                <key>textureRect</key>
                <string>{{1,831},{150,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-13}</string>
                <key>spriteSize</key>
                <string>{148,47}</string>
                <key>spriteSourceSize</key>
                <string>{168,113}</string>
                <key>textureRect</key>
                <string>{{174,831},{148,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_breath_gust_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-7}</string>
                <key>spriteSize</key>
                <string>{132,33}</string>
                <key>spriteSourceSize</key>
                <string>{180,113}</string>
                <key>textureRect</key>
                <string>{{1,983},{132,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-10}</string>
                <key>spriteSize</key>
                <string>{52,29}</string>
                <key>spriteSourceSize</key>
                <string>{180,113}</string>
                <key>textureRect</key>
                <string>{{135,981},{52,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-11}</string>
                <key>spriteSize</key>
                <string>{98,27}</string>
                <key>spriteSourceSize</key>
                <string>{180,113}</string>
                <key>textureRect</key>
                <string>{{218,981},{98,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_breath_gust_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-27,-18}</string>
                <key>spriteSize</key>
                <string>{50,11}</string>
                <key>spriteSourceSize</key>
                <string>{180,113}</string>
                <key>textureRect</key>
                <string>{{1011,181},{50,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_breath_gust.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5662bab2a3539f2d62d4d8d9174a7bad:1254a50bd8c4328358f7e091229ae7dd:7dc436b861c7f8c69b45e19d59f2acf2$</string>
            <key>textureFileName</key>
            <string>skill_breath_gust.png</string>
        </dict>
    </dict>
</plist>
