<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>head_eff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{442,436}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{465,1},{442,436}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_eff_eff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{462,456}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{462,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{183,821},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_dark_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{850,812},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{313,821},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_earth_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{526,951},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{443,821},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_fire_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{674,951},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{573,821},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_light_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{822,960},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{703,821},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>knife_water_ss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{526,1099},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,64}</string>
                <key>spriteSourceSize</key>
                <string>{270,82}</string>
                <key>textureRect</key>
                <string>{{909,1},{252,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,45}</string>
                <key>spriteSourceSize</key>
                <string>{221,63}</string>
                <key>textureRect</key>
                <string>{{909,255},{203,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,272}</string>
                <key>spriteSourceSize</key>
                <string>{301,290}</string>
                <key>textureRect</key>
                <string>{{1,960},{283,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,180}</string>
                <key>spriteSourceSize</key>
                <string>{118,198}</string>
                <key>textureRect</key>
                <string>{{1,821},{100,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,59}</string>
                <key>spriteSourceSize</key>
                <string>{119,77}</string>
                <key>textureRect</key>
                <string>{{363,684},{101,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{804,1108},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,71}</string>
                <key>spriteSourceSize</key>
                <string>{33,89}</string>
                <key>textureRect</key>
                <string>{{975,1},{15,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{850,439},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,185}</string>
                <key>spriteSourceSize</key>
                <string>{166,203}</string>
                <key>textureRect</key>
                <string>{{850,625},{148,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{909,544},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{850,557},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,383}</string>
                <key>spriteSourceSize</key>
                <string>{398,401}</string>
                <key>textureRect</key>
                <string>{{465,439},{380,383}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_guardian_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{117,110}</string>
                <key>textureRect</key>
                <string>{{363,590},{99,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,276}</string>
                <key>textureRect</key>
                <string>{{275,951},{249,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_guardian_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,459},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_party_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{850,498},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_party_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{909,460},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_party_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{674,1099},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_party_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{363,459},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_milatas.png</string>
            <key>size</key>
            <string>{999,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cfb9316efb40ffb320257be53bf0eb2:17d0f189d589e76fa152e2048dfcdcfd:3a110668edef19cfe6dc0026a79c7412$</string>
            <key>textureFileName</key>
            <string>skill_milatas.png</string>
        </dict>
    </dict>
</plist>
