<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_unknown_flight_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{302,192}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{302,192}}</string>
                <key>sourceSize</key>
                <string>{340,246}</string>
            </dict>
            <key>skill_unknown_flight_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1876},{82,92}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,22},{82,92}}</string>
                <key>sourceSize</key>
                <string>{124,144}</string>
            </dict>
            <key>skill_unknown_flight_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,440},{23,57}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,19},{23,57}}</string>
                <key>sourceSize</key>
                <string>{57,89}</string>
            </dict>
            <key>skill_unknown_flight_object_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,864},{88,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{88,40}}</string>
                <key>sourceSize</key>
                <string>{136,74}</string>
            </dict>
            <key>skill_unknown_flight_object_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,150},{15,12}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{15,12}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>skill_unknown_flight_object_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{193,1137}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{193,1137}}</string>
                <key>sourceSize</key>
                <string>{231,1179}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{216,210}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{216,210}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1266},{203,202}}</string>
                <key>offset</key>
                <string>{-5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,96},{203,202}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,864},{205,206}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,92},{205,206}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,238},{205,208}}</string>
                <key>offset</key>
                <string>{-5,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,90},{205,208}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,657},{205,208}}</string>
                <key>offset</key>
                <string>{-5,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,91},{205,208}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{209,212}}</string>
                <key>offset</key>
                <string>{-6,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,88},{209,212}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,448},{207,208}}</string>
                <key>offset</key>
                <string>{-6,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,91},{207,208}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1071},{193,206}}</string>
                <key>offset</key>
                <string>{-7,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,92},{193,206}}</string>
                <key>sourceSize</key>
                <string>{257,458}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{242,244}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,244}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1798},{80,76}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{80,76}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1878},{98,96}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,11},{98,96}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1768},{108,108}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{108,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1580},{110,108}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1546},{110,110}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{110,110}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1470},{108,112}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,6},{108,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1658},{110,108}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{110,108}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1690},{110,106}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{110,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1878},{72,108}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,31},{72,108}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1470},{74,120}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{74,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{86,128}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,86},{62,138}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_unknown_flight_object_eff_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{82,138}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{82,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_unknown_flight_object.png</string>
            <key>size</key>
            <string>{455,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b54043631063043ebbf7e86f1b8dfc0:7dd6b011e6b6653423a6ce31c93229d9:29713785cfe8b936a3c1a1b0b9c34e2e$</string>
            <key>textureFileName</key>
            <string>skill_unknown_flight_object.png</string>
        </dict>
    </dict>
</plist>
