<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_tamer_active_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>skill_tamer_active_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{489,753},{244,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,241}}</string>
                <key>sourceSize</key>
                <string>{244,241}</string>
            </dict>
            <key>skill_tamer_active_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1218},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>skill_tamer_active_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1330},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>skill_tamer_active_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,694},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_tamer_active_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_tamer_active_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1420},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>skill_tamer_active_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,948},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>skill_tamer_active_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1281},{200,166}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{200,166}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>skill_tamer_active_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,100},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>skill_tamer_active_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1045},{41,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,41}}</string>
                <key>sourceSize</key>
                <string>{41,41}</string>
            </dict>
            <key>skill_tamer_active_dede_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,201},{205,491}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,491}}</string>
                <key>sourceSize</key>
                <string>{205,491}</string>
            </dict>
            <key>skill_tamer_active_dede_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,652},{99,272}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{99,272}}</string>
                <key>sourceSize</key>
                <string>{101,274}</string>
            </dict>
            <key>skill_tamer_active_dede_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1189},{134,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,200}}</string>
                <key>sourceSize</key>
                <string>{134,200}</string>
            </dict>
            <key>skill_tamer_active_dede_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,796},{104,141}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,16},{104,141}}</string>
                <key>sourceSize</key>
                <string>{130,169}</string>
            </dict>
            <key>skill_tamer_active_durun_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,831}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,831}}</string>
                <key>sourceSize</key>
                <string>{96,831}</string>
            </dict>
            <key>skill_tamer_active_durun_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1223},{49,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,196}}</string>
                <key>sourceSize</key>
                <string>{49,196}</string>
            </dict>
            <key>skill_tamer_active_durun_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,1369},{120,119}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,12},{120,119}}</string>
                <key>sourceSize</key>
                <string>{150,141}</string>
            </dict>
            <key>skill_tamer_active_durun_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1274},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{64,64}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>skill_tamer_active_durun_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{368,368}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{368,368}}</string>
                <key>sourceSize</key>
                <string>{400,400}</string>
            </dict>
            <key>skill_tamer_active_goni_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,948},{239,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{239,232}}</string>
                <key>sourceSize</key>
                <string>{287,278}</string>
            </dict>
            <key>skill_tamer_active_goni_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1182},{230,219}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,219}}</string>
                <key>sourceSize</key>
                <string>{230,239}</string>
            </dict>
            <key>skill_tamer_active_goni_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,939},{161,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,101}}</string>
                <key>sourceSize</key>
                <string>{161,101}</string>
            </dict>
            <key>skill_tamer_active_goni_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,1274},{170,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,93}}</string>
                <key>sourceSize</key>
                <string>{170,93}</string>
            </dict>
            <key>skill_tamer_active_kesath_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,383},{284,267}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{284,267}}</string>
                <key>sourceSize</key>
                <string>{284,267}</string>
            </dict>
            <key>skill_tamer_active_kesath_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1391},{139,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,165}}</string>
                <key>sourceSize</key>
                <string>{139,165}</string>
            </dict>
            <key>skill_tamer_active_kesath_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1102},{137,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,97}}</string>
                <key>sourceSize</key>
                <string>{137,97}</string>
            </dict>
            <key>skill_tamer_active_kesath_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1290},{150,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,67}}</string>
                <key>sourceSize</key>
                <string>{150,67}</string>
            </dict>
            <key>skill_tamer_active_mokoji_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{281,800}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{281,800}}</string>
                <key>sourceSize</key>
                <string>{295,800}</string>
            </dict>
            <key>skill_tamer_active_mokoji_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,680},{115,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,114}}</string>
                <key>sourceSize</key>
                <string>{115,114}</string>
            </dict>
            <key>skill_tamer_active_mokoji_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1128},{33,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,88}}</string>
                <key>sourceSize</key>
                <string>{33,88}</string>
            </dict>
            <key>skill_tamer_active_mokoji_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{885,177},{44,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,16}}</string>
                <key>sourceSize</key>
                <string>{44,16}</string>
            </dict>
            <key>skill_tamer_active_mokoji_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,160},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,25}}</string>
                <key>sourceSize</key>
                <string>{39,25}</string>
            </dict>
            <key>skill_tamer_active_mokoji_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,177},{52,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,19}}</string>
                <key>sourceSize</key>
                <string>{52,19}</string>
            </dict>
            <key>skill_tamer_active_mokoji_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,131},{29,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,27}}</string>
                <key>sourceSize</key>
                <string>{29,27}</string>
            </dict>
            <key>skill_tamer_active_nuri_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,383},{295,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{295,486}}</string>
                <key>sourceSize</key>
                <string>{295,486}</string>
            </dict>
            <key>skill_tamer_active_nuri_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1050},{137,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,137}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>skill_tamer_active_nuri_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,1241},{87,95}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,23},{87,95}}</string>
                <key>sourceSize</key>
                <string>{137,137}</string>
            </dict>
            <key>skill_tamer_active_nuri_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,1088},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>skill_tamer_active_nuri_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,652},{38,40}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{38,40}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>skill_tamer_active_nuri_05_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,995},{44,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,48}}</string>
                <key>sourceSize</key>
                <string>{44,48}</string>
            </dict>
            <key>skill_tamer_active_nuri_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,2},{173,175}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{173,175}}</string>
                <key>sourceSize</key>
                <string>{201,199}</string>
            </dict>
            <key>skill_tamer_active_nuri_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,996},{238,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,21},{238,225}}</string>
                <key>sourceSize</key>
                <string>{286,269}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_tamer_active.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a29c58dbf10bb754594a2e75c619bd0$</string>
            <key>textureFileName</key>
            <string>skill_tamer_active.png</string>
        </dict>
    </dict>
</plist>
