<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meteora_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{253,735},{200,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_burst_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{455,947},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_burst_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{605,1},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_burst_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,333}</string>
                <key>spriteSourceSize</key>
                <string>{350,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{350,333}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{238,238}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{605,253},{238,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,174}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{767,695},{176,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteora_hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,172}</string>
                <key>spriteSourceSize</key>
                <string>{200,172}</string>
                <key>textureRect</key>
                <string>{{532,509},{200,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteora_hole_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,893},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,210}</string>
                <key>spriteSourceSize</key>
                <string>{162,218}</string>
                <key>textureRect</key>
                <string>{{455,735},{158,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,293}</string>
                <key>spriteSourceSize</key>
                <string>{302,293}</string>
                <key>textureRect</key>
                <string>{{1,336},{302,293}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_moon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{706,493},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_moon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,201}</string>
                <key>spriteSourceSize</key>
                <string>{200,201}</string>
                <key>textureRect</key>
                <string>{{253,938},{200,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_spark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,261}</string>
                <key>spriteSourceSize</key>
                <string>{250,261}</string>
                <key>textureRect</key>
                <string>{{353,1},{250,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_spark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,260}</string>
                <key>spriteSourceSize</key>
                <string>{250,260}</string>
                <key>textureRect</key>
                <string>{{1,631},{250,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_spark_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,243}</string>
                <key>spriteSourceSize</key>
                <string>{250,243}</string>
                <key>textureRect</key>
                <string>{{353,264},{250,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_won_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,148}</string>
                <key>spriteSourceSize</key>
                <string>{150,148}</string>
                <key>textureRect</key>
                <string>{{657,897},{150,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteora_won_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,146}</string>
                <key>textureRect</key>
                <string>{{807,873},{150,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteora_won_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{845,253},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_won_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,141}</string>
                <key>spriteSourceSize</key>
                <string>{120,141}</string>
                <key>textureRect</key>
                <string>{{807,1025},{120,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>meteora_won_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,184}</string>
                <key>spriteSourceSize</key>
                <string>{150,184}</string>
                <key>textureRect</key>
                <string>{{615,711},{150,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>meteora_won_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,224}</string>
                <key>spriteSourceSize</key>
                <string>{225,224}</string>
                <key>textureRect</key>
                <string>{{305,509},{225,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_meteora.png</string>
            <key>size</key>
            <string>{954,1148}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04106e73bd0169bff41604254bb9025d:1c4d4aea0d5eef7a8397454b48ed832b:7d16137b07fdf4236db61e2dc7404e14$</string>
            <key>textureFileName</key>
            <string>skill_meteora.png</string>
        </dict>
    </dict>
</plist>
