<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_rocket_res_01_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,40}</string>
                <key>spriteSourceSize</key>
                <string>{111,40}</string>
                <key>textureRect</key>
                <string>{{125,1},{111,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_rocket_res_01_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,40}</string>
                <key>spriteSourceSize</key>
                <string>{111,40}</string>
                <key>textureRect</key>
                <string>{{125,43},{111,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_rocket_res_01_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,40}</string>
                <key>spriteSourceSize</key>
                <string>{111,40}</string>
                <key>textureRect</key>
                <string>{{125,85},{111,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_rocket_res_01_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,40}</string>
                <key>spriteSourceSize</key>
                <string>{111,40}</string>
                <key>textureRect</key>
                <string>{{1,104},{111,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_rocket_res_01_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,40}</string>
                <key>spriteSourceSize</key>
                <string>{111,40}</string>
                <key>textureRect</key>
                <string>{{114,127},{111,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_rocket_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,101}</string>
                <key>spriteSourceSize</key>
                <string>{122,101}</string>
                <key>textureRect</key>
                <string>{{1,1},{122,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_rocket_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,28}</string>
                <key>spriteSourceSize</key>
                <string>{48,28}</string>
                <key>textureRect</key>
                <string>{{156,127},{48,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_rocket.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3227fe6124d7af7115c5d25237430962:d95162977d74ffe0536af906cf9d8922:cf20dc362f04cc81ce78b248ebbddb69$</string>
            <key>textureFileName</key>
            <string>missile_rocket.png</string>
        </dict>
    </dict>
</plist>
