<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_boom_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{977,465},{30,28}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,166},{30,28}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,467},{68,68}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,148},{68,68}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,877},{108,98}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,137},{108,98}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,877},{136,126}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,120},{136,126}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,683},{152,152}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,110},{152,152}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,695},{180,164}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,103},{180,164}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,731},{202,182}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,95},{202,182}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,731},{206,214}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,81},{206,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,465},{216,216}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,80},{216,216}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,249},{216,222}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,80},{216,222}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,239},{224,230}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,79},{224,230}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,1},{236,238}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,77},{236,238}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,1},{246,248}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,73},{246,248}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,259},{254,254}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{254,254}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,1},{262,260}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,70},{262,260}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{268,256}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,67},{268,256}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,263},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,467},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,479},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>effect_boom_earth_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,515},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2574f715466a11ddc32482f9a362c6a:ed730b11f60ac129d08f87689e187ae4:553f40de8ca8293f1dcd9e38bfb1556d$</string>
            <key>textureFileName</key>
            <string>effect_boom.png</string>
        </dict>
    </dict>
</plist>
