<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,14},{124,140}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>airship_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{116,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{116,160}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>airship_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{124,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{124,136}}</string>
                <key>sourceSize</key>
                <string>{168,168}</string>
            </dict>
            <key>light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{32,33}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{32,33}}</string>
                <key>sourceSize</key>
                <string>{66,65}</string>
            </dict>
            <key>propeller.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{92,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{92,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>propeller_center.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,474},{24,26}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,38},{24,26}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>propeller_side.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,524},{10,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,43},{10,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,444},{28,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{28,30}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,500},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,39},{22,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,524},{16,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,43},{16,14}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chapter_ship.png</string>
            <key>size</key>
            <string>{128,572}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ad3374ae08d2a0b8c239399b0793ed:34571ddaceec72c836398d108c3efb5f:1afa19d8036fa529bfe2b4dfe3c38bb8$</string>
            <key>textureFileName</key>
            <string>chapter_ship.png</string>
        </dict>
    </dict>
</plist>
