<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_draw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{13,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{599,76},{13,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,8}</string>
                <key>spriteSize</key>
                <string>{25,15}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{570,95},{25,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{528,101},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-14}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{587,95},{13,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{576,76},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{551,95},{23,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-13}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{501,76},{23,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{526,76},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{501,107},{25,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{549,76},{17,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{501,1},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{574,1},{73,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{647,1},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,58}</string>
                <key>spriteSourceSize</key>
                <string>{55,58}</string>
                <key>textureRect</key>
                <string>{{719,61},{55,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_skill_upgrade_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{719,1},{56,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,0}</string>
                <key>spriteSize</key>
                <string>{108,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{391,1},{108,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,0}</string>
                <key>spriteSize</key>
                <string>{158,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{341,61},{158,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{129,61},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{260,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{129,1},{260,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{776,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32429b457bffd73060aa602d5b6993fa:c64a544e27d14618f6a09c3082eeb7cf:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
