<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_map_event_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,36}</string>
                <key>spriteSourceSize</key>
                <string>{218,36}</string>
                <key>textureRect</key>
                <string>{{359,1},{218,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_map_event_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,0}</string>
                <key>spriteSize</key>
                <string>{356,46}</string>
                <key>spriteSourceSize</key>
                <string>{374,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{356,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage_map.png</string>
            <key>size</key>
            <string>{578,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8403e9fae20987f73f2c12cf080dd8b:2fd8ff1077ada5ab5f05d22be385c24b:08ee36fc2461b0f8f973c7a273b13dee$</string>
            <key>textureFileName</key>
            <string>stage_map.png</string>
        </dict>
    </dict>
</plist>
