<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_ocean2_island_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1558},{126,140}}</string>
                <key>offset</key>
                <string>{-129,236}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{832,206},{126,140}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_island_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{474,668}}</string>
                <key>offset</key>
                <string>{-384,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,180},{474,668}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_island_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1342},{166,214}}</string>
                <key>offset</key>
                <string>{-380,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,264},{166,214}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_easy_island.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{770,764}}</string>
                <key>offset</key>
                <string>{-373,-96}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,226},{770,764}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_easy_island_sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,774},{566,288}}</string>
                <key>offset</key>
                <string>{-302,102}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{439,266},{566,288}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_wave_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{558,280}}</string>
                <key>offset</key>
                <string>{-306,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,274},{558,280}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ocean2_2.png</string>
            <key>size</key>
            <string>{768,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73aa78585f35dd539016d587c91c8940:0469408722155ce44e527242413f02af:9bef70988f727135f9d5452acf6a0451$</string>
            <key>textureFileName</key>
            <string>map_ocean2_2.png</string>
        </dict>
    </dict>
</plist>
