<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_step_period_3step_res_btn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{128,259},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,291},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{126,326},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,358},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{125,57}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,173},{125,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{125,57}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,232},{125,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_normal_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{162,82}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,89},{162,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_btn_normal_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{154,78}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{175,1},{154,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_period_3step_res_btn_normal_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{172,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_item_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{85,77}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{94,518},{85,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_period_3step_res_item_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{95,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1,425},{95,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_item_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{79,79}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{173,491},{79,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_period_3step_res_item_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{93,91}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1,518},{93,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_period_3step_res_item_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,86}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{165,157},{100,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>package_step_period_3step_res_item_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,96}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{126,393},{100,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>package_step_period_3step.png</string>
            <key>size</key>
            <string>{254,612}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef9ebf43d5e7e87a5e4bef27d06816f1:69ca9c646b0d7bbc289d79f1d3dbe66f:91095f046352589eb99289f8b3fd17c1$</string>
            <key>textureFileName</key>
            <string>package_step_period_3step.png</string>
        </dict>
    </dict>
</plist>
