<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nest_bg_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,652},{202,226}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,116},{202,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>nest_bg_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,448},{202,230}}</string>
                <key>offset</key>
                <string>{4,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,112},{202,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>nest_bg_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,652},{202,226}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,116},{202,226}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>nest_bg_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{202,248}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,94},{202,248}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>nest_bg_light_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,206},{240,240}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,122},{240,240}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>nest_bg_wall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>nest_bg_1.png</string>
            <key>size</key>
            <string>{1692,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1fe6ef322c9e3a9434603caebd0d6e38:3e483c02362b79ec22974a0933e622a0:451a52b23e15d3f2c7bfe74e2f945f25$</string>
            <key>textureFileName</key>
            <string>nest_bg_1.png</string>
        </dict>
    </dict>
</plist>
