<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2020},{1920,536}}</string>
                <key>offset</key>
                <string>{0,266}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{1920,536}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{1920,934}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,146},{1920,934}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2558},{1920,338}}</string>
                <key>offset</key>
                <string>{0,-371}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,742},{1920,338}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightningdungeon.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42bcb7b8a0af7d38dc37c51348595340:b69edc1bc1679f95b74184bc381d2756:889cf50f5277164d9d8994cd92820003$</string>
            <key>textureFileName</key>
            <string>lightningdungeon.png</string>
        </dict>
    </dict>
</plist>
