<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lightning_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{269,959}</string>
                <key>spriteSourceSize</key>
                <string>{309,959}</string>
                <key>textureRect</key>
                <string>{{1,1},{269,959}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{223,959}</string>
                <key>spriteSourceSize</key>
                <string>{309,959}</string>
                <key>textureRect</key>
                <string>{{1,272},{223,959}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-56}</string>
                <key>spriteSize</key>
                <string>{225,847}</string>
                <key>spriteSourceSize</key>
                <string>{309,959}</string>
                <key>textureRect</key>
                <string>{{1,497},{225,847}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-90}</string>
                <key>spriteSize</key>
                <string>{225,753}</string>
                <key>spriteSourceSize</key>
                <string>{309,959}</string>
                <key>textureRect</key>
                <string>{{1,724},{225,753}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,-144}</string>
                <key>spriteSize</key>
                <string>{197,595}</string>
                <key>spriteSourceSize</key>
                <string>{309,959}</string>
                <key>textureRect</key>
                <string>{{822,911},{197,595}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{116,117}</string>
                <key>spriteSourceSize</key>
                <string>{170,161}</string>
                <key>textureRect</key>
                <string>{{1,1789},{116,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,0}</string>
                <key>spriteSize</key>
                <string>{144,127}</string>
                <key>spriteSourceSize</key>
                <string>{170,161}</string>
                <key>textureRect</key>
                <string>{{1,1508},{144,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_bomb_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{120,115}</string>
                <key>spriteSourceSize</key>
                <string>{170,161}</string>
                <key>textureRect</key>
                <string>{{130,1508},{120,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_magic_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,156}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{850,497},{156,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_magic_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,116}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{1,1908},{114,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_magic_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{756,875},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_magic_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{190,190}</string>
                <key>textureRect</key>
                <string>{{756,724},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_particle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,68}</string>
                <key>spriteSourceSize</key>
                <string>{63,68}</string>
                <key>textureRect</key>
                <string>{{756,810},{63,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_shock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{147,129}</string>
                <key>textureRect</key>
                <string>{{117,1908},{107,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_shock_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,129}</string>
                <key>spriteSourceSize</key>
                <string>{147,129}</string>
                <key>textureRect</key>
                <string>{{1,1654},{133,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_shock_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,129}</string>
                <key>spriteSourceSize</key>
                <string>{147,129}</string>
                <key>textureRect</key>
                <string>{{842,780},{145,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_shock_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{147,123}</string>
                <key>spriteSourceSize</key>
                <string>{147,129}</string>
                <key>textureRect</key>
                <string>{{850,655},{147,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_lightning_light.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91d32ebb758874a529fd12b0b9d54643:fbf83dc983ad2c8026ee218d4875eae6:928f5d75c0edd6d9d429ef4fef3f645d$</string>
            <key>textureFileName</key>
            <string>skill_lightning_light.png</string>
        </dict>
    </dict>
</plist>
