<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_goldragora_box_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{236,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2,178},{236,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_box_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,158}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2,354},{234,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_box_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{254,192}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2,910},{254,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_goldragora_box_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,200}</string>
                <key>textureRect</key>
                <string>{{2,2},{250,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_explo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,126}</string>
                <key>spriteSourceSize</key>
                <string>{150,138}</string>
                <key>textureRect</key>
                <string>{{2,1166},{138,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_explo_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{200,196}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{2,712},{200,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_explo_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,196}</string>
                <key>spriteSourceSize</key>
                <string>{250,196}</string>
                <key>textureRect</key>
                <string>{{2,514},{212,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{196,973},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{204,712},{41,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{17,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{216,565},{17,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_gold_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{31,49}</string>
                <key>spriteSourceSize</key>
                <string>{35,51}</string>
                <key>textureRect</key>
                <string>{{216,514},{31,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_goldragora_gold_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{88,90}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{142,1166},{88,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_goldragora_gold_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,61}</string>
                <key>spriteSourceSize</key>
                <string>{52,61}</string>
                <key>textureRect</key>
                <string>{{196,910},{52,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_goldragora.png</string>
            <key>size</key>
            <string>{254,1294}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d5a038aa81d031e7ee5948411273fde:b502afcbbecc841ac710de5b17410227:90e4618f910574856b1ee787cc84ef6c$</string>
            <key>textureFileName</key>
            <string>skill_goldragora.png</string>
        </dict>
    </dict>
</plist>
