<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_balrog_00-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{591,953},{105,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{454,390}</string>
                <key>spriteSourceSize</key>
                <string>{500,432}</string>
                <key>textureRect</key>
                <string>{{561,1187},{454,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{98,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{925,287},{98,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{126,122}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{845,1061},{126,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{126,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{841,935},{126,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{122,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{841,811},{122,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{122,126}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{717,953},{122,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{591,1061},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{933,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_fiery_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{248,246}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{591,705},{248,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_fiery_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{673,213},{250,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_fiery_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,0}</string>
                <key>spriteSize</key>
                <string>{238,250}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{673,465},{238,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{69,96}</string>
                <key>spriteSourceSize</key>
                <string>{73,112}</string>
                <key>textureRect</key>
                <string>{{933,83},{69,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-5}</string>
                <key>spriteSize</key>
                <string>{210,258}</string>
                <key>spriteSourceSize</key>
                <string>{236,282}</string>
                <key>textureRect</key>
                <string>{{673,1},{210,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{200,146}</string>
                <key>spriteSourceSize</key>
                <string>{200,160}</string>
                <key>textureRect</key>
                <string>{{561,1579},{200,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-1}</string>
                <key>spriteSize</key>
                <string>{134,171}</string>
                <key>spriteSourceSize</key>
                <string>{154,179}</string>
                <key>textureRect</key>
                <string>{{709,1579},{134,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{104,126}</string>
                <key>spriteSourceSize</key>
                <string>{122,142}</string>
                <key>textureRect</key>
                <string>{{717,1081},{104,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,6}</string>
                <key>spriteSize</key>
                <string>{104,130}</string>
                <key>spriteSourceSize</key>
                <string>{122,142}</string>
                <key>textureRect</key>
                <string>{{841,705},{104,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_balrog_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{67,104}</string>
                <key>spriteSourceSize</key>
                <string>{73,112}</string>
                <key>textureRect</key>
                <string>{{933,181},{67,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_ice_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,166}</string>
                <key>textureRect</key>
                <string>{{845,1579},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,567}</string>
                <key>spriteSourceSize</key>
                <string>{576,585}</string>
                <key>textureRect</key>
                <string>{{1,1187},{558,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{670,629}</string>
                <key>spriteSourceSize</key>
                <string>{688,647}</string>
                <key>textureRect</key>
                <string>{{1,1},{670,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_balrog_line_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{588,553}</string>
                <key>spriteSourceSize</key>
                <string>{606,571}</string>
                <key>textureRect</key>
                <string>{{1,632},{588,553}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_balrog.png</string>
            <key>size</key>
            <string>{1022,1780}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1f467c3d167c4816ddb4a1e1bf292ee1:0899df7ea45290408b0dbab217ea5055:ff1a90cd0252d634104bd9729e541dd5$</string>
            <key>textureFileName</key>
            <string>skill_balrog.png</string>
        </dict>
    </dict>
</plist>
