<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pulse_kadeath_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,655}</string>
                <key>spriteSourceSize</key>
                <string>{655,655}</string>
                <key>textureRect</key>
                <string>{{1,1},{655,655}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pulse_kadeath_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,521}</string>
                <key>spriteSourceSize</key>
                <string>{655,655}</string>
                <key>textureRect</key>
                <string>{{658,1},{521,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pulse_kadeath.png</string>
            <key>size</key>
            <string>{1180,657}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f089fbe9aee793e41bc69c37296fc01:e5a7caa3730cf83fc75b46672d58bf29:af24f5298c7d41fdef5660349e06c9dc$</string>
            <key>textureFileName</key>
            <string>pulse_kadeath.png</string>
        </dict>
    </dict>
</plist>
