<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_arrow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{46,72}}</string>
                <key>sourceSize</key>
                <string>{50,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_arrow.png</string>
            <key>size</key>
            <string>{50,76}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7c48aabeccb1d7c7d4974f6277b8aa1:a36debfc08ea6d6d1061bff6d1147b29:88434a830bd8d7f9271d715742f57798$</string>
            <key>textureFileName</key>
            <string>missile_arrow.png</string>
        </dict>
    </dict>
</plist>
