<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gerner_effect_boom_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{326,335}</string>
                <key>spriteSourceSize</key>
                <string>{358,363}</string>
                <key>textureRect</key>
                <string>{{716,365},{326,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,190}</string>
                <key>spriteSourceSize</key>
                <string>{208,208}</string>
                <key>textureRect</key>
                <string>{{1044,298},{190,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,200}</string>
                <key>spriteSourceSize</key>
                <string>{218,218}</string>
                <key>textureRect</key>
                <string>{{1287,782},{200,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,252}</string>
                <key>spriteSourceSize</key>
                <string>{270,270}</string>
                <key>textureRect</key>
                <string>{{1287,266},{252,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_cross_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,376}</string>
                <key>spriteSourceSize</key>
                <string>{394,394}</string>
                <key>textureRect</key>
                <string>{{1,1},{376,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_cross_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,376}</string>
                <key>spriteSourceSize</key>
                <string>{394,394}</string>
                <key>textureRect</key>
                <string>{{1,379},{376,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{299,300}</string>
                <key>spriteSourceSize</key>
                <string>{321,322}</string>
                <key>textureRect</key>
                <string>{{740,1},{299,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{379,705},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,359}</string>
                <key>spriteSourceSize</key>
                <string>{380,377}</string>
                <key>textureRect</key>
                <string>{{379,1},{362,359}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,263}</string>
                <key>spriteSourceSize</key>
                <string>{275,281}</string>
                <key>textureRect</key>
                <string>{{1287,1},{257,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{338,335}</string>
                <key>spriteSourceSize</key>
                <string>{366,357}</string>
                <key>textureRect</key>
                <string>{{379,365},{338,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_smoke_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,260}</string>
                <key>spriteSourceSize</key>
                <string>{268,278}</string>
                <key>textureRect</key>
                <string>{{1287,520},{250,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_smoke_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{283,273}</string>
                <key>spriteSourceSize</key>
                <string>{305,293}</string>
                <key>textureRect</key>
                <string>{{708,705},{283,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_smoke_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{279,259}</string>
                <key>spriteSourceSize</key>
                <string>{305,287}</string>
                <key>textureRect</key>
                <string>{{447,705},{279,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_sparkle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,231}</string>
                <key>spriteSourceSize</key>
                <string>{313,249}</string>
                <key>textureRect</key>
                <string>{{1044,1},{295,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_sparkle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,227}</string>
                <key>spriteSourceSize</key>
                <string>{269,245}</string>
                <key>textureRect</key>
                <string>{{1,757},{251,227}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gerner_effect_sparkle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{227,191}</string>
                <key>spriteSourceSize</key>
                <string>{245,209}</string>
                <key>textureRect</key>
                <string>{{254,757},{227,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gerner_effect_sparkle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,284}</string>
                <key>spriteSourceSize</key>
                <string>{310,302}</string>
                <key>textureRect</key>
                <string>{{993,702},{292,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_gerner.png</string>
            <key>size</key>
            <string>{1545,987}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:949a0173799ad76b8df21cab76d7b8fa:0d172b05186760f41d1e1cb6e72be7ce:d8a536427ec13d14316b6a8115fddcca$</string>
            <key>textureFileName</key>
            <string>skill_gerner.png</string>
        </dict>
    </dict>
</plist>
