<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_abyssedge_boom_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{202,204}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{297,355},{202,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_abyssedge_boom_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-58}</string>
                <key>spriteSize</key>
                <string>{246,248}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{245,759},{246,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_abyssedge_boom_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,-2}</string>
                <key>spriteSize</key>
                <string>{280,294}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{1,355},{280,294}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_abyssedge_boom_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-72}</string>
                <key>spriteSize</key>
                <string>{352,502}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{1,1},{352,502}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_abyssedge_boom_res_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{252,242}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{1,759},{252,242}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_abyssedge_boom_res_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{198,202}</string>
                <key>spriteSourceSize</key>
                <string>{652,652}</string>
                <key>textureRect</key>
                <string>{{297,559},{198,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_abyssedge_boom_res_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,23}</string>
                <key>spriteSourceSize</key>
                <string>{14,23}</string>
                <key>textureRect</key>
                <string>{{245,1009},{14,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_abyssedge_boom.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:573934cd8895e28956198808d1eaf1c1:849b61e60e63f555b1cdfa51c6f7f455:ed815c86f6f7c5eca0cbe28126067b51$</string>
            <key>textureFileName</key>
            <string>skill_abyssedge_boom.png</string>
        </dict>
    </dict>
</plist>
