<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_surajang_earth_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{434,434}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{434,434}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{406,382}}</string>
                <key>offset</key>
                <string>{-7,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{406,382}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,454},{420,420}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,15},{420,420}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_circle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{450,450}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,450}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_circle_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,696},{114,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,168},{114,114}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_circle_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,696},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,160},{130,130}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,890},{72,108}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,31},{72,108}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_surajang_earth_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,876},{74,120}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,19},{74,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_surajang_earth_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,876},{86,128}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{86,128}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_surajang_earth_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{62,138}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{62,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_surajang_earth_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,876},{82,138}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{82,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>skill_surajang_earth_lotus_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,828},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,158},{114,134}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_lotus_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,876},{74,74}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,190},{74,74}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_text_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,356},{326,338}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,53},{326,338}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>skill_surajang_earth_text_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{340,352}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,46},{340,352}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_surajang_earth.png</string>
            <key>size</key>
            <string>{1188,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e5a333ce188b4cd60751788309ffcad:e42ab934aeb4eed5deabe3890399242d:427f99754138e4b4d9246b812b091dfd$</string>
            <key>textureFileName</key>
            <string>skill_surajang_earth.png</string>
        </dict>
    </dict>
</plist>
