<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wedge_40_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2024,1386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2024,1386}}</string>
                <key>sourceSize</key>
                <string>{2024,1386}</string>
            </dict>
            <key>wedge_40_40_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1390},{622,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{622,559}}</string>
                <key>sourceSize</key>
                <string>{624,559}</string>
            </dict>
            <key>wedge_40_40_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{797,1390},{482,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,482}}</string>
                <key>sourceSize</key>
                <string>{482,482}</string>
            </dict>
            <key>wedge_40_40_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1633},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>wedge_40_40_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1880},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>wedge_40_40_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,1390},{488,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,232}}</string>
                <key>sourceSize</key>
                <string>{488,232}</string>
            </dict>
            <key>wedge_40_40_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,1390},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>wedge_40_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2014},{26,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,139}}</string>
                <key>sourceSize</key>
                <string>{26,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wedge_40.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9592b6aa3efe22d5cd98dc4f37438e0a$</string>
            <key>textureFileName</key>
            <string>wedge_40.png</string>
        </dict>
    </dict>
</plist>
