<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_optatio_x_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,297},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{96,95}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>skill_optatio_x_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,297},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_optatio_x_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,427},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>skill_optatio_x_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{198,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,9},{198,79}}</string>
                <key>sourceSize</key>
                <string>{228,97}</string>
            </dict>
            <key>skill_optatio_x_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{292,293}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,293}}</string>
                <key>sourceSize</key>
                <string>{292,293}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_optatio_x.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22a2cf37aef6256667b9fef09ae81db1$</string>
            <key>textureFileName</key>
            <string>skill_optatio_x.png</string>
        </dict>
    </dict>
</plist>
