<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_tree_dark_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,569},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_dark_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{583,1},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_earth_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,569},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_earth_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{789,1},{204,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_fire_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{297,273},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_fire_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{583,51},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,580}</string>
                <key>spriteSourceSize</key>
                <string>{270,580}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,580}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_frame_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,294}</string>
                <key>spriteSourceSize</key>
                <string>{294,294}</string>
                <key>textureRect</key>
                <string>{{1,273},{294,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_light_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{579,273},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_light_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{583,101},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_water_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,555},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_water_reward.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,48}</string>
                <key>spriteSourceSize</key>
                <string>{204,48}</string>
                <key>textureRect</key>
                <string>{{583,151},{204,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_tree.png</string>
            <key>size</key>
            <string>{860,850}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33fc5724b09d5fcbcc77777c4ed53e1e:da2ac0f0eaefdd20d8b25a01644fd14b:c770335eff9fa2388df7ffff2ec0e162$</string>
            <key>textureFileName</key>
            <string>dungeon_tree.png</string>
        </dict>
    </dict>
</plist>
