<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_map_event_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{368,40}</string>
                <key>spriteSourceSize</key>
                <string>{368,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_map_event_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{444,36}</string>
                <key>spriteSourceSize</key>
                <string>{458,36}</string>
                <key>textureRect</key>
                <string>{{371,1},{444,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage_map.png</string>
            <key>size</key>
            <string>{816,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94db1bf1765ae816ef5223b772a51bf4:afe66881aabfc9d75c04eda2acdb43f6:08ee36fc2461b0f8f973c7a273b13dee$</string>
            <key>textureFileName</key>
            <string>stage_map.png</string>
        </dict>
    </dict>
</plist>
