<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>max_fixed_ticket_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{276,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{276,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>opt_keep_ticket_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{276,180}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{279,1},{276,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>rune_upgrade_ticket.png</string>
            <key>size</key>
            <string>{556,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ac82e0b3071112cbc6b6d4efa227d45:f0edb40873b63d585cfa0b0de7342fc9:edd7e0ffb3a2b5b87b7ae3ce7e77a145$</string>
            <key>textureFileName</key>
            <string>rune_upgrade_ticket.png</string>
        </dict>
    </dict>
</plist>
