<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple3_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_1_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,804},{564,208}}</string>
                <key>offset</key>
                <string>{-48,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,324},{564,208}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_1_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{662,382}}</string>
                <key>offset</key>
                <string>{-45,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,116},{662,382}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple3_1.png</string>
            <key>size</key>
            <string>{1924,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6222fca44d68fcb720a6ad8403b5da6d:86de359b616e2619dd6c05a618948fa2:d70c8294a601b7e5dd2a57cca4744458$</string>
            <key>textureFileName</key>
            <string>sky_temple3_1.png</string>
        </dict>
    </dict>
</plist>
