<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mystery_lab_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,934}}</string>
                <key>offset</key>
                <string>{0,-333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,666},{1280,934}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>mystery_lab_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{1280,934}}</string>
                <key>offset</key>
                <string>{0,-333}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,666},{1280,934}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mystery_lab_3.png</string>
            <key>size</key>
            <string>{1284,1874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f56eb2849992d7d6ec37ea8639fed6b4:c35ebd3e641910fd22201e928bcdc827:4575df6196443b0d12a9ef00cb44c5b9$</string>
            <key>textureFileName</key>
            <string>mystery_lab_3.png</string>
        </dict>
    </dict>
</plist>
