<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mystery_lab_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{144,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,77},{144,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{178,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,62},{178,176}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,730},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,106},{88,88}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,730},{44,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,132},{44,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_smoke_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{118,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,77},{118,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_smoke_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{116,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,77},{116,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>mystery_lab_wheel_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{162,162}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{162,162}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mystery_lab_5.png</string>
            <key>size</key>
            <string>{180,820}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2267639c2cb97a4021c4ad4877d37185:6bd87389f0aa47896dd2c84e8f3545d8:33d468e51f3c8faa2d3ff1eac8b1e423$</string>
            <key>textureFileName</key>
            <string>mystery_lab_5.png</string>
        </dict>
    </dict>
</plist>
