<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_orpheusdragon_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{70,52}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,14},{70,52}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>skill_orpheusdragon_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{128,62}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,4},{128,62}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>skill_orpheusdragon_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,66}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{160,66}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>skill_orpheusdragon_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{82,66}}</string>
                <key>offset</key>
                <string>{47,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{109,0},{82,66}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>skill_orpheusdragon_earth_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{64,62}}</string>
                <key>offset</key>
                <string>{57,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,3},{64,62}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
            <key>skill_orpheusdragon_earth_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,66},{66,54}}</string>
                <key>offset</key>
                <string>{52,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,12},{66,54}}</string>
                <key>sourceSize</key>
                <string>{206,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_orpheusdragon.png</string>
            <key>size</key>
            <string>{426,124}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:880ae31cf01e40d227812c1635fdd56f:eac1de423a8bd20f86d2340c4d85976f:93f9925e03394d99a972bc9d0ee500ed$</string>
            <key>textureFileName</key>
            <string>skill_orpheusdragon.png</string>
        </dict>
    </dict>
</plist>
