<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_gold_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,604}</string>
                <key>spriteSourceSize</key>
                <string>{292,604}</string>
                <key>textureRect</key>
                <string>{{1,1},{292,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_gold.png</string>
            <key>size</key>
            <string>{294,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3ab876a66e8b8587bce4a48a43f95ea:85a67f1da5c59d02b10cac88d06526ea:a7cfcc28ee26e0438cb196b93423e89d$</string>
            <key>textureFileName</key>
            <string>dungeon_gold.png</string>
        </dict>
    </dict>
</plist>
