<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_myth_mythical_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,18}</string>
                <key>spriteSize</key>
                <string>{512,530}</string>
                <key>spriteSourceSize</key>
                <string>{1000,1000}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,530}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_myth_mythical.png</string>
            <key>size</key>
            <string>{514,532}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d9020fda1d116b3ceb15d694351b5e:5920fd270cd08e844838b6db5be79548:fccb253ae5827e3f3b8ffb8e78cfc301$</string>
            <key>textureFileName</key>
            <string>egg_myth_mythical.png</string>
        </dict>
    </dict>
</plist>
