<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_iris_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,285},{196,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,200}}</string>
                <key>sourceSize</key>
                <string>{196,200}</string>
            </dict>
            <key>skill_iris_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,285},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{198,198}}</string>
                <key>sourceSize</key>
                <string>{204,204}</string>
            </dict>
            <key>skill_iris_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{278,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{278,281}}</string>
                <key>sourceSize</key>
                <string>{278,281}</string>
            </dict>
            <key>skill_iris_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{472,472}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{472,472}}</string>
                <key>sourceSize</key>
                <string>{472,472}</string>
            </dict>
            <key>skill_iris_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,362},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_iris_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,362},{52,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{52,45}}</string>
                <key>sourceSize</key>
                <string>{58,51}</string>
            </dict>
            <key>skill_iris_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{436,443}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,443}}</string>
                <key>sourceSize</key>
                <string>{436,443}</string>
            </dict>
            <key>skill_iris_won.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{243,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,246}}</string>
                <key>sourceSize</key>
                <string>{243,246}</string>
            </dict>
            <key>skill_iris_won1.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{358,358}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,71},{358,358}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_iris.png</string>
            <key>size</key>
            <string>{1799,492}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:551ec71b3f966d16ed5cadda63760b25:0d1c4f002ba568386bf6bad68ded8e3e:95ab713e6d83a8dadfcfc79ffb18d014$</string>
            <key>textureFileName</key>
            <string>skill_iris.png</string>
        </dict>
    </dict>
</plist>
