<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_meat_boom_earth_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,0}</string>
                <key>spriteSize</key>
                <string>{32,30}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{477,265},{32,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-2}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{695,491},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-6}</string>
                <key>spriteSize</key>
                <string>{110,100}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{219,907},{110,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-3}</string>
                <key>spriteSize</key>
                <string>{138,128}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{405,885},{138,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{747,669},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-5}</string>
                <key>spriteSize</key>
                <string>{182,166}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{405,701},{182,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-6}</string>
                <key>spriteSize</key>
                <string>{204,184}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{219,701},{204,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-8}</string>
                <key>spriteSize</key>
                <string>{208,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{477,491},{208,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{218,218}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{781,449},{218,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-11}</string>
                <key>spriteSize</key>
                <string>{218,224}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{791,229},{218,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-14}</string>
                <key>spriteSize</key>
                <string>{226,232}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{791,1},{226,232}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{238,240}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{539,251},{238,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{248,250}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{539,1},{248,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_meat_boom_earth_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,261},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{264,262}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{273,1},{264,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-15}</string>
                <key>spriteSize</key>
                <string>{270,258}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{259,265},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{259,483},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,519},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-8}</string>
                <key>spriteSize</key>
                <string>{216,216}</string>
                <key>spriteSourceSize</key>
                <string>{480,360}</string>
                <key>textureRect</key>
                <string>{{1,737},{216,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_meat_boom_earth_apple_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,1}</string>
                <key>spriteSize</key>
                <string>{178,172}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{573,701},{178,172}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_meat_boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84e3196179f0437256bc3cb6dac34ef9:b1f3ba42b217552e4d03be5ec65f65cd:b4154b0b79252857698697de9e823dfa$</string>
            <key>textureFileName</key>
            <string>skill_meat_boom.png</string>
        </dict>
    </dict>
</plist>
