<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_xenos_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2},{355,356}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,18},{355,356}}</string>
                <key>sourceSize</key>
                <string>{403,392}</string>
            </dict>
            <key>skill_xenos_won_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{473,473}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{473,473}}</string>
                <key>sourceSize</key>
                <string>{493,493}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_xenos_bubble.png</string>
            <key>size</key>
            <string>{834,477}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48a31fe836b6eba471325e2e6b33ffff:2580a8e332999b44d6103a39e5361216:f6f861171c0964c877b7c0dec3016c45$</string>
            <key>textureFileName</key>
            <string>missile_xenos_bubble.png</string>
        </dict>
    </dict>
</plist>
