<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{455,467},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{218,213}</string>
                <key>textureRect</key>
                <string>{{1,117},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{221,136},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{310,54}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{1,1},{310,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{313,1},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1,392},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{311,203},{192,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,16}</string>
                <key>spriteSize</key>
                <string>{13,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{296,226},{13,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,8}</string>
                <key>spriteSize</key>
                <string>{25,15}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{263,97},{25,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{285,372},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-14}</string>
                <key>spriteSize</key>
                <string>{13,27}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{263,82},{13,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-19}</string>
                <key>spriteSize</key>
                <string>{21,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{221,117},{21,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-19}</string>
                <key>spriteSize</key>
                <string>{23,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{263,114},{23,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-13}</string>
                <key>spriteSize</key>
                <string>{23,29}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{263,57},{23,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-3}</string>
                <key>spriteSize</key>
                <string>{21,23}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{290,111},{21,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,7}</string>
                <key>spriteSize</key>
                <string>{25,17}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{292,84},{25,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_draw_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,16}</string>
                <key>spriteSize</key>
                <string>{17,25}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{294,57},{17,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{221,226},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_draw_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,71}</string>
                <key>spriteSourceSize</key>
                <string>{73,71}</string>
                <key>textureRect</key>
                <string>{{221,299},{73,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{213,372},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_one.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{455,467},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_skill_upgrade_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{207,444},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{395,467},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_upgrade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,0}</string>
                <key>spriteSize</key>
                <string>{108,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{335,467},{108,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_upgrade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,0}</string>
                <key>spriteSize</key>
                <string>{158,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{335,407},{158,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{1,332},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{260,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{1,57},{260,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{510,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1444b8d581ebad87b389fb6bdb5a0018:2436c3a9c3462aa07bcfd278d6ed7118:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
