<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>result_evolution_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,94}</string>
                <key>spriteSourceSize</key>
                <string>{84,94}</string>
                <key>textureRect</key>
                <string>{{1,155},{84,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,95}</string>
                <key>spriteSourceSize</key>
                <string>{93,95}</string>
                <key>textureRect</key>
                <string>{{277,155},{93,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,96}</string>
                <key>spriteSourceSize</key>
                <string>{80,96}</string>
                <key>textureRect</key>
                <string>{{617,144},{80,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,94}</string>
                <key>spriteSourceSize</key>
                <string>{82,94}</string>
                <key>textureRect</key>
                <string>{{87,155},{82,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,93}</string>
                <key>spriteSourceSize</key>
                <string>{24,93}</string>
                <key>textureRect</key>
                <string>{{374,155},{24,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,104}</string>
                <key>spriteSourceSize</key>
                <string>{93,104}</string>
                <key>textureRect</key>
                <string>{{171,155},{93,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,105}</string>
                <key>spriteSourceSize</key>
                <string>{103,105}</string>
                <key>textureRect</key>
                <string>{{617,1},{103,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,106}</string>
                <key>spriteSourceSize</key>
                <string>{90,106}</string>
                <key>textureRect</key>
                <string>{{506,155},{90,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{400,155},{92,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_0205.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,101}</string>
                <key>spriteSourceSize</key>
                <string>{34,101}</string>
                <key>textureRect</key>
                <string>{{617,108},{34,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>result_evolution_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{155,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{309,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>result_evolution_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{463,1},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_evolution.png</string>
            <key>size</key>
            <string>{721,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c37dbfcbe91f7baae505d6fb7557133d:978d87598e48b8369603d915e0b25c13:05786ba73561c97043b338cb2c697711$</string>
            <key>textureFileName</key>
            <string>dragon_evolution.png</string>
        </dict>
    </dict>
</plist>
