<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_ancient_ruins_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_ancient_ruins_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_ancient_ruins_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{825,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,525},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_dragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1037,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_nightmare_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{413,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_nightmare_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_nightmare_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1249,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_relation_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{413,525},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_relation_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1237,1},{281,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_relation_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1461,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{825,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1520,1},{281,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1673,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_menu_dungeon.png</string>
            <key>size</key>
            <string>{1884,1331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:223cec36a4196750d0a385dab9702ce2:0ad66d3b24165be84f0d1358958d2c44:a9331f529ea7630fa23a5f0808cbe562$</string>
            <key>textureFileName</key>
            <string>battle_menu_dungeon.png</string>
        </dict>
    </dict>
</plist>
