<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>square_witdh_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,352}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{500,352}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>square_witdh_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{494,352}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{494,352}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>square_witdh_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{468,112}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,29},{468,112}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>square_witdh_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,851},{54,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{54,112}}</string>
                <key>sourceSize</key>
                <string>{54,170}</string>
            </dict>
            <key>square_witdh_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,710},{26,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,139}}</string>
                <key>sourceSize</key>
                <string>{26,139}</string>
            </dict>
            <key>square_witdh_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,851},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,170}</string>
            </dict>
            <key>square_witdh_select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,851},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>square_witdh.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0215d834a96e1ada97c3da81a8c59e8c$</string>
            <key>textureFileName</key>
            <string>square_witdh.png</string>
        </dict>
    </dict>
</plist>
