<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clan_lobby_outdoor_02_ash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,1604},{396,428}}</string>
                <key>offset</key>
                <string>{-23,59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,77},{396,428}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_ash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1604},{396,428}}</string>
                <key>offset</key>
                <string>{-23,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,77},{396,428}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1760},{146,276}}</string>
                <key>offset</key>
                <string>{-25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,204},{146,276}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{86,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,85},{86,180}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,536},{88,150}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,105},{88,150}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,362},{92,172}}</string>
                <key>offset</key>
                <string>{-7,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,87},{92,172}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1908},{100,190}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{114,67},{100,190}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1760},{92,202}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,60},{92,202}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1760},{140,174}}</string>
                <key>offset</key>
                <string>{-37,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,87},{140,174}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,184},{130,176}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,88},{130,176}}</string>
                <key>sourceSize</key>
                <string>{350,350}</string>
            </dict>
            <key>clan_lobby_outdoor_02_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1604},{538,370}}</string>
                <key>offset</key>
                <string>{-81,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,143},{538,370}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_firefly_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1936},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,53},{44,44}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>clan_lobby_outdoor_02_grass_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,832},{138,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{281,293},{138,114}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,688},{136,142}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,273},{136,142}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_light_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1936},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,336},{28,28}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_light_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1908},{86,84}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,309},{86,84}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,972},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{294,294},{112,112}}</string>
                <key>sourceSize</key>
                <string>{700,700}</string>
            </dict>
            <key>clan_lobby_outdoor_02_night_object.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1600,888}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{1600,888}}</string>
                <key>sourceSize</key>
                <string>{1600,960}</string>
            </dict>
            <key>clan_lobby_outdoor_02_object.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{1600,888}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,72},{1600,888}}</string>
                <key>sourceSize</key>
                <string>{1600,960}</string>
            </dict>
            <key>clan_lobby_outdoor_02_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{546,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1647,463},{546,154}}</string>
                <key>sourceSize</key>
                <string>{3840,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>clan_lobby_outdoor_02.png</string>
            <key>size</key>
            <string>{1920,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8db1b5c0b528d02ee480bff081a0bb8:8ed675ea517e7a52ea5852751a96c59f:92b5e47b64fc229696480e4eb8168050$</string>
            <key>textureFileName</key>
            <string>clan_lobby_outdoor_02.png</string>
        </dict>
    </dict>
</plist>
