<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutscene_tamer_a_type_casting_13_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,211},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>cutscene_tamer_a_type_casting_14_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,256},{244,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,241}}</string>
                <key>sourceSize</key>
                <string>{244,241}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,792},{124,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,127},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_b_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,55},{70,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,93}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_b_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,131},{58,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,85}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,330},{146,161}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{146,161}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_01_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{1944,2},{95,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{95,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,648},{142,149}}</string>
                <key>offset</key>
                <string>{-7,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{142,149}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,499},{150,147}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{150,147}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,478},{152,149}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,149}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1849,629},{146,151}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,7},{146,151}}</string>
                <key>sourceSize</key>
                <string>{164,163}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_p_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,676},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>cutscene_tamer_a_type_fever_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,2},{433,1600}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{433,1600}}</string>
                <key>sourceSize</key>
                <string>{721,1600}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{800,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,51}}</string>
                <key>sourceSize</key>
                <string>{800,51}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1604},{450,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{450,432}}</string>
                <key>sourceSize</key>
                <string>{450,432}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,806},{285,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,294}}</string>
                <key>sourceSize</key>
                <string>{285,294}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,676},{333,542}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,542}}</string>
                <key>sourceSize</key>
                <string>{333,542}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{439,686}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{439,686}}</string>
                <key>sourceSize</key>
                <string>{453,686}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,55},{619,705}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{619,705}}</string>
                <key>sourceSize</key>
                <string>{619,705}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{433,1600}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{433,1600}}</string>
                <key>sourceSize</key>
                <string>{721,1600}</string>
            </dict>
            <key>cutscene_tamer_a_type_res_bg_t.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,191},{137,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,73}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cutscene_tamer_a_type.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:874e8df15ee9d241b14a9319a927452f$</string>
            <key>textureFileName</key>
            <string>cutscene_tamer_a_type.png</string>
        </dict>
    </dict>
</plist>
