<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_deathlock_bomb_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{881,875},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_deathlock_bomb_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{193,191}</string>
                <key>spriteSourceSize</key>
                <string>{207,191}</string>
                <key>textureRect</key>
                <string>{{114,573},{193,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_portal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,351}</string>
                <key>spriteSourceSize</key>
                <string>{92,359}</string>
                <key>textureRect</key>
                <string>{{114,487},{84,351}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_portal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,351}</string>
                <key>spriteSourceSize</key>
                <string>{92,359}</string>
                <key>textureRect</key>
                <string>{{227,769},{84,351}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_deathlock_portal_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{94,362}</string>
                <key>spriteSourceSize</key>
                <string>{126,370}</string>
                <key>textureRect</key>
                <string>{{114,391},{94,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_scratch_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,268}</string>
                <key>spriteSourceSize</key>
                <string>{328,286}</string>
                <key>textureRect</key>
                <string>{{313,769},{310,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_scratch_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{85,72}</string>
                <key>spriteSourceSize</key>
                <string>{107,92}</string>
                <key>textureRect</key>
                <string>{{729,968},{85,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_deathlock_scratch_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{114,96}</string>
                <key>spriteSourceSize</key>
                <string>{132,106}</string>
                <key>textureRect</key>
                <string>{{764,668},{114,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_deathlock_scratch_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{176,157}</string>
                <key>spriteSourceSize</key>
                <string>{192,167}</string>
                <key>textureRect</key>
                <string>{{307,573},{176,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_scratch_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{95,98}</string>
                <key>textureRect</key>
                <string>{{916,232},{75,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_scratch_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{108,104}</string>
                <key>spriteSourceSize</key>
                <string>{126,124}</string>
                <key>textureRect</key>
                <string>{{881,769},{108,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_deathlock_scratch_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{155,144}</string>
                <key>spriteSourceSize</key>
                <string>{169,168}</string>
                <key>textureRect</key>
                <string>{{583,979},{155,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_deathlock_spped_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,87}</string>
                <key>spriteSourceSize</key>
                <string>{328,87}</string>
                <key>textureRect</key>
                <string>{{906,439},{328,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_laser_deathlock_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,128}</string>
                <key>spriteSourceSize</key>
                <string>{101,156}</string>
                <key>textureRect</key>
                <string>{{916,309},{73,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_deathlock_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,43}</string>
                <key>spriteSourceSize</key>
                <string>{159,43}</string>
                <key>textureRect</key>
                <string>{{436,197},{159,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_laser_deathlock_skill_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,117}</string>
                <key>spriteSourceSize</key>
                <string>{500,145}</string>
                <key>textureRect</key>
                <string>{{483,113},{472,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,433}</string>
                <key>spriteSourceSize</key>
                <string>{95,433}</string>
                <key>textureRect</key>
                <string>{{1,197},{95,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_earth_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{82,480}</string>
                <key>spriteSourceSize</key>
                <string>{110,480}</string>
                <key>textureRect</key>
                <string>{{1,113},{82,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_earth_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,423}</string>
                <key>spriteSourceSize</key>
                <string>{111,423}</string>
                <key>textureRect</key>
                <string>{{481,329},{111,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_earth_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,376}</string>
                <key>spriteSourceSize</key>
                <string>{111,376}</string>
                <key>textureRect</key>
                <string>{{1,769},{111,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_earth_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,296}</string>
                <key>spriteSourceSize</key>
                <string>{98,296}</string>
                <key>textureRect</key>
                <string>{{466,668},{98,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,433}</string>
                <key>spriteSourceSize</key>
                <string>{95,433}</string>
                <key>textureRect</key>
                <string>{{1,294},{95,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,480}</string>
                <key>spriteSourceSize</key>
                <string>{110,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{110,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,423}</string>
                <key>spriteSourceSize</key>
                <string>{111,423}</string>
                <key>textureRect</key>
                <string>{{478,442},{111,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,376}</string>
                <key>spriteSourceSize</key>
                <string>{111,376}</string>
                <key>textureRect</key>
                <string>{{1,391},{111,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,296}</string>
                <key>spriteSourceSize</key>
                <string>{98,296}</string>
                <key>textureRect</key>
                <string>{{583,768},{98,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,433}</string>
                <key>spriteSourceSize</key>
                <string>{95,433}</string>
                <key>textureRect</key>
                <string>{{481,232},{95,433}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,480}</string>
                <key>spriteSourceSize</key>
                <string>{110,480}</string>
                <key>textureRect</key>
                <string>{{483,1},{110,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_water_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,423}</string>
                <key>spriteSourceSize</key>
                <string>{111,423}</string>
                <key>textureRect</key>
                <string>{{467,555},{111,423}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lightning_water_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,376}</string>
                <key>spriteSourceSize</key>
                <string>{111,376}</string>
                <key>textureRect</key>
                <string>{{114,769},{111,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lightning_water_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,296}</string>
                <key>spriteSourceSize</key>
                <string>{98,296}</string>
                <key>textureRect</key>
                <string>{{583,868},{98,296}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_deathlock.png</string>
            <key>size</key>
            <string>{995,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc0938cf466e7ac6477098583995c057:bdf3e2c3c4aad27c5e6bd80bb6d9ef86:e5cb7393793e65ca3986bc0ad2c73a81$</string>
            <key>textureFileName</key>
            <string>skill_deathlock.png</string>
        </dict>
    </dict>
</plist>
