<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>upgrade_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{369,845},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{461,845},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{507,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{599,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{691,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{783,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{875,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{967,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{553,838},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{645,838},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{737,838},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{829,838},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{842,1485},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,802},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1059,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1013,802},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1105,802},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,1},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,93},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,185},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,277},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,369},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,461},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,553},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,645},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,737},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,829},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,921},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,1013},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,1105},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,1197},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_fx_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1197,1289},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{507,648},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{661,648},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{815,648},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{969,648},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_line_fx_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,50}</string>
                <key>spriteSourceSize</key>
                <string>{668,50}</string>
                <key>textureRect</key>
                <string>{{167,871},{668,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_line_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-112,-10}</string>
                <key>spriteSize</key>
                <string>{362,34}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{507,802},{362,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_line_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-72,-9}</string>
                <key>spriteSize</key>
                <string>{502,68}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{1197,1381},{502,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_line_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,-17}</string>
                <key>spriteSize</key>
                <string>{646,148}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{219,865},{646,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_line_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-59,-5}</string>
                <key>spriteSize</key>
                <string>{706,164}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{1,871},{706,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_line_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{862,154}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{199,1},{862,154}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_line_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{868,196}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{868,196}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_line_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{842,150}</string>
                <key>spriteSourceSize</key>
                <string>{940,230}</string>
                <key>textureRect</key>
                <string>{{355,1},{842,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_point_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{426,1492},{98,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_point_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1701,1381},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_point_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{556,1485},{148,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_point_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1489,1451},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_point_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{706,1485},{114,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_text_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{239,1513},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_text_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,69}</string>
                <key>spriteSourceSize</key>
                <string>{61,69}</string>
                <key>textureRect</key>
                <string>{{1123,737},{61,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_text_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,70}</string>
                <key>spriteSourceSize</key>
                <string>{60,70}</string>
                <key>textureRect</key>
                <string>{{167,1541},{60,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_text_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{302,1513},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_text_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,74}</string>
                <key>spriteSourceSize</key>
                <string>{59,74}</string>
                <key>textureRect</key>
                <string>{{365,1513},{59,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_text_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,71}</string>
                <key>spriteSourceSize</key>
                <string>{65,71}</string>
                <key>textureRect</key>
                <string>{{1123,648},{65,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>upgrade_text_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,74}</string>
                <key>spriteSourceSize</key>
                <string>{61,74}</string>
                <key>textureRect</key>
                <string>{{239,1513},{61,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>upgrade_text_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,69}</string>
                <key>spriteSourceSize</key>
                <string>{19,69}</string>
                <key>textureRect</key>
                <string>{{1,1579},{19,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_upgrade.png</string>
            <key>size</key>
            <string>{1843,1602}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c17f068114c25c970f7a2f7f334b432:d79d417c8ed438230170745d00409c23:b7a833a8282384d4529ccf0fac8eba0c$</string>
            <key>textureFileName</key>
            <string>dragon_upgrade.png</string>
        </dict>
    </dict>
</plist>
