<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gauge_special_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,46}</string>
                <key>spriteSourceSize</key>
                <string>{124,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gauge_special_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,46}</string>
                <key>spriteSourceSize</key>
                <string>{124,46}</string>
                <key>textureRect</key>
                <string>{{127,1},{124,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gauge_special.png</string>
            <key>size</key>
            <string>{252,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b55258a5c69e80bc9daaf88df779658c:a913b86827bb4d1b5356fb0c4d5ebbb2:4fc198d6b28ead277a3e9b186bcea90e$</string>
            <key>textureFileName</key>
            <string>gauge_special.png</string>
        </dict>
    </dict>
</plist>
