<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1,598},{196,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1,216},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1,404},{192,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_color_gray_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{142,796},{89,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_color_gray_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,137}</string>
                <key>textureRect</key>
                <string>{{1,796},{139,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_color_purple_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{142,887},{89,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_color_purple_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,137}</string>
                <key>textureRect</key>
                <string>{{1,935},{139,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_color_red_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{142,978},{89,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_color_red_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,137}</string>
                <key>textureRect</key>
                <string>{{1,1074},{139,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_color_yellow_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{142,1069},{89,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_color_yellow_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,137}</string>
                <key>textureRect</key>
                <string>{{1,1213},{139,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_shine_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{218,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{229,1351}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29c651f5cb7a5cffd1763f4ec5e84e3b:94d1fbe4769de3243fdafe52b4ac0f5f:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
