<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_volcano_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,800}}</string>
                <key>sourceSize</key>
                <string>{1922,800}</string>
            </dict>
            <key>bg_low_volcano_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,2},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>bg_low_volcano_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,768},{228,166}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{228,166}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_low_volcano_magma_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1310,768},{36,34}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,63},{36,34}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,768},{40,38}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,59},{40,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,768},{38,40}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,57},{38,40}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,808},{58,42}}</string>
                <key>offset</key>
                <string>{-44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,54},{58,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,768},{60,42}}</string>
                <key>offset</key>
                <string>{-45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,54},{60,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,808},{58,38}}</string>
                <key>offset</key>
                <string>{-44,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,58},{58,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,768},{64,38}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{64,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano_magma_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,768},{62,38}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,58},{62,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_volcano_1.png</string>
            <key>size</key>
            <string>{1484,1926}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e92e9d38cfcd521fe32d212317a437e:4f86dbd6f8b3610d8ee99ff9415c4b55:e7c78cb76819d9fa98f6adcf4632d5d7$</string>
            <key>textureFileName</key>
            <string>low_volcano_1.png</string>
        </dict>
    </dict>
</plist>
