<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_dragon_res_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_res_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{211,1},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_res_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,575},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_res_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{211,575},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_res_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,1149},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_dragon_res_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{211,1149},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_dragon_02.png</string>
            <key>size</key>
            <string>{420,1722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c80208bd86c29fd36842cbe4c42fb80:257bbb6d305f7e654b329377a971abb0:931f5efb0d1b491770428413da3637a9$</string>
            <key>textureFileName</key>
            <string>dungeon_dragon_02.png</string>
        </dict>
    </dict>
</plist>
