<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ice_01_s_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{237,626},{65,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{432,310},{81,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{432,217},{91,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{369,534},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{124,539},{111,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{115,104}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{137,433},{115,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{121,118}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,530},{121,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{125,134}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,403},{125,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{147,146}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{255,381},{147,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{175,162}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{255,217},{175,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-19}</string>
                <key>spriteSize</key>
                <string>{205,186}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,215},{205,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-25}</string>
                <key>spriteSize</key>
                <string>{229,214}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{262,1},{229,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-30,-4}</string>
                <key>spriteSize</key>
                <string>{259,212}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{259,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{369,620},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_01_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{208,215},{45,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_res_01_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{208,324},{45,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_res_01_f.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{404,393},{45,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_01_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{404,440},{45,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_01_w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{404,487},{45,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,95}</string>
                <key>spriteSourceSize</key>
                <string>{113,95}</string>
                <key>textureRect</key>
                <string>{{254,529},{113,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_ice.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242d670fdbfcd6b163b30f182bd9cdb4:8f92cf3300631256d73ee358e228614a:51b4cf9b95621d34f722132ea86b9b5c$</string>
            <key>textureFileName</key>
            <string>missile_ice.png</string>
        </dict>
    </dict>
</plist>
