<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_canyon_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,1088},{844,672}}</string>
                <key>offset</key>
                <string>{-9,-463}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,927},{844,672}}</string>
                <key>sourceSize</key>
                <string>{862,1600}</string>
            </dict>
            <key>bg_canyon_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1602,1260}}</string>
                <key>offset</key>
                <string>{-13,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,340},{1602,1260}}</string>
                <key>sourceSize</key>
                <string>{1676,1600}</string>
            </dict>
            <key>bg_canyon_6_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{778,732}}</string>
                <key>offset</key>
                <string>{-15,-434}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,868},{778,732}}</string>
                <key>sourceSize</key>
                <string>{934,1600}</string>
            </dict>
            <key>cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1606},{1010,346}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,212},{1010,346}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>cloud_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1938,1088},{810,88}}</string>
                <key>offset</key>
                <string>{-76,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,495},{810,88}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>sand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,736},{761,350}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,125},{761,350}}</string>
                <key>sourceSize</key>
                <string>{985,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canyon_5.png</string>
            <key>size</key>
            <string>{2044,1954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cec5a81e05382dbdbc84c8a52d3b6db:6b32a3e49f6a3eb1c668bcb7a4fa081d:e33ae843c9f25165cd7ed6a9beac4719$</string>
            <key>textureFileName</key>
            <string>canyon_5.png</string>
        </dict>
    </dict>
</plist>
