<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_canyon_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{702,328}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,232},{702,328}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bg_canyon_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{612,540}}</string>
                <key>offset</key>
                <string>{-49,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,156},{612,540}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bg_canyon_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,348},{520,252}}</string>
                <key>offset</key>
                <string>{38,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,292},{520,252}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>bg_canyon_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{972,344}}</string>
                <key>offset</key>
                <string>{-16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,214},{972,344}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>bg_canyon_cloud_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,332},{632,124}}</string>
                <key>offset</key>
                <string>{107,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,441},{632,124}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>bg_canyon_cloud_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,870},{810,88}}</string>
                <key>offset</key>
                <string>{-76,-139}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,495},{810,88}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>bg_canyon_sand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,458},{761,350}}</string>
                <key>offset</key>
                <string>{-34,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,125},{761,350}}</string>
                <key>sourceSize</key>
                <string>{985,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canyon_6.png</string>
            <key>size</key>
            <string>{1680,960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f4415a25d7680e063f9564fc8f51a35:1353b4ef194d3cee377179c6851eb28e:6e78e96c655a300f3ba39b4df201bbe6$</string>
            <key>textureFileName</key>
            <string>canyon_6.png</string>
        </dict>
    </dict>
</plist>
