<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean2_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1669},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>map_ocean2_land_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1574,962}}</string>
                <key>offset</key>
                <string>{62,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,38},{1574,962}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_easy_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{1544,444}}</string>
                <key>offset</key>
                <string>{-2,-290}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,580},{1544,444}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,966},{154,122}}</string>
                <key>offset</key>
                <string>{23,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{970,614},{154,122}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_land_wave_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1122},{154,122}}</string>
                <key>offset</key>
                <string>{23,-163}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{970,614},{154,122}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean2_sand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1932},{151,101}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,487},{151,101}}</string>
                <key>sourceSize</key>
                <string>{1113,1113}</string>
            </dict>
            <key>map_ocean2_seaweed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1937,1548},{75,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{519,497},{75,119}}</string>
                <key>sourceSize</key>
                <string>{1113,1113}</string>
            </dict>
            <key>map_ocean2_ship_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1962,1669},{17,11}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,552},{17,11}}</string>
                <key>sourceSize</key>
                <string>{1113,1113}</string>
            </dict>
            <key>map_ocean2_tiny_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1548},{487,479}}</string>
                <key>offset</key>
                <string>{72,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,311},{487,479}}</string>
                <key>sourceSize</key>
                <string>{1113,1113}</string>
            </dict>
            <key>map_ocean2_tiny_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,1278},{151,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{481,498},{151,117}}</string>
                <key>sourceSize</key>
                <string>{1113,1113}</string>
            </dict>
            <key>map_ocean2_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{1444,964}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,33},{1444,964}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ocean2_1.png</string>
            <key>size</key>
            <string>{2024,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1576971a8163e073b463cb42134d43a6:a4b88aa283e5d9643d96942ca197dcf5:9bef70988f727135f9d5452acf6a0451$</string>
            <key>textureFileName</key>
            <string>map_ocean2_1.png</string>
        </dict>
    </dict>
</plist>
