<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_crescent_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>missile_crescent_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>missile_crescent_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_crescent_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>missile_crescent_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
            <key>missile_crescent_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{80,45}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,45}}</string>
                <key>sourceSize</key>
                <string>{80,49}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_crescent.png</string>
            <key>size</key>
            <string>{448,49}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0fe28e742f993b1cc992ef2733ea65:f90af1beec5d8118f6c5df23cc17f039:784454d14cc7b7fc68e6d9b2ff54e683$</string>
            <key>textureFileName</key>
            <string>missile_crescent.png</string>
        </dict>
    </dict>
</plist>
