<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean3_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1010,366}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,434},{1010,366}}</string>
                <key>sourceSize</key>
                <string>{1050,800}</string>
            </dict>
            <key>bg_ocean3_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{690,414}}</string>
                <key>offset</key>
                <string>{0,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,386},{690,414}}</string>
                <key>sourceSize</key>
                <string>{690,800}</string>
            </dict>
            <key>bg_ocean3_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{646,546}}</string>
                <key>offset</key>
                <string>{9,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,254},{646,546}}</string>
                <key>sourceSize</key>
                <string>{690,800}</string>
            </dict>
            <key>bg_ocean3_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_ocean3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,370},{414,436}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,59},{414,436}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean3_4.png</string>
            <key>size</key>
            <string>{1680,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358026e4ae336976c0cfd9359bdcf85a:ab5c2a23a306a6724ea629f21296529f:13f429608096f377d8f2e37d39dc0ecd$</string>
            <key>textureFileName</key>
            <string>ocean3_4.png</string>
        </dict>
    </dict>
</plist>
