<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,161}</string>
                <key>spriteSourceSize</key>
                <string>{154,161}</string>
                <key>textureRect</key>
                <string>{{1,204},{154,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,201}</string>
                <key>spriteSourceSize</key>
                <string>{191,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{191,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{219,296},{67,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_c_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{287,86},{45,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{248,218},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_e_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{347,276},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,90}</string>
                <key>spriteSourceSize</key>
                <string>{115,90}</string>
                <key>textureRect</key>
                <string>{{1,367},{115,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_h_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{87,68}</string>
                <key>textureRect</key>
                <string>{{337,68},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{248,1},{29,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_i_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{1,484},{22,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{157,296},{69,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_o_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,45}</string>
                <key>textureRect</key>
                <string>{{287,45},{46,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,64}</string>
                <key>textureRect</key>
                <string>{{410,1},{71,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_r_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{287,1},{46,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{179,367},{83,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_a_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{194,1},{51,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{410,67},{67,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_d_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{287,176},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{194,132},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_e_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{287,132},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{337,126},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_g_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{313,338},{42,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{157,204},{89,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_l_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{308,218},{55,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,65}</string>
                <key>spriteSourceSize</key>
                <string>{76,65}</string>
                <key>textureRect</key>
                <string>{{259,446},{76,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_n_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{93,464},{47,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{337,1},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_r_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{138,464},{46,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,65}</string>
                <key>spriteSourceSize</key>
                <string>{79,65}</string>
                <key>textureRect</key>
                <string>{{246,365},{79,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_y_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,49}</string>
                <key>textureRect</key>
                <string>{{194,46},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{183,452},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{287,278},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{95,84}</string>
                <key>textureRect</key>
                <string>{{93,367},{95,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b38d51d5021f78449fb3299da087499:0b7fda9e9fa6d593e7a81960a9f692d5:093a2e5f9704eb9caa7571c3413d0460$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
