<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_nest_ether_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{1188,490}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,555},{1188,490}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{794,298}}</string>
                <key>offset</key>
                <string>{-470,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,775},{794,298}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{1148,494}}</string>
                <key>offset</key>
                <string>{-377,-460}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,1013},{1148,494}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1240,512}}</string>
                <key>offset</key>
                <string>{200,-382}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{541,926},{1240,512}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1012},{1016,590}}</string>
                <key>offset</key>
                <string>{330,-394}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{783,899},{1016,590}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>map_nest_ether_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1192},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_nest_ether_5.png</string>
            <key>size</key>
            <string>{1736,1958}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9136ce09b61c8b7e2ae12555a9c6a3a8:a501ccbfe34e4ab81b9c333f07172848:9f4092d07518b968531c67123a2fd637$</string>
            <key>textureFileName</key>
            <string>map_nest_ether_5.png</string>
        </dict>
    </dict>
</plist>
