<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_laser_01_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-282,5}</string>
                <key>spriteSize</key>
                <string>{108,88}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{561,963},{108,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-243,7}</string>
                <key>spriteSize</key>
                <string>{196,94}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{363,891},{196,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203,6}</string>
                <key>spriteSize</key>
                <string>{280,98}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1745,933},{280,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-162,4}</string>
                <key>spriteSize</key>
                <string>{360,96}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,891},{360,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-120,4}</string>
                <key>spriteSize</key>
                <string>{450,98}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1293,925},{450,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-85,4}</string>
                <key>spriteSize</key>
                <string>{520,98}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1357,825},{520,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-39,4}</string>
                <key>spriteSize</key>
                <string>{610,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,789},{610,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,4}</string>
                <key>spriteSize</key>
                <string>{652,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1373,305},{652,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,4}</string>
                <key>spriteSize</key>
                <string>{660,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1373,203},{660,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{666,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1373,101},{666,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{674,98}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1373,1},{674,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{676,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,687},{676,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{676,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1361,723},{676,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,4}</string>
                <key>spriteSize</key>
                <string>{676,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{679,785},{676,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{676,102}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{683,681},{676,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,6}</string>
                <key>spriteSize</key>
                <string>{678,100}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1363,621},{678,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{678,102}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{683,577},{678,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,7}</string>
                <key>spriteSize</key>
                <string>{678,104}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1369,515},{678,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,7}</string>
                <key>spriteSize</key>
                <string>{678,106}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1369,407},{678,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,8}</string>
                <key>spriteSize</key>
                <string>{680,108}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,577},{680,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{682,108}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,467},{682,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,8}</string>
                <key>spriteSize</key>
                <string>{682,110}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{685,465},{682,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,9}</string>
                <key>spriteSize</key>
                <string>{682,112}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{685,351},{682,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,9}</string>
                <key>spriteSize</key>
                <string>{682,112}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,353},{682,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{682,114}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,237},{682,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{684,114}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{687,119},{684,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0071.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{684,116}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{684,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0073.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,10}</string>
                <key>spriteSize</key>
                <string>{684,116}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{687,1},{684,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0075.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,11}</string>
                <key>spriteSize</key>
                <string>{684,116}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,119},{684,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,11}</string>
                <key>spriteSize</key>
                <string>{684,114}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{687,235},{684,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_0079.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,20}</string>
                <key>spriteSize</key>
                <string>{476,74}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{613,887},{476,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,106}</string>
                <key>spriteSourceSize</key>
                <string>{153,106}</string>
                <key>textureRect</key>
                <string>{{1879,825},{153,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_laser_01_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{363,987},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_laser_01_s_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,91}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{1091,887},{200,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_laser_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28ad86b9f43c9cec1fd7a566d470010d:59cea125ed895300ab82ed5a9a804a18:a0493e934cb827b83fb0ba9ac15d7221$</string>
            <key>textureFileName</key>
            <string>skill_laser_01.png</string>
        </dict>
    </dict>
</plist>
