<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_transcend_result_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,115}</string>
                <key>spriteSourceSize</key>
                <string>{352,115}</string>
                <key>textureRect</key>
                <string>{{1,128},{352,115}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_transcend_result_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{362,125}</string>
                <key>spriteSourceSize</key>
                <string>{362,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{362,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_transcend.png</string>
            <key>size</key>
            <string>{364,244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b15410cba463dd70544ebb74f41ab925:423413e83ece9769e52ca02d4dc3a9b2:4b6fdd69c5d2393efc768d3000aedc12$</string>
            <key>textureFileName</key>
            <string>dragon_transcend.png</string>
        </dict>
    </dict>
</plist>
