<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_berna_effect_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{166,126}</string>
                <key>textureRect</key>
                <string>{{345,1046},{166,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{198,195}</string>
                <key>spriteSourceSize</key>
                <string>{198,201}</string>
                <key>textureRect</key>
                <string>{{819,1014},{198,195}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{356,196}</string>
                <key>spriteSourceSize</key>
                <string>{358,196}</string>
                <key>textureRect</key>
                <string>{{659,1},{356,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{486,164}</string>
                <key>spriteSourceSize</key>
                <string>{494,170}</string>
                <key>textureRect</key>
                <string>{{653,717},{486,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_01_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{650,152}</string>
                <key>spriteSourceSize</key>
                <string>{658,152}</string>
                <key>textureRect</key>
                <string>{{1,675},{650,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{656,230}</string>
                <key>spriteSourceSize</key>
                <string>{658,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{656,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,7}</string>
                <key>spriteSize</key>
                <string>{656,220}</string>
                <key>spriteSourceSize</key>
                <string>{658,234}</string>
                <key>textureRect</key>
                <string>{{1,233},{656,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,4}</string>
                <key>spriteSize</key>
                <string>{656,218}</string>
                <key>spriteSourceSize</key>
                <string>{658,226}</string>
                <key>textureRect</key>
                <string>{{1,455},{656,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_01_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{212,154}</string>
                <key>spriteSourceSize</key>
                <string>{212,162}</string>
                <key>textureRect</key>
                <string>{{1,1060},{212,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{261,261}</string>
                <key>spriteSourceSize</key>
                <string>{351,353}</string>
                <key>textureRect</key>
                <string>{{659,199},{261,261}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,255}</string>
                <key>spriteSourceSize</key>
                <string>{257,257}</string>
                <key>textureRect</key>
                <string>{{659,462},{253,255}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,207}</string>
                <key>spriteSourceSize</key>
                <string>{203,207}</string>
                <key>textureRect</key>
                <string>{{819,805},{203,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,197}</string>
                <key>spriteSourceSize</key>
                <string>{195,197}</string>
                <key>textureRect</key>
                <string>{{449,829},{195,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_healing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{232,829},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{561,1089},{52,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_healing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{561,1026},{80,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{471,1143},{70,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_healing_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{519,1143},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{578,1143},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{819,717},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_berna_effect_healing_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{215,1060},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{916,639},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{922,199},{99,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{916,508},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{471,1026},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_healing_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{1,829},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_berna_effect_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{922,407},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_berna_healing.png</string>
            <key>size</key>
            <string>{1023,1215}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3bed6767e8af1792fd59aba6275822a:c494b66fe08af644b97f4a9d99dc77aa:53044740982c79dc29b12388f80cf5db$</string>
            <key>textureFileName</key>
            <string>skill_berna_healing.png</string>
        </dict>
    </dict>
</plist>
