<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_heart_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,149}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,149}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{85,129}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{85,129}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,286},{85,135}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{85,135}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,147},{85,137}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{85,137}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,2},{85,143}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{85,143}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,259},{83,143}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{83,145}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,145}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,89},{83,147}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,147}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,344},{69,63}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,72},{69,63}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{71,65}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,69},{71,65}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_heart.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a3f03a59818a9ccdaf64b9d2174e21a:8eb6d6a4e50d51a312bf37ed55550462:9796d224ef7004f4dfccb318c70ecd27$</string>
            <key>textureFileName</key>
            <string>missile_heart.png</string>
        </dict>
    </dict>
</plist>
