<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>purchase_daily_box_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,174}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{269,421},{226,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,193}</string>
                <key>spriteSourceSize</key>
                <string>{257,233}</string>
                <key>textureRect</key>
                <string>{{281,1},{209,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,182}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{1,850},{240,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,203}</string>
                <key>spriteSourceSize</key>
                <string>{257,233}</string>
                <key>textureRect</key>
                <string>{{281,196},{223,203}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purchase_daily_box_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,198}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{1,423},{260,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,219}</string>
                <key>spriteSourceSize</key>
                <string>{257,233}</string>
                <key>textureRect</key>
                <string>{{243,856},{239,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,202}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{1,219},{266,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,225}</string>
                <key>spriteSourceSize</key>
                <string>{257,233}</string>
                <key>textureRect</key>
                <string>{{1,623},{247,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0501.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,216}</string>
                <key>spriteSourceSize</key>
                <string>{278,216}</string>
                <key>textureRect</key>
                <string>{{1,1},{278,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_0502.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,233}</string>
                <key>spriteSourceSize</key>
                <string>{257,233}</string>
                <key>textureRect</key>
                <string>{{263,597},{257,233}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>purchase_daily_box_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{250,1231},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_circle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,103}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{155,1231},{93,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_circle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{351,1231},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,1034},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,1188},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{155,1077},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{309,1077},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>purchase_daily_box_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{155,1034},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>purchase_daily_box.png</string>
            <key>size</key>
            <string>{497,1341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86aa64cd6e2d896e7eac0b509b3d5e09:e6a783fdb8123147d653cf8fde819667:21b6df03488eae2b430e9d894eaf2f49$</string>
            <key>textureFileName</key>
            <string>purchase_daily_box.png</string>
        </dict>
    </dict>
</plist>
