<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_chaos_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{818,828},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,635},{172,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chaos_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,81}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{565,751},{200,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{325,859},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{384,859},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{734,834},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{839,532},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{767,662},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{1,809},{99,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_chaos_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{863,662},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,8}</string>
                <key>spriteSize</key>
                <string>{256,124}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{581,532},{256,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,6}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{209,809},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,91}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{565,658},{200,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{398,529}</string>
                <key>spriteSourceSize</key>
                <string>{416,549}</string>
                <key>textureRect</key>
                <string>{{581,1},{398,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,87}</string>
                <key>spriteSourceSize</key>
                <string>{185,105}</string>
                <key>textureRect</key>
                <string>{{565,834},{167,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{578,632}</string>
                <key>spriteSourceSize</key>
                <string>{596,650}</string>
                <key>textureRect</key>
                <string>{{1,1},{578,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_chaos_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{230,222}</string>
                <key>spriteSourceSize</key>
                <string>{248,270}</string>
                <key>textureRect</key>
                <string>{{333,635},{230,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_chaos.png</string>
            <key>size</key>
            <string>{980,922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2db1f6bdabe13a30daea219fcc4ac82:6d4a6b466d5b81262ad3e25bb4d3bdfa:e96482d91c19f20f727dcc8cb10cf264$</string>
            <key>textureFileName</key>
            <string>skill_chaos.png</string>
        </dict>
    </dict>
</plist>
