<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_weak_point_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,288},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_weak_point_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{285,285}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{1,1},{285,285}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_weak_point_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,41}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{440,1},{41,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_weak_point_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,70}</string>
                <key>spriteSourceSize</key>
                <string>{115,70}</string>
                <key>textureRect</key>
                <string>{{220,288},{115,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{483,1},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weak_point_number_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{430,76},{20,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{304,43},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{346,43},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{388,43},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{430,44},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{304,75},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{346,75},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{388,75},{30,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{483,43},{28,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weak_point_number_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{220,452},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{42,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{396,1},{42,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weak_point_number_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{262,405},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{262,451},{44,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>weak_point_number_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{304,1},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weak_point_number_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,40}</string>
                <key>textureRect</key>
                <string>{{350,1},{44,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>weak_point_number_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,40}</string>
                <key>spriteSourceSize</key>
                <string>{45,40}</string>
                <key>textureRect</key>
                <string>{{220,405},{45,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_weak_point.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0a23c1ddc28cfb42a426ebc22e40032:887a74740d08364b47c89d1ab73acd15:efa10204fdafdf7657f72671d8b73fab$</string>
            <key>textureFileName</key>
            <string>effect_weak_point.png</string>
        </dict>
    </dict>
</plist>
