<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lightning_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{269,959}}</string>
                <key>offset</key>
                <string>{20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,0},{269,959}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>skill_lightning_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,2},{221,959}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,0},{221,959}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>skill_lightning_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{223,847}}</string>
                <key>offset</key>
                <string>{3,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,112},{223,847}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>skill_lightning_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{223,751}}</string>
                <key>offset</key>
                <string>{3,-90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,194},{223,751}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>skill_lightning_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{195,593}}</string>
                <key>offset</key>
                <string>{20,-144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,327},{195,593}}</string>
                <key>sourceSize</key>
                <string>{309,959}</string>
            </dict>
            <key>skill_lightning_water_bomb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,753},{114,115}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,11},{114,115}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>skill_lightning_water_bomb_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,886},{142,125}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{142,125}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>skill_lightning_water_bomb_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,886},{118,113}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,33},{118,113}}</string>
                <key>sourceSize</key>
                <string>{170,161}</string>
            </dict>
            <key>skill_lightning_water_magic_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,597},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{154,154}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_lightning_water_magic_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,886},{112,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{112,114}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_lightning_water_magic_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1115,751},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,64},{62,62}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_lightning_water_magic_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,597},{82,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,54},{82,82}}</string>
                <key>sourceSize</key>
                <string>{190,190}</string>
            </dict>
            <key>skill_lightning_water_particle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,681},{63,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,68}}</string>
                <key>sourceSize</key>
                <string>{63,68}</string>
            </dict>
            <key>skill_lightning_water_shock_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,870},{105,107}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,13},{105,107}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>skill_lightning_water_shock_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,755},{131,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{131,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>skill_lightning_water_shock_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,755},{143,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{143,129}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
            <key>skill_lightning_water_shock_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,851},{147,121}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{147,121}}</string>
                <key>sourceSize</key>
                <string>{147,129}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_lightning_water.png</string>
            <key>size</key>
            <string>{1186,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ef022267fceb10c3435377a64164d90:12c91bdcde47b6985f010a8ef1c34a36:12c8db35f1f076bfe78c5ea9ff4d4b1b$</string>
            <key>textureFileName</key>
            <string>skill_lightning_water.png</string>
        </dict>
    </dict>
</plist>
