<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_heart_001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,149}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{85,149}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_002.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,2},{85,129}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,17},{85,129}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{85,135}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,12},{85,135}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_004.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,298},{85,137}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{85,137}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_005.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,153},{85,143}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{85,143}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_006.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{83,143}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,143}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{83,145}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,145}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,153},{83,147}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{83,147}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_009.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,437},{69,63}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,72},{69,63}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{55,47}}</string>
                <key>offset</key>
                <string>{-4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,77},{55,47}}</string>
                <key>sourceSize</key>
                <string>{117,167}</string>
            </dict>
            <key>missile_heart_011.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,89},{93,93}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{93,93}}</string>
                <key>sourceSize</key>
                <string>{115,115}</string>
            </dict>
            <key>missile_heart_012.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,89},{115,115}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{115,115}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_heart.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c55265d501a526b6f6bc0cad6ceff373:1d5da3f23c676cfd917a6c2e25a46a05:9796d224ef7004f4dfccb318c70ecd27$</string>
            <key>textureFileName</key>
            <string>missile_heart.png</string>
        </dict>
    </dict>
</plist>
