<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean3_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{876,480}}</string>
                <key>offset</key>
                <string>{131,-560}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{533,1120},{876,480}}</string>
                <key>sourceSize</key>
                <string>{1680,1600}</string>
            </dict>
            <key>bg_ocean3_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,2},{1400,596}}</string>
                <key>offset</key>
                <string>{-12,-502}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1004},{1400,596}}</string>
                <key>sourceSize</key>
                <string>{1424,1600}</string>
            </dict>
            <key>bg_ocean3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,600},{414,436}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,59},{414,436}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
            <key>bg_ocean3_seaweed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,600},{168,288}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,136},{168,288}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>bg_ocean3_seaweed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,600},{160,220}}</string>
                <key>offset</key>
                <string>{-16,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,192},{160,220}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bg_ocean3_seaweed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{124,254}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,109},{124,254}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean3_5.png</string>
            <key>size</key>
            <string>{1886,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee50b9d90f2d5f2a8033e3882b91542b:e2f90066d42f71fed9a10ed08c605901:1265161e3107c0fd14271fbb55ea287b$</string>
            <key>textureFileName</key>
            <string>ocean3_5.png</string>
        </dict>
    </dict>
</plist>
