<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_witch_circle_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{73,445},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1,445},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_fire_effect_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{200,423},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_re_effect_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{375,1},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_re_effect_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{246,120},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,197}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{1,246},{197,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_witch_circle_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,173}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{200,246},{175,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_witch_circle_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{1,1},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_witch_circle.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d6781592ce69d738271d586b26e6671:6a007ae5b94caa8bd5591d77c70aacb4:4c5edecd2db1ad3d2d27a997a8f9e1ca$</string>
            <key>textureFileName</key>
            <string>skill_witch_circle.png</string>
        </dict>
    </dict>
</plist>
