<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_weidel_festival_center_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,899}</string>
                <key>spriteSourceSize</key>
                <string>{1280,899}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,899}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_weidel_festival_center_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{559,216}</string>
                <key>spriteSize</key>
                <string>{162,206}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1283,1},{162,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_weidel_festival_center.png</string>
            <key>size</key>
            <string>{1446,901}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:133a193020539013d53076a2325afd0a:abee2656b04a0880faf486669e1946d0:21c6079b3159cd0725808eb1046f7a4e$</string>
            <key>textureFileName</key>
            <string>lobby_weidel_festival_center.png</string>
        </dict>
    </dict>
</plist>
