<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_forest_fx_star_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-15}</string>
                <key>spriteSize</key>
                <string>{112,108}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1133,325},{112,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{120,114}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1475,157},{120,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-11}</string>
                <key>spriteSize</key>
                <string>{118,110}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1343,285},{118,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,3}</string>
                <key>spriteSize</key>
                <string>{120,144}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{863,351},{120,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,6}</string>
                <key>spriteSize</key>
                <string>{132,146}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{985,351},{132,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_fx_star_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,6}</string>
                <key>spriteSize</key>
                <string>{140,154}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1537,1},{140,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,10}</string>
                <key>spriteSize</key>
                <string>{152,160}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{709,327},{152,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,1}</string>
                <key>spriteSize</key>
                <string>{174,180}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{191,303},{174,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,12}</string>
                <key>spriteSize</key>
                <string>{168,162}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{545,327},{168,162}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_fx_star_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{176,162}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{367,279},{176,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{178,158}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1183,145},{178,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_fx_star_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,17}</string>
                <key>spriteSize</key>
                <string>{194,154}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{951,1},{194,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,15}</string>
                <key>spriteSize</key>
                <string>{180,152}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{569,173},{180,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,13}</string>
                <key>spriteSize</key>
                <string>{180,150}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{931,199},{180,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,5}</string>
                <key>spriteSize</key>
                <string>{200,142}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1147,1},{200,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,150}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1349,1},{186,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,8}</string>
                <key>spriteSize</key>
                <string>{188,178}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{1,303},{188,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{188,170}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{569,1},{188,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_fx_star_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-4}</string>
                <key>spriteSize</key>
                <string>{152,178}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{751,173},{152,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_fx_star_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-3}</string>
                <key>spriteSize</key>
                <string>{166,190}</string>
                <key>spriteSourceSize</key>
                <string>{262,196}</string>
                <key>textureRect</key>
                <string>{{759,1},{166,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_gg_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,26}</string>
                <key>spriteSourceSize</key>
                <string>{21,26}</string>
                <key>textureRect</key>
                <string>{{301,279},{21,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_gg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,40}</string>
                <key>spriteSourceSize</key>
                <string>{266,76}</string>
                <key>textureRect</key>
                <string>{{951,157},{230,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_haert.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{62,54}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{1113,199},{62,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_haert_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,104}</string>
                <key>spriteSourceSize</key>
                <string>{92,104}</string>
                <key>textureRect</key>
                <string>{{1247,325},{92,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_haert_gift_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,90}</string>
                <key>spriteSourceSize</key>
                <string>{100,90}</string>
                <key>textureRect</key>
                <string>{{1492,352},{100,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_home_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,276}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{301,1},{266,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_home_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{298,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{298,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_reward_dia.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1597,157},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_reward_egg_common_unknown.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{1247,431},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_reward_egg_middle_mystery.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,79}</string>
                <key>spriteSourceSize</key>
                <string>{64,79}</string>
                <key>textureRect</key>
                <string>{{1328,431},{64,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_reward_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,130}</string>
                <key>spriteSourceSize</key>
                <string>{130,130}</string>
                <key>textureRect</key>
                <string>{{1343,153},{130,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_reward_fruit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,77}</string>
                <key>spriteSourceSize</key>
                <string>{101,77}</string>
                <key>textureRect</key>
                <string>{{1475,273},{101,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_reward_fruit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,80}</string>
                <key>textureRect</key>
                <string>{{1597,259},{100,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dragon_forest_reward_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,90}</string>
                <key>spriteSourceSize</key>
                <string>{86,90}</string>
                <key>textureRect</key>
                <string>{{1584,361},{86,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dragon_forest_reward_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,81}</string>
                <key>spriteSourceSize</key>
                <string>{95,81}</string>
                <key>textureRect</key>
                <string>{{1409,397},{95,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_forest.png</string>
            <key>size</key>
            <string>{1678,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:85df0e8a6e52a0f7f47d2cf015d76875:3e757a8a4bee85da0bfe5f097b2bf234:89a489f6514c431abc5c1044081ec478$</string>
            <key>textureFileName</key>
            <string>dragon_forest.png</string>
        </dict>
    </dict>
</plist>
