<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loading_ani_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{136,1},{104,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{96,103}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{109,954},{96,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-7}</string>
                <key>spriteSize</key>
                <string>{106,119}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,697},{106,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-6}</string>
                <key>spriteSize</key>
                <string>{104,121}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{136,107},{104,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_ani_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{100,131}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,187},{100,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,133}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{88,133}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,97},{88,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-3}</string>
                <key>spriteSize</key>
                <string>{102,127}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,289},{102,127}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-5}</string>
                <key>spriteSize</key>
                <string>{106,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,393},{106,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-5}</string>
                <key>spriteSize</key>
                <string>{102,123}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,501},{102,123}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{90,121}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,605},{90,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{96,115}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{126,548},{96,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{96,107}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{114,856},{96,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{104,105}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{136,1},{104,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,8}</string>
                <key>spriteSize</key>
                <string>{98,111}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{130,344},{98,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,6}</string>
                <key>spriteSize</key>
                <string>{98,111}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,805},{98,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-3}</string>
                <key>spriteSize</key>
                <string>{106,101}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{1,905},{106,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_ani_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-6}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{134,230},{112,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{104,113}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{122,750},{104,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{102,115}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{126,444},{102,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_ani_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-8}</string>
                <key>spriteSize</key>
                <string>{102,117}</string>
                <key>spriteSourceSize</key>
                <string>{118,133}</string>
                <key>textureRect</key>
                <string>{{124,646},{102,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{173,1052},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_rsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{16,16}</string>
                <key>textureRect</key>
                <string>{{223,856},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_loading_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1008},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rsc_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,1052},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rsc_dia_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{131,1052},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{242,1099}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b64491555cd868a6a3f58afc36dbaf98:e5a02902c8bdfdb349f1496870071fbe:e75714c0871c497b76d71a94e9da90fb$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
