<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_caninetooth_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,93},{51,94}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,12},{51,94}}</string>
                <key>sourceSize</key>
                <string>{71,120}</string>
            </dict>
            <key>missile_caninetooth_dark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{65,163}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{65,163}}</string>
                <key>sourceSize</key>
                <string>{83,175}</string>
            </dict>
            <key>missile_caninetooth_dark_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,2},{53,89}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,5},{53,89}}</string>
                <key>sourceSize</key>
                <string>{79,97}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_caninetooth_dark.png</string>
            <key>size</key>
            <string>{124,189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9091f205ff3611e3d636d69d27833ef:4de0aceb244846d018f26057fd4afb36:dd1aafc76348dac1405a7954e5d4fe83$</string>
            <key>textureFileName</key>
            <string>missile_caninetooth_dark.png</string>
        </dict>
    </dict>
</plist>
