<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_bat_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,63}</string>
                <key>spriteSourceSize</key>
                <string>{94,63}</string>
                <key>textureRect</key>
                <string>{{1,64},{94,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_bat_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-8}</string>
                <key>spriteSize</key>
                <string>{72,83}</string>
                <key>spriteSourceSize</key>
                <string>{94,125}</string>
                <key>textureRect</key>
                <string>{{1,129},{72,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_bat_dark_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,18}</string>
                <key>spriteSize</key>
                <string>{86,61}</string>
                <key>spriteSourceSize</key>
                <string>{94,125}</string>
                <key>textureRect</key>
                <string>{{1,1},{86,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_bat_dark.png</string>
            <key>size</key>
            <string>{96,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b3abbf3d12ef2d3ecbebd85765322dd3:8971754d00209ba81b35fc49d58a872e:a63c6f76a99efd819a30cca93403858c$</string>
            <key>textureFileName</key>
            <string>missile_bat_dark.png</string>
        </dict>
    </dict>
</plist>
