<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_1_cloud_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,1154},{888,480}}</string>
                <key>offset</key>
                <string>{854,560}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2330,0},{888,480}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple_1_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1996,1150}}</string>
                <key>offset</key>
                <string>{-94,137}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{828,88},{1996,1150}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple_2_object_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1470},{206,164}}</string>
                <key>offset</key>
                <string>{136,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{833,558},{206,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1678},{154,194}}</string>
                <key>offset</key>
                <string>{116,-562}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{839,1265},{154,194}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,328},{32,254}}</string>
                <key>offset</key>
                <string>{112,-606}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{896,1279},{32,254}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,2},{28,324}}</string>
                <key>offset</key>
                <string>{208,-617}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{994,1255},{28,324}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_chain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,774},{24,164}}</string>
                <key>offset</key>
                <string>{291,-493}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1079,1211},{24,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,1986},{30,52}}</string>
                <key>offset</key>
                <string>{459,-368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1244,1142},{30,52}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_5_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,940},{18,122}}</string>
                <key>offset</key>
                <string>{499,-614}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1490,1353},{18,122}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{1388,884}}</string>
                <key>offset</key>
                <string>{12,-358}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,716},{1388,884}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_sword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1154},{164,314}}</string>
                <key>offset</key>
                <string>{-119,-362}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{799,1005},{164,314}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_water_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,1064},{38,72}}</string>
                <key>offset</key>
                <string>{328,-391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1309,1155},{38,72}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_water_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,1874},{136,170}}</string>
                <key>offset</key>
                <string>{352,-307}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1284,1022},{136,170}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_water_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,1874},{110,26}}</string>
                <key>offset</key>
                <string>{378,-723}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1323,1510},{110,26}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_5_water_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2000,584},{188,38}}</string>
                <key>offset</key>
                <string>{350,-698}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1256,1479},{188,38}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>sky_temple_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2030,2},{10,8}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,148},{10,8}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_1.png</string>
            <key>size</key>
            <string>{2044,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab574bd09f06cefb18fbbc94381fb082:00b97483dbbfa70b0bc148c75dcde5d6:f78fdbdb393dd00e99e39531d20a8f0c$</string>
            <key>textureFileName</key>
            <string>sky_temple_1.png</string>
        </dict>
    </dict>
</plist>
