<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_5_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1288,470},{16,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,368},{16,64}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{700,444}}</string>
                <key>offset</key>
                <string>{6,-178}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,356},{700,444}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_object_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,448},{374,428}}</string>
                <key>offset</key>
                <string>{-10,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,372},{374,428}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_sword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,768},{80,194}}</string>
                <key>offset</key>
                <string>{-250,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,486},{80,194}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_sword_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,768},{96,238}}</string>
                <key>offset</key>
                <string>{-141,-135}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,416},{96,238}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_sword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,636},{92,166}}</string>
                <key>offset</key>
                <string>{-61,-183}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,500},{92,166}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,768},{208,236}}</string>
                <key>offset</key>
                <string>{50,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,176},{208,236}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,448},{188,186}}</string>
                <key>offset</key>
                <string>{-117,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,231},{188,186}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,768},{206,198}}</string>
                <key>offset</key>
                <string>{136,-78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,299},{206,198}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,878},{148,120}}</string>
                <key>offset</key>
                <string>{-145,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,359},{148,120}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_tree_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,768},{226,144}}</string>
                <key>offset</key>
                <string>{-4,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,335},{226,144}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_tree_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,878},{166,126}}</string>
                <key>offset</key>
                <string>{67,-158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,415},{166,126}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>sky_temple_5_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,870},{56,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,333},{56,134}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,878},{74,96}}</string>
                <key>offset</key>
                <string>{178,-305}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{641,657},{74,96}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,448},{20,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{490,372},{20,52}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,964},{44,36}}</string>
                <key>offset</key>
                <string>{162,-267}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{640,649},{44,36}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,976},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,383},{50,34}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,470},{58,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{471,382},{58,36}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,804},{64,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{468,357},{64,86}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,976},{98,30}}</string>
                <key>offset</key>
                <string>{181,-269}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{632,654},{98,30}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,530},{60,18}}</string>
                <key>offset</key>
                <string>{189,-362}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{659,753},{60,18}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_5_water_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,976},{98,22}}</string>
                <key>offset</key>
                <string>{175,-349}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{626,738},{98,22}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>sky_temple_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>sky_temple_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{566,1008}}</string>
                <key>offset</key>
                <string>{16,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,244},{566,1008}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_5.png</string>
            <key>size</key>
            <string>{1952,1012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28be4eec155097616da1ba07d71dfc93:9e3046c8a61e3a31c6f36314df96e928:a5ba167e3dd7c4382a27c8ebc5fb8a45$</string>
            <key>textureFileName</key>
            <string>sky_temple_5.png</string>
        </dict>
    </dict>
</plist>
