<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>sky_temple_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1604},{626,380}}</string>
                <key>offset</key>
                <string>{336,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1943,628},{626,380}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple_3_object_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{568,418}}</string>
                <key>offset</key>
                <string>{10,344}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,247},{568,418}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,1604},{808,378}}</string>
                <key>offset</key>
                <string>{-439,-527}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,1138},{808,378}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_2.png</string>
            <key>size</key>
            <string>{2010,2024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a929cd3655e120131d47e0d8e9ab989d:019baded76b4c5b1cb9b55fa064e37aa:f78fdbdb393dd00e99e39531d20a8f0c$</string>
            <key>textureFileName</key>
            <string>sky_temple_2.png</string>
        </dict>
    </dict>
</plist>
