<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_role_healer_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{324,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{324,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_role_healer.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f4088e7db94a30126e42388afe25c9:dd2249f60cd8a7ab43ad281b04d6332d:305980c559ce010db2900629d1472fa9$</string>
            <key>textureFileName</key>
            <string>egg_role_healer.png</string>
        </dict>
    </dict>
</plist>
