<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,96}</string>
                <key>spriteSourceSize</key>
                <string>{128,96}</string>
                <key>textureRect</key>
                <string>{{155,1889},{128,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_dragon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1,1889},{152,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_logo_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{579,304}</string>
                <key>spriteSourceSize</key>
                <string>{593,304}</string>
                <key>textureRect</key>
                <string>{{539,963},{579,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_tamer_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,22}</string>
                <key>spriteSize</key>
                <string>{476,482}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1189,1351},{476,482}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_tamer_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{17,-5}</string>
                <key>spriteSize</key>
                <string>{478,634}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1283,715},{478,634}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_tamer_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,12}</string>
                <key>spriteSize</key>
                <string>{524,474}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,1363},{524,474}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_tamer_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,38}</string>
                <key>spriteSize</key>
                <string>{398,536}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{1,963},{398,536}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_tamer_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-20}</string>
                <key>spriteSize</key>
                <string>{712,686}</string>
                <key>spriteSourceSize</key>
                <string>{900,900}</string>
                <key>textureRect</key>
                <string>{{1283,1},{712,686}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_tamer_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-32}</string>
                <key>spriteSize</key>
                <string>{434,424}</string>
                <key>spriteSourceSize</key>
                <string>{720,720}</string>
                <key>textureRect</key>
                <string>{{477,1544},{434,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_tamer_0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{342,536}</string>
                <key>spriteSourceSize</key>
                <string>{342,536}</string>
                <key>textureRect</key>
                <string>{{845,963},{342,536}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:010d377a28ba27f864910dcba3351c71:118c9e4ff0753065a97824b8d664cbf2:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
