<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_sprout_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,590},{53,50}}</string>
                <key>offset</key>
                <string>{3,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,172},{53,50}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,556},{53,68}}</string>
                <key>offset</key>
                <string>{3,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,154},{53,68}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,488},{53,100}}</string>
                <key>offset</key>
                <string>{3,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,125},{53,100}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,230},{53,108}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,116},{53,108}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,106},{53,122}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,99},{53,122}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,340},{59,146}}</string>
                <key>offset</key>
                <string>{-1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,77},{59,146}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{65,148}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,75},{65,148}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{63,150}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,75},{63,150}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{63,146}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,76},{63,146}}</string>
                <key>sourceSize</key>
                <string>{175,244}</string>
            </dict>
            <key>effect_sprout_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,642},{32,73}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{32,73}}</string>
                <key>sourceSize</key>
                <string>{50,77}</string>
            </dict>
            <key>effect_sprout_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{111,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,102}}</string>
                <key>sourceSize</key>
                <string>{111,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_sprout.png</string>
            <key>size</key>
            <string>{128,676}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b9b4c90dc461d7d25accd7a68ea3747:7668be7b54a0b24ec77cc4333a4eb9ff:d5051b658e08dff03af574095f01d80f$</string>
            <key>textureFileName</key>
            <string>effect_sprout.png</string>
        </dict>
    </dict>
</plist>
