<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano3_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>bg_volcano3_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,768},{228,166}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{228,166}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_volcano3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,768},{8,8}}</string>
                <key>offset</key>
                <string>{-349,197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,279},{8,8}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>bg_volcano3_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{466,438}}</string>
                <key>offset</key>
                <string>{-549,-205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,786},{466,438}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano3_6.png</string>
            <key>size</key>
            <string>{682,1208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d07ebd30cfd9bdb0c0be94e014b5750:f22f9676f51e7be28049a0de0da28f73:f2451bcb51be07d94384327f1954da2f$</string>
            <key>textureFileName</key>
            <string>volcano3_6.png</string>
        </dict>
    </dict>
</plist>
