<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_maloden_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{454,390}</string>
                <key>spriteSourceSize</key>
                <string>{500,432}</string>
                <key>textureRect</key>
                <string>{{1,318},{454,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,102}</string>
                <key>spriteSourceSize</key>
                <string>{105,102}</string>
                <key>textureRect</key>
                <string>{{361,875},{105,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,166}</string>
                <key>textureRect</key>
                <string>{{1318,789},{152,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,345}</string>
                <key>spriteSourceSize</key>
                <string>{369,363}</string>
                <key>textureRect</key>
                <string>{{1336,1},{351,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,545}</string>
                <key>spriteSourceSize</key>
                <string>{567,563}</string>
                <key>textureRect</key>
                <string>{{789,1},{549,545}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,68}</string>
                <key>spriteSourceSize</key>
                <string>{459,86}</string>
                <key>textureRect</key>
                <string>{{1630,496},{441,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,60}</string>
                <key>spriteSourceSize</key>
                <string>{503,78}</string>
                <key>textureRect</key>
                <string>{{717,318},{485,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{558,172}</string>
                <key>spriteSourceSize</key>
                <string>{566,190}</string>
                <key>textureRect</key>
                <string>{{779,552},{558,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,258}</string>
                <key>spriteSourceSize</key>
                <string>{573,276}</string>
                <key>textureRect</key>
                <string>{{457,318},{555,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,315}</string>
                <key>spriteSourceSize</key>
                <string>{804,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{786,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{259,232}</string>
                <key>spriteSourceSize</key>
                <string>{279,250}</string>
                <key>textureRect</key>
                <string>{{1057,726},{259,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{358,245}</string>
                <key>spriteSourceSize</key>
                <string>{392,269}</string>
                <key>textureRect</key>
                <string>{{1,710},{358,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,140}</string>
                <key>spriteSourceSize</key>
                <string>{378,158}</string>
                <key>textureRect</key>
                <string>{{1336,354},{360,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,291}</string>
                <key>spriteSourceSize</key>
                <string>{307,309}</string>
                <key>textureRect</key>
                <string>{{1339,496},{289,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_maloden_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,276}</string>
                <key>spriteSourceSize</key>
                <string>{277,294}</string>
                <key>textureRect</key>
                <string>{{779,726},{259,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{133,114}</string>
                <key>textureRect</key>
                <string>{{1472,789},{115,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_maloden_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{361,710},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_maloden_light.png</string>
            <key>size</key>
            <string>{1699,986}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41986a7d9ce6aae86173ffcc971b91de:8a650f0cb9e2d0f3edf29644488a5799:66e84e0eaeac4431050d3afbf6e65800$</string>
            <key>textureFileName</key>
            <string>skill_maloden_light.png</string>
        </dict>
    </dict>
</plist>
