<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_damage_reflect_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{493,493}</string>
                <key>textureRect</key>
                <string>{{1,334},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_damage_reflect_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{217,217}</string>
                <key>spriteSourceSize</key>
                <string>{493,493}</string>
                <key>textureRect</key>
                <string>{{220,334},{217,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_damage_reflect_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{331,347}</string>
                <key>spriteSourceSize</key>
                <string>{493,493}</string>
                <key>textureRect</key>
                <string>{{1,1},{331,347}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_damage_reflect_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{493,493}</string>
                <key>textureRect</key>
                <string>{{1,553},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_damage_reflect_res_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,52}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{416,68},{53,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_damage_reflect_res_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,66}</string>
                <key>spriteSourceSize</key>
                <string>{65,66}</string>
                <key>textureRect</key>
                <string>{{420,1},{65,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_damage_reflect_res_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,45}</string>
                <key>spriteSourceSize</key>
                <string>{68,45}</string>
                <key>textureRect</key>
                <string>{{350,1},{68,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_damage_reflect_res_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{350,48},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_damage_reflect.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49ca7dada48630f55dd714a755fd04ff:9c21407c97b4faee9e5e02967fc207b4:8157a0c95964bb94ff507e449884b2dd$</string>
            <key>textureFileName</key>
            <string>effect_damage_reflect.png</string>
        </dict>
    </dict>
</plist>
