<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_solar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{328,332}</string>
                <key>spriteSourceSize</key>
                <string>{352,364}</string>
                <key>textureRect</key>
                <string>{{1,473},{328,332}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_solar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{470,472}</string>
                <key>spriteSourceSize</key>
                <string>{492,508}</string>
                <key>textureRect</key>
                <string>{{1,1},{470,472}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_solar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{225,219}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{250,845},{225,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{225,207}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1,1048},{225,207}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,243}</string>
                <key>spriteSourceSize</key>
                <string>{247,243}</string>
                <key>textureRect</key>
                <string>{{1,803},{247,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{261,87}</string>
                <key>spriteSourceSize</key>
                <string>{301,137}</string>
                <key>textureRect</key>
                <string>{{335,582},{261,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_solar_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{193,191}</string>
                <key>spriteSourceSize</key>
                <string>{207,191}</string>
                <key>textureRect</key>
                <string>{{228,1066},{193,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{135,125}</string>
                <key>textureRect</key>
                <string>{{335,473},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{56,59}</string>
                <key>spriteSourceSize</key>
                <string>{72,71}</string>
                <key>textureRect</key>
                <string>{{423,1066},{56,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_solar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{424,582},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_solar.png</string>
            <key>size</key>
            <string>{480,1258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b36d48639d717aecff4ab23bc3f1eb99:0924047fac0757b05f259ebed2033dd2:680d2f9616082ed94d155ab0288153c1$</string>
            <key>textureFileName</key>
            <string>skill_solar.png</string>
        </dict>
    </dict>
</plist>
