<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_giantdragon_meteor_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,62},{58,52}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{58,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,2},{58,56}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{58,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,96},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,96},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{58,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,93},{62,60}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{62,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,91},{62,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{749,84},{62,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{62,66}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,96},{58,60}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,2},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{152,241}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{152,241}}</string>
                <key>sourceSize</key>
                <string>{160,275}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{55,87}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,32},{55,87}}</string>
                <key>sourceSize</key>
                <string>{57,125}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,2},{45,113}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{45,113}}</string>
                <key>sourceSize</key>
                <string>{57,125}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{69,94}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{69,94}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{65,102}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{65,102}}</string>
                <key>sourceSize</key>
                <string>{73,112}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,106},{40,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{40,75}}</string>
                <key>sourceSize</key>
                <string>{56,91}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{56,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{56,89}}</string>
                <key>sourceSize</key>
                <string>{56,91}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{92,156}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,15},{92,156}}</string>
                <key>sourceSize</key>
                <string>{104,186}</string>
            </dict>
            <key>missile_giantdragon_meteor_fire_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,106},{64,44}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,23},{64,44}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_giantdragon_meteor_fire.png</string>
            <key>size</key>
            <string>{871,156}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0a1b8a45b02447dc1d18bfe9f7e3679:d84f86acd3b593fbc1e665fd9952c3a1:c65f7f3c28652fb54530b654e6794bb5$</string>
            <key>textureFileName</key>
            <string>missile_giantdragon_meteor_fire.png</string>
        </dict>
    </dict>
</plist>
