<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>contents_open_colosseum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,369},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,369},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{297,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_frame_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,366}</string>
                <key>spriteSourceSize</key>
                <string>{294,366}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{579,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_scenario.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,651},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contents_open_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,651},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>contents_open.png</string>
            <key>size</key>
            <string>{860,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0cff83ef27d0ee9c19c7ce22cb02170d:dd5821b1f97e7488b371e25a41f758c6:5671108737e692c53f00637771498e45$</string>
            <key>textureFileName</key>
            <string>contents_open.png</string>
        </dict>
    </dict>
</plist>
