<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_spider_web_skein_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{78,95}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,56},{78,95}}</string>
                <key>sourceSize</key>
                <string>{204,189}</string>
            </dict>
            <key>effect_spider_web_skein_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{68,99}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,55},{68,99}}</string>
                <key>sourceSize</key>
                <string>{204,189}</string>
            </dict>
            <key>effect_spider_web_skein_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,103},{8,137}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,31},{8,137}}</string>
                <key>sourceSize</key>
                <string>{204,189}</string>
            </dict>
            <key>effect_spider_web_skein_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,102}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,36},{108,102}}</string>
                <key>sourceSize</key>
                <string>{186,178}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_spider_web_skein.png</string>
            <key>size</key>
            <string>{256,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7919bb0f56920d66fac0b99e23b604cb:8e34acf4188a60f99bdb50d0fdfe9b5c:c91b29279f284a665af6eb9e0365e006$</string>
            <key>textureFileName</key>
            <string>effect_spider_web_skein.png</string>
        </dict>
    </dict>
</plist>
