<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_minidragon_res_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,4}</string>
                <key>spriteSize</key>
                <string>{890,76}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,719},{890,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_01_1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,4}</string>
                <key>spriteSize</key>
                <string>{952,140}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1057,205},{952,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,15}</string>
                <key>spriteSize</key>
                <string>{812,78}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{941,669},{812,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_minidragon_res_01_2_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,15}</string>
                <key>spriteSize</key>
                <string>{876,144}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,937},{876,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-3}</string>
                <key>spriteSize</key>
                <string>{820,72}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,1083},{820,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_01_3_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-3}</string>
                <key>spriteSize</key>
                <string>{882,138}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,797},{882,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{938,138}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,579},{938,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_1_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{1000,200}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1031,347},{1000,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{966,202}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1057,1},{966,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_2_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{1028,266}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,311},{1028,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{992,246}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1031,549},{992,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_02_3_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1054,308}</string>
                <key>spriteSourceSize</key>
                <string>{1054,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{1054,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{941,579},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_minidragon_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,1483},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_minidragon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4bcd2cb86b6b4b24a210c776a28c40:6102e29074515e71b0771a9d6cd2f7e3:5890e9de3a2d33d948af91bdc5e061cf$</string>
            <key>textureFileName</key>
            <string>skill_minidragon.png</string>
        </dict>
    </dict>
</plist>
