<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1384,853},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_re_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{722,303},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_re_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,283}</string>
                <key>spriteSourceSize</key>
                <string>{282,283}</string>
                <key>textureRect</key>
                <string>{{1239,1},{282,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_blue_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{1131,511},{165,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_dark_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{951,807},{165,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_earth_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{1129,675},{165,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_fire_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{1118,839},{165,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>particle_light_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{165,162}</string>
                <key>spriteSourceSize</key>
                <string>{177,186}</string>
                <key>textureRect</key>
                <string>{{1296,689},{165,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{348,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{272,272}</string>
                <key>textureRect</key>
                <string>{{466,303},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_scratch_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,175}</string>
                <key>spriteSourceSize</key>
                <string>{165,193}</string>
                <key>textureRect</key>
                <string>{{954,505},{147,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_stra_scratch_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1463,687},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{699,658},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{1151,303},{99,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1285,853},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,120}</string>
                <key>spriteSize</key>
                <string>{113,93}</string>
                <key>spriteSourceSize</key>
                <string>{377,401}</string>
                <key>textureRect</key>
                <string>{{865,658},{113,93}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,84}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{377,401}</string>
                <key>textureRect</key>
                <string>{{1422,518},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{85,-4}</string>
                <key>spriteSize</key>
                <string>{151,147}</string>
                <key>spriteSourceSize</key>
                <string>{377,401}</string>
                <key>textureRect</key>
                <string>{{980,654},{151,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tem_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{60,-90}</string>
                <key>spriteSize</key>
                <string>{187,169}</string>
                <key>spriteSourceSize</key>
                <string>{377,401}</string>
                <key>textureRect</key>
                <string>{{1252,286},{187,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{161,275}</string>
                <key>spriteSourceSize</key>
                <string>{377,401}</string>
                <key>textureRect</key>
                <string>{{303,333},{161,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{60,148}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,937},{60,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tem_dark_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,333},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_dark_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{722,534},{122,230}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tem_earth_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{333,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_earth_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1441,286},{122,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_fire_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,635},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_fire_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1298,457},{122,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{635,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{196,200}</string>
                <key>textureRect</key>
                <string>{{953,303},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{196,200}</string>
                <key>textureRect</key>
                <string>{{303,610},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{196,200}</string>
                <key>textureRect</key>
                <string>{{303,812},{196,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tem_light_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{196,200}</string>
                <key>textureRect</key>
                <string>{{501,559},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{703,754},{122,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_light_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{196,200}</string>
                <key>textureRect</key>
                <string>{{505,761},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_water_big.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{937,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tem_water_small.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-10}</string>
                <key>spriteSize</key>
                <string>{122,230}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{827,754},{122,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_temperentina.png</string>
            <key>size</key>
            <string>{1592,1009}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61cd9a32bc1ce30d4c752ab41ac54278:32c12a97a3c1883e685240bb053792b6:509687bf3e58589024443189ee462ca6$</string>
            <key>textureFileName</key>
            <string>skill_temperentina.png</string>
        </dict>
    </dict>
</plist>
