<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_shop_noti_candy.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{39,41}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{39,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lobby_shop_noti_event_popularity.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{37,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lobby_shop_noti_holoween.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{45,43}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,43}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>lobby_shop_noti_special.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{83,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{83,23}}</string>
                <key>sourceSize</key>
                <string>{85,25}</string>
            </dict>
            <key>lobby_shop_noti_special_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,30},{29,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{29,31}}</string>
                <key>sourceSize</key>
                <string>{35,35}</string>
            </dict>
            <key>lobby_shop_noti_summer.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,30},{39,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{39,29}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>res_lucky_bag.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{43,39}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{43,39}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>res_lucky_marble.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,2},{41,41}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{41,41}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>res_noti_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,34}}</string>
                <key>sourceSize</key>
                <string>{128,34}</string>
            </dict>
            <key>res_noti_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{78,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{78,26}}</string>
                <key>sourceSize</key>
                <string>{100,34}</string>
            </dict>
            <key>res_noti_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{47,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{47,42}}</string>
                <key>sourceSize</key>
                <string>{47,42}</string>
            </dict>
            <key>res_roulette_ticket.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,2},{43,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{43,33}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_shop_noti.png</string>
            <key>size</key>
            <string>{500,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d125c5513f8aa543eeb4c01112399dd6:52e62eaca2c830468a3bb6809469ebec:d6b38f772483984b8a33ea5fa6ce77ba$</string>
            <key>textureFileName</key>
            <string>lobby_shop_noti.png</string>
        </dict>
    </dict>
</plist>
