<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lorus_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{87,403},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,15}</string>
                <key>spriteSourceSize</key>
                <string>{42,33}</string>
                <key>textureRect</key>
                <string>{{127,178},{24,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,146}</string>
                <key>spriteSourceSize</key>
                <string>{171,164}</string>
                <key>textureRect</key>
                <string>{{276,1},{153,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,92}</string>
                <key>spriteSourceSize</key>
                <string>{117,110}</string>
                <key>textureRect</key>
                <string>{{366,315},{99,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,131}</string>
                <key>spriteSourceSize</key>
                <string>{152,149}</string>
                <key>textureRect</key>
                <string>{{145,178},{134,131}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,175}</string>
                <key>spriteSourceSize</key>
                <string>{165,193}</string>
                <key>textureRect</key>
                <string>{{127,1},{147,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,212}</string>
                <key>spriteSourceSize</key>
                <string>{142,230}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,186}</string>
                <key>spriteSourceSize</key>
                <string>{129,204}</string>
                <key>textureRect</key>
                <string>{{1,215},{111,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,128}</string>
                <key>spriteSourceSize</key>
                <string>{93,146}</string>
                <key>textureRect</key>
                <string>{{278,238},{75,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,29}</string>
                <key>spriteSourceSize</key>
                <string>{226,47}</string>
                <key>textureRect</key>
                <string>{{114,215},{208,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_10a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,38}</string>
                <key>spriteSourceSize</key>
                <string>{234,56}</string>
                <key>textureRect</key>
                <string>{{87,429},{216,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,49}</string>
                <key>spriteSourceSize</key>
                <string>{213,67}</string>
                <key>textureRect</key>
                <string>{{305,423},{195,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_11b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,58}</string>
                <key>spriteSourceSize</key>
                <string>{223,76}</string>
                <key>textureRect</key>
                <string>{{431,1},{205,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,114}</string>
                <key>spriteSourceSize</key>
                <string>{131,132}</string>
                <key>textureRect</key>
                <string>{{145,314},{113,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lorus_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{56,76}</string>
                <key>textureRect</key>
                <string>{{450,208},{38,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,35}</string>
                <key>spriteSourceSize</key>
                <string>{65,53}</string>
                <key>textureRect</key>
                <string>{{450,268},{47,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,81}</string>
                <key>spriteSourceSize</key>
                <string>{58,99}</string>
                <key>textureRect</key>
                <string>{{408,208},{40,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,46}</string>
                <key>spriteSourceSize</key>
                <string>{55,64}</string>
                <key>textureRect</key>
                <string>{{460,305},{37,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,87}</string>
                <key>spriteSourceSize</key>
                <string>{144,105}</string>
                <key>textureRect</key>
                <string>{{278,149},{126,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{460,353},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,56}</string>
                <key>spriteSourceSize</key>
                <string>{102,74}</string>
                <key>textureRect</key>
                <string>{{1,403},{84,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lorus_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,106}</string>
                <key>spriteSourceSize</key>
                <string>{121,124}</string>
                <key>textureRect</key>
                <string>{{261,315},{103,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_lorus.png</string>
            <key>size</key>
            <string>{501,473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98b5afc98071b36fb747319a5b5d5e56:700b769a6ab4a4333166f26d39b06327:43849740c904187c6da9a342cbc0400d$</string>
            <key>textureFileName</key>
            <string>skill_lorus.png</string>
        </dict>
    </dict>
</plist>
