<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fever_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,180}</string>
                <key>spriteSourceSize</key>
                <string>{1280,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0101_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,36}</string>
                <key>spriteSourceSize</key>
                <string>{1280,36}</string>
                <key>textureRect</key>
                <string>{{1,183},{1280,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,136}</string>
                <key>spriteSourceSize</key>
                <string>{636,136}</string>
                <key>textureRect</key>
                <string>{{1,1411},{636,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,122}</string>
                <key>spriteSourceSize</key>
                <string>{622,122}</string>
                <key>textureRect</key>
                <string>{{665,611},{622,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{1051,1057},{243,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,102}</string>
                <key>spriteSourceSize</key>
                <string>{321,102}</string>
                <key>textureRect</key>
                <string>{{1495,1},{321,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,39}</string>
                <key>spriteSourceSize</key>
                <string>{226,39}</string>
                <key>textureRect</key>
                <string>{{1407,609},{226,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_0303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,36}</string>
                <key>spriteSourceSize</key>
                <string>{85,36}</string>
                <key>textureRect</key>
                <string>{{1578,324},{85,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_gg_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{720,56}</string>
                <key>spriteSourceSize</key>
                <string>{720,56}</string>
                <key>textureRect</key>
                <string>{{639,1476},{720,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_gg_0101_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,79}</string>
                <key>spriteSourceSize</key>
                <string>{740,79}</string>
                <key>textureRect</key>
                <string>{{559,1321},{740,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_gg_0101_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,48}</string>
                <key>spriteSourceSize</key>
                <string>{143,54}</string>
                <key>textureRect</key>
                <string>{{1139,1198},{121,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_gg_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{753,72}</string>
                <key>spriteSourceSize</key>
                <string>{753,72}</string>
                <key>textureRect</key>
                <string>{{639,1402},{753,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_gg_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,53}</string>
                <key>spriteSourceSize</key>
                <string>{258,53}</string>
                <key>textureRect</key>
                <string>{{1385,905},{258,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_idle_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,74}</string>
                <key>spriteSourceSize</key>
                <string>{60,74}</string>
                <key>textureRect</key>
                <string>{{1541,1221},{60,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_idle_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,73}</string>
                <key>spriteSourceSize</key>
                <string>{58,73}</string>
                <key>textureRect</key>
                <string>{{1481,1296},{58,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_idle_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,73}</string>
                <key>spriteSourceSize</key>
                <string>{63,73}</string>
                <key>textureRect</key>
                <string>{{1476,1221},{63,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_idle_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,73}</string>
                <key>spriteSourceSize</key>
                <string>{59,73}</string>
                <key>textureRect</key>
                <string>{{1541,1297},{59,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_idle_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,70}</string>
                <key>spriteSourceSize</key>
                <string>{62,70}</string>
                <key>textureRect</key>
                <string>{{1477,1478},{62,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_idle_star_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1189,1198},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,58}</string>
                <key>spriteSourceSize</key>
                <string>{23,58}</string>
                <key>textureRect</key>
                <string>{{1269,1079},{23,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,58}</string>
                <key>spriteSourceSize</key>
                <string>{34,58}</string>
                <key>textureRect</key>
                <string>{{629,621},{34,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,58}</string>
                <key>spriteSourceSize</key>
                <string>{33,58}</string>
                <key>textureRect</key>
                <string>{{559,1019},{33,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,58}</string>
                <key>spriteSourceSize</key>
                <string>{37,58}</string>
                <key>textureRect</key>
                <string>{{1481,1371},{37,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,57}</string>
                <key>spriteSourceSize</key>
                <string>{34,57}</string>
                <key>textureRect</key>
                <string>{{1538,1430},{34,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fever_number_BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1335,1218},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_failed.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,65}</string>
                <key>spriteSourceSize</key>
                <string>{48,65}</string>
                <key>textureRect</key>
                <string>{{1335,1151},{48,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_failed_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1301,1308},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_success.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,66}</string>
                <key>spriteSourceSize</key>
                <string>{61,66}</string>
                <key>textureRect</key>
                <string>{{1475,1410},{61,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_number_success_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{1391,1308},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_bg.jpg</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,72}</string>
                <key>spriteSourceSize</key>
                <string>{128,72}</string>
                <key>textureRect</key>
                <string>{{1516,1033},{128,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_btn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,117}</string>
                <key>spriteSourceSize</key>
                <string>{128,117}</string>
                <key>textureRect</key>
                <string>{{1139,1079},{128,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_btn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,105}</string>
                <key>spriteSourceSize</key>
                <string>{128,105}</string>
                <key>textureRect</key>
                <string>{{1516,903},{128,105}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_btn_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,113}</string>
                <key>spriteSourceSize</key>
                <string>{81,113}</string>
                <key>textureRect</key>
                <string>{{1495,324},{81,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_btn_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,174}</string>
                <key>spriteSourceSize</key>
                <string>{164,174}</string>
                <key>textureRect</key>
                <string>{{1277,443},{164,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_btn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,50}</string>
                <key>spriteSourceSize</key>
                <string>{114,50}</string>
                <key>textureRect</key>
                <string>{{1361,1478},{114,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_btn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,49}</string>
                <key>spriteSourceSize</key>
                <string>{114,49}</string>
                <key>textureRect</key>
                <string>{{1385,1165},{114,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_btn_0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,49}</string>
                <key>spriteSourceSize</key>
                <string>{89,49}</string>
                <key>textureRect</key>
                <string>{{1425,1216},{89,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_gg_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,74}</string>
                <key>spriteSourceSize</key>
                <string>{245,74}</string>
                <key>textureRect</key>
                <string>{{1440,903},{245,74}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-298,155}</string>
                <key>spriteSize</key>
                <string>{60,56}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1541,1372},{60,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-278,156}</string>
                <key>spriteSize</key>
                <string>{104,56}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1501,1163},{104,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-258,157}</string>
                <key>spriteSize</key>
                <string>{150,54}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1279,1151},{150,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-240,154}</string>
                <key>spriteSize</key>
                <string>{198,64}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1407,837},{198,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-221,145}</string>
                <key>spriteSize</key>
                <string>{244,80}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1303,905},{244,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-203,133}</string>
                <key>spriteSize</key>
                <string>{294,102}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1303,609},{294,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-185,118}</string>
                <key>spriteSize</key>
                <string>{342,130}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1171,735},{342,130}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-168,102}</string>
                <key>spriteSize</key>
                <string>{392,168}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1453,443},{392,168}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,81}</string>
                <key>spriteSize</key>
                <string>{440,210}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1283,1},{440,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_fever_res_0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-132,56}</string>
                <key>spriteSize</key>
                <string>{490,262}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{559,1057},{490,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-114,26}</string>
                <key>spriteSize</key>
                <string>{540,320}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{629,735},{540,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-80,-7}</string>
                <key>spriteSize</key>
                <string>{556,390}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1,1019},{556,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-7}</string>
                <key>spriteSize</key>
                <string>{610,388}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{665,221},{610,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-48,-9}</string>
                <key>spriteSize</key>
                <string>{662,398}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1,221},{662,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,-10}</string>
                <key>spriteSize</key>
                <string>{626,396}</string>
                <key>spriteSourceSize</key>
                <string>{768,420}</string>
                <key>textureRect</key>
                <string>{{1,621},{626,396}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_fever_res_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,78}</string>
                <key>spriteSourceSize</key>
                <string>{79,78}</string>
                <key>textureRect</key>
                <string>{{1394,1398},{79,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_fever.png</string>
            <key>size</key>
            <string>{1622,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31095357b5292524b5c9dace50588978:ef2ff959de01a172c776c8b1fbd7111f:35534a7d3cdc4777c508ddb7878b5055$</string>
            <key>textureFileName</key>
            <string>ingame_fever.png</string>
        </dict>
    </dict>
</plist>
