<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_death_spot_bite_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,264}</string>
                <key>spriteSourceSize</key>
                <string>{48,282}</string>
                <key>textureRect</key>
                <string>{{980,234},{30,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_bite_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,304}</string>
                <key>spriteSourceSize</key>
                <string>{65,322}</string>
                <key>textureRect</key>
                <string>{{389,441},{47,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,138}</string>
                <key>spriteSourceSize</key>
                <string>{202,156}</string>
                <key>textureRect</key>
                <string>{{694,1303},{184,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,151}</string>
                <key>spriteSourceSize</key>
                <string>{215,169}</string>
                <key>textureRect</key>
                <string>{{1,1479},{197,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,153}</string>
                <key>spriteSourceSize</key>
                <string>{221,171}</string>
                <key>textureRect</key>
                <string>{{304,1194},{203,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,151}</string>
                <key>spriteSourceSize</key>
                <string>{203,169}</string>
                <key>textureRect</key>
                <string>{{399,1475},{185,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,117}</string>
                <key>spriteSourceSize</key>
                <string>{217,135}</string>
                <key>textureRect</key>
                <string>{{312,993},{199,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_blood_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{184,142}</string>
                <key>textureRect</key>
                <string>{{181,1349},{166,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_add_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,138}</string>
                <key>spriteSourceSize</key>
                <string>{202,156}</string>
                <key>textureRect</key>
                <string>{{773,1443},{184,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_blood_add_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,151}</string>
                <key>spriteSourceSize</key>
                <string>{215,169}</string>
                <key>textureRect</key>
                <string>{{200,1475},{197,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_add_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,153}</string>
                <key>spriteSourceSize</key>
                <string>{221,171}</string>
                <key>textureRect</key>
                <string>{{608,1008},{203,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_blood_add_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,151}</string>
                <key>spriteSourceSize</key>
                <string>{203,169}</string>
                <key>textureRect</key>
                <string>{{586,1472},{185,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_blood_add_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,117}</string>
                <key>spriteSourceSize</key>
                <string>{217,135}</string>
                <key>textureRect</key>
                <string>{{185,1148},{199,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_blood_add_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,124}</string>
                <key>spriteSourceSize</key>
                <string>{184,142}</string>
                <key>textureRect</key>
                <string>{{349,1349},{166,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_eyelight_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,117}</string>
                <key>spriteSourceSize</key>
                <string>{229,135}</string>
                <key>textureRect</key>
                <string>{{193,935},{211,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_face_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,144}</string>
                <key>spriteSourceSize</key>
                <string>{249,162}</string>
                <key>textureRect</key>
                <string>{{865,1},{231,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_face_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,59}</string>
                <key>spriteSourceSize</key>
                <string>{274,77}</string>
                <key>textureRect</key>
                <string>{{328,441},{256,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_face_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,113}</string>
                <key>spriteSourceSize</key>
                <string>{291,131}</string>
                <key>textureRect</key>
                <string>{{865,234},{273,113}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_face_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,173}</string>
                <key>spriteSourceSize</key>
                <string>{343,191}</string>
                <key>textureRect</key>
                <string>{{824,509},{325,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_face_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,209}</string>
                <key>spriteSourceSize</key>
                <string>{344,227}</string>
                <key>textureRect</key>
                <string>{{437,797},{326,209}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_face_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,233}</string>
                <key>spriteSourceSize</key>
                <string>{343,251}</string>
                <key>textureRect</key>
                <string>{{1,700},{325,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_face_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{325,257}</string>
                <key>spriteSourceSize</key>
                <string>{343,275}</string>
                <key>textureRect</key>
                <string>{{1,441},{325,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_facefire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,190}</string>
                <key>spriteSourceSize</key>
                <string>{198,208}</string>
                <key>textureRect</key>
                <string>{{1,935},{180,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_facefire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,180}</string>
                <key>spriteSourceSize</key>
                <string>{200,198}</string>
                <key>textureRect</key>
                <string>{{1,1117},{182,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_facefire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,181}</string>
                <key>spriteSourceSize</key>
                <string>{193,199}</string>
                <key>textureRect</key>
                <string>{{431,1008},{175,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_facefire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,178}</string>
                <key>spriteSourceSize</key>
                <string>{196,196}</string>
                <key>textureRect</key>
                <string>{{1,1299},{178,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_facefire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,175}</string>
                <key>spriteSourceSize</key>
                <string>{185,193}</string>
                <key>textureRect</key>
                <string>{{517,1303},{167,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_facefire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,185}</string>
                <key>spriteSourceSize</key>
                <string>{210,203}</string>
                <key>textureRect</key>
                <string>{{765,836},{192,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littledust_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{86,91}</string>
                <key>textureRect</key>
                <string>{{913,1397},{68,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_littledust_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,83}</string>
                <key>spriteSourceSize</key>
                <string>{96,101}</string>
                <key>textureRect</key>
                <string>{{763,1128},{78,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littledust_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,88}</string>
                <key>spriteSourceSize</key>
                <string>{109,106}</string>
                <key>textureRect</key>
                <string>{{607,1213},{91,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littledust_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,93}</string>
                <key>spriteSourceSize</key>
                <string>{119,111}</string>
                <key>textureRect</key>
                <string>{{863,1023},{101,93}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_littledust_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,81}</string>
                <key>spriteSourceSize</key>
                <string>{96,99}</string>
                <key>textureRect</key>
                <string>{{843,1128},{78,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littleface_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,92}</string>
                <key>spriteSourceSize</key>
                <string>{119,110}</string>
                <key>textureRect</key>
                <string>{{880,1303},{101,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littlefire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,90}</string>
                <key>spriteSourceSize</key>
                <string>{102,108}</string>
                <key>textureRect</key>
                <string>{{700,1213},{84,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_littlefire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,98}</string>
                <key>spriteSourceSize</key>
                <string>{121,116}</string>
                <key>textureRect</key>
                <string>{{763,1023},{103,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_littlefire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,120}</string>
                <key>spriteSourceSize</key>
                <string>{125,138}</string>
                <key>textureRect</key>
                <string>{{328,749},{107,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littlefire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,110}</string>
                <key>spriteSourceSize</key>
                <string>{114,128}</string>
                <key>textureRect</key>
                <string>{{509,1191},{96,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littlefire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{102,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,138}</string>
                <key>textureRect</key>
                <string>{{328,871},{102,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littlefire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,90}</string>
                <key>spriteSourceSize</key>
                <string>{111,108}</string>
                <key>textureRect</key>
                <string>{{879,1211},{93,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_littlefire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,71}</string>
                <key>spriteSourceSize</key>
                <string>{96,89}</string>
                <key>textureRect</key>
                <string>{{923,1126},{78,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_death_spot_magiccircle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,416}</string>
                <key>spriteSourceSize</key>
                <string>{436,434}</string>
                <key>textureRect</key>
                <string>{{445,1},{418,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_magiccircle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,438}</string>
                <key>spriteSourceSize</key>
                <string>{460,456}</string>
                <key>textureRect</key>
                <string>{{1,1},{442,438}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_round_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,48}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{328,699},{49,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_round_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{103,104}</string>
                <key>textureRect</key>
                <string>{{792,1213},{85,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_death_spot_round_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,377}</string>
                <key>spriteSourceSize</key>
                <string>{394,395}</string>
                <key>textureRect</key>
                <string>{{445,419},{376,377}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_death_spot.png</string>
            <key>size</key>
            <string>{1011,1631}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89be991f30824c2806b11be9b5bea68d:32a309f19df77b63450f4dc2c6c8d9a3:37bafb1cc54240da20ccac408f8bd971$</string>
            <key>textureFileName</key>
            <string>effect_death_spot.png</string>
        </dict>
    </dict>
</plist>
