<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_bg_dark_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1709},{432,297}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,132},{432,297}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1284},{476,311}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,127},{476,311}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_crystal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,1597},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{152,151}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_forest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1701},{76,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,221},{76,125}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,1887},{112,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,242},{112,83}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1284},{170,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,235},{170,97}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1883},{88,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,223},{88,121}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,1720},{120,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,203},{120,161}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{442,423}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,107},{442,423}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,93},{26,25}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,268},{26,25}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1147},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,258},{50,51}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{20,505}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,25},{20,505}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{34,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,239},{34,89}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,951},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,245},{42,77}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,702},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,242},{52,83}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,509},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,255},{90,57}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,601},{52,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,234},{52,99}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1200},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,261},{48,45}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1802},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,260},{46,47}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1965},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,263},{40,41}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,787},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,256},{78,55}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1750},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,265},{50,37}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1030},{60,43}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,258},{60,43}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1887},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,224},{90,119}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1892},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,245},{74,77}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1892},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,248},{82,71}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_sphere_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,1900},{44,43}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,274},{44,43}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_sphere_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,1851},{46,47}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,271},{46,47}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1720},{172,165}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,201},{172,165}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,1750},{140,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,207},{140,153}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1828},{48,73}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,245},{48,73}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,1828},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,247},{48,73}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,1878},{60,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,233},{60,101}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1092},{44,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,257},{44,53}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,867},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,264},{82,39}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_xl_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1597},{190,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,223},{190,121}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_xl_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1597},{102,191}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,189},{102,191}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_earth_grass_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1456},{97,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,46},{97,137}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_bg_dark.png</string>
            <key>size</key>
            <string>{1023,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dde4491c48737ae259922a8bbb2c65c3:d62afa2aff67ce1b2cfb0815fe92407b:566a745fe6c0576f468fa05ee5da4216$</string>
            <key>textureFileName</key>
            <string>dragon_bg_dark.png</string>
        </dict>
    </dict>
</plist>
