<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colosseum_1_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{960,720}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,720}}</string>
                <key>sourceSize</key>
                <string>{960,720}</string>
            </dict>
            <key>colosseum_2_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1732,496},{658,282}}</string>
                <key>offset</key>
                <string>{-593,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,688},{658,282}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{672,162}}</string>
                <key>offset</key>
                <string>{-5,-278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{619,917},{672,162}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,496},{1728,372}}</string>
                <key>offset</key>
                <string>{6,294}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,240},{1728,372}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1331},{1032,326}}</string>
                <key>offset</key>
                <string>{264,434}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,123},{1032,326}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1870,492}}</string>
                <key>offset</key>
                <string>{-25,433}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{1870,492}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_2_cloud_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1046},{356,174}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{356,174}}</string>
                <key>sourceSize</key>
                <string>{376,300}</string>
            </dict>
            <key>colosseum_2_cloud_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,870},{362,174}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,58},{362,174}}</string>
                <key>sourceSize</key>
                <string>{376,300}</string>
            </dict>
            <key>colosseum_3_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1156},{80,108}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,27},{80,108}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1357,1222},{82,120}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,15},{82,120}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1592},{90,126}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{90,126}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1592},{68,136}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{68,136}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,70},{70,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{70,138}}</string>
                <key>sourceSize</key>
                <string>{100,140}</string>
            </dict>
            <key>colosseum_3_fire_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{88,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,117},{88,66}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_3_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,1156},{168,166}}</string>
                <key>offset</key>
                <string>{3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{879,572},{168,166}}</string>
                <key>sourceSize</key>
                <string>{1920,1440}</string>
            </dict>
            <key>colosseum_3_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1967,1156},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1692},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{24,26}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_3_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,870},{391,459}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,6},{391,459}}</string>
                <key>sourceSize</key>
                <string>{593,525}</string>
            </dict>
            <key>colosseum_3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,234},{34,82}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,110},{34,82}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1592},{18,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,131},{18,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_3_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1662},{28,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{544,375},{28,66}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1885,1266},{24,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{546,386},{24,44}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,210},{18,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{549,375},{18,66}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,1592},{18,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,377},{18,62}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,1720},{180,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,391},{180,34}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1998,70},{44,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{536,402},{44,12}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{230,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{443,383},{230,50}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
            <key>colosseum_3_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,1222},{76,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,376},{76,64}}</string>
                <key>sourceSize</key>
                <string>{1116,816}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colosseum_1.png</string>
            <key>size</key>
            <string>{2016,1756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7ccb36cf8127cf35f789ba125027a346:c86af931561ce2d61857ae7f73f6b304:54e7baddd533ff6bac13d0ad4fe075a3$</string>
            <key>textureFileName</key>
            <string>colosseum_1.png</string>
        </dict>
    </dict>
</plist>
