<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gold_circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-150,0}</string>
                <key>spriteSize</key>
                <string>{305,605}</string>
                <key>spriteSourceSize</key>
                <string>{623,623}</string>
                <key>textureRect</key>
                <string>{{1,1},{305,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gold_circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{151,0}</string>
                <key>spriteSize</key>
                <string>{303,605}</string>
                <key>spriteSourceSize</key>
                <string>{623,623}</string>
                <key>textureRect</key>
                <string>{{308,1},{303,605}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_gold_circle_front.png</string>
            <key>size</key>
            <string>{612,607}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:759ba864cd9e7f185ab8acd4828a262b:269410403950875268aaade6b7907ae2:d5d3edc8e124567cdbce5172943a990d$</string>
            <key>textureFileName</key>
            <string>effect_gold_circle_front.png</string>
        </dict>
    </dict>
</plist>
