<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_purple_protection_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{590,1},{176,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_purple_protection_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{768,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_purple_protection_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{946,1},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_purple_protection_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,27}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1124,1},{126,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_purple_protection_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{194,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{214,1},{194,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_purple_protection_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,196}</string>
                <key>textureRect</key>
                <string>{{410,1},{180,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_purple_protection_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{211,204}</string>
                <key>spriteSourceSize</key>
                <string>{229,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_purple_protection.png</string>
            <key>size</key>
            <string>{1251,206}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee3cb6b952d0cb2303f22974cd1f057a:9b0645b22285aaf051da126751753541:a585b3df0f87fbfc6ede1ece37661497$</string>
            <key>textureFileName</key>
            <string>skill_purple_protection.png</string>
        </dict>
    </dict>
</plist>
