<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventrue_menu_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_ancient_ruin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_attr_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_capsule.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_colosseum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_daily_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dmgate.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,847},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,847},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dragon_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,847},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1129},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,366}</string>
                <key>spriteSourceSize</key>
                <string>{294,366}</string>
                <key>textureRect</key>
                <string>{{283,1693},{294,366}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,1129},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,1129},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_scenario.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1411},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_shop_random.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,1411},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,1411},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventure_rune_guadian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1693},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adventrue_menu.png</string>
            <key>size</key>
            <string>{846,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bcdd687e9ce36f0fe14ac394e9cc175:25bf1c9d8001ecab012e57add9b28452:e23c63f4aa7f2934575771a40e784a5e$</string>
            <key>textureFileName</key>
            <string>adventrue_menu.png</string>
        </dict>
    </dict>
</plist>
