<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventrue_menu_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,369},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_ancient_ruin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,651},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_attr_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,369},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_challenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{297,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,651},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_colosseum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{579,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dragon_forest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{847,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{861,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,366}</string>
                <key>spriteSourceSize</key>
                <string>{294,366}</string>
                <key>textureRect</key>
                <string>{{1,1},{294,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{847,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1129,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_scenario.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1143,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1129,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adventrue_menu.png</string>
            <key>size</key>
            <string>{1424,932}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45422409a8351254e0debc4a2d5b640c:027a8f2f14ae44f5a3cfacd5c0491998:e23c63f4aa7f2934575771a40e784a5e$</string>
            <key>textureFileName</key>
            <string>adventrue_menu.png</string>
        </dict>
    </dict>
</plist>
