<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventrue_menu_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{629,1},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_attr_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,941},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{1,1223},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{333,369},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_colosseum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{273,651},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,933},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{283,1215},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,468}</string>
                <key>spriteSourceSize</key>
                <string>{330,468}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,468}</string>
                <key>spriteSourceSize</key>
                <string>{270,468}</string>
                <key>textureRect</key>
                <string>{{1,471},{270,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_deco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,366}</string>
                <key>spriteSourceSize</key>
                <string>{294,366}</string>
                <key>textureRect</key>
                <string>{{333,1},{294,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_frame_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{230,105}</string>
                <key>spriteSourceSize</key>
                <string>{230,105}</string>
                <key>textureRect</key>
                <string>{{565,1411},{230,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{629,283},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{615,565},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_scenario.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,847},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{280,280}</string>
                <key>spriteSourceSize</key>
                <string>{280,280}</string>
                <key>textureRect</key>
                <string>{{565,1129},{280,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adventrue_menu.png</string>
            <key>size</key>
            <string>{910,1517}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c22843eea3d6008fb1db373f17de365f:8218ed7483619433c07adc0ff43199e5:e23c63f4aa7f2934575771a40e784a5e$</string>
            <key>textureFileName</key>
            <string>adventrue_menu.png</string>
        </dict>
    </dict>
</plist>
