<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_cosmic_power_eff_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,602}</string>
                <key>spriteSourceSize</key>
                <string>{632,602}</string>
                <key>textureRect</key>
                <string>{{676,2},{632,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_00_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{60,87}</string>
                <key>spriteSourceSize</key>
                <string>{70,93}</string>
                <key>textureRect</key>
                <string>{{580,382},{60,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_00_t_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,182}</string>
                <key>spriteSourceSize</key>
                <string>{256,182}</string>
                <key>textureRect</key>
                <string>{{2,1299},{256,182}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_00_t_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,130}</string>
                <key>spriteSourceSize</key>
                <string>{62,130}</string>
                <key>textureRect</key>
                <string>{{1733,255},{62,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{132,1911},{116,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,70}</string>
                <key>spriteSourceSize</key>
                <string>{386,70}</string>
                <key>textureRect</key>
                <string>{{580,523},{386,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{2,1911},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,257}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{186,1298},{259,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,234}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1326,1800},{226,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,183}</string>
                <key>spriteSourceSize</key>
                <string>{190,183}</string>
                <key>textureRect</key>
                <string>{{1141,1822},{190,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_07_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-7}</string>
                <key>spriteSize</key>
                <string>{184,161}</string>
                <key>spriteSourceSize</key>
                <string>{504,537}</string>
                <key>textureRect</key>
                <string>{{1269,1637},{184,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,268}</string>
                <key>spriteSourceSize</key>
                <string>{293,268}</string>
                <key>textureRect</key>
                <string>{{974,1552},{293,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-1}</string>
                <key>spriteSize</key>
                <string>{320,330}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{2,966},{320,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,5}</string>
                <key>spriteSize</key>
                <string>{332,332}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1640,1557},{332,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,5}</string>
                <key>spriteSize</key>
                <string>{342,340}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{630,1266},{342,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,3}</string>
                <key>spriteSize</key>
                <string>{340,352}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{2,1557},{340,352}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{354,370}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1310,645},{354,370}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_09_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,7}</string>
                <key>spriteSize</key>
                <string>{366,362}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1682,905},{366,362}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_09_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{378,358}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{652,606},{378,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-17}</string>
                <key>spriteSize</key>
                <string>{338,336}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1300,1299},{338,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,6}</string>
                <key>spriteSize</key>
                <string>{352,298}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{630,966},{352,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{366,296}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1308,1001},{366,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,-2}</string>
                <key>spriteSize</key>
                <string>{348,304}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{324,946},{348,304}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_09_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{340,314}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{984,1210},{340,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_09_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-11}</string>
                <key>spriteSize</key>
                <string>{356,282}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1676,1273},{356,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-11}</string>
                <key>spriteSize</key>
                <string>{286,296}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{344,1746},{286,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-10}</string>
                <key>spriteSize</key>
                <string>{276,312}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1032,606},{276,312}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_09_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,10}</string>
                <key>spriteSize</key>
                <string>{288,274}</string>
                <key>spriteSourceSize</key>
                <string>{538,376}</string>
                <key>textureRect</key>
                <string>{{1032,920},{288,274}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eff_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,378}</string>
                <key>spriteSourceSize</key>
                <string>{672,378}</string>
                <key>textureRect</key>
                <string>{{2,2},{672,378}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eff_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{576,324}</string>
                <key>spriteSourceSize</key>
                <string>{576,324}</string>
                <key>textureRect</key>
                <string>{{2,382},{576,324}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_egg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,407}</string>
                <key>spriteSourceSize</key>
                <string>{490,571}</string>
                <key>textureRect</key>
                <string>{{1720,496},{324,407}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_egg_01_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,39}</string>
                <key>spriteSourceSize</key>
                <string>{28,39}</string>
                <key>textureRect</key>
                <string>{{540,708},{28,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_egg_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,286}</string>
                <key>spriteSourceSize</key>
                <string>{245,286}</string>
                <key>textureRect</key>
                <string>{{1798,208},{245,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggcrack_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,0}</string>
                <key>spriteSize</key>
                <string>{204,248}</string>
                <key>spriteSourceSize</key>
                <string>{224,254}</string>
                <key>textureRect</key>
                <string>{{1798,2},{204,248}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eggcrack_01_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,254}</string>
                <key>spriteSourceSize</key>
                <string>{224,254}</string>
                <key>textureRect</key>
                <string>{{632,1822},{224,254}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eggcrack_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{171,221}</string>
                <key>spriteSourceSize</key>
                <string>{177,225}</string>
                <key>textureRect</key>
                <string>{{447,1523},{171,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggcrack_02_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,225}</string>
                <key>spriteSourceSize</key>
                <string>{177,225}</string>
                <key>textureRect</key>
                <string>{{447,1296},{177,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggcrack_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{243,197}</string>
                <key>spriteSourceSize</key>
                <string>{251,221}</string>
                <key>textureRect</key>
                <string>{{632,1608},{243,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggcrack_03_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,221}</string>
                <key>spriteSourceSize</key>
                <string>{251,221}</string>
                <key>textureRect</key>
                <string>{{888,1822},{251,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggcrack_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{243,408}</string>
                <key>spriteSourceSize</key>
                <string>{251,486}</string>
                <key>textureRect</key>
                <string>{{1310,400},{243,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eggcrack_04_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,486}</string>
                <key>spriteSourceSize</key>
                <string>{251,486}</string>
                <key>textureRect</key>
                <string>{{1310,2},{251,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_cosmic_power_eggcrack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,77}</string>
                <key>spriteSourceSize</key>
                <string>{77,77}</string>
                <key>textureRect</key>
                <string>{{580,444},{77,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggnest_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{536,236}</string>
                <key>spriteSourceSize</key>
                <string>{536,236}</string>
                <key>textureRect</key>
                <string>{{2,708},{536,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_cosmic_power_eggnest_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{421,143}</string>
                <key>spriteSourceSize</key>
                <string>{421,143}</string>
                <key>textureRect</key>
                <string>{{1310,255},{421,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_cosmic_power.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24e8cbc667d4b7f9c6064b8800e6b4fc:104b196acafc8d71aae93620e5e9fa1e:7c0fb82bdb5b0cfdeda2d376a9fd2b71$</string>
            <key>textureFileName</key>
            <string>effect_cosmic_power.png</string>
        </dict>
    </dict>
</plist>
