<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean2_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1012,366}}</string>
                <key>offset</key>
                <string>{18,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,434},{1012,366}}</string>
                <key>sourceSize</key>
                <string>{1050,800}</string>
            </dict>
            <key>bg_ocean2_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{690,414}}</string>
                <key>offset</key>
                <string>{0,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,386},{690,414}}</string>
                <key>sourceSize</key>
                <string>{690,800}</string>
            </dict>
            <key>bg_ocean2_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1132,2},{646,546}}</string>
                <key>offset</key>
                <string>{9,-127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,254},{646,546}}</string>
                <key>sourceSize</key>
                <string>{690,800}</string>
            </dict>
            <key>bg_ocean2_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_ocean2_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,370},{414,436}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{151,59},{414,436}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean2_4.png</string>
            <key>size</key>
            <string>{1680,786}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf8e16db8d15b9009b6fa826c3a0b158:2b24e4cb5a2c1d021ce4e0b865accd8e:0b4184376aed041c4661a40825eff457$</string>
            <key>textureFileName</key>
            <string>ocean2_4.png</string>
        </dict>
    </dict>
</plist>
