<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest2_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{902,698}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,102},{902,698}}</string>
                <key>sourceSize</key>
                <string>{1012,800}</string>
            </dict>
            <key>bg_forest2_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{716,488}}</string>
                <key>offset</key>
                <string>{-7,-156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,312},{716,488}}</string>
                <key>sourceSize</key>
                <string>{748,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest2_2.png</string>
            <key>size</key>
            <string>{906,1192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06895a70ab171f12c2417b5cbfd6049f:1f5381958f99be5664c1e288f0c73120:f252e1e33165536614a6a71b24d689da$</string>
            <key>textureFileName</key>
            <string>forest2_2.png</string>
        </dict>
    </dict>
</plist>
