<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>adventrue_menu_new_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_ancient_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{525,1349},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_ancient_ruins.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1461,1},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_attr_tower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,525},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_attr_tower_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1035,1349},{281,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_challenge_mode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{413,1},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_challenge_mode_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,1561},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_colosseum.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,413},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_colosseum_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,1632},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1461,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_exploration.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,937},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_gold_dungeon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1461,1049},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_grand_arena.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,937},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_grand_arena_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1318,1573},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1,1349},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1673,1},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventrue_menu_new_scenario.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{937,1},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventrue_menu_new_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1673,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>adventure_menu_new_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{937,413},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>adventure_menu_new_rune_guardian.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1049,825},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>adventrue_menu_new.png</string>
            <key>size</key>
            <string>{1884,1914}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5cb784823ef1f4c0b7f6f24de052943:edd0cefa7ff850617257a8b273507af8:8c0de5d8038bc0ce04fa83346fffb87f$</string>
            <key>textureFileName</key>
            <string>adventrue_menu_new.png</string>
        </dict>
    </dict>
</plist>
