<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_tanatos_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,291}</string>
                <key>spriteSourceSize</key>
                <string>{307,309}</string>
                <key>textureRect</key>
                <string>{{684,457},{289,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{771,1},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,298}</string>
                <key>spriteSourceSize</key>
                <string>{313,316}</string>
                <key>textureRect</key>
                <string>{{420,122},{295,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,336}</string>
                <key>spriteSourceSize</key>
                <string>{346,354}</string>
                <key>textureRect</key>
                <string>{{354,421},{328,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,415}</string>
                <key>spriteSourceSize</key>
                <string>{369,433}</string>
                <key>textureRect</key>
                <string>{{1,421},{351,415}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,164}</string>
                <key>spriteSourceSize</key>
                <string>{186,182}</string>
                <key>textureRect</key>
                <string>{{441,828},{168,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,167}</string>
                <key>spriteSourceSize</key>
                <string>{182,185}</string>
                <key>textureRect</key>
                <string>{{825,291},{164,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,167}</string>
                <key>spriteSourceSize</key>
                <string>{188,185}</string>
                <key>textureRect</key>
                <string>{{825,122},{170,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,155}</string>
                <key>spriteSourceSize</key>
                <string>{170,173}</string>
                <key>textureRect</key>
                <string>{{1,838},{152,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,148}</string>
                <key>spriteSourceSize</key>
                <string>{170,166}</string>
                <key>textureRect</key>
                <string>{{155,838},{152,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,134}</string>
                <key>spriteSourceSize</key>
                <string>{156,152}</string>
                <key>textureRect</key>
                <string>{{305,838},{138,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,212}</string>
                <key>spriteSourceSize</key>
                <string>{240,230}</string>
                <key>textureRect</key>
                <string>{{611,759},{222,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{134,132}</string>
                <key>textureRect</key>
                <string>{{655,1},{116,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{136,134}</string>
                <key>textureRect</key>
                <string>{{420,1},{118,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,116}</string>
                <key>spriteSourceSize</key>
                <string>{133,134}</string>
                <key>textureRect</key>
                <string>{{538,1},{115,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,417}</string>
                <key>spriteSourceSize</key>
                <string>{436,435}</string>
                <key>textureRect</key>
                <string>{{1,1},{418,417}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,224}</string>
                <key>textureRect</key>
                <string>{{720,119},{87,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_tanatos_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,129}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{825,750},{128,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,120}</string>
                <key>spriteSourceSize</key>
                <string>{85,138}</string>
                <key>textureRect</key>
                <string>{{354,759},{67,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_tanatos_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,183}</string>
                <key>spriteSourceSize</key>
                <string>{137,201}</string>
                <key>textureRect</key>
                <string>{{825,1},{119,183}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_tanatos.png</string>
            <key>size</key>
            <string>{1009,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b6d1ae988404f9ff9c8eceefcdd3ce:96f7253166428d26f8bcc667f2605c63:3c84d275e41116d608ade78dac46deb9$</string>
            <key>textureFileName</key>
            <string>skill_tanatos.png</string>
        </dict>
    </dict>
</plist>
