<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1448,1264}}</string>
                <key>offset</key>
                <string>{0,-168}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,336},{1448,1264}}</string>
                <key>sourceSize</key>
                <string>{1448,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean_6.png</string>
            <key>size</key>
            <string>{1268,1452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:86f63aa115be0a0c6275341c7ae781be:6c104b53bf07a581a7220a598e0948f3:1afad114d38c1cfdfac9f7beb2c84e74$</string>
            <key>textureFileName</key>
            <string>ocean_6.png</string>
        </dict>
    </dict>
</plist>
