<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest2_1.png</string>
            <key>size</key>
            <string>{1924,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31cc8c9695a128520620367b0ba54e15:b5c3abc123746fa1c318dcfdc090653a:97739464314cd10ae7b3ecb2c9a9deb8$</string>
            <key>textureFileName</key>
            <string>forest2_1.png</string>
        </dict>
    </dict>
</plist>
