<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest2_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{648,296}}</string>
                <key>offset</key>
                <string>{-5,-252}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,504},{648,296}}</string>
                <key>sourceSize</key>
                <string>{840,800}</string>
            </dict>
            <key>bg_forest2_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1448},{354,262}}</string>
                <key>offset</key>
                <string>{-31,-269}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,538},{354,262}}</string>
                <key>sourceSize</key>
                <string>{712,800}</string>
            </dict>
            <key>bg_forest2_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{794,312}}</string>
                <key>offset</key>
                <string>{18,244}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{794,312}}</string>
                <key>sourceSize</key>
                <string>{836,800}</string>
            </dict>
            <key>bg_forest2_leaf_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1712},{130,301}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,10},{130,301}}</string>
                <key>sourceSize</key>
                <string>{250,321}</string>
            </dict>
            <key>bg_forest2_leaf_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1712},{202,211}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,55},{202,211}}</string>
                <key>sourceSize</key>
                <string>{250,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest2_5.png</string>
            <key>size</key>
            <string>{358,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0685b011843e039700296b9bb9707e:22312266e8d61536df31b0239cb9f208:c80d5f347576da3a42f06ecdb00c6f76$</string>
            <key>textureFileName</key>
            <string>forest2_5.png</string>
        </dict>
    </dict>
</plist>
