<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{214,470}}</string>
                <key>offset</key>
                <string>{-1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,133},{214,470}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,2},{560,800}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,0},{560,800}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{944,590}}</string>
                <key>offset</key>
                <string>{-2,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{486,210},{944,590}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>dark_castle_2_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,948},{710,360}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{644,549},{710,360}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1220},{222,118}}</string>
                <key>offset</key>
                <string>{-79,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,265},{222,118}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{660,408}}</string>
                <key>offset</key>
                <string>{22,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,279},{660,408}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_torch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,474},{100,210}}</string>
                <key>offset</key>
                <string>{36,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{986,421},{100,210}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle_2_torch_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,576},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,221},{78,110}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_2_torch_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1220},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,216},{80,120}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_2_torch_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,804},{90,126}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,213},{90,126}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_2_torch_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,804},{66,138}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{66,138}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_2_torch_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,804},{84,140}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,199},{84,140}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,1216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,0},{252,1216}}</string>
                <key>sourceSize</key>
                <string>{1000,1216}</string>
            </dict>
            <key>dark_castle_candle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,576},{64,64}}</string>
                <key>offset</key>
                <string>{-88,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,983},{64,64}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
            <key>dark_castle_ghost_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,948},{36,28}}</string>
                <key>offset</key>
                <string>{-34,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,358},{36,28}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,978},{62,30}}</string>
                <key>offset</key>
                <string>{-48,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{197,360},{62,30}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1078},{114,72}}</string>
                <key>offset</key>
                <string>{-64,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,343},{114,72}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1932,1078},{110,98}}</string>
                <key>offset</key>
                <string>{-74,-97}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,324},{110,98}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,946},{198,130}}</string>
                <key>offset</key>
                <string>{-81,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,299},{198,130}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,804},{308,142}}</string>
                <key>offset</key>
                <string>{-91,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,280},{308,142}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,946},{344,184}}</string>
                <key>offset</key>
                <string>{-91,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,270},{344,184}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_ghost_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,948},{380,174}}</string>
                <key>offset</key>
                <string>{-86,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,275},{380,174}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,948},{394,432}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{295,161},{394,432}}</string>
                <key>sourceSize</key>
                <string>{960,800}</string>
            </dict>
            <key>dark_castle_light_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,664},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_light_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,664},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_2.png</string>
            <key>size</key>
            <string>{2040,1344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4b18221b8346ae9d5669324555afd7c:0480d5704225de223268f01955debe5e:f99dc6f87a6c78c4ce9237a53f738a2a$</string>
            <key>textureFileName</key>
            <string>dark_castle_2.png</string>
        </dict>
    </dict>
</plist>
