<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_thunderbolt_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,214}</string>
                <key>spriteSourceSize</key>
                <string>{229,232}</string>
                <key>textureRect</key>
                <string>{{1192,1017},{211,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{208,730}</string>
                <key>spriteSourceSize</key>
                <string>{226,800}</string>
                <key>textureRect</key>
                <string>{{970,1},{208,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,722}</string>
                <key>spriteSourceSize</key>
                <string>{218,800}</string>
                <key>textureRect</key>
                <string>{{620,761},{200,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{195,730}</string>
                <key>spriteSourceSize</key>
                <string>{213,800}</string>
                <key>textureRect</key>
                <string>{{1180,1},{195,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,722}</string>
                <key>spriteSourceSize</key>
                <string>{219,800}</string>
                <key>textureRect</key>
                <string>{{1377,1},{201,722}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,718}</string>
                <key>spriteSourceSize</key>
                <string>{200,800}</string>
                <key>textureRect</key>
                <string>{{822,749},{182,718}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{181,710}</string>
                <key>spriteSourceSize</key>
                <string>{199,800}</string>
                <key>textureRect</key>
                <string>{{822,1469},{181,710}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_lightning_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{184,714}</string>
                <key>spriteSourceSize</key>
                <string>{202,800}</string>
                <key>textureRect</key>
                <string>{{1006,733},{184,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,5}</string>
                <key>spriteSize</key>
                <string>{221,758}</string>
                <key>spriteSourceSize</key>
                <string>{237,800}</string>
                <key>textureRect</key>
                <string>{{542,1},{221,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,772}</string>
                <key>spriteSourceSize</key>
                <string>{324,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,772}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{231,762}</string>
                <key>spriteSourceSize</key>
                <string>{249,800}</string>
                <key>textureRect</key>
                <string>{{309,1},{231,762}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,758}</string>
                <key>spriteSourceSize</key>
                <string>{280,800}</string>
                <key>textureRect</key>
                <string>{{1,775},{262,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{180,730}</string>
                <key>spriteSourceSize</key>
                <string>{198,800}</string>
                <key>textureRect</key>
                <string>{{438,765},{180,730}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{203,746}</string>
                <key>spriteSourceSize</key>
                <string>{221,800}</string>
                <key>textureRect</key>
                <string>{{765,1},{203,746}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_lightning_02_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{171,734}</string>
                <key>spriteSourceSize</key>
                <string>{189,800}</string>
                <key>textureRect</key>
                <string>{{265,775},{171,734}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,39}</string>
                <key>spriteSourceSize</key>
                <string>{76,57}</string>
                <key>textureRect</key>
                <string>{{759,1485},{58,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,76}</string>
                <key>spriteSourceSize</key>
                <string>{131,94}</string>
                <key>textureRect</key>
                <string>{{168,1535},{113,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,159}</string>
                <key>spriteSourceSize</key>
                <string>{216,177}</string>
                <key>textureRect</key>
                <string>{{1416,967},{198,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,156}</string>
                <key>spriteSourceSize</key>
                <string>{243,174}</string>
                <key>textureRect</key>
                <string>{{1405,1128},{225,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,165}</string>
                <key>spriteSourceSize</key>
                <string>{241,183}</string>
                <key>textureRect</key>
                <string>{{1378,1286},{223,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_shockwave_03_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,35}</string>
                <key>spriteSourceSize</key>
                <string>{201,53}</string>
                <key>textureRect</key>
                <string>{{1580,1},{183,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_spark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,122}</string>
                <key>spriteSourceSize</key>
                <string>{174,140}</string>
                <key>textureRect</key>
                <string>{{438,1497},{156,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_spark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,105}</string>
                <key>spriteSourceSize</key>
                <string>{183,123}</string>
                <key>textureRect</key>
                <string>{{1,1535},{165,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_spark_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,132}</string>
                <key>spriteSourceSize</key>
                <string>{179,150}</string>
                <key>textureRect</key>
                <string>{{265,1511},{161,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunderbolt_spark_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,137}</string>
                <key>spriteSourceSize</key>
                <string>{139,155}</string>
                <key>textureRect</key>
                <string>{{620,1485},{121,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_sparkle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,184}</string>
                <key>spriteSourceSize</key>
                <string>{240,206}</string>
                <key>textureRect</key>
                <string>{{1192,1233},{218,184}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_sparkle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,217}</string>
                <key>spriteSourceSize</key>
                <string>{260,237}</string>
                <key>textureRect</key>
                <string>{{1416,725},{240,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunderbolt_sparkle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{282,222}</string>
                <key>spriteSourceSize</key>
                <string>{300,240}</string>
                <key>textureRect</key>
                <string>{{1192,733},{282,222}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_thunderbolt.png</string>
            <key>size</key>
            <string>{1634,1651}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b34581a91717cedd22f06a25c619aa5:be3cc4318429cd4bdc3a6e1982575485:3fb224974d7c866a510454153559f9f0$</string>
            <key>textureFileName</key>
            <string>skill_thunderbolt.png</string>
        </dict>
    </dict>
</plist>
