<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_card_attr_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{25,939},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{59,939},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{311,625},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{93,939},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{127,939},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{273,933},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{49,977},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{273,967},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{319,1},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{157,625},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,631},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{155,779},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{309,823},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,785},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,145},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,169},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,193},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,217},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,241},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,265},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,289},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,313},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{439,313},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,337},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,361},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,385},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,409},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,433},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{439,439},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,457},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,481},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,505},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{163,1},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{163,157},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,163},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{157,313},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_legend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,319},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_rare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{157,469},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-54,17}</string>
                <key>spriteSize</key>
                <string>{38,48}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{95,973},{38,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_rp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1,475},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{311,671},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_leader_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{46,-29}</string>
                <key>spriteSize</key>
                <string>{38,36}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{399,601},{38,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{315,1001},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{343,1001},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{25,977},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{247,1001},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,601},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{437,565},{104,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,529},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{357,625},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{307,977},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,939},{84,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,577},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{313,553},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{381,641},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{371,1001},{20,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{135,977},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{161,933},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{163,977},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{189,933},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{191,977},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{217,933},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{219,977},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{245,933},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{413,977},{26,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>character_card.png</string>
            <key>size</key>
            <string>{462,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:528bd2954bf3db15cd6b3f4c105a21a4:08906405325fd4b8025d47f355ff5bf1:443903ff298e55942b039c5d3cf32806$</string>
            <key>textureFileName</key>
            <string>character_card.png</string>
        </dict>
    </dict>
</plist>
