<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_sword_force_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{205,193}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{205,193}}</string>
                <key>sourceSize</key>
                <string>{217,209}</string>
            </dict>
            <key>missile_sword_force_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{217,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{217,171}}</string>
                <key>sourceSize</key>
                <string>{217,209}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_sword_force.png</string>
            <key>size</key>
            <string>{221,370}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:167671a9eed5ecaf19f2ceab470be5b1:5374ba9bad85e0739cecdc92a60f08be:da10c7da180857334a39a7d8dfb98163$</string>
            <key>textureFileName</key>
            <string>missile_sword_force.png</string>
        </dict>
    </dict>
</plist>
