<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lemures_all_03_bat_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,56}</string>
                <key>spriteSourceSize</key>
                <string>{47,56}</string>
                <key>textureRect</key>
                <string>{{105,180},{47,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_bat_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,25}</string>
                <key>spriteSourceSize</key>
                <string>{89,25}</string>
                <key>textureRect</key>
                <string>{{1,221},{89,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_bat_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,54}</string>
                <key>spriteSourceSize</key>
                <string>{52,54}</string>
                <key>textureRect</key>
                <string>{{154,180},{52,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_bat_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{74,50}</string>
                <key>textureRect</key>
                <string>{{240,180},{74,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_bat_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,54}</string>
                <key>spriteSourceSize</key>
                <string>{30,54}</string>
                <key>textureRect</key>
                <string>{{208,180},{30,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_bat_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,124}</string>
                <key>spriteSourceSize</key>
                <string>{144,124}</string>
                <key>textureRect</key>
                <string>{{281,1},{144,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_blood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{399,147},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_burst.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,124}</string>
                <key>spriteSourceSize</key>
                <string>{136,124}</string>
                <key>textureRect</key>
                <string>{{407,1},{136,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_eff_splash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,102}</string>
                <key>spriteSourceSize</key>
                <string>{218,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_eff_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,174}</string>
                <key>spriteSourceSize</key>
                <string>{177,174}</string>
                <key>textureRect</key>
                <string>{{105,1},{177,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_lock_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,98}</string>
                <key>spriteSourceSize</key>
                <string>{81,98}</string>
                <key>textureRect</key>
                <string>{{316,147},{81,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_all_03_lock_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,108}</string>
                <key>spriteSourceSize</key>
                <string>{124,108}</string>
                <key>textureRect</key>
                <string>{{673,115},{124,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_lock_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,124}</string>
                <key>spriteSourceSize</key>
                <string>{112,124}</string>
                <key>textureRect</key>
                <string>{{547,131},{112,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_lock_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,112}</string>
                <key>spriteSourceSize</key>
                <string>{106,112}</string>
                <key>textureRect</key>
                <string>{{433,139},{106,112}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lemures_all_03_lock_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,112}</string>
                <key>spriteSourceSize</key>
                <string>{110,112}</string>
                <key>textureRect</key>
                <string>{{673,1},{110,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lemures_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{533,1},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_lemures.png</string>
            <key>size</key>
            <string>{784,247}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf9b3efbeb408d3bb11b5e59df922a9b:915106cf8bfdd04e1ad1d7e2a35589d1:12ea1e7a8b4bd4ef63e29d0ae767b411$</string>
            <key>textureFileName</key>
            <string>skill_lemures.png</string>
        </dict>
    </dict>
</plist>
