<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>challenge_2_blue_light_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{896,388}}</string>
                <key>offset</key>
                <string>{0,-121}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,263},{896,388}}</string>
                <key>sourceSize</key>
                <string>{896,672}</string>
            </dict>
            <key>challenge_2_blue_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,392},{272,214}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{272,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>challenge_2_blue_light_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{1160,686}}</string>
                <key>offset</key>
                <string>{-60,137}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1160,686}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>challenge_2_crystal_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,666},{190,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,158},{190,196}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>challenge_2_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1084},{120,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,203},{120,106}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>challenge_2_stone_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,972},{110,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,184},{110,144}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>challenge_2_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1162},{80,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,214},{80,84}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>challenge_2_stone_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1084},{88,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,218},{88,76}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
            <key>challenge_2_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,858},{112,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{200,183},{112,146}}</string>
                <key>sourceSize</key>
                <string>{512,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>challenge_effect.png</string>
            <key>size</key>
            <string>{906,1554}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0628f221f8768f359eaf6c81a01498f:4433f59d2b224e959fa763530eb0e844:1ea2cf67c29fba0b473e0648f4cbf8f3$</string>
            <key>textureFileName</key>
            <string>challenge_effect.png</string>
        </dict>
    </dict>
</plist>
