<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{632,602}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{632,602}}</string>
                <key>sourceSize</key>
                <string>{632,602}</string>
            </dict>
            <key>summon_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,240},{114,112}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{114,112}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>summon_eff_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,334},{386,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{386,70}}</string>
                <key>sourceSize</key>
                <string>{386,70}</string>
            </dict>
            <key>summon_eff_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,386},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>summon_eff_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1041},{257,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{257,255}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>summon_eff_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,1752},{224,232}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{224,232}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>summon_eff_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1416},{190,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,183}}</string>
                <key>sourceSize</key>
                <string>{190,183}</string>
            </dict>
            <key>summon_eff_07_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1870},{182,159}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,196},{182,159}}</string>
                <key>sourceSize</key>
                <string>{504,537}</string>
            </dict>
            <key>summon_eff_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,1752},{293,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{293,268}}</string>
                <key>sourceSize</key>
                <string>{293,268}</string>
            </dict>
            <key>summon_eff_09_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,1249},{318,328}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,25},{318,328}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,1418},{330,330}}</string>
                <key>offset</key>
                <string>{-17,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,18},{330,330}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{340,338}}</string>
                <key>offset</key>
                <string>{-13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,14},{340,338}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1076},{338,350}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,10},{338,350}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,360},{352,368}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,4},{352,368}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,714},{364,360}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,0},{364,360}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,2},{376,356}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,9},{376,356}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,1416},{336,334}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,38},{336,334}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1033},{350,296}}</string>
                <key>offset</key>
                <string>{-7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,34},{350,296}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{364,294}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,42},{364,294}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{346,302}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,39},{346,302}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,1104},{338,312}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,36},{338,312}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,822},{354,280}}</string>
                <key>offset</key>
                <string>{-8,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,59},{354,280}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1752},{284,294}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,52},{284,294}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1298},{274,310}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,43},{274,310}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_eff_09_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,1752},{286,272}}</string>
                <key>offset</key>
                <string>{-3,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,42},{286,272}}</string>
                <key>sourceSize</key>
                <string>{538,376}</string>
            </dict>
            <key>summon_egg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,709},{322,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,83},{322,405}}</string>
                <key>sourceSize</key>
                <string>{490,571}</string>
            </dict>
            <key>summon_egg_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{1059,356},{28,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,39}}</string>
                <key>sourceSize</key>
                <string>{28,39}</string>
            </dict>
            <key>summon_egg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{322,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,83},{322,405}}</string>
                <key>sourceSize</key>
                <string>{490,571}</string>
            </dict>
            <key>summon_egg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,498},{322,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,83},{322,405}}</string>
                <key>sourceSize</key>
                <string>{490,571}</string>
            </dict>
            <key>summon_egg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,385},{322,405}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,83},{322,405}}</string>
                <key>sourceSize</key>
                <string>{490,571}</string>
            </dict>
            <key>summon_egg_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1610},{245,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{245,286}}</string>
                <key>sourceSize</key>
                <string>{245,286}</string>
            </dict>
            <key>summon_eggcrack_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,1045},{202,246}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{202,246}}</string>
                <key>sourceSize</key>
                <string>{224,254}</string>
            </dict>
            <key>summon_eggcrack_01_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,785},{224,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,254}}</string>
                <key>sourceSize</key>
                <string>{224,254}</string>
            </dict>
            <key>summon_eggcrack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1870},{169,219}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{169,219}}</string>
                <key>sourceSize</key>
                <string>{177,225}</string>
            </dict>
            <key>summon_eggcrack_02_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,606},{177,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,225}}</string>
                <key>sourceSize</key>
                <string>{177,225}</string>
            </dict>
            <key>summon_eggcrack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,1752},{241,195}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,21},{241,195}}</string>
                <key>sourceSize</key>
                <string>{251,221}</string>
            </dict>
            <key>summon_eggcrack_03_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1399,822},{251,221}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,221}}</string>
                <key>sourceSize</key>
                <string>{251,221}</string>
            </dict>
            <key>summon_eggcrack_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1173,255},{241,406}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,39},{241,406}}</string>
                <key>sourceSize</key>
                <string>{251,486}</string>
            </dict>
            <key>summon_eggcrack_04_e.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,2},{251,486}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{251,486}}</string>
                <key>sourceSize</key>
                <string>{251,486}</string>
            </dict>
            <key>summon_eggcrack_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1581,255},{77,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,77}}</string>
                <key>sourceSize</key>
                <string>{77,77}</string>
            </dict>
            <key>summon_eggnest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{536,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{536,236}}</string>
                <key>sourceSize</key>
                <string>{536,236}</string>
            </dict>
            <key>summon_eggnest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,240},{421,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,143}}</string>
                <key>sourceSize</key>
                <string>{421,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summon.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0310daf2e030aabeed38bd95ec9d5bc$</string>
            <key>textureFileName</key>
            <string>summon.png</string>
        </dict>
    </dict>
</plist>
