<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ashley_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{698,216}</string>
                <key>spriteSourceSize</key>
                <string>{716,234}</string>
                <key>textureRect</key>
                <string>{{1,1},{698,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,178}</string>
                <key>spriteSourceSize</key>
                <string>{539,196}</string>
                <key>textureRect</key>
                <string>{{219,1},{521,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,112}</string>
                <key>textureRect</key>
                <string>{{1463,360},{302,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{225,228}</string>
                <key>spriteSourceSize</key>
                <string>{243,246}</string>
                <key>textureRect</key>
                <string>{{1107,405},{225,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,239}</string>
                <key>spriteSourceSize</key>
                <string>{255,257}</string>
                <key>textureRect</key>
                <string>{{868,418},{237,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,125}</string>
                <key>spriteSourceSize</key>
                <string>{375,143}</string>
                <key>textureRect</key>
                <string>{{1439,1},{357,125}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{415,176}</string>
                <key>spriteSourceSize</key>
                <string>{433,194}</string>
                <key>textureRect</key>
                <string>{{726,1},{415,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,326}</string>
                <key>spriteSourceSize</key>
                <string>{378,344}</string>
                <key>textureRect</key>
                <string>{{322,696},{360,326}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,396}</string>
                <key>spriteSourceSize</key>
                <string>{420,414}</string>
                <key>textureRect</key>
                <string>{{1041,1},{402,396}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{478,325}</string>
                <key>spriteSourceSize</key>
                <string>{496,343}</string>
                <key>textureRect</key>
                <string>{{399,1},{478,325}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,297}</string>
                <key>spriteSourceSize</key>
                <string>{320,315}</string>
                <key>textureRect</key>
                <string>{{684,669},{302,297}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,367}</string>
                <key>spriteSourceSize</key>
                <string>{199,385}</string>
                <key>textureRect</key>
                <string>{{1118,635},{181,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,389}</string>
                <key>spriteSourceSize</key>
                <string>{188,407}</string>
                <key>textureRect</key>
                <string>{{219,524},{170,389}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,366}</string>
                <key>spriteSourceSize</key>
                <string>{178,384}</string>
                <key>textureRect</key>
                <string>{{1301,635},{160,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,363}</string>
                <key>spriteSourceSize</key>
                <string>{151,381}</string>
                <key>textureRect</key>
                <string>{{983,659},{133,363}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,186}</string>
                <key>spriteSourceSize</key>
                <string>{256,186}</string>
                <key>textureRect</key>
                <string>{{610,481},{256,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ashley_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,319}</string>
                <key>spriteSourceSize</key>
                <string>{338,337}</string>
                <key>textureRect</key>
                <string>{{1,701},{320,319}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ashley_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{408,135}</string>
                <key>spriteSourceSize</key>
                <string>{426,153}</string>
                <key>textureRect</key>
                <string>{{904,1},{408,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_ashley.png</string>
            <key>size</key>
            <string>{1565,1023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334a134bcf920b638d1ec88c88139e2d:47b86aec38ffd4f05c2f73bc30b1b87a:0f1db3cd948b64d5cbf8d3b71baf5699$</string>
            <key>textureFileName</key>
            <string>skill_ashley.png</string>
        </dict>
    </dict>
</plist>
