<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>raidboss1_bg_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1694},{470,238}}</string>
                <key>offset</key>
                <string>{-29,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,123},{470,238}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{1008,366}}</string>
                <key>offset</key>
                <string>{23,-89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,306},{1008,366}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1172},{828,520}}</string>
                <key>offset</key>
                <string>{-24,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,127},{828,520}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_dust_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,446},{640,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,400}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_dust_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1502},{416,278}}</string>
                <key>offset</key>
                <string>{-38,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,72},{416,278}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_dust_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,848},{442,320}}</string>
                <key>offset</key>
                <string>{-99,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,57},{442,320}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1168},{464,320}}</string>
                <key>offset</key>
                <string>{-88,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{464,320}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1172},{498,334}}</string>
                <key>offset</key>
                <string>{20,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,48},{498,334}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,1170},{448,330}}</string>
                <key>offset</key>
                <string>{67,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,70},{448,330}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_effect_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{722,442}}</string>
                <key>offset</key>
                <string>{103,-132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,311},{722,442}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_effect_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1694},{224,244}}</string>
                <key>offset</key>
                <string>{93,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{621,319},{224,244}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_effect_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,1782},{162,194}}</string>
                <key>offset</key>
                <string>{103,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{662,354},{162,194}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1634},{314,324}}</string>
                <key>offset</key>
                <string>{-45,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,31},{314,324}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_star_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1694},{94,154}}</string>
                <key>offset</key>
                <string>{-41,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,145},{94,154}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_star_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,848},{488,318}}</string>
                <key>offset</key>
                <string>{21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,29},{488,318}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_star_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1782},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,154},{92,92}}</string>
                <key>sourceSize</key>
                <string>{640,400}</string>
            </dict>
            <key>raidboss1_bg_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,1782},{112,102}}</string>
                <key>offset</key>
                <string>{-509,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,338},{112,102}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,1170},{66,158}}</string>
                <key>offset</key>
                <string>{-443,-259}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,580},{66,158}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
            <key>raidboss1_bg_universe.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,800}}</string>
                <key>sourceSize</key>
                <string>{1280,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>raidboss1_bg.png</string>
            <key>size</key>
            <string>{2008,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c04868338af8d42beafe84b838d4e6f3:0e1101f1d673fdb6f31edcf5209d4b9f:3851ac9f7e47cec360fa0c1e05dbbbd1$</string>
            <key>textureFileName</key>
            <string>raidboss1_bg.png</string>
        </dict>
    </dict>
</plist>
