<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gaian_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{278,275}</string>
                <key>spriteSourceSize</key>
                <string>{278,275}</string>
                <key>textureRect</key>
                <string>{{1574,1087},{278,275}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,281}</string>
                <key>spriteSourceSize</key>
                <string>{302,299}</string>
                <key>textureRect</key>
                <string>{{1575,521},{284,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{284,281}</string>
                <key>spriteSourceSize</key>
                <string>{302,299}</string>
                <key>textureRect</key>
                <string>{{1575,804},{284,281}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,464}</string>
                <key>spriteSourceSize</key>
                <string>{487,482}</string>
                <key>textureRect</key>
                <string>{{1109,568},{469,464}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaian_effect_03_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{469,463}</string>
                <key>spriteSourceSize</key>
                <string>{487,481}</string>
                <key>textureRect</key>
                <string>{{1109,1039},{469,463}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaian_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,518}</string>
                <key>spriteSourceSize</key>
                <string>{542,536}</string>
                <key>textureRect</key>
                <string>{{1229,1},{524,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_04_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,518}</string>
                <key>spriteSourceSize</key>
                <string>{542,536}</string>
                <key>textureRect</key>
                <string>{{589,630},{524,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaian_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,108}</string>
                <key>spriteSourceSize</key>
                <string>{186,108}</string>
                <key>textureRect</key>
                <string>{{914,1156},{186,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,171}</string>
                <key>spriteSourceSize</key>
                <string>{153,171}</string>
                <key>textureRect</key>
                <string>{{759,1156},{153,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,117}</string>
                <key>spriteSourceSize</key>
                <string>{176,117}</string>
                <key>textureRect</key>
                <string>{{759,1329},{176,117}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaian_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,134}</string>
                <key>spriteSourceSize</key>
                <string>{135,134}</string>
                <key>textureRect</key>
                <string>{{878,1379},{135,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,210}</string>
                <key>spriteSourceSize</key>
                <string>{135,210}</string>
                <key>textureRect</key>
                <string>{{1574,1364},{135,210}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gaian_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,111}</string>
                <key>spriteSourceSize</key>
                <string>{178,111}</string>
                <key>textureRect</key>
                <string>{{914,1266},{178,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{586,551}</string>
                <key>spriteSourceSize</key>
                <string>{586,551}</string>
                <key>textureRect</key>
                <string>{{1,630},{586,551}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{556,565}</string>
                <key>spriteSourceSize</key>
                <string>{556,565}</string>
                <key>textureRect</key>
                <string>{{671,1},{556,565}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{668,627}</string>
                <key>spriteSourceSize</key>
                <string>{668,627}</string>
                <key>textureRect</key>
                <string>{{1,1},{668,627}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gaian_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,7}</string>
                <key>spriteSize</key>
                <string>{454,390}</string>
                <key>spriteSourceSize</key>
                <string>{500,432}</string>
                <key>textureRect</key>
                <string>{{1,1183},{454,390}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gaian_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,302}</string>
                <key>spriteSourceSize</key>
                <string>{318,320}</string>
                <key>textureRect</key>
                <string>{{457,1183},{300,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_gaian.png</string>
            <key>size</key>
            <string>{1860,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e593121289e272f6b577af2d4ce38695:92da0e70a8e9b9fca586140ac31e6b53:5a35fbaa9ceec1a37232ea7e8a9e9da7$</string>
            <key>textureFileName</key>
            <string>skill_gaian.png</string>
        </dict>
    </dict>
</plist>
