<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_wedge_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,90},{36,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,79},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_wedge_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,84},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{69,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>missile_wedge_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>missile_wedge_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{34,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{40,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{40,86}}</string>
                <key>sourceSize</key>
                <string>{46,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_wedge.png</string>
            <key>size</key>
            <string>{297,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0196284f0e77dda719b30096f6269b1:83564cf8fd9561c91ef367262fde3f50:1a78e1eb43651acdee1f6a7d9c2ec186$</string>
            <key>textureFileName</key>
            <string>missile_wedge.png</string>
        </dict>
    </dict>
</plist>
