<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fever_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,180}</string>
                <key>spriteSourceSize</key>
                <string>{1280,180}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{636,136}</string>
                <key>spriteSourceSize</key>
                <string>{636,136}</string>
                <key>textureRect</key>
                <string>{{1283,1},{636,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{622,122}</string>
                <key>spriteSourceSize</key>
                <string>{622,122}</string>
                <key>textureRect</key>
                <string>{{1,183},{622,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,86}</string>
                <key>spriteSourceSize</key>
                <string>{243,86}</string>
                <key>textureRect</key>
                <string>{{625,183},{243,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,124}</string>
                <key>spriteSourceSize</key>
                <string>{398,124}</string>
                <key>textureRect</key>
                <string>{{1283,139},{398,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,53}</string>
                <key>spriteSourceSize</key>
                <string>{268,53}</string>
                <key>textureRect</key>
                <string>{{870,183},{268,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fever_0303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,53}</string>
                <key>spriteSourceSize</key>
                <string>{121,53}</string>
                <key>textureRect</key>
                <string>{{1683,139},{121,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_fever.png</string>
            <key>size</key>
            <string>{1920,306}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:adfe017f4510e4de881d1cd197bcc7f0:38d8cd885b8d1d5bc93caf0b3d2e2a7f:35534a7d3cdc4777c508ddb7878b5055$</string>
            <key>textureFileName</key>
            <string>ingame_fever.png</string>
        </dict>
    </dict>
</plist>
