<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_sector_20_01_s0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-10}</string>
                <key>spriteSize</key>
                <string>{406,192}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1235,741},{406,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-16}</string>
                <key>spriteSize</key>
                <string>{406,216}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1235,523},{406,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{408,228}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{411,759},{408,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-17}</string>
                <key>spriteSize</key>
                <string>{408,240}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{825,519},{408,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-21}</string>
                <key>spriteSize</key>
                <string>{408,248}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1,757},{408,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-23}</string>
                <key>spriteSize</key>
                <string>{410,252}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{829,265},{410,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-22}</string>
                <key>spriteSize</key>
                <string>{410,250}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1,267},{410,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-18}</string>
                <key>spriteSize</key>
                <string>{410,242}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{413,515},{410,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-17}</string>
                <key>spriteSize</key>
                <string>{410,236}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1,519},{410,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-21}</string>
                <key>spriteSize</key>
                <string>{410,246}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{413,267},{410,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-20}</string>
                <key>spriteSize</key>
                <string>{410,258}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1243,263},{410,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-17}</string>
                <key>spriteSize</key>
                <string>{412,264}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1,1},{412,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-10}</string>
                <key>spriteSize</key>
                <string>{412,264}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{415,1},{412,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-19}</string>
                <key>spriteSize</key>
                <string>{412,260}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1243,1},{412,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-18}</string>
                <key>spriteSize</key>
                <string>{412,262}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{829,1},{412,262}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-166,-6}</string>
                <key>spriteSize</key>
                <string>{42,34}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{2005,295},{42,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-162,-6}</string>
                <key>spriteSize</key>
                <string>{72,48}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1593,935},{72,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_sector_20_01_s_0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-156,-7}</string>
                <key>spriteSize</key>
                <string>{100,62}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1491,935},{100,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-146,-8}</string>
                <key>spriteSize</key>
                <string>{124,72}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1097,916},{124,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-138,-9}</string>
                <key>spriteSize</key>
                <string>{140,76}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1969,921},{140,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_sector_20_01_s_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-125,-7}</string>
                <key>spriteSize</key>
                <string>{166,84}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1781,1155},{166,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-113,-8}</string>
                <key>spriteSize</key>
                <string>{190,88}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1589,1135},{190,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-107,-9}</string>
                <key>spriteSize</key>
                <string>{202,90}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1819,1063},{202,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,-10}</string>
                <key>spriteSize</key>
                <string>{228,92}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1589,1041},{228,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-10}</string>
                <key>spriteSize</key>
                <string>{242,96}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1491,999},{242,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_sector_20_01_s_0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-75,-11}</string>
                <key>spriteSize</key>
                <string>{266,102}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1223,935},{266,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-71,-13}</string>
                <key>spriteSize</key>
                <string>{274,110}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{821,877},{274,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-56,-15}</string>
                <key>spriteSize</key>
                <string>{304,114}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{821,761},{304,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-44,-15}</string>
                <key>spriteSize</key>
                <string>{324,118}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1643,921},{324,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-33,-16}</string>
                <key>spriteSize</key>
                <string>{344,126}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1655,433},{344,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-19}</string>
                <key>spriteSize</key>
                <string>{348,136}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1655,295},{348,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-20}</string>
                <key>spriteSize</key>
                <string>{370,138}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1657,155},{370,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{388,152}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1657,1},{388,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-14}</string>
                <key>spriteSize</key>
                <string>{400,170}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1643,749},{400,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-7}</string>
                <key>spriteSize</key>
                <string>{404,186}</string>
                <key>spriteSourceSize</key>
                <string>{416,298}</string>
                <key>textureRect</key>
                <string>{{1643,561},{404,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_sector_20_01_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,106}</string>
                <key>spriteSourceSize</key>
                <string>{153,106}</string>
                <key>textureRect</key>
                <string>{{1127,761},{153,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_sector_20_01.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:99561655bdb8593a5b91928b2aa21c36:fcaa3f943f6317875cbf70bec20acd42:dbafc2770fea7adb14348586c8f17e04$</string>
            <key>textureFileName</key>
            <string>skill_sector_20_01.png</string>
        </dict>
    </dict>
</plist>
