<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_layer_01_right_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>lobby_layer_01_right_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1284},{79,43}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{79,43}}</string>
                <key>sourceSize</key>
                <string>{93,59}</string>
            </dict>
            <key>lobby_layer_01_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{66,68}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,5},{66,68}}</string>
                <key>sourceSize</key>
                <string>{92,78}</string>
            </dict>
            <key>lobby_layer_01_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,1284},{48,28}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,7},{48,28}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>lobby_layer_01_right_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1284},{34,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{34,32}}</string>
                <key>sourceSize</key>
                <string>{60,38}</string>
            </dict>
            <key>lobby_layer_01_right_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1329},{35,14}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{35,14}}</string>
                <key>sourceSize</key>
                <string>{43,24}</string>
            </dict>
            <key>lobby_layer_01_right_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1284},{56,17}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{56,17}}</string>
                <key>sourceSize</key>
                <string>{64,27}</string>
            </dict>
            <key>lobby_layer_01_right_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1329},{20,13}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,13}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>lobby_layer_01_right_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1329},{18,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{18,17}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>lobby_layer_01_right_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1334},{20,15}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{20,15}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>lobby_layer_01_right_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1320},{30,13}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{30,13}}</string>
                <key>sourceSize</key>
                <string>{30,17}</string>
            </dict>
            <key>lobby_layer_01_right_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,1342},{32,7}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{32,7}}</string>
                <key>sourceSize</key>
                <string>{32,17}</string>
            </dict>
            <key>lobby_layer_01_right_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1329},{17,9}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,3},{17,9}}</string>
                <key>sourceSize</key>
                <string>{27,17}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_layer_01_right.png</string>
            <key>size</key>
            <string>{964,1352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:633e5989092cefeef705a767d7eaeb9c:9c8a08d8cd287474f2744dd9778c23c2:f7c24ace2dd92c596b34f787cbd313dc$</string>
            <key>textureFileName</key>
            <string>lobby_layer_01_right.png</string>
        </dict>
    </dict>
</plist>
