<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_damage_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,593},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,875},{20,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{31,741},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,639},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,777},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{31,649},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,685},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{31,785},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{31,695},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,44}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,731},{28,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_bash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,30}</string>
                <key>spriteSourceSize</key>
                <string>{110,30}</string>
                <key>textureRect</key>
                <string>{{1,273},{110,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{43,921},{18,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_critical.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,30}</string>
                <key>spriteSourceSize</key>
                <string>{104,30}</string>
                <key>textureRect</key>
                <string>{{1,487},{104,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_critical_dodge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,30}</string>
                <key>spriteSourceSize</key>
                <string>{240,30}</string>
                <key>textureRect</key>
                <string>{{33,1},{236,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_dodge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,29}</string>
                <key>spriteSourceSize</key>
                <string>{144,29}</string>
                <key>textureRect</key>
                <string>{{33,239},{144,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-14}</string>
                <key>spriteSize</key>
                <string>{16,16}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{47,899},{16,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_equals.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{35,993},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_exclamation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,46}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{25,873},{20,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_hit.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,40}</string>
                <key>spriteSourceSize</key>
                <string>{70,40}</string>
                <key>textureRect</key>
                <string>{{1,921},{70,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_immunity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,34}</string>
                <key>spriteSourceSize</key>
                <string>{100,34}</string>
                <key>textureRect</key>
                <string>{{1,385},{100,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_maximization.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{56,30}</string>
                <key>textureRect</key>
                <string>{{33,591},{56,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_minus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,14}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{47,873},{24,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_miss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,24}</string>
                <key>spriteSourceSize</key>
                <string>{66,30}</string>
                <key>textureRect</key>
                <string>{{37,385},{66,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_parenthesis_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{37,453},{22,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_parenthesis_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,52}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,821},{22,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_percent.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,52}</string>
                <key>textureRect</key>
                <string>{{25,829},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_damage_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,52}</string>
                <key>textureRect</key>
                <string>{{1,993},{28,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_damage_shield.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,30}</string>
                <key>spriteSourceSize</key>
                <string>{82,30}</string>
                <key>textureRect</key>
                <string>{{33,507},{82,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_resist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,30}</string>
                <key>spriteSourceSize</key>
                <string>{270,30}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_damage.png</string>
            <key>size</key>
            <string>{64,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:581c96c05776b2a1950433284f06ff4f:0038dc71feea1708a218a73a3a9ee19c:0fdb1b4405e094835385b44ad28798e8$</string>
            <key>textureFileName</key>
            <string>ingame_damage.png</string>
        </dict>
    </dict>
</plist>
