<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wave_frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,42}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{264,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_frame_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{90,26}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{513,1},{90,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_gauge_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,7}</string>
                <key>spriteSize</key>
                <string>{94,20}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{467,29},{94,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_gauge_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-41,7}</string>
                <key>spriteSize</key>
                <string>{164,20}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{267,23},{164,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_gauge_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{244,20}</string>
                <key>spriteSourceSize</key>
                <string>{264,42}</string>
                <key>textureRect</key>
                <string>{{267,1},{244,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_gauge_point.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,32}</string>
                <key>textureRect</key>
                <string>{{433,23},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_wave_gauge.png</string>
            <key>size</key>
            <string>{604,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0003783eb2ceec2b823455906c87ad1f:b80ee99a67d8f2a902fa56fad5678952:9a9f835f9517668d56a1b24ab755fa96$</string>
            <key>textureFileName</key>
            <string>ingame_wave_gauge.png</string>
        </dict>
    </dict>
</plist>
