<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_kamari_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{348,348}</string>
                <key>textureRect</key>
                <string>{{1,316},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{443,648},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{272,272}</string>
                <key>textureRect</key>
                <string>{{1,1206},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{133,114}</string>
                <key>textureRect</key>
                <string>{{313,778},{115,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,268}</string>
                <key>spriteSourceSize</key>
                <string>{328,286}</string>
                <key>textureRect</key>
                <string>{{1,648},{310,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{166,139}</string>
                <key>spriteSourceSize</key>
                <string>{214,183}</string>
                <key>textureRect</key>
                <string>{{352,303},{166,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_kamari_scratch_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,4}</string>
                <key>spriteSize</key>
                <string>{227,189}</string>
                <key>spriteSourceSize</key>
                <string>{265,213}</string>
                <key>textureRect</key>
                <string>{{309,918},{227,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_kamari_scratch_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{349,313}</string>
                <key>spriteSourceSize</key>
                <string>{385,335}</string>
                <key>textureRect</key>
                <string>{{1,1},{349,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_02_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{145,151}</string>
                <key>spriteSourceSize</key>
                <string>{189,195}</string>
                <key>textureRect</key>
                <string>{{352,150},{145,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_02_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{216,205}</string>
                <key>spriteSourceSize</key>
                <string>{252,247}</string>
                <key>textureRect</key>
                <string>{{257,1206},{216,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_02_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{306,286}</string>
                <key>spriteSourceSize</key>
                <string>{338,336}</string>
                <key>textureRect</key>
                <string>{{1,918},{306,286}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,175}</string>
                <key>spriteSourceSize</key>
                <string>{165,193}</string>
                <key>textureRect</key>
                <string>{{333,471},{147,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{313,648},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_kamari_scratch_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{352,1},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_kamari.png</string>
            <key>size</key>
            <string>{499,1461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d9060065feba0de90965ce06bdc73f4:afaa30acab82e95f6f6c7cd02f65d6cc:94c056df5b678b73a897f12e7c682e99$</string>
            <key>textureFileName</key>
            <string>skill_kamari.png</string>
        </dict>
    </dict>
</plist>
