<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_1_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1556,574}}</string>
                <key>offset</key>
                <string>{-47,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,51},{1556,574}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple_2_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{386,512}}</string>
                <key>offset</key>
                <string>{504,385}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1111,159},{386,512}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,578},{174,228}}</string>
                <key>offset</key>
                <string>{673,284}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1386,402},{174,228}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,808},{130,152}}</string>
                <key>offset</key>
                <string>{275,248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1010,476},{130,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,578},{256,272}}</string>
                <key>offset</key>
                <string>{-134,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,497},{256,272}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,852},{158,96}}</string>
                <key>offset</key>
                <string>{-440,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,722},{158,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,578},{288,154}}</string>
                <key>offset</key>
                <string>{-343,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,655},{288,154}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,578},{206,164}}</string>
                <key>offset</key>
                <string>{136,160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{833,558},{206,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_2_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,868},{188,96}}</string>
                <key>offset</key>
                <string>{-660,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,715},{188,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_2.png</string>
            <key>size</key>
            <string>{1560,966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f3812c29b50b20dc0371d87eff64951:f12bfb1390644cb8bea535adead4bcb0:834d5793fb87513b330d9da2dd1e6f69$</string>
            <key>textureFileName</key>
            <string>sky_temple_2.png</string>
        </dict>
    </dict>
</plist>
