<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_4_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1792},{32,254}}</string>
                <key>offset</key>
                <string>{112,-606}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{896,1279},{32,254}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1848},{28,324}}</string>
                <key>offset</key>
                <string>{208,-617}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{994,1255},{28,324}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_chain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1878},{24,164}}</string>
                <key>offset</key>
                <string>{291,-493}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1079,1211},{24,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1600},{405,190}}</string>
                <key>offset</key>
                <string>{-220,-263}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,568},{405,190}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple_4_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{577,246}}</string>
                <key>offset</key>
                <string>{108,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,463},{577,246}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple_4_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1210},{411,312}}</string>
                <key>offset</key>
                <string>{-16,-232}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,476},{411,312}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple_4_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1240,1596}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,3},{1240,1596}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1210},{160,158}}</string>
                <key>offset</key>
                <string>{-102,-504}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{618,1225},{160,158}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1796},{100,108}}</string>
                <key>offset</key>
                <string>{-102,-500}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,1246},{100,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,1524},{306,306}}</string>
                <key>offset</key>
                <string>{-444,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,515},{306,306}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,1600},{230,228}}</string>
                <key>offset</key>
                <string>{363,-364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1048,1050},{230,228}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1657,1370},{150,152}}</string>
                <key>offset</key>
                <string>{499,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1224,700},{150,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_gear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1524},{152,150}}</string>
                <key>offset</key>
                <string>{-420,-494}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,1219},{152,150}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_object_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,2},{1206,576}}</string>
                <key>offset</key>
                <string>{-16,509}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{181,3},{1206,576}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,1676},{132,148}}</string>
                <key>offset</key>
                <string>{-242,-678}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,1404},{132,148}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1524},{152,106}}</string>
                <key>offset</key>
                <string>{-93,-709}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{631,1456},{152,106}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1826},{66,124}}</string>
                <key>offset</key>
                <string>{-90,-717}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{677,1455},{66,124}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1826},{78,88}}</string>
                <key>offset</key>
                <string>{39,-676}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{800,1432},{78,88}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,1678},{100,116}}</string>
                <key>offset</key>
                <string>{278,-578}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1028,1320},{100,116}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{979,1830},{62,70}}</string>
                <key>offset</key>
                <string>{560,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1329,819},{62,70}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1792},{58,108}}</string>
                <key>offset</key>
                <string>{509,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1280,889},{58,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_4_stone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,1792},{30,52}}</string>
                <key>offset</key>
                <string>{459,-368}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1244,1142},{30,52}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,1894},{10,8}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,148},{10,8}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_4.png</string>
            <key>size</key>
            <string>{1822,1906}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf1703fefea70853c794409cc0708b28:3bbf54c194e5bc238f820f5ad47d998f:4b6367446875e060b6ab9ddfe4dcac54$</string>
            <key>textureFileName</key>
            <string>sky_temple_4.png</string>
        </dict>
    </dict>
</plist>
