<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,292},{498,320}}</string>
                <key>offset</key>
                <string>{22,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,480},{498,320}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,2},{692,288}}</string>
                <key>offset</key>
                <string>{-6,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,512},{692,288}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{944,622}}</string>
                <key>offset</key>
                <string>{-16,-489}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,978},{944,622}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_5.png</string>
            <key>size</key>
            <string>{1642,626}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09877a93852e5556ee076e6cef75ba49:3cc68352d6121c77da65a817422ebc46:b42d0997845bd7903ca020a483eae5e1$</string>
            <key>textureFileName</key>
            <string>dark_castle_5.png</string>
        </dict>
    </dict>
</plist>
