<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_gerner_boom_aura_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,626},{300,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{300,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>missile_gerner_boom_ball_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,558}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{558,558}}</string>
                <key>sourceSize</key>
                <string>{578,578}</string>
            </dict>
            <key>missile_gerner_boom_ball_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{304,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{304,306}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>missile_gerner_boom_boom_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1732},{253,261}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{253,261}}</string>
                <key>sourceSize</key>
                <string>{275,281}</string>
            </dict>
            <key>missile_gerner_boom_boom_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,802},{336,333}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,13},{336,333}}</string>
                <key>sourceSize</key>
                <string>{366,357}</string>
            </dict>
            <key>missile_gerner_boom_boom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1443},{288,287}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{288,287}}</string>
                <key>sourceSize</key>
                <string>{290,289}</string>
            </dict>
            <key>missile_gerner_boom_burst_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1877},{96,92}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,16},{96,92}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{122,124}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{122,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,128},{124,122}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1469},{124,124}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,500},{120,124}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{120,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,378},{120,122}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,3},{120,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_burst_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,254},{122,122}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{122,122}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_dot_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1238},{293,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{293,229}}</string>
                <key>sourceSize</key>
                <string>{313,249}</string>
            </dict>
            <key>missile_gerner_boom_dot_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,1732},{249,225}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{249,225}}</string>
                <key>sourceSize</key>
                <string>{269,245}</string>
            </dict>
            <key>missile_gerner_boom_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1877},{116,106}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,10},{116,106}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_gerner_boom_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1469},{200,206}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{200,206}}</string>
                <key>sourceSize</key>
                <string>{208,208}</string>
            </dict>
            <key>missile_gerner_boom_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,928},{308,330}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{308,330}}</string>
                <key>sourceSize</key>
                <string>{330,348}</string>
            </dict>
            <key>missile_gerner_boom_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{400,238}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{400,238}}</string>
                <key>sourceSize</key>
                <string>{400,238}</string>
            </dict>
            <key>missile_gerner_boom_won.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,1677},{198,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{198,198}}</string>
                <key>sourceSize</key>
                <string>{218,218}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_gerner_boom.png</string>
            <key>size</key>
            <string>{686,1995}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5b189bc86e4cc0e0e2a49a1f8fe44e3:9025f1dc9e5ce04225e3e48a45783759:00a8af36568f2a30f11ea475d88f734c$</string>
            <key>textureFileName</key>
            <string>missile_gerner_boom.png</string>
        </dict>
    </dict>
</plist>
