<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_dragon_skill_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,104}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,68},{102,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ingame_dragon_skill_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{1280,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,180}}</string>
                <key>sourceSize</key>
                <string>{1280,180}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,2},{89,73}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{89,73}}</string>
                <key>sourceSize</key>
                <string>{117,103}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1479,2},{214,216}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,21},{214,216}}</string>
                <key>sourceSize</key>
                <string>{290,262}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1695,2},{251,233}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{251,233}}</string>
                <key>sourceSize</key>
                <string>{259,245}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,237},{287,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,273}}</string>
                <key>sourceSize</key>
                <string>{287,273}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,237},{273,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,259}}</string>
                <key>sourceSize</key>
                <string>{273,259}</string>
            </dict>
            <key>ingame_dragon_skill_charging_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,237},{273,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,259}}</string>
                <key>sourceSize</key>
                <string>{273,259}</string>
            </dict>
            <key>ingame_dragon_skill_circle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,237},{194,198}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,28},{194,198}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>ingame_dragon_skill_circle_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1037,237},{184,202}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{184,202}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>ingame_dragon_skill_circle_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1223,237},{190,200}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,17},{190,200}}</string>
                <key>sourceSize</key>
                <string>{234,234}</string>
            </dict>
            <key>ingame_dragon_skill_dsc.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,237},{306,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,34}}</string>
                <key>sourceSize</key>
                <string>{306,34}</string>
            </dict>
            <key>ingame_dragon_skill_gauge_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,237},{139,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,72}}</string>
                <key>sourceSize</key>
                <string>{139,72}</string>
            </dict>
            <key>ingame_dragon_skill_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{381,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{381,58}}</string>
                <key>sourceSize</key>
                <string>{381,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame_dragon_skill.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95eb6937feedfc15f43365778826f8ae$</string>
            <key>textureFileName</key>
            <string>ingame_dragon_skill.png</string>
        </dict>
    </dict>
</plist>
