<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_forest_crown.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,1156},{62,66}}</string>
                <key>offset</key>
                <string>{-69,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{540,354},{62,66}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1436},{50,40}}</string>
                <key>offset</key>
                <string>{-5,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{610,367},{50,40}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_egg_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,972},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,197},{86,106}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_forest_egg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1156},{158,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,215},{158,72}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_forest_feather.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1488},{38,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,132},{38,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_flower.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,1080},{74,76}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{121,113},{74,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1666},{42,34}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,58},{42,34}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>dragon_forest_layer_01_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_layer_01_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,972},{162,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,184},{162,132}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_forest_light_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1588},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,102},{96,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_light_purple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,1526},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,126},{48,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_light_white_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1824,1588},{74,76}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,112},{74,76}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_light_white_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{328,398}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,51},{328,398}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_forest_light_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1926},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,140},{16,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_light_yellow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,1588},{96,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,102},{96,96}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>dragon_forest_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1702},{268,256}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,351},{268,256}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1436},{284,264}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,343},{284,264}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,1702},{268,256}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,351},{268,256}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,612},{368,274}}</string>
                <key>offset</key>
                <string>{3,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,368},{368,274}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_0202.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,332},{374,278}}</string>
                <key>offset</key>
                <string>{1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,367},{374,278}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1654,614},{356,242}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,349},{356,242}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_0302.png</key>
            <dict>
                <key>frame</key>
                <string>{{1644,1230},{356,254}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{462,342},{356,254}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1164},{358,270}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,364},{358,270}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_0402.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,888},{362,274}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,364},{362,274}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,320},{184,292}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{548,334},{184,292}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_object_0502.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,2},{208,316}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{538,324},{208,316}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1926},{22,130}}</string>
                <key>offset</key>
                <string>{-48,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{581,396},{22,130}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1926},{18,78}}</string>
                <key>offset</key>
                <string>{-51,38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{580,403},{18,78}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_forest_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,1106},{160,48}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{562,501},{160,48}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_forest.png</string>
            <key>size</key>
            <string>{1900,1960}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf2b06abde58bcd7a568e20e585da4e9:6f4fe26f15eb84d23f40cc91f4bef898:89a489f6514c431abc5c1044081ec478$</string>
            <key>textureFileName</key>
            <string>dragon_forest.png</string>
        </dict>
    </dict>
</plist>
