<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>layer_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2408},{1920,334}}</string>
                <key>offset</key>
                <string>{0,287}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,86},{1920,334}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1084},{1920,892}}</string>
                <key>offset</key>
                <string>{0,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,161},{1920,892}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
            <key>layer_bg_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1978},{1920,428}}</string>
                <key>offset</key>
                <string>{0,-326}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,652},{1920,428}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>infinitepowerdungeon.png</string>
            <key>size</key>
            <string>{2048,4096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75a2c647fcc75396cd2c8f373ce6d472:39f5a41a5cf2d8906dbea645e82cf274:6b51ac67006bb057083714df9bf7fa96$</string>
            <key>textureFileName</key>
            <string>infinitepowerdungeon.png</string>
        </dict>
    </dict>
</plist>
