<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_ocean_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,52},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_low_ocean_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1251,801}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,73},{1251,801}}</string>
                <key>sourceSize</key>
                <string>{1315,931}</string>
            </dict>
            <key>bg_low_ocean_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1255,2},{48,46}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_ocean_5.png</string>
            <key>size</key>
            <string>{1303,805}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acd9c8204b0f7217770fecc6dbbdcc16:d21e56fa02b0790e2f6d14b52ee1486e:8a091717d085596d76ea8ba9d7208364$</string>
            <key>textureFileName</key>
            <string>low_ocean_5.png</string>
        </dict>
    </dict>
</plist>
