<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_ocean_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1994,750}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,334},{1994,750}}</string>
                <key>sourceSize</key>
                <string>{2030,1600}</string>
            </dict>
            <key>bg_low_ocean_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{1449,738}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,62},{1449,738}}</string>
                <key>sourceSize</key>
                <string>{1449,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_ocean_2.png</string>
            <key>size</key>
            <string>{1998,1494}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76b60d7e05f7fbc98af24cb7c7ebdf64:c2236862bf71a650515b86095f330a19:7e0634a43e7e3d6a58b611ae0af69b2c$</string>
            <key>textureFileName</key>
            <string>low_ocean_2.png</string>
        </dict>
    </dict>
</plist>
