<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ball_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,183},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_dark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,83},{70,34}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_dark_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,83},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_dark_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,112},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_dark_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,134},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_dark_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_dark_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,88},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,130}}</string>
                <key>sourceSize</key>
                <string>{134,130}</string>
            </dict>
            <key>missile_ball_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,183},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{69,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>missile_ball_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
            <key>missile_ball_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,121},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{111,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,103},{111,106}}</string>
                <key>sourceSize</key>
                <string>{323,314}</string>
            </dict>
            <key>missile_ball_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,83},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_ball_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{79,81}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,70},{79,81}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>missile_ball_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,2},{79,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,63},{79,83}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>missile_ball_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{85,81}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,64},{85,81}}</string>
                <key>sourceSize</key>
                <string>{215,209}</string>
            </dict>
            <key>missile_ball_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,85},{84,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,34}}</string>
                <key>sourceSize</key>
                <string>{84,34}</string>
            </dict>
            <key>missile_ball_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,181},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,119},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,181},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,181},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{369,119},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,150},{56,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,119},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,121},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,212},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>missile_ball_water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,220},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>missile_ball_water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,198},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_ball.png</string>
            <key>size</key>
            <string>{569,250}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4016dc508c9bd117dfdbbffc02d0351$</string>
            <key>textureFileName</key>
            <string>missile_ball.png</string>
        </dict>
    </dict>
</plist>
