<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_map_event_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,39}</string>
                <key>spriteSourceSize</key>
                <string>{146,39}</string>
                <key>textureRect</key>
                <string>{{408,1},{146,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_map_event_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,0}</string>
                <key>spriteSize</key>
                <string>{405,44}</string>
                <key>spriteSourceSize</key>
                <string>{425,44}</string>
                <key>textureRect</key>
                <string>{{1,1},{405,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage_map.png</string>
            <key>size</key>
            <string>{555,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e841bad0cad41bcfb2d3bb3801673895:62f2e2c8c6e1d745bcc9bde39a9a9e56:08ee36fc2461b0f8f973c7a273b13dee$</string>
            <key>textureFileName</key>
            <string>stage_map.png</string>
        </dict>
    </dict>
</plist>
