<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attr_adv_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,31}</string>
                <key>spriteSourceSize</key>
                <string>{99,31}</string>
                <key>textureRect</key>
                <string>{{122,1},{99,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>attr_disadv_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,31}</string>
                <key>spriteSourceSize</key>
                <string>{119,31}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_enemy.png</string>
            <key>size</key>
            <string>{222,33}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:621324a279c603c9d6bb1eecebab33ad:d936078eae10380523800977451c56bc:1b0ce079692a0551ed20c54825f265d1$</string>
            <key>textureFileName</key>
            <string>ingame_enemy.png</string>
        </dict>
    </dict>
</plist>
