<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_spin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,46},{164,24}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,112},{164,24}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{164,24}}</string>
                <key>offset</key>
                <string>{11,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,112},{164,24}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1846,2},{132,30}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,107},{132,30}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,34},{132,30}}</string>
                <key>offset</key>
                <string>{9,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,107},{132,30}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,28},{94,42}}</string>
                <key>offset</key>
                <string>{-2,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{94,42}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1554,2},{124,42}}</string>
                <key>offset</key>
                <string>{13,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,95},{124,42}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,2},{118,56}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,81},{118,56}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{118,56}}</string>
                <key>offset</key>
                <string>{15,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,81},{118,56}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{134,64}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{134,64}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,2},{134,64}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,73},{134,64}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{126,70}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{126,70}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{126,70}}</string>
                <key>offset</key>
                <string>{18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,65},{126,70}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{130,78}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{130,78}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,2},{130,78}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,54},{130,78}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{128,78}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,52},{128,78}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,2},{128,78}}</string>
                <key>offset</key>
                <string>{18,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,52},{128,78}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,80}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,47},{128,80}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
            <key>effect_spin_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,80}}</string>
                <key>offset</key>
                <string>{17,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,46},{128,80}}</string>
                <key>sourceSize</key>
                <string>{224,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_spin.png</string>
            <key>size</key>
            <string>{1980,84}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c03668739f0121e02f4e9bbc9f6a98ba:845ef346323a43dfba2fa1690e239fe3:14747034e428cbb22e4d954be25eae07$</string>
            <key>textureFileName</key>
            <string>effect_spin.png</string>
        </dict>
    </dict>
</plist>
