<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_high_legend_fire_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{644,638}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_high_legend_fire.png</string>
            <key>size</key>
            <string>{646,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78443bd7ae2acc44aa81d95dc29b1b08:2d23ad4e0cf0b800caf0b5e86a748586:61bfeeacfca7904e3a71680e6f7fe418$</string>
            <key>textureFileName</key>
            <string>egg_high_legend_fire.png</string>
        </dict>
    </dict>
</plist>
