<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>bg_volcano_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{1866,380}}</string>
                <key>offset</key>
                <string>{87,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,824},{1866,380}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1604},{228,166}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,48},{228,166}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_volcano_spiderweb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1834},{162,153}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{162,153}}</string>
                <key>sourceSize</key>
                <string>{256,237}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_3.png</string>
            <key>size</key>
            <string>{2038,1989}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d39a64618358c4b4d7fc7146f8fc38f1:89f7600694f77ce68fadcbcc28bb1d15:f77de0003325ee3d137ad2c8b8959a8b$</string>
            <key>textureFileName</key>
            <string>volcano_3.png</string>
        </dict>
    </dict>
</plist>
