<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1833,918}}</string>
                <key>offset</key>
                <string>{0,-341}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,682},{1833,918}}</string>
                <key>sourceSize</key>
                <string>{1833,1600}</string>
            </dict>
            <key>bg_volcano_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{1048,832}}</string>
                <key>offset</key>
                <string>{176,-384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{676,768},{1048,832}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_3.png</string>
            <key>size</key>
            <string>{1837,1756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d35c9a96c813e69725119f08622f39:140413a0cd81fffa9486531d4f765232:63eb83d53f289cb82a19295775484837$</string>
            <key>textureFileName</key>
            <string>volcano_3.png</string>
        </dict>
    </dict>
</plist>
