<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{1334,1042}}</string>
                <key>offset</key>
                <string>{-109,-279}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,558},{1334,1042}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1494,522}}</string>
                <key>offset</key>
                <string>{-43,-539}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,1078},{1494,522}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_5.png</string>
            <key>size</key>
            <string>{1498,1570}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1fa0fab531bd6eb51de47915c71fd47:002af8ee6f627f060ffa6f8ebc6a67b9:f77de0003325ee3d137ad2c8b8959a8b$</string>
            <key>textureFileName</key>
            <string>volcano_5.png</string>
        </dict>
    </dict>
</plist>
