<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_yurion_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,372}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{550,1288},{372,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{456,455}</string>
                <key>spriteSourceSize</key>
                <string>{474,473}</string>
                <key>textureRect</key>
                <string>{{552,831},{456,455}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{786,315}</string>
                <key>spriteSourceSize</key>
                <string>{804,333}</string>
                <key>textureRect</key>
                <string>{{1,1},{786,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{547,272}</string>
                <key>spriteSourceSize</key>
                <string>{565,290}</string>
                <key>textureRect</key>
                <string>{{1,1387},{547,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{549,545}</string>
                <key>spriteSourceSize</key>
                <string>{567,563}</string>
                <key>textureRect</key>
                <string>{{1,318},{549,545}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{493,483}</string>
                <key>spriteSourceSize</key>
                <string>{511,501}</string>
                <key>textureRect</key>
                <string>{{552,346},{493,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,140}</string>
                <key>spriteSourceSize</key>
                <string>{114,158}</string>
                <key>textureRect</key>
                <string>{{1475,294},{96,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{537,520}</string>
                <key>spriteSourceSize</key>
                <string>{555,538}</string>
                <key>textureRect</key>
                <string>{{1,865},{537,520}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{525,343}</string>
                <key>spriteSourceSize</key>
                <string>{543,361}</string>
                <key>textureRect</key>
                <string>{{789,1},{525,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,371}</string>
                <key>spriteSourceSize</key>
                <string>{387,389}</string>
                <key>textureRect</key>
                <string>{{924,1288},{369,371}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{491,426}</string>
                <key>spriteSourceSize</key>
                <string>{509,444}</string>
                <key>textureRect</key>
                <string>{{1047,346},{491,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yurion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,376}</string>
                <key>spriteSourceSize</key>
                <string>{404,394}</string>
                <key>textureRect</key>
                <string>{{1010,839},{386,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,291}</string>
                <key>spriteSourceSize</key>
                <string>{307,309}</string>
                <key>textureRect</key>
                <string>{{1316,1},{289,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{351,345}</string>
                <key>spriteSourceSize</key>
                <string>{369,363}</string>
                <key>textureRect</key>
                <string>{{1295,1217},{351,345}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_yurion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{1607,1},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_yurion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{310,268}</string>
                <key>spriteSourceSize</key>
                <string>{328,286}</string>
                <key>textureRect</key>
                <string>{{1398,839},{310,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_yurion.png</string>
            <key>size</key>
            <string>{1667,1661}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9dd8f9814a9ae279268580dcc5647cb1:e4f61ccb4bd6d0885bc49cdbd6a04061:9037a744f5e26d09dab905c6a0740bf0$</string>
            <key>textureFileName</key>
            <string>skill_yurion.png</string>
        </dict>
    </dict>
</plist>
