<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_ocean_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_ocean_1.png</string>
            <key>size</key>
            <string>{1924,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7621fd8cdba6c1745636725750965d6a:49f02f699bfd104b7d5a4e2ee56b1e4e:e52faa641b72eab1b9dfd35d34b07f37$</string>
            <key>textureFileName</key>
            <string>low_ocean_1.png</string>
        </dict>
    </dict>
</plist>
