<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_canyon2_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1220,804}}</string>
                <key>offset</key>
                <string>{-11,-398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,796},{1220,804}}</string>
                <key>sourceSize</key>
                <string>{1484,1600}</string>
            </dict>
            <key>bg_canyon2_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,808},{862,966}}</string>
                <key>offset</key>
                <string>{0,-317}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,634},{862,966}}</string>
                <key>sourceSize</key>
                <string>{862,1600}</string>
            </dict>
            <key>bg_canyon2_6_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,808},{786,732}}</string>
                <key>offset</key>
                <string>{-19,-434}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,868},{786,732}}</string>
                <key>sourceSize</key>
                <string>{934,1600}</string>
            </dict>
            <key>bg_canyon2_text_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1514,1596},{150,432}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,0},{150,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,765},{734,316}}</string>
                <key>offset</key>
                <string>{6,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,233},{734,316}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,2},{778,360}}</string>
                <key>offset</key>
                <string>{21,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,195},{778,360}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>cloud_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1596},{646,132}}</string>
                <key>offset</key>
                <string>{107,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,431},{646,132}}</string>
                <key>sourceSize</key>
                <string>{1084,800}</string>
            </dict>
            <key>sand_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,2},{761,350}}</string>
                <key>offset</key>
                <string>{-33,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,128},{761,350}}</string>
                <key>sourceSize</key>
                <string>{985,580}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canyon2_7.png</string>
            <key>size</key>
            <string>{1948,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a2a1c7fd8dd92fdd8c4c2d615c94f8dc:6366d1cd656cc10e37e9e0ec4b7521ae:d2fb754822a6b88ceae7e6ff0a0d4411$</string>
            <key>textureFileName</key>
            <string>canyon2_7.png</string>
        </dict>
    </dict>
</plist>
