<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_stra_book_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,211}</string>
                <key>spriteSourceSize</key>
                <string>{347,211}</string>
                <key>textureRect</key>
                <string>{{647,1},{347,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_book_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,211}</string>
                <key>spriteSourceSize</key>
                <string>{347,211}</string>
                <key>textureRect</key>
                <string>{{996,1},{347,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_book_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,211}</string>
                <key>spriteSourceSize</key>
                <string>{347,211}</string>
                <key>textureRect</key>
                <string>{{727,214},{347,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,330}</string>
                <key>spriteSourceSize</key>
                <string>{348,348}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,21}</string>
                <key>spriteSourceSize</key>
                <string>{43,39}</string>
                <key>textureRect</key>
                <string>{{1,484},{25,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{254,254}</string>
                <key>spriteSourceSize</key>
                <string>{272,272}</string>
                <key>textureRect</key>
                <string>{{1076,214},{254,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,96}</string>
                <key>spriteSourceSize</key>
                <string>{133,114}</string>
                <key>textureRect</key>
                <string>{{629,317},{115,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_stra_mand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,199}</string>
                <key>spriteSourceSize</key>
                <string>{149,199}</string>
                <key>textureRect</key>
                <string>{{1,333},{149,199}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_stra_particle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{312,314}</string>
                <key>spriteSourceSize</key>
                <string>{320,320}</string>
                <key>textureRect</key>
                <string>{{333,1},{312,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_scratch_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,175}</string>
                <key>spriteSourceSize</key>
                <string>{165,193}</string>
                <key>textureRect</key>
                <string>{{202,333},{147,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_scratch_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{499,317},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_stra_scratch_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,147}</string>
                <key>spriteSourceSize</key>
                <string>{146,147}</string>
                <key>textureRect</key>
                <string>{{351,317},{146,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_stra.png</string>
            <key>size</key>
            <string>{1344,509}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad9048f6339890263517319b12cce4b2:ef099f9bcb69ed2a804aec91affca82e:09dce0a6cc778ddaac21d08eafcd2e81$</string>
            <key>textureFileName</key>
            <string>skill_stra.png</string>
        </dict>
    </dict>
</plist>
