<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_immunity_new_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,207},{176,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_immunity_new_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{181,377},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_immunity_new_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,385},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_immunity_new_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,27}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{359,377},{126,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_immunity_new_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{194,198}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{214,1},{194,198}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_immunity_new_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{180,178}</string>
                <key>spriteSourceSize</key>
                <string>{200,196}</string>
                <key>textureRect</key>
                <string>{{214,197},{180,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_immunity_new_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{211,204}</string>
                <key>spriteSourceSize</key>
                <string>{229,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_immunity_new.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef45d43b81c3e6196ffb8779c45d4543:65bed9da1dcce3f97c284bcfb41c9493:b19aa5efdbeb9d6151bc0e19cd4c2d62$</string>
            <key>textureFileName</key>
            <string>effect_immunity_new.png</string>
        </dict>
    </dict>
</plist>
