<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_wedge_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_wedge_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{34,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_wedge_water.png</string>
            <key>size</key>
            <string>{38,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e0bf897be0983a8384b37931ae3c0860:2c3deef7eaf5bd0e98609992f3fe0db4:4dbee4579ed1a7a11262c9ae655657d4$</string>
            <key>textureFileName</key>
            <string>missile_wedge_water.png</string>
        </dict>
    </dict>
</plist>
