<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_ocean_island_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1736},{124,94}}</string>
                <key>offset</key>
                <string>{-269,255}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{693,210},{124,94}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1890},{114,160}}</string>
                <key>offset</key>
                <string>{-432,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,282},{114,160}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_03_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1998},{116,36}}</string>
                <key>offset</key>
                <string>{-314,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{652,380},{116,36}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,1890},{144,214}}</string>
                <key>offset</key>
                <string>{-240,133}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{712,272},{144,214}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1440,822}}</string>
                <key>offset</key>
                <string>{-2,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,155},{1440,822}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_outline.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{1438,786}}</string>
                <key>offset</key>
                <string>{-4,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,153},{1438,786}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{1544,444}}</string>
                <key>offset</key>
                <string>{-2,-290}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,580},{1544,444}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_shadow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,2},{1430,410}}</string>
                <key>offset</key>
                <string>{-3,-273}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{306,580},{1430,410}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1998},{28,30}}</string>
                <key>offset</key>
                <string>{-329,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{681,283},{28,30}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,1948},{112,64}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{962,593},{112,64}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1442},{112,64}}</string>
                <key>offset</key>
                <string>{18,-159}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{986,639},{112,64}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,1890},{168,142}}</string>
                <key>offset</key>
                <string>{-558,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,436},{168,142}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1614,1434},{432,300}}</string>
                <key>offset</key>
                <string>{-170,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{638,302},{432,300}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1890},{264,58}}</string>
                <key>offset</key>
                <string>{-351,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{541,533},{264,58}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,1736},{286,256}}</string>
                <key>offset</key>
                <string>{-97,105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{784,279},{286,256}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1374,1950},{144,64}}</string>
                <key>offset</key>
                <string>{236,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1188,348},{144,64}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1890},{126,56}}</string>
                <key>offset</key>
                <string>{-32,256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{929,228},{126,56}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1998},{82,28}}</string>
                <key>offset</key>
                <string>{56,272}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1039,226},{82,28}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{464,106}}</string>
                <key>offset</key>
                <string>{296,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1088,478},{464,106}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,1950},{166,90}}</string>
                <key>offset</key>
                <string>{335,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1276,476},{166,90}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1890},{188,94}}</string>
                <key>offset</key>
                <string>{460,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1390,472},{188,94}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1998},{124,38}}</string>
                <key>offset</key>
                <string>{261,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1223,570},{124,38}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1998},{90,38}}</string>
                <key>offset</key>
                <string>{183,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1162,460},{90,38}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_04_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,1832},{110,96}}</string>
                <key>offset</key>
                <string>{182,134}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1151,330},{110,96}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ocean_1.png</string>
            <key>size</key>
            <string>{2048,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f767f5a6f5ee8c1e479b39d929a17039:0469408722155ce44e527242413f02af:fd1fc2f5f5f04ff18686e8c9475e07dd$</string>
            <key>textureFileName</key>
            <string>map_ocean_1.png</string>
        </dict>
    </dict>
</plist>
