<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_ocean_island_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,1180},{124,94}}</string>
                <key>offset</key>
                <string>{-269,255}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{693,210},{124,94}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,840},{126,138}}</string>
                <key>offset</key>
                <string>{-129,236}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{832,207},{126,138}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,832},{474,668}}</string>
                <key>offset</key>
                <string>{-251,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{536,283},{474,668}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,840},{474,668}}</string>
                <key>offset</key>
                <string>{-384,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,180},{474,668}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1750,1524},{174,214}}</string>
                <key>offset</key>
                <string>{-384,141}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{553,264},{174,214}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_03_grass.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,2},{116,36}}</string>
                <key>offset</key>
                <string>{-314,114}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{652,380},{116,36}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_island_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1762,1700},{146,182}}</string>
                <key>offset</key>
                <string>{-241,150}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{710,271},{146,182}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1442,828}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,149},{1442,828}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_island.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{770,764}}</string>
                <key>offset</key>
                <string>{-373,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,226},{770,764}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_island_bubble.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1502},{66,14}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,144},{66,14}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_ocean_land_easy_island_sand.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1524},{626,352}}</string>
                <key>offset</key>
                <string>{-278,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,251},{626,352}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_easy_shadow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{772,222}}</string>
                <key>offset</key>
                <string>{-1,-145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,290},{772,222}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>map_ocean_land_easy_shadow_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,1316},{716,206}}</string>
                <key>offset</key>
                <string>{-2,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,289},{716,206}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>map_ocean_land_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1812},{112,64}}</string>
                <key>offset</key>
                <string>{-6,-113}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{962,593},{112,64}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_land_wave_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1524},{344,184}}</string>
                <key>offset</key>
                <string>{-156,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,115},{344,184}}</string>
                <key>sourceSize</key>
                <string>{1024,512}</string>
            </dict>
            <key>map_ocean_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,1180},{28,30}}</string>
                <key>offset</key>
                <string>{-329,214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{681,283},{28,30}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_ocean_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,1812},{48,46}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>map_ocean_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,2},{836,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,530},{836,540}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>map_ocean_starfish_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1988,120},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,139},{24,22}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_ocean_stone_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{1920,980},{198,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,91},{198,118}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_ocean_stone_top_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,1812},{82,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{109,120},{82,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_ocean_stone_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1822},{210,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,123},{210,54}}</string>
                <key>sourceSize</key>
                <string>{384,300}</string>
            </dict>
            <key>map_ocean_stone_wave_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,1710},{356,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,100},{356,100}}</string>
                <key>sourceSize</key>
                <string>{384,300}</string>
            </dict>
            <key>map_ocean_stone_wave_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1822},{90,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,134},{90,32}}</string>
                <key>sourceSize</key>
                <string>{384,300}</string>
            </dict>
            <key>map_ocean_stone_wave_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1822},{152,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,129},{152,42}}</string>
                <key>sourceSize</key>
                <string>{384,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ocean_1.png</string>
            <key>size</key>
            <string>{2048,1878}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20212e89a68b523d080135bae2356205:f32ace6d28f4e398aeda8764a6fe1454:4d6ce644e5f3d11f1e3cebc9ceba6f3d$</string>
            <key>textureFileName</key>
            <string>map_ocean_1.png</string>
        </dict>
    </dict>
</plist>
