<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event_illusion_rsc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,119}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{108,1},{107,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{702,109},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,94}</string>
                <key>spriteSourceSize</key>
                <string>{91,94}</string>
                <key>textureRect</key>
                <string>{{711,1},{91,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{217,1},{109,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,16}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{225,112},{109,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,11}</string>
                <key>spriteSize</key>
                <string>{109,89}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{415,1},{109,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{109,81}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{421,112},{109,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{109,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{324,112},{109,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{109,97}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{316,1},{109,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,-34}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{803,186},{71,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{105,123}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1,1},{105,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,21}</string>
                <key>spriteSize</key>
                <string>{75,87}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{803,97},{75,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,10}</string>
                <key>spriteSize</key>
                <string>{95,101}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{605,109},{95,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,4}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{114,122},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{111,119}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{1,126},{111,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-16}</string>
                <key>spriteSize</key>
                <string>{107,95}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{506,1},{107,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_illusion_rsc_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-10}</string>
                <key>spriteSize</key>
                <string>{99,107}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{504,112},{99,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_illusion_rsc_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{116,116}</string>
                <key>textureRect</key>
                <string>{{603,1},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>event_dungeon.png</string>
            <key>size</key>
            <string>{879,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e4e934778fcdef9b4a554c18a662914:b038e11c3c12b02e0978eb99ac1ce91e:5530d8e603500d7e98118e692e23f4bb$</string>
            <key>textureFileName</key>
            <string>event_dungeon.png</string>
        </dict>
    </dict>
</plist>
