<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_bg_light_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,542},{300,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,176},{300,148}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_blue_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,542},{12,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,243},{12,14}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1400},{546,204}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,120},{546,204}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1678},{346,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,148},{346,204}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_flower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,844},{190,148}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,205},{190,148}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_flower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1720},{134,222}}</string>
                <key>offset</key>
                <string>{-184,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,137},{134,222}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_flower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,1944},{58,86}}</string>
                <key>offset</key>
                <string>{-56,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,297},{58,86}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_flower_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1948},{52,68}}</string>
                <key>offset</key>
                <string>{-144,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,314},{52,68}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_flower_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1570},{80,106}}</string>
                <key>offset</key>
                <string>{26,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,224},{80,106}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_island_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1400},{492,306}}</string>
                <key>offset</key>
                <string>{-82,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,100},{492,306}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1818},{46,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,225},{46,50}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1948},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,233},{50,34}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1720},{136,120}}</string>
                <key>offset</key>
                <string>{4,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,380},{136,120}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1392},{176,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,189},{176,122}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,316},{74,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,170},{74,160}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1944},{80,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,211},{80,78}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{56,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,214},{56,72}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1948},{68,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,202},{68,96}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1770},{54,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{301,227},{54,46}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1570},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{312,231},{32,38}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,1720},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,221},{48,58}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1894},{52,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{302,231},{52,38}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1110},{138,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,195},{138,110}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,1400},{234,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,167},{234,166}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_plnat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1842},{118,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,188},{118,124}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_plnat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1222},{136,176}}</string>
                <key>offset</key>
                <string>{-25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,170},{136,176}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_plnat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1894},{126,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,102},{126,296}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_plnat_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1284},{106,286}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,107},{106,286}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_light_skylight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,1284},{314,392}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,261},{314,392}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_light_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1036},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,214},{148,72}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1284},{110,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,196},{110,108}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,392},{154,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,176},{154,148}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{124,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,193},{124,114}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{162,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,192},{162,116}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_tree_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,120},{160,194}}</string>
                <key>offset</key>
                <string>{7,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,194},{160,194}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1678},{362,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,230},{362,40}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1284},{112,112}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,206},{112,112}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_bg_light.png</string>
            <key>size</key>
            <string>{1128,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db928340cbf0ea8146208b4c161ded17:06ac64db49d215efcb073078db07d50b:7e8f2fb829111c0e35e052c0c128a203$</string>
            <key>textureFileName</key>
            <string>dragon_bg_light.png</string>
        </dict>
    </dict>
</plist>
