<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_bg_light_basic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_light_bigflower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,766},{332,350}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,50},{332,350}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bigflower_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,372},{126,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,163},{126,124}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_blackstone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,170},{348,274}}</string>
                <key>offset</key>
                <string>{23,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,151},{348,274}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bs_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,1026},{54,180}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{195,131},{54,180}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bs_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{142,216}}</string>
                <key>offset</key>
                <string>{-42,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{112,110},{142,216}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bs_leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,964},{56,136}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,157},{56,136}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bs_leaf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,644},{112,122}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{168,163},{112,122}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_bs_leaf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,964},{76,186}}</string>
                <key>offset</key>
                <string>{-14,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,153},{76,186}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,964},{166,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,159},{166,132}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1042},{116,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,198},{116,54}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_flowerlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{440,368}}</string>
                <key>offset</key>
                <string>{-5,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{440,368}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,964},{136,120}}</string>
                <key>offset</key>
                <string>{4,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,380},{136,120}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,520},{176,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,189},{176,122}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,964},{74,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,170},{74,160}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_leaf_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1994,644},{48,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,221},{48,58}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,2},{166,320}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,73},{166,320}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_object_01_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,758},{266,212}}</string>
                <key>offset</key>
                <string>{0,62}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,57},{266,212}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,964},{196,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,169},{196,108}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,520},{268,236}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,107},{268,236}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_object_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,758},{196,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,123},{196,204}}</string>
                <key>sourceSize</key>
                <string>{450,450}</string>
            </dict>
            <key>dragon_bg_light_skylight02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,372},{314,392}}</string>
                <key>offset</key>
                <string>{-8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,261},{314,392}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_light_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,964},{148,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,214},{148,72}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
            <key>dragon_bg_light_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,964},{112,112}}</string>
                <key>offset</key>
                <string>{25,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,206},{112,112}}</string>
                <key>sourceSize</key>
                <string>{656,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_bg_light.png</string>
            <key>size</key>
            <string>{2048,1108}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6350c26bfbf27d432bdfccfaea662ae:5b39586b32f62664c1e8b0a1bf61d118:7e8f2fb829111c0e35e052c0c128a203$</string>
            <key>textureFileName</key>
            <string>dragon_bg_light.png</string>
        </dict>
    </dict>
</plist>
