<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_high_hero_10_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,26}</string>
                <key>spriteSize</key>
                <string>{549,482}</string>
                <key>spriteSourceSize</key>
                <string>{773,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{549,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_high_hero_10.png</string>
            <key>size</key>
            <string>{551,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea737b6c7145d0c21e442edf33ad4389:aac5bf70997e9426f481547c9c6c428b:1e3163aae639371fae2a90ec0ac4c6ba$</string>
            <key>textureFileName</key>
            <string>egg_high_hero_10.png</string>
        </dict>
    </dict>
</plist>
