<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>curious_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{163,126}}</string>
                <key>sourceSize</key>
                <string>{179,136}</string>
            </dict>
            <key>curious_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{77,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,18}}</string>
                <key>sourceSize</key>
                <string>{87,18}</string>
            </dict>
            <key>curious_thing_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,22},{57,89}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{57,89}}</string>
                <key>sourceSize</key>
                <string>{65,93}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>curious.png</string>
            <key>size</key>
            <string>{246,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7967536815ca020738f6db3418bc3f2:7fc03dae4fc46a7b22a6e7d6f17abbeb:4ecdf32c81521e4d30029a4c47086f38$</string>
            <key>textureFileName</key>
            <string>curious.png</string>
        </dict>
    </dict>
</plist>
