<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tamer_ranker_01-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,38}</string>
                <key>spriteSize</key>
                <string>{289,284}</string>
                <key>spriteSourceSize</key>
                <string>{325,392}</string>
                <key>textureRect</key>
                <string>{{1,360},{289,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_acc_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{57,58}</string>
                <key>textureRect</key>
                <string>{{444,247},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_tamer_ranker_01_acc_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,30}</string>
                <key>spriteSourceSize</key>
                <string>{77,48}</string>
                <key>textureRect</key>
                <string>{{453,126},{59,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_tamer_ranker_01_acc_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,59}</string>
                <key>spriteSourceSize</key>
                <string>{47,77}</string>
                <key>textureRect</key>
                <string>{{362,287},{29,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_tamer_ranker_01_acc_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,30}</string>
                <key>spriteSourceSize</key>
                <string>{76,48}</string>
                <key>textureRect</key>
                <string>{{453,187},{58,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_tamer_ranker_01_acc_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,55}</string>
                <key>spriteSourceSize</key>
                <string>{75,73}</string>
                <key>textureRect</key>
                <string>{{423,288},{57,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_acc_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,69}</string>
                <key>spriteSourceSize</key>
                <string>{98,87}</string>
                <key>textureRect</key>
                <string>{{362,216},{80,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{289,283}</string>
                <key>spriteSourceSize</key>
                <string>{307,301}</string>
                <key>textureRect</key>
                <string>{{1,646},{289,283}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,357}</string>
                <key>spriteSourceSize</key>
                <string>{377,375}</string>
                <key>textureRect</key>
                <string>{{1,1},{359,357}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,150}</string>
                <key>spriteSourceSize</key>
                <string>{163,168}</string>
                <key>textureRect</key>
                <string>{{292,711},{145,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_tamer_ranker_01_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,168}</string>
                <key>spriteSourceSize</key>
                <string>{206,206}</string>
                <key>textureRect</key>
                <string>{{292,541},{168,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_magicccrcle_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{362,1},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_magicccrcle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,179}</string>
                <key>spriteSourceSize</key>
                <string>{198,197}</string>
                <key>textureRect</key>
                <string>{{292,360},{180,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_magicccrcle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,230}</string>
                <key>spriteSourceSize</key>
                <string>{185,248}</string>
                <key>textureRect</key>
                <string>{{260,931},{167,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_magicccrcle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,257}</string>
                <key>spriteSourceSize</key>
                <string>{275,275}</string>
                <key>textureRect</key>
                <string>{{1,931},{257,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_tamer_ranker_01_sun_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{362,126},{88,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_tamer_ranker_01.png</string>
            <key>size</key>
            <string>{486,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bf7820a208cd8d6e29b1c72adc6b69c:9fb71d3b5f35974e4c480a14c843c4a7:2ee7a4902be78907b7b4a0c7d902aced$</string>
            <key>textureFileName</key>
            <string>effect_tamer_ranker_01.png</string>
        </dict>
    </dict>
</plist>
