<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_cash_mysteryup_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,160}</string>
                <key>spriteSourceSize</key>
                <string>{221,160}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_cash_mysteryup.png</string>
            <key>size</key>
            <string>{223,162}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:debb532e6e911c846e9f15df4f1e83b2:7aee45a1b8afb32e0de7ca3417f3ed81:8ddea05017162c17d775485459b8fbbd$</string>
            <key>textureFileName</key>
            <string>egg_cash_mysteryup.png</string>
        </dict>
    </dict>
</plist>
