<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_card_attr_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{305,385},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{353,385},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{319,893},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{127,907},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{175,895},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{223,895},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{365,893},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{271,895},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{153,457},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{299,457},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,761},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,603},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{299,603},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,749},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,1},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,907},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,749},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,25},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,931},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,773},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,49},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,797},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,73},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,821},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,97},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,845},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,121},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,869},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,145},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,169},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,193},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,217},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_legend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_rare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,49}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{411,289},{52,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_frame_rp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,609},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_leader_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{401,343},{38,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{365,939},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{393,939},{26,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{401,383},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,433},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,337},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,289},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,241},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{319,939},{44,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{373,433},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,361},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,313},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{305,265},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,749},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{253,943},{14,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,775},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,801},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,827},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,853},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{425,383},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{175,943},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{201,943},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{227,943},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_card.png</string>
            <key>size</key>
            <string>{444,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72fcbc5732513184c5fcd948732f39c9:dcbc18bef6403cccfd4722aaf21b9a41:443903ff298e55942b039c5d3cf32806$</string>
            <key>textureFileName</key>
            <string>character_card.png</string>
        </dict>
    </dict>
</plist>
