<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_card_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{449,505},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{425,703},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{449,553},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{449,601},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{449,649},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,33}</string>
                <key>spriteSourceSize</key>
                <string>{32,33}</string>
                <key>textureRect</key>
                <string>{{469,299},{32,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{459,697},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{153,305},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{305,153},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,609},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,451},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,597},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{299,305},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{457,1},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,755},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,451},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{481,1},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,475},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,499},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,523},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,547},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,571},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,595},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,619},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,643},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,667},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,691},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{299,715},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{425,451},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{425,577},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{451,153},{124,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_legend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_rare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,153},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,49}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{449,451},{52,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_leader_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{463,745},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{475,197},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{475,225},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{457,127},{46,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{359,739},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{273,743},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{251,767},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{147,743},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{475,151},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{445,385},{64,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{445,299},{84,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{357,767},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{127,767},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{451,279},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{489,334},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{475,253},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{427,738},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{477,279},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{469,334},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{469,360},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{469,386},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{469,412},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{483,438},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_card.png</string>
            <key>size</key>
            <string>{506,790}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f71ee3cbc32ce896b6768d00b2cbac36:301e160207204e0b1a70e506d2ff0fc0:443903ff298e55942b039c5d3cf32806$</string>
            <key>textureFileName</key>
            <string>character_card.png</string>
        </dict>
    </dict>
</plist>
