<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>character_card_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1519,147},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1567,147},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1615,147},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1663,147},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1711,147},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{144,144}</string>
                <key>textureRect</key>
                <string>{{1065,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1211,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1357,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1503,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1649,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1795,1},{144,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1941,95},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1941,1},{46,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_eclv_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1451,171},{66,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1365,171},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1259,171},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{127,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{127,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{253,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{253,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{379,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{379,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{505,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{505,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{631,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{631,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{757,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{757,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{883,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{883,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1009,153},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1009,177},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_eclv_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1135,147},{124,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{153,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{305,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_legend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{457,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_rare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{609,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_ready.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{39,49}</string>
                <key>spriteSize</key>
                <string>{52,32}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1759,147},{52,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{761,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_frame_skill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{913,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_leader_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{1793,147},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{26,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1941,123},{26,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1941,49},{44,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_star03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{64,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1453,147},{64,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{84,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1367,147},{84,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{104,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1261,147},{104,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_star06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{122,22}</string>
                <key>spriteSourceSize</key>
                <string>{124,22}</string>
                <key>textureRect</key>
                <string>{{1135,171},{122,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1833,147},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1919,173},{14,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1833,173},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1853,147},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1853,173},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1873,147},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1893,147},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1919,147},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>character_card_typo_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1893,167},{18,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>character_card_typo_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,24}</string>
                <key>spriteSourceSize</key>
                <string>{18,24}</string>
                <key>textureRect</key>
                <string>{{1873,173},{18,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>character_card.png</string>
            <key>size</key>
            <string>{1964,200}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe7da6ec4ebbe5160500355e6dbc12d4:a92c87a6ff64dd55e3fd3aea5639eee0:443903ff298e55942b039c5d3cf32806$</string>
            <key>textureFileName</key>
            <string>character_card.png</string>
        </dict>
    </dict>
</plist>
