<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colosseum_2_blue_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,901},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,501},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{60,59},{24,26}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,2},{391,459}}</string>
                <key>offset</key>
                <string>{15,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,6},{391,459}}</string>
                <key>sourceSize</key>
                <string>{593,525}</string>
            </dict>
            <key>colosseum_2_blue_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,501},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,463},{62,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,25},{62,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,463},{272,214}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{272,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_fountain_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,679},{220,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,463},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,132},{38,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_mainhall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1792,1344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1792,1344}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colosseum_2_2.png</string>
            <key>size</key>
            <string>{1741,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:272a3d39f880395ebd5a3f0c27e5e9a6:58d22ffbe0a18c0aeb834445ec0143b4:905955f367bc35a5093daa3472566446$</string>
            <key>textureFileName</key>
            <string>colosseum_2_2.png</string>
        </dict>
    </dict>
</plist>
