<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_canyon2_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1332,560}}</string>
                <key>offset</key>
                <string>{-115,-519}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,1039},{1332,560}}</string>
                <key>sourceSize</key>
                <string>{1896,1600}</string>
            </dict>
            <key>bg_canyon2_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{406,486}}</string>
                <key>offset</key>
                <string>{30,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{139,83},{406,486}}</string>
                <key>sourceSize</key>
                <string>{624,612}</string>
            </dict>
            <key>bg_canyon2_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,28},{22,22}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{22,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bg_canyon2_nest_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,2},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{138,139},{24,22}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>bg_canyon2_sand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{254,690}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,54},{254,690}}</string>
                <key>sourceSize</key>
                <string>{380,744}</string>
            </dict>
            <key>bg_canyon2_text_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,564},{354,320}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,88},{354,320}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bg_canyon2_text_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,564},{344,380}}</string>
                <key>offset</key>
                <string>{-31,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,53},{344,380}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>bg_canyon2_text_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,694},{150,432}}</string>
                <key>offset</key>
                <string>{18,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,0},{150,432}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>canyon2_7.png</string>
            <key>size</key>
            <string>{1617,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3887f147a3d34026b9a33246e82f3b68:745884ecac2fb62250c1e93375ebf022:d1b3168c009832e9e1711d446d9757c4$</string>
            <key>textureFileName</key>
            <string>canyon2_7.png</string>
        </dict>
    </dict>
</plist>
