<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indicator_breath_gust_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,280}</string>
                <key>spriteSourceSize</key>
                <string>{800,280}</string>
                <key>textureRect</key>
                <string>{{303,1},{800,280}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_breath_gust_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,263}</string>
                <key>spriteSourceSize</key>
                <string>{504,263}</string>
                <key>textureRect</key>
                <string>{{1105,1},{504,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_breath_gust_cicle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,300}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{300,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>indicator_breath_gust.png</string>
            <key>size</key>
            <string>{1610,302}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e8f913e5d34cf1b3c9eec4863572fa9:8b9e051ab5d9615abc871ea1d30500eb:55ea4355b954b795de82e55a649c453b$</string>
            <key>textureFileName</key>
            <string>indicator_breath_gust.png</string>
        </dict>
    </dict>
</plist>
