<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_heart_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{51,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{51,55}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
            <key>effect_heart_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{39,35}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{39,35}}</string>
                <key>sourceSize</key>
                <string>{59,63}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_heart.png</string>
            <key>size</key>
            <string>{55,96}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e249c823d9a9770a3791d5b5a4247083:263f7396e8e66838677038be14a3ae81:27647d62989af08525ebd7f1c000e152$</string>
            <key>textureFileName</key>
            <string>effect_heart.png</string>
        </dict>
    </dict>
</plist>
