<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_bubble_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,42},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,82},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{36,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{36,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{38,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,38}</string>
            </dict>
            <key>missile_bubble_water_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,100},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>missile_bubble_water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,80},{17,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,18}}</string>
                <key>sourceSize</key>
                <string>{17,18}</string>
            </dict>
            <key>missile_bubble_water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,80},{25,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{25,26}}</string>
                <key>sourceSize</key>
                <string>{27,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_bubble_water.png</string>
            <key>size</key>
            <string>{128,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:00f58e24b138e8e19fb7861e27ca4585:80762639c64378ee96ea1e4b97ef58b5:bcc17ed38f076abb21977a7e0eb2244c$</string>
            <key>textureFileName</key>
            <string>missile_bubble_water.png</string>
        </dict>
    </dict>
</plist>
