<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_giantdragon_basic_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,149},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_giantdragon_basic_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_giantdragon_basic_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_giantdragon_basic_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_giantdragon_basic_fire.png</string>
            <key>size</key>
            <string>{50,221}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca1794ec08fff3ca9856e455e73ad4ed:897b1be3487c09bf7bc75c0c65609283:d76cc9b4612eb1e4e5a46822ae082cf7$</string>
            <key>textureFileName</key>
            <string>missile_giantdragon_basic_fire.png</string>
        </dict>
    </dict>
</plist>
