<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_electricattack_2_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,2}</string>
                <key>spriteSize</key>
                <string>{234,236}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{234,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_electricattack_2_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{126,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{189,465},{126,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_electricattack_2_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{48,94}</string>
                <key>spriteSourceSize</key>
                <string>{70,164}</string>
                <key>textureRect</key>
                <string>{{1,975},{48,94}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_electricattack_2_light_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{590,186}</string>
                <key>spriteSourceSize</key>
                <string>{590,186}</string>
                <key>textureRect</key>
                <string>{{1,383},{590,186}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_electricattack_2_light_effect_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-43}</string>
                <key>spriteSize</key>
                <string>{226,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{239,153},{226,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electricattack_2_light_effect_01_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-43}</string>
                <key>spriteSize</key>
                <string>{230,150}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{239,1},{230,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electricattack_2_light_effect_01_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-41}</string>
                <key>spriteSize</key>
                <string>{226,144}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,237},{226,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electricattack_2_light_effect_01_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-32}</string>
                <key>spriteSize</key>
                <string>{224,158}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{229,305},{224,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_electricattack_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:233eb679d65579360f02b77024f914de:4f2fcba9650e2c30230d649c16fc6ccb:e643ac24467b6d2ca0fc98c0780d5f2a$</string>
            <key>textureFileName</key>
            <string>skill_electricattack_2.png</string>
        </dict>
    </dict>
</plist>
