<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_3_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{580,276}}</string>
                <key>offset</key>
                <string>{0,-142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{670,404},{580,276}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple_3_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,530}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,117},{364,530}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_object_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{288,216}}</string>
                <key>offset</key>
                <string>{4,176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,116},{288,216}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,280},{28,48}}</string>
                <key>offset</key>
                <string>{-89,-176}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,552},{28,48}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,292},{40,68}}</string>
                <key>offset</key>
                <string>{-44,-245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,611},{40,68}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,292},{68,64}}</string>
                <key>offset</key>
                <string>{7,-321}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,689},{68,64}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,292},{50,74}}</string>
                <key>offset</key>
                <string>{17,-245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,608},{50,74}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,280},{78,100}}</string>
                <key>offset</key>
                <string>{58,-280}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{419,630},{78,100}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple_3_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,292},{68,68}}</string>
                <key>offset</key>
                <string>{106,-200}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,566},{68,68}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_3.png</string>
            <key>size</key>
            <string>{1334,368}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da749ac87351719c2149f8b4f75071d4:e05a09490f9264ddf77b222e86a778fd:c699c3b152a511c1b45a0eeae5724b25$</string>
            <key>textureFileName</key>
            <string>sky_temple_3.png</string>
        </dict>
    </dict>
</plist>
