<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>warning_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{450,450}</string>
                <key>spriteSourceSize</key>
                <string>{450,450}</string>
                <key>textureRect</key>
                <string>{{775,119},{450,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_circle2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{774,571},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sector_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,356}</string>
                <key>spriteSize</key>
                <string>{247,716}</string>
                <key>spriteSourceSize</key>
                <string>{247,1428}</string>
                <key>textureRect</key>
                <string>{{525,119},{247,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sector_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,356}</string>
                <key>spriteSize</key>
                <string>{370,716}</string>
                <key>spriteSourceSize</key>
                <string>{370,1428}</string>
                <key>textureRect</key>
                <string>{{153,119},{370,716}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sign_arrow1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{620,64}</string>
                <key>spriteSourceSize</key>
                <string>{620,64}</string>
                <key>textureRect</key>
                <string>{{153,837},{620,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sign_arrow2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,64}</string>
                <key>spriteSourceSize</key>
                <string>{44,64}</string>
                <key>textureRect</key>
                <string>{{774,641},{44,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sign_arrow3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1062,39}</string>
                <key>spriteSourceSize</key>
                <string>{1062,39}</string>
                <key>textureRect</key>
                <string>{{153,78},{1062,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_sign_arrow4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,39}</string>
                <key>spriteSourceSize</key>
                <string>{22,39}</string>
                <key>textureRect</key>
                <string>{{774,707},{22,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_square.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{820,150}</string>
                <key>spriteSourceSize</key>
                <string>{820,150}</string>
                <key>textureRect</key>
                <string>{{1,78},{820,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warning_square_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1230,75}</string>
                <key>spriteSourceSize</key>
                <string>{1230,75}</string>
                <key>textureRect</key>
                <string>{{1,1},{1230,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>warning_sign.png</string>
            <key>size</key>
            <string>{1232,902}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71fdf9b8d561f798e21e6cf6a4634489:0168001f64fb894989d9ca5d55d73ae1:c0f292afbc63033f83507d67471af11f$</string>
            <key>textureFileName</key>
            <string>warning_sign.png</string>
        </dict>
    </dict>
</plist>
