<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clan_raid_boss_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,317}</string>
                <key>spriteSourceSize</key>
                <string>{267,317}</string>
                <key>textureRect</key>
                <string>{{1039,495},{267,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,550}</string>
                <key>spriteSourceSize</key>
                <string>{492,550}</string>
                <key>textureRect</key>
                <string>{{1,1},{492,550}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_dark_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,214}</string>
                <key>spriteSourceSize</key>
                <string>{283,214}</string>
                <key>textureRect</key>
                <string>{{730,1625},{283,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_dark_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,262}</string>
                <key>spriteSourceSize</key>
                <string>{117,262}</string>
                <key>textureRect</key>
                <string>{{720,768},{117,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_dark_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,241}</string>
                <key>spriteSourceSize</key>
                <string>{179,241}</string>
                <key>textureRect</key>
                <string>{{1,1655},{179,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_dark_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{222,306}</string>
                <key>spriteSourceSize</key>
                <string>{222,306}</string>
                <key>textureRect</key>
                <string>{{993,1206},{222,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_dark_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,229}</string>
                <key>spriteSourceSize</key>
                <string>{261,229}</string>
                <key>textureRect</key>
                <string>{{1257,883},{261,229}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_dark_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,124}</string>
                <key>spriteSourceSize</key>
                <string>{203,124}</string>
                <key>textureRect</key>
                <string>{{1716,877},{203,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,317}</string>
                <key>spriteSourceSize</key>
                <string>{271,317}</string>
                <key>textureRect</key>
                <string>{{720,495},{271,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,549}</string>
                <key>spriteSourceSize</key>
                <string>{492,549}</string>
                <key>textureRect</key>
                <string>{{1,553},{492,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_earth_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,214}</string>
                <key>spriteSourceSize</key>
                <string>{283,214}</string>
                <key>textureRect</key>
                <string>{{1041,887},{283,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,259}</string>
                <key>spriteSourceSize</key>
                <string>{117,259}</string>
                <key>textureRect</key>
                <string>{{984,768},{117,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,241}</string>
                <key>spriteSourceSize</key>
                <string>{179,241}</string>
                <key>textureRect</key>
                <string>{{244,1655},{179,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,306}</string>
                <key>spriteSourceSize</key>
                <string>{223,306}</string>
                <key>textureRect</key>
                <string>{{495,1},{223,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_earth_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,226}</string>
                <key>spriteSourceSize</key>
                <string>{261,226}</string>
                <key>textureRect</key>
                <string>{{1231,1457},{261,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_earth_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,124}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1640,1409},{204,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,317}</string>
                <key>spriteSourceSize</key>
                <string>{271,317}</string>
                <key>textureRect</key>
                <string>{{495,925},{271,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,549}</string>
                <key>spriteSourceSize</key>
                <string>{492,549}</string>
                <key>textureRect</key>
                <string>{{1,1104},{492,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,214}</string>
                <key>spriteSourceSize</key>
                <string>{283,214}</string>
                <key>textureRect</key>
                <string>{{1358,495},{283,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,259}</string>
                <key>spriteSourceSize</key>
                <string>{117,259}</string>
                <key>textureRect</key>
                <string>{{1245,764},{117,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,241}</string>
                <key>spriteSourceSize</key>
                <string>{179,241}</string>
                <key>textureRect</key>
                <string>{{487,1655},{179,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,306}</string>
                <key>spriteSourceSize</key>
                <string>{223,306}</string>
                <key>textureRect</key>
                <string>{{495,309},{223,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,226}</string>
                <key>spriteSourceSize</key>
                <string>{261,226}</string>
                <key>textureRect</key>
                <string>{{1433,1146},{261,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,124}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1735,1535},{204,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,99}</string>
                <key>spriteSourceSize</key>
                <string>{60,99}</string>
                <key>textureRect</key>
                <string>{{696,1563},{60,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,123}</string>
                <key>spriteSourceSize</key>
                <string>{21,123}</string>
                <key>textureRect</key>
                <string>{{1832,1},{21,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{199,76}</string>
                <key>spriteSourceSize</key>
                <string>{199,76}</string>
                <key>textureRect</key>
                <string>{{495,1563},{199,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,317}</string>
                <key>spriteSourceSize</key>
                <string>{271,317}</string>
                <key>textureRect</key>
                <string>{{495,1244},{271,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,549}</string>
                <key>spriteSourceSize</key>
                <string>{492,549}</string>
                <key>textureRect</key>
                <string>{{730,1},{492,549}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,214}</string>
                <key>spriteSourceSize</key>
                <string>{283,214}</string>
                <key>textureRect</key>
                <string>{{1015,1514},{283,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,259}</string>
                <key>spriteSourceSize</key>
                <string>{117,259}</string>
                <key>textureRect</key>
                <string>{{1231,1720},{117,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,241}</string>
                <key>spriteSourceSize</key>
                <string>{179,241}</string>
                <key>textureRect</key>
                <string>{{1459,1409},{179,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,306}</string>
                <key>spriteSourceSize</key>
                <string>{223,306}</string>
                <key>textureRect</key>
                <string>{{495,617},{223,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_light_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,226}</string>
                <key>spriteSourceSize</key>
                <string>{261,226}</string>
                <key>textureRect</key>
                <string>{{1488,883},{261,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_light_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,124}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1661,1146},{204,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,1}</string>
                <key>spriteSourceSize</key>
                <string>{81,1}</string>
                <key>textureRect</key>
                <string>{{1,1836},{81,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{271,317}</string>
                <key>spriteSourceSize</key>
                <string>{271,317}</string>
                <key>textureRect</key>
                <string>{{768,887},{271,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{492,549}</string>
                <key>spriteSourceSize</key>
                <string>{492,549}</string>
                <key>textureRect</key>
                <string>{{1281,1},{492,549}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_water_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,214}</string>
                <key>spriteSourceSize</key>
                <string>{283,214}</string>
                <key>textureRect</key>
                <string>{{1217,1172},{283,214}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_water_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,259}</string>
                <key>spriteSourceSize</key>
                <string>{117,259}</string>
                <key>textureRect</key>
                <string>{{1506,758},{117,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_water_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,241}</string>
                <key>spriteSourceSize</key>
                <string>{179,241}</string>
                <key>textureRect</key>
                <string>{{1492,1652},{179,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_water_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,306}</string>
                <key>spriteSourceSize</key>
                <string>{223,306}</string>
                <key>textureRect</key>
                <string>{{768,1206},{223,306}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_raid_boss_water_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{261,226}</string>
                <key>spriteSourceSize</key>
                <string>{261,226}</string>
                <key>textureRect</key>
                <string>{{1643,495},{261,226}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_raid_boss_water_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,124}</string>
                <key>spriteSourceSize</key>
                <string>{204,124}</string>
                <key>textureRect</key>
                <string>{{1661,1272},{204,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clan_raid_boss.png</string>
            <key>size</key>
            <string>{1870,1840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2880ab83bfd831a9331b415665c67ea4:13c8aa6cf946441bf0bdde2362dea970:b5f1a9866d5987acf0863aecc96ce290$</string>
            <key>textureFileName</key>
            <string>clan_raid_boss.png</string>
        </dict>
    </dict>
</plist>
