<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_gust_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{180,171}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{180,171}}</string>
                <key>sourceSize</key>
                <string>{214,219}</string>
            </dict>
            <key>missile_gust_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{178,173}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,21},{178,173}}</string>
                <key>sourceSize</key>
                <string>{214,219}</string>
            </dict>
            <key>missile_gust_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{170,159}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,32},{170,159}}</string>
                <key>sourceSize</key>
                <string>{214,219}</string>
            </dict>
            <key>missile_gust_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,350},{64,64}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{64,64}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_gust_earth.png</string>
            <key>size</key>
            <string>{240,511}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f1cb55c04499bd484f3af41c0e196f3:3ce598cdc60ddfabbf4bb92d529cb819:50b13576f635c071d8c7d318adc2e32b$</string>
            <key>textureFileName</key>
            <string>missile_gust_earth.png</string>
        </dict>
    </dict>
</plist>
