<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_applecheek_boom_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,264},{30,28}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,166},{30,28}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{68,68}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,148},{68,68}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,902},{108,98}}</string>
                <key>offset</key>
                <string>{-21,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,137},{108,98}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,880},{136,126}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{153,120},{136,126}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,468},{152,152}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,110},{152,152}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,698},{180,164}}</string>
                <key>offset</key>
                <string>{-22,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,103},{180,164}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,698},{202,182}}</string>
                <key>offset</key>
                <string>{-16,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,95},{202,182}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,482},{206,214}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,81},{206,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,264},{216,216}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,80},{216,216}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,250},{216,222}}</string>
                <key>offset</key>
                <string>{-10,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{122,80},{216,222}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,242},{224,230}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,79},{224,230}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{236,238}}</string>
                <key>offset</key>
                <string>{-9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,77},{236,238}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{246,248}}</string>
                <key>offset</key>
                <string>{-9,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{108,73},{246,248}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{254,254}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,72},{254,254}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{262,260}}</string>
                <key>offset</key>
                <string>{-8,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,70},{262,260}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{268,256}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,67},{268,256}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,732},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,516},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{214,214}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,81},{214,214}}</string>
                <key>sourceSize</key>
                <string>{480,360}</string>
            </dict>
            <key>skill_applecheek_boom_earth_apple_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,902},{94,93}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,11},{94,93}}</string>
                <key>sourceSize</key>
                <string>{104,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_applecheek_boom.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89b5e55fd1f5146ded18b6c5ef64b9e6$</string>
            <key>textureFileName</key>
            <string>skill_applecheek_boom.png</string>
        </dict>
    </dict>
</plist>
