<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_react_armor_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{232,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,78},{232,232}}</string>
                <key>sourceSize</key>
                <string>{364,388}</string>
            </dict>
            <key>effect_react_armor_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{254,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,21},{254,254}}</string>
                <key>sourceSize</key>
                <string>{300,296}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_react_armor.png</string>
            <key>size</key>
            <string>{492,258}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92efb42d07d7b3e62c2a97ddcb90f215:0f07a1a815903118efb9ab9d89bdcc94:0842937e3567ef0c25031b49fdd5cabd$</string>
            <key>textureFileName</key>
            <string>effect_react_armor.png</string>
        </dict>
    </dict>
</plist>
