<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_high_legend_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{644,638}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>egg_high_legend_src_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,60}</string>
                <key>spriteSize</key>
                <string>{578,570}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{647,1},{578,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_high_legend_src_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,60}</string>
                <key>spriteSize</key>
                <string>{578,570}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1219,1},{578,570}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_high_legend.png</string>
            <key>size</key>
            <string>{1790,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82e0896b0e79f56de2902ef994c88335:2524b852acb90376716cdbfa91ce4de4:cd3b0a3e2138e584a3288f9749a92abc$</string>
            <key>textureFileName</key>
            <string>egg_high_legend.png</string>
        </dict>
    </dict>
</plist>
