<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_dragon_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,180}</string>
                <key>spriteSourceSize</key>
                <string>{1280,180}</string>
                <key>textureRect</key>
                <string>{{1,384},{1280,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_dragon_skill_dsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,34}</string>
                <key>spriteSourceSize</key>
                <string>{306,34}</string>
                <key>textureRect</key>
                <string>{{1,1},{306,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_dragon_skill_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,58}</string>
                <key>spriteSourceSize</key>
                <string>{381,58}</string>
                <key>textureRect</key>
                <string>{{37,1},{381,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_dragon_skill.png</string>
            <key>size</key>
            <string>{182,1665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e15ad2cd6e665e48e278ebdc5c10de37:630298c57c4a709e2f10edd174bc0ea2:84fa350bf50a1f73ae01307cdcd5d52a$</string>
            <key>textureFileName</key>
            <string>ingame_dragon_skill.png</string>
        </dict>
    </dict>
</plist>
