<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drag_skill_fx_dark_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{2,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_dark_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{193,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_dark_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{384,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_dark_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{439,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_earth_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{494,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_earth_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{685,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_earth_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{876,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_earth_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{931,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_fire_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{986,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_fire_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{1177,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_fire_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{1368,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_fire_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{1423,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_light_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{1478,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_light_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{1669,2},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_light_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{1860,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_light_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{1915,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_water_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{2,111},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_water_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,87}</string>
                <key>spriteSourceSize</key>
                <string>{189,87}</string>
                <key>textureRect</key>
                <string>{{193,111},{189,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_water_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{384,111},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_water_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{439,111},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{494,111},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,180}</string>
                <key>spriteSourceSize</key>
                <string>{1280,180}</string>
                <key>textureRect</key>
                <string>{{600,111},{1280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,101}</string>
                <key>spriteSourceSize</key>
                <string>{138,101}</string>
                <key>textureRect</key>
                <string>{{1882,111},{138,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{117,103}</string>
                <key>textureRect</key>
                <string>{{2,293},{91,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{290,262}</string>
                <key>textureRect</key>
                <string>{{95,293},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{251,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,245}</string>
                <key>textureRect</key>
                <string>{{313,293},{251,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,273}</string>
                <key>spriteSourceSize</key>
                <string>{287,273}</string>
                <key>textureRect</key>
                <string>{{566,293},{287,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{855,293},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{1130,293},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1405,293},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1603,293},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1791,293},{192,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_dsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,34}</string>
                <key>spriteSourceSize</key>
                <string>{306,34}</string>
                <key>textureRect</key>
                <string>{{2,568},{306,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_gauge_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,72}</string>
                <key>spriteSourceSize</key>
                <string>{139,72}</string>
                <key>textureRect</key>
                <string>{{310,568},{139,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{381,58}</string>
                <key>spriteSourceSize</key>
                <string>{381,58}</string>
                <key>textureRect</key>
                <string>{{451,568},{381,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{834,568},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{908,568},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,61}</string>
                <key>textureRect</key>
                <string>{{982,568},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{1057,568},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{1131,568},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{1205,568},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1279,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1360,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1441,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1522,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1603,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1684,568},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1765,568},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1813,568},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1861,568},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1909,568},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{1957,568},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_dragon_skill.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0b2248e79dade7e85da28b23a638039f:ef1e76d9d358522fbe0f3720cb517b8e:84fa350bf50a1f73ae01307cdcd5d52a$</string>
            <key>textureFileName</key>
            <string>ingame_dragon_skill.png</string>
        </dict>
    </dict>
</plist>
