<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_ocean2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,800}}</string>
                <key>sourceSize</key>
                <string>{1922,800}</string>
            </dict>
            <key>bg_low_ocean2_2_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{512,932}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{544,334},{512,932}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>bg_low_ocean2_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_low_ocean2_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,804},{448,270}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{448,270}}</string>
                <key>sourceSize</key>
                <string>{480,328}</string>
            </dict>
            <key>bg_low_ocean2_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,804},{1251,801}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,73},{1251,801}}</string>
                <key>sourceSize</key>
                <string>{1315,931}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_ocean2_1.png</string>
            <key>size</key>
            <string>{2041,1738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e0cb29c92c15a77f96b289982d6b9d0:c0a859a92f717d1cc5fbc1be8e3df553:e7b2a4e9fd149b536c0523435b237b14$</string>
            <key>textureFileName</key>
            <string>low_ocean2_1.png</string>
        </dict>
    </dict>
</plist>
