<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_wonder_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{407,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{407,48}}</string>
                <key>sourceSize</key>
                <string>{411,52}</string>
            </dict>
            <key>skill_wonder_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,2},{407,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{407,48}}</string>
                <key>sourceSize</key>
                <string>{411,52}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_wonder.png</string>
            <key>size</key>
            <string>{820,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78426966ed1d6b4351aa5eefb1156a00:8638ac578616b4d939fe9efe60284525:51b86e87705196a0e36e558a03114bca$</string>
            <key>textureFileName</key>
            <string>skill_wonder.png</string>
        </dict>
    </dict>
</plist>
