<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_bagmadragon_attack_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{61,1309},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{120,1344},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{833,645},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1179},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{1,997},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{804,729},{99,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{925,302},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{774,1120},{42,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{42,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{712,1156},{42,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-4}</string>
                <key>spriteSize</key>
                <string>{54,59}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{417,457},{54,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{60,57}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{741,997},{60,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{66,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{741,929},{66,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{68,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{419,387},{68,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{68,55}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{173,991},{68,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{409,518},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{409,571},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{62,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{712,1056},{62,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-4}</string>
                <key>spriteSize</key>
                <string>{60,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{712,1109},{60,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-4}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{251,1333},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-4}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{191,1286},{50,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{80,97}</string>
                <key>textureRect</key>
                <string>{{603,1164},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{647,1164},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{111,107}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{348,933},{111,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,16}</string>
                <key>spriteSize</key>
                <string>{105,103}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{247,801},{105,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{107,105}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{303,1260},{107,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{341,1042},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{341,1151},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,18}</string>
                <key>spriteSize</key>
                <string>{107,109}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{361,624},{107,109}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{450,1161},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,17}</string>
                <key>spriteSize</key>
                <string>{99,105}</string>
                <key>spriteSourceSize</key>
                <string>{129,229}</string>
                <key>textureRect</key>
                <string>{{247,908},{99,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{123,123}</string>
                <key>spriteSourceSize</key>
                <string>{125,125}</string>
                <key>textureRect</key>
                <string>{{587,1039},{123,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{559,1164},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{419,335},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{191,1333},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,3}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{243,1155},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{243,1215},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,1}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1,1309},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_burst_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{243,1275},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_burst_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{58,56}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{131,1286},{58,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{472,659},{172,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{833,555},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-275}</string>
                <key>spriteSize</key>
                <string>{350,450}</string>
                <key>spriteSourceSize</key>
                <string>{360,1000}</string>
                <key>textureRect</key>
                <string>{{473,203},{350,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-218}</string>
                <key>spriteSize</key>
                <string>{94,64}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{167,1048},{94,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_06_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-214}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{173,909},{80,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-180}</string>
                <key>spriteSize</key>
                <string>{94,140}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{147,1144},{94,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_07_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-188}</string>
                <key>spriteSize</key>
                <string>{120,124}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{461,1039},{120,124}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-165}</string>
                <key>spriteSize</key>
                <string>{86,170}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,909},{86,170}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_08_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-181}</string>
                <key>spriteSize</key>
                <string>{96,138}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{243,1015},{96,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_08_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-178}</string>
                <key>spriteSize</key>
                <string>{84,144}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,1093},{84,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-155}</string>
                <key>spriteSize</key>
                <string>{84,190}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{804,936},{84,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_09_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-151}</string>
                <key>spriteSize</key>
                <string>{112,198}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{353,733},{112,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_09_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-149}</string>
                <key>spriteSize</key>
                <string>{104,202}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{804,830},{104,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-114}</string>
                <key>spriteSize</key>
                <string>{108,272}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{467,929},{108,272}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_10_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-128}</string>
                <key>spriteSize</key>
                <string>{106,244}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,801},{106,244}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_10_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-140}</string>
                <key>spriteSize</key>
                <string>{96,220}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{803,1022},{96,220}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-75}</string>
                <key>spriteSize</key>
                <string>{74,350}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,725},{74,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_11_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-103}</string>
                <key>spriteSize</key>
                <string>{96,294}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{925,433},{96,294}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_dark_11_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-99}</string>
                <key>spriteSize</key>
                <string>{94,302}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{467,833},{94,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-42}</string>
                <key>spriteSize</key>
                <string>{70,416}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,335},{70,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_12_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-71}</string>
                <key>spriteSize</key>
                <string>{102,358}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{473,555},{102,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_dark_12_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-71}</string>
                <key>spriteSize</key>
                <string>{100,358}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,623},{100,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,97}</string>
                <key>spriteSourceSize</key>
                <string>{114,115}</string>
                <key>textureRect</key>
                <string>{{925,203},{98,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_s_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-42}</string>
                <key>spriteSize</key>
                <string>{70,416}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,335},{70,416}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_13_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-47}</string>
                <key>spriteSize</key>
                <string>{108,406}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,513},{108,406}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_13_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-43}</string>
                <key>spriteSize</key>
                <string>{104,414}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,407},{104,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,-7}</string>
                <key>spriteSize</key>
                <string>{86,486}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{503,115},{86,486}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_14_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-28}</string>
                <key>spriteSize</key>
                <string>{106,444}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,227},{106,444}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_14_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-15}</string>
                <key>spriteSize</key>
                <string>{98,470}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,127},{98,470}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-4}</string>
                <key>spriteSize</key>
                <string>{112,492}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{503,1},{112,492}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_15_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{124,500}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{124,500}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{68,59}</string>
                <key>textureRect</key>
                <string>{{1,1367},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_bagmadragon_attack_s_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{41,54}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{59,1368},{41,54}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_bagmadragon_attack_s_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{33,40}</string>
                <key>spriteSourceSize</key>
                <string>{43,58}</string>
                <key>textureRect</key>
                <string>{{303,1155},{33,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_bagmadragon_attack.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9fe4cf15ab5cc7b7538aafd807aaa91:bbbfb4f9c22630b4bd3b71fc859c1a01:ad06ae03eb0e1289a90bc54ab3ca4517$</string>
            <key>textureFileName</key>
            <string>skill_bagmadragon_attack.png</string>
        </dict>
    </dict>
</plist>
