<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_boss_warning_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,9}</string>
                <key>spriteSize</key>
                <string>{680,190}</string>
                <key>spriteSourceSize</key>
                <string>{720,222}</string>
                <key>textureRect</key>
                <string>{{1,1},{680,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_boss_warning_final.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,9}</string>
                <key>spriteSize</key>
                <string>{678,190}</string>
                <key>spriteSourceSize</key>
                <string>{720,222}</string>
                <key>textureRect</key>
                <string>{{683,1},{678,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>warning_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,50}</string>
                <key>spriteSourceSize</key>
                <string>{112,50}</string>
                <key>textureRect</key>
                <string>{{1363,57},{112,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>warning_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{284,54}</string>
                <key>spriteSourceSize</key>
                <string>{300,56}</string>
                <key>textureRect</key>
                <string>{{1363,1},{284,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>ui_boss_warning.png</string>
            <key>size</key>
            <string>{1648,192}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:befaba2b0cca786ae588f65a21bb6475:4fc0e09a225a17bbfbbce46c8b682dd1:a20ff0e932a712ea406cb5a791122fb4$</string>
            <key>textureFileName</key>
            <string>ui_boss_warning.png</string>
        </dict>
    </dict>
</plist>
