<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,462}}</string>
                <key>offset</key>
                <string>{0,-169}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,338},{917,462}}</string>
                <key>sourceSize</key>
                <string>{917,800}</string>
            </dict>
            <key>bg_volcano_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{530,420}}</string>
                <key>offset</key>
                <string>{88,-190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,380},{530,420}}</string>
                <key>sourceSize</key>
                <string>{1024,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_3.png</string>
            <key>size</key>
            <string>{1453,466}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93f013c0155a6b9a6b485f59f1c02beb:5a031b8f67590754b6f17f383dff0061:63eb83d53f289cb82a19295775484837$</string>
            <key>textureFileName</key>
            <string>volcano_3.png</string>
        </dict>
    </dict>
</plist>
