<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>intro_cut_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,960}</string>
                <key>spriteSourceSize</key>
                <string>{1280,960}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_03_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{20,0}</string>
                <key>spriteSize</key>
                <string>{750,941}</string>
                <key>spriteSourceSize</key>
                <string>{790,941}</string>
                <key>textureRect</key>
                <string>{{1283,1},{750,941}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_03_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,867}</string>
                <key>spriteSourceSize</key>
                <string>{436,867}</string>
                <key>textureRect</key>
                <string>{{1,963},{436,867}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>intro_cut_03_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,825}</string>
                <key>spriteSourceSize</key>
                <string>{226,825}</string>
                <key>textureRect</key>
                <string>{{439,963},{226,825}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>intro_03.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41cf1c20f857f939e29d906b6dd884dd:3dffb9d668b010b2c8dd338e1974d92d:9af0b15e7d743bf2263db37e6b8c2f11$</string>
            <key>textureFileName</key>
            <string>intro_03.png</string>
        </dict>
    </dict>
</plist>
