<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>competition_ancient_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_ancient_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_ancient_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{825,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_attr_tower_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,525},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_attr_tower_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_attr_tower_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1037,525},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_challenge_mode_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{413,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_challenge_mode_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,1049},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_challenge_mode_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1249,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_colosseum_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{413,525},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_colosseum_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1237,1},{281,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_colosseum_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1461,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_grand_arena_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{825,1},{410,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_grand_arena_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1520,1},{281,508}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>competition_grand_arena_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1673,511},{210,522}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_menu_competition.png</string>
            <key>size</key>
            <string>{1884,1331}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88ca34298a6e08d4db8d59691c53c829:730bf3fa734240e41bf31b10410b8c92:4d944b369ad8ced7377851ca26dfba2b$</string>
            <key>textureFileName</key>
            <string>battle_menu_competition.png</string>
        </dict>
    </dict>
</plist>
