<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>competition_ancient_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_ancient_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_ancient_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_arena_new_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_arena_new_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_arena_new_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{525,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_attr_tower_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1049,991},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_attr_tower_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,425},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_attr_tower_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1049,1},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_challenge_mode_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_challenge_mode_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_challenge_mode_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_colosseum_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{525,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_colosseum_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{511,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_colosseum_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{525,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_grand_arena_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{410,522}</string>
                <key>spriteSourceSize</key>
                <string>{410,522}</string>
                <key>textureRect</key>
                <string>{{1049,1403},{410,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_grand_arena_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,508}</string>
                <key>spriteSourceSize</key>
                <string>{281,508}</string>
                <key>textureRect</key>
                <string>{{1021,708},{281,508}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>competition_grand_arena_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,522}</string>
                <key>spriteSourceSize</key>
                <string>{210,522}</string>
                <key>textureRect</key>
                <string>{{1049,213},{210,522}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_menu_competition.png</string>
            <key>size</key>
            <string>{1572,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06a41b1ebc26e2eec60869d43e9234e1:5648a74644066f33e7ae6107048609a3:4d944b369ad8ced7377851ca26dfba2b$</string>
            <key>textureFileName</key>
            <string>battle_menu_competition.png</string>
        </dict>
    </dict>
</plist>
