<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{384,360}}</string>
                <key>offset</key>
                <string>{-177,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,684},{384,360}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_light_yellow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1604},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_1.png</string>
            <key>size</key>
            <string>{1926,1966}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5225d8dde3b73418aa2c34aa958c8b03:71b72324ebda7c5f871dae6b14f94c0e:fd04f23e6585a60c0e2f86f8e8ba62bc$</string>
            <key>textureFileName</key>
            <string>dark_castle2_1.png</string>
        </dict>
    </dict>
</plist>
