<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_2_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,870},{350,1032}}</string>
                <key>offset</key>
                <string>{0,173}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{825,111},{350,1032}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{1134,1600}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,0},{1134,1600}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_2_torch.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,1904},{100,210}}</string>
                <key>offset</key>
                <string>{36,274}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{986,421},{100,210}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_2_torch_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1274},{78,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,221},{78,110}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_2_torch_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1152},{80,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,216},{80,120}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_2_torch_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1816,1904},{90,126}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,213},{90,126}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_2_torch_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1012},{66,138}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,199},{66,138}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_2_torch_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,870},{84,140}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,199},{84,140}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_4_a_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2000,866}}</string>
                <key>offset</key>
                <string>{0,-367}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,734},{2000,866}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_candle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1502},{64,64}}</string>
                <key>offset</key>
                <string>{-88,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,983},{64,64}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
            <key>dark_castle2_ghost_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,50},{36,28}}</string>
                <key>offset</key>
                <string>{-34,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,358},{36,28}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_ghost_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1568},{62,30}}</string>
                <key>offset</key>
                <string>{-48,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,360},{62,30}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_ghost_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,1386},{114,72}}</string>
                <key>offset</key>
                <string>{-64,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,343},{114,72}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle2_light_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2004,2},{36,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,254},{36,46}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_3.png</string>
            <key>size</key>
            <string>{2042,2006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5225d8dde3b73418aa2c34aa958c8b03:71b72324ebda7c5f871dae6b14f94c0e:fd04f23e6585a60c0e2f86f8e8ba62bc$</string>
            <key>textureFileName</key>
            <string>dark_castle2_3.png</string>
        </dict>
    </dict>
</plist>
