<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple2_1_cloud_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{536,374}}</string>
                <key>offset</key>
                <string>{-466,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,60},{536,374}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_1_cloud_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,540},{320,224}}</string>
                <key>offset</key>
                <string>{426,231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1226,57},{320,224}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_1_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,382}}</string>
                <key>offset</key>
                <string>{-45,93}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{584,116},{662,382}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_2_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,168},{428,180}}</string>
                <key>offset</key>
                <string>{673,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1419,313},{428,180}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_2_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{472,246}}</string>
                <key>offset</key>
                <string>{-475,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,245},{472,246}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{626,378}}</string>
                <key>offset</key>
                <string>{333,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1940,630},{626,378}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple2_2_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,2},{386,512}}</string>
                <key>offset</key>
                <string>{502,384}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1109,160},{386,512}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,540},{174,228}}</string>
                <key>offset</key>
                <string>{675,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1388,401},{174,228}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,630},{130,152}}</string>
                <key>offset</key>
                <string>{276,246}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1011,478},{130,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1344,516},{256,272}}</string>
                <key>offset</key>
                <string>{-135,167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{537,497},{256,272}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1774,598},{158,96}}</string>
                <key>offset</key>
                <string>{-439,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{282,721},{158,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,476},{288,154}}</string>
                <key>offset</key>
                <string>{-347,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,655},{288,154}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1778,2},{206,164}}</string>
                <key>offset</key>
                <string>{137,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{834,558},{206,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_2_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,666},{188,96}}</string>
                <key>offset</key>
                <string>{-661,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,715},{188,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,630},{132,148}}</string>
                <key>offset</key>
                <string>{-242,-675}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{492,1401},{132,148}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,666},{152,106}}</string>
                <key>offset</key>
                <string>{-93,-708}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{631,1455},{152,106}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,598},{66,124}}</string>
                <key>offset</key>
                <string>{-88,-716}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{679,1454},{66,124}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,540},{78,88}}</string>
                <key>offset</key>
                <string>{39,-675}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{800,1431},{78,88}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,666},{100,116}}</string>
                <key>offset</key>
                <string>{276,-576}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1026,1318},{100,116}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,666},{62,70}}</string>
                <key>offset</key>
                <string>{555,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1324,815},{62,70}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,666},{58,108}}</string>
                <key>offset</key>
                <string>{508,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1279,887},{58,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,630},{30,52}}</string>
                <key>offset</key>
                <string>{460,-367}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1245,1141},{30,52}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple2_2.png</string>
            <key>size</key>
            <string>{2000,776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57d7b32685eb37762aa093a929f00bb9:52a78a7f28bfd7ef98ef694eed5db3b2:acc36fe5b1cce70291fe24cb82c08929$</string>
            <key>textureFileName</key>
            <string>sky_temple2_2.png</string>
        </dict>
    </dict>
</plist>
