<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_circle_heal_totem_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{1,431},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{426,625},{52,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{259,223},{80,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{259,175},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{349,637},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{349,696},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{426,536},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,648},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{333,1},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{218,536},{99,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{218,637},{97,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_totem_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{408,679},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_re_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,175},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_re_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{134,200}</string>
                <key>spriteSourceSize</key>
                <string>{134,200}</string>
                <key>textureRect</key>
                <string>{{333,97},{134,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_re_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{259,305},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_totem_re_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{131,648},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_circle_heal_totem.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4d94aa885e0e3894b7a7ca63e6a6c52:ceb5d5c7e61ee1d9bcd1a0c7ef0f069e:4dc183ac2ec82c68548b946457bec3d0$</string>
            <key>textureFileName</key>
            <string>skill_circle_heal_totem.png</string>
        </dict>
    </dict>
</plist>
