<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_hades_laser_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{95,165}</string>
                <key>spriteSourceSize</key>
                <string>{105,169}</string>
                <key>textureRect</key>
                <string>{{428,399},{95,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{110,211}</string>
                <key>spriteSourceSize</key>
                <string>{110,223}</string>
                <key>textureRect</key>
                <string>{{215,399},{110,211}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{61,107}</string>
                <key>textureRect</key>
                <string>{{50,440},{53,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,3}</string>
                <key>spriteSize</key>
                <string>{185,155}</string>
                <key>spriteSourceSize</key>
                <string>{197,165}</string>
                <key>textureRect</key>
                <string>{{755,213},{185,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{168,118}</string>
                <key>spriteSourceSize</key>
                <string>{172,122}</string>
                <key>textureRect</key>
                <string>{{595,385},{168,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{163,168}</string>
                <key>spriteSourceSize</key>
                <string>{169,184}</string>
                <key>textureRect</key>
                <string>{{590,215},{163,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{159,212}</string>
                <key>spriteSourceSize</key>
                <string>{169,220}</string>
                <key>textureRect</key>
                <string>{{590,1},{159,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{149,134}</string>
                <key>spriteSourceSize</key>
                <string>{169,150}</string>
                <key>textureRect</key>
                <string>{{909,370},{149,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{1,440},{54,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,142}</string>
                <key>spriteSourceSize</key>
                <string>{139,142}</string>
                <key>textureRect</key>
                <string>{{765,370},{139,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{942,213},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{396,373}</string>
                <key>spriteSourceSize</key>
                <string>{396,373}</string>
                <key>textureRect</key>
                <string>{{215,1},{396,373}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_hades_laser_water_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,437}</string>
                <key>spriteSourceSize</key>
                <string>{212,437}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_hades_laser_water_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,209}</string>
                <key>spriteSourceSize</key>
                <string>{210,209}</string>
                <key>textureRect</key>
                <string>{{751,1},{210,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_hades_laser_water.png</string>
            <key>size</key>
            <string>{1059,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a064bfaf1adcc6b83e8314c230529b6d:8058129178d223eef31c772e0daf4930:0405e4c166fc3bafa029a1eb0d585b61$</string>
            <key>textureFileName</key>
            <string>skill_hades_laser_water.png</string>
        </dict>
    </dict>
</plist>
