<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_high_ancient_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,488}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{558,488}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_high_ancient.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34f3c0157f104d3fb158436eee060a68:4d4dd89edf11c2819245f4cbd7e94a5d:626b3917237342120e913564b73f430f$</string>
            <key>textureFileName</key>
            <string>egg_high_ancient.png</string>
        </dict>
    </dict>
</plist>
