<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_tree_res_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,1},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_res_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,575},{208,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dungeon_tree_res_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{211,1},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_res_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{421,1},{208,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dungeon_tree_res_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,572}</string>
                <key>spriteSourceSize</key>
                <string>{208,572}</string>
                <key>textureRect</key>
                <string>{{1,785},{208,572}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_tree_02.png</string>
            <key>size</key>
            <string>{630,994}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7de297a80bc3a9f71281fe620c6aa8d0:143a4a136bd536f157b7478142145b2c:43e3d43c7560a269bf1d61150249ead1$</string>
            <key>textureFileName</key>
            <string>dungeon_tree_02.png</string>
        </dict>
    </dict>
</plist>
