<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ui_dropbox_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{899,1472},{99,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dropbox_circle_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{93,103}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{899,1377},{93,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dropbox_circle_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{97,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{310,1853},{97,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{329,302}</string>
                <key>spriteSourceSize</key>
                <string>{395,312}</string>
                <key>textureRect</key>
                <string>{{719,2},{329,302}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dropbox_gold_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{328,208}</string>
                <key>spriteSourceSize</key>
                <string>{362,224}</string>
                <key>textureRect</key>
                <string>{{332,524},{328,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_gold_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{327,279}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{2,708},{327,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_gold_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{285,233}</string>
                <key>spriteSourceSize</key>
                <string>{291,241}</string>
                <key>textureRect</key>
                <string>{{331,1198},{285,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_gold_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-49}</string>
                <key>spriteSize</key>
                <string>{327,181}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{660,918},{327,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,78}</string>
                <key>spriteSourceSize</key>
                <string>{75,78}</string>
                <key>textureRect</key>
                <string>{{310,1956},{75,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{310,1723},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{2,1733},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{2,1887},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{156,1733},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{156,1887},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_light_item.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{226,278}</string>
                <key>spriteSourceSize</key>
                <string>{226,278}</string>
                <key>textureRect</key>
                <string>{{2,1505},{226,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ui_dropbox_rainbow_fx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{108,91}</string>
                <key>spriteSourceSize</key>
                <string>{118,93}</string>
                <key>textureRect</key>
                <string>{{899,1284},{108,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_rainbow_wing.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,63}</string>
                <key>spriteSourceSize</key>
                <string>{53,63}</string>
                <key>textureRect</key>
                <string>{{282,1658},{53,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_silver.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-1}</string>
                <key>spriteSize</key>
                <string>{329,302}</string>
                <key>spriteSourceSize</key>
                <string>{395,312}</string>
                <key>textureRect</key>
                <string>{{361,220},{329,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_silver_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-3}</string>
                <key>spriteSize</key>
                <string>{328,218}</string>
                <key>spriteSourceSize</key>
                <string>{362,224}</string>
                <key>textureRect</key>
                <string>{{2,306},{328,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_silver_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{327,279}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{662,637},{327,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_silver_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{279,233}</string>
                <key>spriteSourceSize</key>
                <string>{291,241}</string>
                <key>textureRect</key>
                <string>{{618,1284},{279,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_silver_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-50}</string>
                <key>spriteSize</key>
                <string>{327,181}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{331,1015},{327,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-2}</string>
                <key>spriteSize</key>
                <string>{357,302}</string>
                <key>spriteSourceSize</key>
                <string>{395,312}</string>
                <key>textureRect</key>
                <string>{{2,2},{357,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_special_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{356,216}</string>
                <key>spriteSourceSize</key>
                <string>{362,224}</string>
                <key>textureRect</key>
                <string>{{361,2},{356,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_special_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{327,279}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{331,734},{327,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_special_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,0}</string>
                <key>spriteSize</key>
                <string>{285,233}</string>
                <key>spriteSourceSize</key>
                <string>{291,241}</string>
                <key>textureRect</key>
                <string>{{2,1270},{285,233}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_special_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{100,57}</string>
                <key>spriteSourceSize</key>
                <string>{100,85}</string>
                <key>textureRect</key>
                <string>{{337,1658},{100,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{618,1198},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_wood.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,0}</string>
                <key>spriteSize</key>
                <string>{329,302}</string>
                <key>spriteSourceSize</key>
                <string>{395,312}</string>
                <key>textureRect</key>
                <string>{{692,333},{329,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_wood_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{12,18}</string>
                <key>spriteSize</key>
                <string>{328,180}</string>
                <key>spriteSourceSize</key>
                <string>{362,224}</string>
                <key>textureRect</key>
                <string>{{2,526},{328,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_wood_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{327,279}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{2,989},{327,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_wood_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{279,223}</string>
                <key>spriteSourceSize</key>
                <string>{291,241}</string>
                <key>textureRect</key>
                <string>{{289,1433},{279,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ui_dropbox_wood_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-49}</string>
                <key>spriteSize</key>
                <string>{327,181}</string>
                <key>spriteSourceSize</key>
                <string>{335,285}</string>
                <key>textureRect</key>
                <string>{{660,1101},{327,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_dropbox.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1809e43a34a8d3edf25327a3376a020b:7f0b179ed0d77b962b44c341f82fe615:244c42ac2c88dd343932fa641ccb6464$</string>
            <key>textureFileName</key>
            <string>ui_dropbox.png</string>
        </dict>
    </dict>
</plist>
