<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hypnos_dust_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,193}</string>
                <key>spriteSourceSize</key>
                <string>{227,211}</string>
                <key>textureRect</key>
                <string>{{1146,969},{209,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_dust_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,211}</string>
                <key>spriteSourceSize</key>
                <string>{202,229}</string>
                <key>textureRect</key>
                <string>{{1357,969},{184,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_dust_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-10}</string>
                <key>spriteSize</key>
                <string>{923,796}</string>
                <key>spriteSourceSize</key>
                <string>{979,816}</string>
                <key>textureRect</key>
                <string>{{1,1},{923,796}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{160,160}</string>
                <key>spriteSourceSize</key>
                <string>{188,174}</string>
                <key>textureRect</key>
                <string>{{1146,1164},{160,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,238}</string>
                <key>spriteSourceSize</key>
                <string>{257,256}</string>
                <key>textureRect</key>
                <string>{{905,969},{239,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,420}</string>
                <key>spriteSourceSize</key>
                <string>{400,420}</string>
                <key>textureRect</key>
                <string>{{503,799},{400,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,492}</string>
                <key>spriteSourceSize</key>
                <string>{500,492}</string>
                <key>textureRect</key>
                <string>{{1,799},{500,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_feather_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,103}</string>
                <key>spriteSourceSize</key>
                <string>{73,121}</string>
                <key>textureRect</key>
                <string>{{712,1221},{55,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_feather_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,85}</string>
                <key>spriteSourceSize</key>
                <string>{112,103}</string>
                <key>textureRect</key>
                <string>{{769,1221},{94,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_feather_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,134}</string>
                <key>spriteSourceSize</key>
                <string>{82,152}</string>
                <key>textureRect</key>
                <string>{{1695,1205},{64,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hypnos_feather_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,165}</string>
                <key>spriteSourceSize</key>
                <string>{130,183}</string>
                <key>textureRect</key>
                <string>{{1528,1205},{112,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hypnos_flare_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,338}</string>
                <key>spriteSourceSize</key>
                <string>{600,338}</string>
                <key>textureRect</key>
                <string>{{926,629},{600,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_flare_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{600,327}</string>
                <key>spriteSourceSize</key>
                <string>{600,333}</string>
                <key>textureRect</key>
                <string>{{1554,1},{600,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hypnos_flare_water_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{600,327}</string>
                <key>spriteSourceSize</key>
                <string>{600,333}</string>
                <key>textureRect</key>
                <string>{{1554,603},{600,327}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hypnos_halo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{626,626}</string>
                <key>spriteSourceSize</key>
                <string>{644,644}</string>
                <key>textureRect</key>
                <string>{{926,1},{626,626}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hypnos_halo_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{111,218}</string>
                <key>spriteSourceSize</key>
                <string>{129,236}</string>
                <key>textureRect</key>
                <string>{{1308,1182},{111,218}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hypnos_halo_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,207}</string>
                <key>spriteSourceSize</key>
                <string>{116,225}</string>
                <key>textureRect</key>
                <string>{{503,1221},{98,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_hypnos.png</string>
            <key>size</key>
            <string>{1882,1325}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6fba8f39c858b1b43882644f119f47f:8dfcd74cb13eadb6964e2b1e841b4f74:5e420c229b0747188b73bb5ad6917d44$</string>
            <key>textureFileName</key>
            <string>skill_hypnos.png</string>
        </dict>
    </dict>
</plist>
