<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lacrea_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,38}</string>
                <key>spriteSourceSize</key>
                <string>{431,38}</string>
                <key>textureRect</key>
                <string>{{1844,648},{431,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{961,473},{83,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{799,1465},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,343}</string>
                <key>spriteSourceSize</key>
                <string>{380,343}</string>
                <key>textureRect</key>
                <string>{{579,473},{380,343}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{504,470}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{579,1},{504,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,79}</string>
                <key>spriteSourceSize</key>
                <string>{154,79}</string>
                <key>textureRect</key>
                <string>{{645,1619},{154,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_frame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,61}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1660,1295},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_frame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{576,584}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1,1},{576,584}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_frame_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{556,492}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1,587},{556,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{93,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{185,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{277,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{369,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{461,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{553,1081},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,1},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,93},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,185},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,277},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,369},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1085,461},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1732,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1824,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1916,1},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{961,553},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{961,645},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{961,737},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{645,818},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{737,818},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{829,818},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,829},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,921},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,1013},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,1105},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,1197},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,1289},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{921,1381},{645,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_fx_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1568,829},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1660,648},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_fx_shape.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{645,90}</string>
                <key>spriteSourceSize</key>
                <string>{645,90}</string>
                <key>textureRect</key>
                <string>{{1752,648},{645,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{645,1465},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{921,1473},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1075,1473},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{1229,1473},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_point_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{801,1587},{98,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_point_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1884,798},{132,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_point_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1884,648},{148,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lacrea_point_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1884,936},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lacrea_point_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{1383,1473},{114,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_lacrea.png</string>
            <key>size</key>
            <string>{2027,1727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8bd7f243a7f0886fee5a3ef8d15906e:132a77fc855770e2e47a14f60518437f:e67f48cc0bc289d19520b2e9c76351a3$</string>
            <key>textureFileName</key>
            <string>dragon_lacrea.png</string>
        </dict>
    </dict>
</plist>
