<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.perplelab.dragonvillagem.kr"
    android:installLocation="auto" >

    <uses-feature android:glEsVersion="0x00020000" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    
    <queries>
        <!-- Android 11 (API level 30) 부터는 지정한 패키지만 확인할 수 있다 -->
        <package android:name="com.perplelab.dragonvillagem.kr" /> <!-- 드빌M 구글 플레이 -->
        <package android:name="com.perplelab.dragonvillagem.onestore" /> <!-- 드빌M 원스토어 -->
        <package android:name="com.highbrow.games.dvarena" /> <!-- 드빌아레나 -->
        <package android:name="com.highbrow.games.dvnew" /> <!-- 드빌뉴 -->
        <package android:name="com.highbrow.game" /> <!-- 드빌1 -->
        <package android:name="com.highbrow.games.dragonvillage" /> <!-- 드빌2 -->
        <package android:name="com.highbrow.games.dvx" /> <!-- 드빌X -->
        <package android:name="com.bigstack.rise" /> <!-- 라이즈 -->
        <package android:name="com.greenblatt.rune" /> <!-- 룬마스터 키우기 -->
        <package android:name="com.highbrow.games.elfidle" /> <!-- 엘프키우기 -->
        <package android:name="com.TrueSoft.Pangea" /> <!-- 팡게아 -->


    <!-- 원스토어 -->
<!--		<intent>
			<action android:name="com.onestore.ipc.iap.IapService.ACTION" />
		</intent>
		<intent>
			<action android:name="android.intent.action.VIEW" />
			<data android:scheme="onestore" />
		</intent>-->
	</queries>


	
    <supports-screens
        android:anyDensity="true"
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true" />

    <uses-permission
        android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.VIBRATE" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID" />

    <!-- @obb, APK expansion file downloading (+ INTERNET, WAKE_LOCK, ACCESS_NETWORK_STATE, ACCESS_WIFI_STATE, WRITE_EXTERNAL_STORAGE) -->
    <uses-permission
        android:name="com.android.vending.CHECK_LICENSE" />

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:usesCleartextTraffic="true">

        <!-- Android P : Apache Http Client 지원 중단에 따라 추가-->
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="org.cocos2dx.lua.AppActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Tell Cocos2dxActivity the name of our .so -->
        <meta-data
            android:name="android.app.lib_name"
            android:value="cocos2dlua" />

        <!-- @obb, APK expansion file downloading -->
        <service
            android:name="org.cocos2dx.lua.APKExpansionDownloaderService" />
        <receiver
            android:name="org.cocos2dx.lua.APKExpansionAlarmReceiver" />

        <!-- @google -->
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <!-- PerpleIntentService -->
        <service
            android:name="org.cocos2dx.lua.PerpleIntentService" />

        <!-- @firebase -->
        <service
            android:name="com.perplelab.firebase.PerpleFirebaseInstanceIdService"
            android:exported="true">
            <intent-filter>
                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Set custom default icon. This is used when no icon is set for incoming notification messages.
             See README(https://goo.gl/l4GJaQ) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/push_icon" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPush" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel"
            android:value="@string/push_channel_id"/>

    </application>
</manifest>
