<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_gale_debuff_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,383}</string>
                <key>spriteSourceSize</key>
                <string>{398,401}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,383}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_debuff_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,334}</string>
                <key>spriteSourceSize</key>
                <string>{334,352}</string>
                <key>textureRect</key>
                <string>{{383,1},{316,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_debuff_shield_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,247}</string>
                <key>spriteSourceSize</key>
                <string>{236,265}</string>
                <key>textureRect</key>
                <string>{{643,640},{218,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_dragon_shield_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,292}</string>
                <key>spriteSourceSize</key>
                <string>{282,310}</string>
                <key>textureRect</key>
                <string>{{701,1},{264,292}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_dragon_shield_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,284}</string>
                <key>spriteSourceSize</key>
                <string>{308,302}</string>
                <key>textureRect</key>
                <string>{{691,337},{290,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gale_dragon_shield_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,258}</string>
                <key>spriteSourceSize</key>
                <string>{267,276}</string>
                <key>textureRect</key>
                <string>{{383,640},{249,258}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gale_dragon_shield_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,301}</string>
                <key>spriteSourceSize</key>
                <string>{306,301}</string>
                <key>textureRect</key>
                <string>{{383,337},{306,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_dragon_shield_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,386},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_gale_dragon_shield_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,99}</string>
                <key>spriteSourceSize</key>
                <string>{127,99}</string>
                <key>textureRect</key>
                <string>{{863,629},{127,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_gale_dragon_shield_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,143}</string>
                <key>spriteSourceSize</key>
                <string>{380,143}</string>
                <key>textureRect</key>
                <string>{{1,748},{380,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_gale.png</string>
            <key>size</key>
            <string>{976,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73bb03ba21d18947b51bd747bb762e67:bd2a8ac23e01181dce12656eb2621a95:6a902d419c98d8a8c7a6b823bd285b49$</string>
            <key>textureFileName</key>
            <string>skill_gale.png</string>
        </dict>
    </dict>
</plist>
