<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nest_dungeon_dragon_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{414,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{1,1},{414,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_dragon_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{414,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{1,667},{414,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_dragon_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{414,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{417,1},{414,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_dragon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{414,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{417,417},{414,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_dragon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,0}</string>
                <key>spriteSize</key>
                <string>{414,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{417,833},{414,664}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{1083,1},{374,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_tree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{374,664}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{1083,667},{374,664}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nest_dungeon.png</string>
            <key>size</key>
            <string>{1458,1332}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a53ca564d4d87881fb2623c5c781eb7b:1f25b39bf59cb451e4c2a5bb65c34234:8263ee2cc1cda43d9fc71852f28cbc26$</string>
            <key>textureFileName</key>
            <string>nest_dungeon.png</string>
        </dict>
    </dict>
</plist>
