<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmgate_stage_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,800}</string>
                <key>spriteSourceSize</key>
                <string>{1920,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_stage_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,800}</string>
                <key>spriteSourceSize</key>
                <string>{1920,800}</string>
                <key>textureRect</key>
                <string>{{1,803},{1920,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dmgate_stage_1.png</string>
            <key>size</key>
            <string>{1922,1604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f7fbca574c6ee6715b3d5284852ea5b:66e9cd3911a1cd9b2e6eb25056ada02f:3bb6855b9a10e318bf5bae6765f35071$</string>
            <key>textureFileName</key>
            <string>dmgate_stage_1.png</string>
        </dict>
    </dict>
</plist>
