<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_popomo_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{440,250},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{440,309},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{226,738},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{309,349},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{333,1},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{1,922},{99,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{309,250},{97,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{209,922},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_petal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,216}</string>
                <key>spriteSourceSize</key>
                <string>{223,216}</string>
                <key>textureRect</key>
                <string>{{1,704},{223,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_petal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,151}</string>
                <key>spriteSourceSize</key>
                <string>{156,151}</string>
                <key>textureRect</key>
                <string>{{333,97},{156,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_petal_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,50}</string>
                <key>spriteSourceSize</key>
                <string>{87,50}</string>
                <key>textureRect</key>
                <string>{{439,401},{87,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_petal_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,47}</string>
                <key>spriteSourceSize</key>
                <string>{42,47}</string>
                <key>textureRect</key>
                <string>{{259,448},{42,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_popomo_petal_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,33}</string>
                <key>spriteSourceSize</key>
                <string>{51,33}</string>
                <key>textureRect</key>
                <string>{{439,366},{51,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_petal_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,32}</string>
                <key>spriteSourceSize</key>
                <string>{28,32}</string>
                <key>textureRect</key>
                <string>{{226,704},{28,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_petal_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,271}</string>
                <key>spriteSourceSize</key>
                <string>{306,271}</string>
                <key>textureRect</key>
                <string>{{1,175},{306,271}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_re_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,254}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,448},{256,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_re_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,229}</string>
                <key>spriteSourceSize</key>
                <string>{229,229}</string>
                <key>textureRect</key>
                <string>{{259,492},{229,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_popomo_re_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{226,827},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_popomo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb8fa621f708f81708a34f96ba53a620:bcf39a71ca2618920c3dab7d6f2beccd:b1a7881f18aca2cc77fba79e43bceec6$</string>
            <key>textureFileName</key>
            <string>skill_popomo.png</string>
        </dict>
    </dict>
</plist>
