<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_combat_down_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_combat_down_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{86,88}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_combat_down_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_combat_down.png</string>
            <key>size</key>
            <string>{354,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e61ada707b33c72585105dafa5eaee5c:a84768c2008bc27de493d0be1436976b:e582f77c4a4e55f3c8b350a01a42ade2$</string>
            <key>textureFileName</key>
            <string>effect_combat_down.png</string>
        </dict>
    </dict>
</plist>
