<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_role_supporter_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{324,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{324,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_role_supporter.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f26afb4ccd1cbeb63bc2cfe8242444aa:33bcf0f2eb41ba35146effb07a805ffd:9ad37b6014036cebf3676d35cfca9d26$</string>
            <key>textureFileName</key>
            <string>egg_role_supporter.png</string>
        </dict>
    </dict>
</plist>
