<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_ancient_forest_1_a_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,682},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,320},{640,640}}</string>
                <key>sourceSize</key>
                <string>{1280,1280}</string>
            </dict>
            <key>map_ancient_forest_2_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,682},{646,654}}</string>
                <key>offset</key>
                <string>{3,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{322,452},{646,654}}</string>
                <key>sourceSize</key>
                <string>{1284,1476}</string>
            </dict>
            <key>map_ancient_forest_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{666,668}}</string>
                <key>offset</key>
                <string>{-10,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,455},{666,668}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_forest_3_a_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{678,654}}</string>
                <key>offset</key>
                <string>{12,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,452},{678,654}}</string>
                <key>sourceSize</key>
                <string>{1284,1476}</string>
            </dict>
            <key>map_ancient_forest_branch_01_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1330},{178,192}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,198},{178,192}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_branch_01_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,266},{222,240}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,174},{222,240}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_bush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,508},{192,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{192,142}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_01_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1524},{192,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{192,142}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_01_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1556},{192,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{192,142}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,314},{294,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,143},{294,300}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_bush_03_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1326,1324},{294,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,143},{294,300}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_bush_03_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1324},{294,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,143},{294,300}}</string>
                <key>sourceSize</key>
                <string>{586,586}</string>
            </dict>
            <key>map_ancient_forest_bush_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1797,2},{262,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,37},{262,224}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_05_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1330},{262,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{262,224}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_bush_05_water.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1330},{262,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{262,224}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_effectlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{310,297}}</string>
                <key>offset</key>
                <string>{-27,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{610,495},{310,297}}</string>
                <key>sourceSize</key>
                <string>{1584,1257}</string>
            </dict>
            <key>map_ancient_forest_leaf_01_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,1556},{144,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,67},{144,164}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>map_ancient_forest_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1228},{478,550}}</string>
                <key>offset</key>
                <string>{0,188}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{401,277},{478,550}}</string>
                <key>sourceSize</key>
                <string>{1280,1480}</string>
            </dict>
            <key>map_ancient_starlight_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{838,554}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,504},{838,554}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_ancient_forest_2.png</string>
            <key>size</key>
            <string>{2024,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d2c9c98ebbc6fd3fff088f0ef2ab951:4e1c0d79ed96876a7f12a4c16693f613:c1a0cdeab0144be38bb5f9b9a46df87a$</string>
            <key>textureFileName</key>
            <string>map_ancient_forest_2.png</string>
        </dict>
    </dict>
</plist>
