<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,164}</string>
                <key>spriteSourceSize</key>
                <string>{177,164}</string>
                <key>textureRect</key>
                <string>{{1,207},{177,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,204}</string>
                <key>spriteSourceSize</key>
                <string>{219,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{219,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{221,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:437e68d843e51cfb092af78ebbd6bf0a:1f384b2a28e9ea3a476c8a4056c63ddc:093a2e5f9704eb9caa7571c3413d0460$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
