<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_cut.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{221,372}</string>
                <key>spriteSourceSize</key>
                <string>{221,372}</string>
                <key>textureRect</key>
                <string>{{1,1},{221,372}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,164}</string>
                <key>spriteSourceSize</key>
                <string>{177,164}</string>
                <key>textureRect</key>
                <string>{{222,270},{177,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,204}</string>
                <key>spriteSourceSize</key>
                <string>{219,204}</string>
                <key>textureRect</key>
                <string>{{1,224},{219,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{436,478},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_c_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{45,44}</string>
                <key>spriteSourceSize</key>
                <string>{51,50}</string>
                <key>textureRect</key>
                <string>{{467,201},{45,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{1,497},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_e_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{167,430},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_h.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,90}</string>
                <key>spriteSourceSize</key>
                <string>{115,90}</string>
                <key>textureRect</key>
                <string>{{375,1},{115,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_h_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{67,56}</string>
                <key>spriteSourceSize</key>
                <string>{87,68}</string>
                <key>textureRect</key>
                <string>{{427,546},{67,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_i.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,58}</string>
                <key>spriteSourceSize</key>
                <string>{29,58}</string>
                <key>textureRect</key>
                <string>{{472,141},{29,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_i_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,40}</string>
                <key>spriteSourceSize</key>
                <string>{22,44}</string>
                <key>textureRect</key>
                <string>{{167,472},{22,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,60}</string>
                <key>spriteSourceSize</key>
                <string>{69,60}</string>
                <key>textureRect</key>
                <string>{{287,496},{69,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_heroic_o_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{46,39}</string>
                <key>spriteSourceSize</key>
                <string>{52,45}</string>
                <key>textureRect</key>
                <string>{{472,93},{46,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,64}</string>
                <key>spriteSourceSize</key>
                <string>{71,64}</string>
                <key>textureRect</key>
                <string>{{401,270},{71,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_heroic_r_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,42}</string>
                <key>spriteSourceSize</key>
                <string>{54,48}</string>
                <key>textureRect</key>
                <string>{{467,387},{46,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{1,430},{83,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_a_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,43}</string>
                <key>spriteSourceSize</key>
                <string>{63,49}</string>
                <key>textureRect</key>
                <string>{{467,248},{51,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,58}</string>
                <key>spriteSourceSize</key>
                <string>{67,58}</string>
                <key>textureRect</key>
                <string>{{358,539},{67,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_d_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,40}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{467,345},{43,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,65}</string>
                <key>spriteSourceSize</key>
                <string>{64,65}</string>
                <key>textureRect</key>
                <string>{{401,343},{64,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_e_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,43}</string>
                <key>spriteSourceSize</key>
                <string>{48,49}</string>
                <key>textureRect</key>
                <string>{{467,301},{42,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,60}</string>
                <key>spriteSourceSize</key>
                <string>{63,60}</string>
                <key>textureRect</key>
                <string>{{401,410},{63,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_g_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,45}</string>
                <key>textureRect</key>
                <string>{{466,435},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_l.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,90}</string>
                <key>spriteSourceSize</key>
                <string>{89,90}</string>
                <key>textureRect</key>
                <string>{{375,179},{89,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_l_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{55,56}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{121,497},{55,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>summon_eff_00_t_legendary_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,65}</string>
                <key>spriteSourceSize</key>
                <string>{76,65}</string>
                <key>textureRect</key>
                <string>{{209,436},{76,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_n_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,43}</string>
                <key>spriteSourceSize</key>
                <string>{57,49}</string>
                <key>textureRect</key>
                <string>{{274,224},{47,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,65}</string>
                <key>spriteSourceSize</key>
                <string>{71,65}</string>
                <key>textureRect</key>
                <string>{{363,472},{71,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_r_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,43}</string>
                <key>spriteSourceSize</key>
                <string>{54,49}</string>
                <key>textureRect</key>
                <string>{{323,224},{46,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,65}</string>
                <key>spriteSourceSize</key>
                <string>{79,65}</string>
                <key>textureRect</key>
                <string>{{86,430},{79,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_legendary_y_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,43}</string>
                <key>spriteSourceSize</key>
                <string>{60,49}</string>
                <key>textureRect</key>
                <string>{{222,224},{50,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{74,58}</string>
                <key>textureRect</key>
                <string>{{287,436},{74,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_e.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,58}</string>
                <key>spriteSourceSize</key>
                <string>{58,58}</string>
                <key>textureRect</key>
                <string>{{61,497},{58,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>summon_eff_00_t_rare_r.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,84}</string>
                <key>spriteSourceSize</key>
                <string>{95,84}</string>
                <key>textureRect</key>
                <string>{{375,93},{95,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44bff4377b7ddaa981b97f51c523d6d8:efba0daf2752c643dca9d17a7da2361f:093a2e5f9704eb9caa7571c3413d0460$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
