<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_cha_info_attr_dark_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{315,1},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_attr_earth_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{343,1},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_attr_fire_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{309,29},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_attr_light_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{337,29},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_attr_none_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{243,31},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_attr_water_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{271,31},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_hp_gg_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,10}</string>
                <key>spriteSourceSize</key>
                <string>{70,10}</string>
                <key>textureRect</key>
                <string>{{243,1},{70,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_hp_gg_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,4}</string>
                <key>spriteSourceSize</key>
                <string>{64,4}</string>
                <key>textureRect</key>
                <string>{{243,13},{64,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_hp_gg_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,4}</string>
                <key>spriteSourceSize</key>
                <string>{64,4}</string>
                <key>textureRect</key>
                <string>{{243,19},{64,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_hp_gg_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,4}</string>
                <key>spriteSourceSize</key>
                <string>{64,4}</string>
                <key>textureRect</key>
                <string>{{243,25},{64,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_skill_gg_atk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_cha_info_skill_gg_heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{122,1},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_cha_info.png</string>
            <key>size</key>
            <string>{370,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b09694c798db1180a267e417b2cecf2d:28c5126c4b52d5e522f0589db005fd8f:094b7db99b74d5910093ed99b6908546$</string>
            <key>textureFileName</key>
            <string>ingame_cha_info.png</string>
        </dict>
    </dict>
</plist>
