<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>sky_temple2_1_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{1140,440}}</string>
                <key>offset</key>
                <string>{-92,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1258,635},{1140,440}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple2_4_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1980,310},{32,254}}</string>
                <key>offset</key>
                <string>{112,-606}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{896,1279},{32,254}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,342},{28,324}}</string>
                <key>offset</key>
                <string>{208,-617}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{994,1255},{28,324}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,1604},{808,376}}</string>
                <key>offset</key>
                <string>{-446,-527}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,1139},{808,376}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,120},{100,108}}</string>
                <key>offset</key>
                <string>{-101,-501}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,1247},{100,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,230},{78,88}}</string>
                <key>offset</key>
                <string>{39,-675}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{800,1431},{78,88}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{100,116}}</string>
                <key>offset</key>
                <string>{276,-576}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1026,1318},{100,116}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,310},{30,52}}</string>
                <key>offset</key>
                <string>{460,-367}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1245,1141},{30,52}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,230},{10,8}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,148},{10,8}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple2_1.png</string>
            <key>size</key>
            <string>{2028,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:82c7b01385b892f1d0c4f63a14b35758:1aa2885256f1f63fef238d24d5a249df:e1dac1ed3f800e9980c153eaef810996$</string>
            <key>textureFileName</key>
            <string>sky_temple2_1.png</string>
        </dict>
    </dict>
</plist>
