<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indicator_path_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{165,1},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_path_move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_path_move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{83,1},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>indicator_path.png</string>
            <key>size</key>
            <string>{177,82}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:466a770758c4411b8cb7f2b8e04ed0a5:f9309c6424339f73ea7b1c5b56cda6bf:1561af03ad3ac4b441b5982bd0ab1515$</string>
            <key>textureFileName</key>
            <string>indicator_path.png</string>
        </dict>
    </dict>
</plist>
