<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_psyker_wave_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,2},{136,346}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,33},{136,346}}</string>
                <key>sourceSize</key>
                <string>{162,414}</string>
            </dict>
            <key>skill_psyker_wave_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,1452},{244,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,241}}</string>
                <key>sourceSize</key>
                <string>{244,241}</string>
            </dict>
            <key>skill_psyker_wave_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,410},{353,296}}</string>
                <key>offset</key>
                <string>{-314,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,202},{353,296}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,708},{367,288}}</string>
                <key>offset</key>
                <string>{-260,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{545,210},{367,288}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,998},{463,266}}</string>
                <key>offset</key>
                <string>{-204,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{553,232},{463,266}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1463},{533,260}}</string>
                <key>offset</key>
                <string>{-174,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{548,238},{533,260}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,1224},{603,248}}</string>
                <key>offset</key>
                <string>{-130,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{557,250},{603,248}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1224},{649,226}}</string>
                <key>offset</key>
                <string>{-87,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{577,272},{649,226}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,410},{815,244}}</string>
                <key>offset</key>
                <string>{-23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{558,254},{815,244}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{867,408}}</string>
                <key>offset</key>
                <string>{19,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{574,90},{867,408}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{953,402}}</string>
                <key>offset</key>
                <string>{49,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{561,96},{953,402}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,2},{911,406}}</string>
                <key>offset</key>
                <string>{67,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{600,92},{911,406}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{787,406}}</string>
                <key>offset</key>
                <string>{109,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{704,91},{787,406}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
            <key>skill_psyker_wave_s_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,656},{801,428}}</string>
                <key>offset</key>
                <string>{117,84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{705,69},{801,428}}</string>
                <key>sourceSize</key>
                <string>{1977,734}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_psyker_wave.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b94411c6159cfc718a20e10433012eb$</string>
            <key>textureFileName</key>
            <string>skill_psyker_wave.png</string>
        </dict>
    </dict>
</plist>
