<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,1600}}</string>
                <key>sourceSize</key>
                <string>{1922,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1894},{84,106}}</string>
                <key>offset</key>
                <string>{12,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{470,703},{84,106}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1894},{102,96}}</string>
                <key>offset</key>
                <string>{-26,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,782},{102,96}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,1894},{92,116}}</string>
                <key>offset</key>
                <string>{55,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{509,771},{92,116}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2000},{54,24}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,771},{54,24}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1414,2012},{50,32}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,786},{50,32}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1894},{134,214}}</string>
                <key>offset</key>
                <string>{-64,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,768},{134,214}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,1604},{732,288}}</string>
                <key>offset</key>
                <string>{133,-398}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,1054},{732,288}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1698,1980},{8,8}}</string>
                <key>offset</key>
                <string>{-349,197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,279},{8,8}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>bg_volcano2_magma_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,1980},{64,84}}</string>
                <key>offset</key>
                <string>{48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,98},{64,84}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1976},{68,80}}</string>
                <key>offset</key>
                <string>{44,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,60},{68,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,1894},{98,72}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,42},{98,72}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1894},{96,80}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,42},{96,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1508,1992},{50,80}}</string>
                <key>offset</key>
                <string>{-51,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,56},{50,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1918,1894},{48,90}}</string>
                <key>offset</key>
                <string>{-58,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,78},{48,90}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{34,80}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,22},{34,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_volcano2_magma_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1604},{1194,394}}</string>
                <key>offset</key>
                <string>{244,-595}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,1198},{1194,394}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_magma_04_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,1976},{68,72}}</string>
                <key>offset</key>
                <string>{-414,-643}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{576,1407},{68,72}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano2_1.png</string>
            <key>size</key>
            <string>{1968,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76fef1f67e031c2be7046960af3a634:9e015ea1817cf62ce48f1be09a5fafe6:7c9d6622d336278435f6cadae1ac065a$</string>
            <key>textureFileName</key>
            <string>volcano2_1.png</string>
        </dict>
    </dict>
</plist>
