<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_poseidon_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,147}</string>
                <key>spriteSourceSize</key>
                <string>{390,167}</string>
                <key>textureRect</key>
                <string>{{775,712},{372,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_poseidon_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{754,1189},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_bubble_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,486}</string>
                <key>spriteSourceSize</key>
                <string>{499,486}</string>
                <key>textureRect</key>
                <string>{{1,1},{499,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_bubble_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{436,504}</string>
                <key>spriteSourceSize</key>
                <string>{436,504}</string>
                <key>textureRect</key>
                <string>{{1,1001},{436,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_bubble_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{444,528}</string>
                <key>spriteSourceSize</key>
                <string>{444,528}</string>
                <key>textureRect</key>
                <string>{{502,1},{444,528}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_bubble_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,510}</string>
                <key>spriteSourceSize</key>
                <string>{447,510}</string>
                <key>textureRect</key>
                <string>{{1,489},{447,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{313,316}</string>
                <key>spriteSourceSize</key>
                <string>{313,316}</string>
                <key>textureRect</key>
                <string>{{439,1037},{313,316}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,119}</string>
                <key>textureRect</key>
                <string>{{754,1086},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_ring_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{419,438}</string>
                <key>spriteSourceSize</key>
                <string>{419,438}</string>
                <key>textureRect</key>
                <string>{{1,1507},{419,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_poseidon_ring_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,97}</string>
                <key>spriteSourceSize</key>
                <string>{68,115}</string>
                <key>textureRect</key>
                <string>{{865,1086},{50,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_stream_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{472,179}</string>
                <key>spriteSourceSize</key>
                <string>{472,179}</string>
                <key>textureRect</key>
                <string>{{450,531},{472,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_stream_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{441,1498},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_stream_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,141}</string>
                <key>spriteSourceSize</key>
                <string>{404,159}</string>
                <key>textureRect</key>
                <string>{{439,1355},{386,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_twist.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{323,323}</string>
                <key>spriteSourceSize</key>
                <string>{323,323}</string>
                <key>textureRect</key>
                <string>{{450,712},{323,323}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_water_end.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{367,113}</string>
                <key>spriteSourceSize</key>
                <string>{385,155}</string>
                <key>textureRect</key>
                <string>{{441,1800},{367,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_poseidon_water_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{367,141}</string>
                <key>spriteSourceSize</key>
                <string>{385,179}</string>
                <key>textureRect</key>
                <string>{{441,1657},{367,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_poseidon.png</string>
            <key>size</key>
            <string>{947,1927}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06c477e55cd954770e147e92c5009191:3ddc808d129f520c477d73caaa0f9b8d:9c499b8fd41bdfe7ba9aca429685df54$</string>
            <key>textureFileName</key>
            <string>skill_poseidon.png</string>
        </dict>
    </dict>
</plist>
