<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_electric_shork_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{104,138}</string>
                <key>spriteSourceSize</key>
                <string>{116,144}</string>
                <key>textureRect</key>
                <string>{{1,229},{104,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electric_shork_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{49,80}</string>
                <key>spriteSourceSize</key>
                <string>{57,104}</string>
                <key>textureRect</key>
                <string>{{61,369},{49,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electric_shork_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,7}</string>
                <key>spriteSize</key>
                <string>{36,80}</string>
                <key>spriteSourceSize</key>
                <string>{66,106}</string>
                <key>textureRect</key>
                <string>{{65,1},{36,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electric_shork_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,9}</string>
                <key>spriteSize</key>
                <string>{58,114}</string>
                <key>spriteSourceSize</key>
                <string>{70,140}</string>
                <key>textureRect</key>
                <string>{{1,369},{58,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_electric_shork_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-4}</string>
                <key>spriteSize</key>
                <string>{226,62}</string>
                <key>spriteSourceSize</key>
                <string>{240,90}</string>
                <key>textureRect</key>
                <string>{{1,1},{226,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_electric_shork_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,33}</string>
                <key>spriteSourceSize</key>
                <string>{35,33}</string>
                <key>textureRect</key>
                <string>{{65,83},{35,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_electric_shork.png</string>
            <key>size</key>
            <string>{111,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2503233814628827540a6e7e8c2553dc:5a0d531ad2818ddffafc71b732235b77:048df999ae18e9c910d377b4befd3cba$</string>
            <key>textureFileName</key>
            <string>skill_electric_shork.png</string>
        </dict>
    </dict>
</plist>
