<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest2_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1344,816}}</string>
                <key>offset</key>
                <string>{-1,-392}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,784},{1344,816}}</string>
                <key>sourceSize</key>
                <string>{1386,1600}</string>
            </dict>
            <key>bg_forest2_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,820},{1116,878}}</string>
                <key>offset</key>
                <string>{-24,-361}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,722},{1116,878}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>bg_forest2_flower_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{882,1224}}</string>
                <key>offset</key>
                <string>{-42,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,241},{882,1224}}</string>
                <key>sourceSize</key>
                <string>{1500,1500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest2_6.png</string>
            <key>size</key>
            <string>{1766,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c93ea824a6d8023efb05f1cd08c805a3:88a7e6dee2bf95257492b752024cddf2:052a512d696da83b116ddc647070405d$</string>
            <key>textureFileName</key>
            <string>forest2_6.png</string>
        </dict>
    </dict>
</plist>
