<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_btn_arrow_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{1577,1},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{976,360},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1408,300},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{1147,303},{43,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_chat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1048,360},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1516,184},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1120,340},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1478,326},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1478,392},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_marble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1544,326},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_staminas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1544,392},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1566,256},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1192,304},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{1588,184},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1566,314},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1584,314},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1498,224},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1602,314},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,326},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,338},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,350},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,362},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,374},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1610,386},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1439,272},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1264,304},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1192,376},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_pause_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1264,376},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1336,304},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1408,370},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1120,412},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1336,376},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1496,256},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{1607,1},{27,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_speed_0403.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{1588,228},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,69}</string>
                <key>spriteSourceSize</key>
                <string>{398,69}</string>
                <key>textureRect</key>
                <string>{{802,232},{398,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{829,407},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,33}</string>
                <key>spriteSourceSize</key>
                <string>{1280,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,28}</string>
                <key>spriteSourceSize</key>
                <string>{739,28}</string>
                <key>textureRect</key>
                <string>{{1,415},{739,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{802,184},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{802,204},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,14}</string>
                <key>spriteSourceSize</key>
                <string>{702,14}</string>
                <key>textureRect</key>
                <string>{{1,445},{702,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,6}</string>
                <key>spriteSourceSize</key>
                <string>{694,6}</string>
                <key>textureRect</key>
                <string>{{802,224},{694,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_challenge_mode_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{343,35}</string>
                <key>spriteSourceSize</key>
                <string>{385,35}</string>
                <key>textureRect</key>
                <string>{{802,303},{343,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,16}</string>
                <key>spriteSourceSize</key>
                <string>{155,16}</string>
                <key>textureRect</key>
                <string>{{1202,272},{155,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{1359,272},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{1202,290},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,72}</string>
                <key>spriteSourceSize</key>
                <string>{824,72}</string>
                <key>textureRect</key>
                <string>{{802,36},{824,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{1202,232},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{802,340},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{1202,252},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,6}</string>
                <key>spriteSourceSize</key>
                <string>{274,6}</string>
                <key>textureRect</key>
                <string>{{1283,27},{274,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,24}</string>
                <key>spriteSourceSize</key>
                <string>{292,24}</string>
                <key>textureRect</key>
                <string>{{1283,1},{292,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,377}</string>
                <key>spriteSourceSize</key>
                <string>{799,377}</string>
                <key>textureRect</key>
                <string>{{1,36},{799,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,72}</string>
                <key>spriteSourceSize</key>
                <string>{824,72}</string>
                <key>textureRect</key>
                <string>{{802,110},{824,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_dps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,45}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{742,415},{85,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,43}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{889,360},{85,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_exp_gauge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{1282,290},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_exp_gauge_max.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{1362,286},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_hps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,45}</string>
                <key>spriteSourceSize</key>
                <string>{85,45}</string>
                <key>textureRect</key>
                <string>{{802,360},{85,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{14,13}</string>
                <key>spriteSourceSize</key>
                <string>{14,13}</string>
                <key>textureRect</key>
                <string>{{705,445},{14,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_btn.png</string>
            <key>size</key>
            <string>{1627,461}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ce449f9db6d0a2eab34a267470f7ed:fba0379453712b73f4c4b84a8d891bde:ce14db38d7e3885d010e29391a279102$</string>
            <key>textureFileName</key>
            <string>ingame_btn.png</string>
        </dict>
    </dict>
</plist>
