<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_arrow_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{144,163},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_dday_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,70}</string>
                <key>textureRect</key>
                <string>{{1,163},{260,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_dday_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,69}</string>
                <key>spriteSourceSize</key>
                <string>{258,69}</string>
                <key>textureRect</key>
                <string>{{73,163},{258,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lobby_dday_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{164,160}</string>
                <key>spriteSourceSize</key>
                <string>{170,170}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loby_arrow_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,98}</string>
                <key>spriteSourceSize</key>
                <string>{86,98}</string>
                <key>textureRect</key>
                <string>{{144,263},{86,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby.png</string>
            <key>size</key>
            <string>{231,424}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3bade43cf611c42c41040bffdac02c9d:cbc68bcd5384c6cac682f1246ac1150d:f1bafa2c26deda73cfe01e78b270c574$</string>
            <key>textureFileName</key>
            <string>lobby.png</string>
        </dict>
    </dict>
</plist>
