<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_offensive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{21,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{21,49}}</string>
                <key>sourceSize</key>
                <string>{35,77}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_offensive.png</string>
            <key>size</key>
            <string>{25,53}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37672191ceb8bac5851aaddab0bd58c9:929eb37a1b5ce7728ca0c7cfdf46e0e3:df87e7e599dc5063d56f0db2914c2bfe$</string>
            <key>textureFileName</key>
            <string>effect_offensive.png</string>
        </dict>
    </dict>
</plist>
