<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_reflect_dmg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,430}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{430,430}}</string>
                <key>sourceSize</key>
                <string>{454,450}</string>
            </dict>
            <key>effect_reflect_dmg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{416,416}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{416,416}}</string>
                <key>sourceSize</key>
                <string>{454,450}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_reflect_dmg.png</string>
            <key>size</key>
            <string>{852,434}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df132ef0ce0954658c89a7614521083c:1ab86ab3e5e2eef6a41302fcf24bb8cc:be145484932d4ee35e5293771d6e452e$</string>
            <key>textureFileName</key>
            <string>effect_reflect_dmg.png</string>
        </dict>
    </dict>
</plist>
