<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_circle_heal_healing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{453,363},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,35}</string>
                <key>spriteSize</key>
                <string>{92,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{575,748},{92,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,34}</string>
                <key>spriteSize</key>
                <string>{96,80}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{509,855},{96,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,33}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{421,877},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,33}</string>
                <key>spriteSize</key>
                <string>{98,86}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{487,755},{98,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,32}</string>
                <key>spriteSize</key>
                <string>{98,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{669,659},{98,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,29}</string>
                <key>spriteSize</key>
                <string>{102,100}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{167,447},{102,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{106,110}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{445,597},{106,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,25}</string>
                <key>spriteSize</key>
                <string>{108,114}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{329,597},{108,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,20}</string>
                <key>spriteSize</key>
                <string>{116,126}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{123,889},{116,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,19}</string>
                <key>spriteSize</key>
                <string>{120,134}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,889},{120,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,16}</string>
                <key>spriteSize</key>
                <string>{122,142}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{670,363},{122,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,11}</string>
                <key>spriteSize</key>
                <string>{122,148}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{329,447},{122,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,7}</string>
                <key>spriteSize</key>
                <string>{124,158}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,580},{124,158}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,2}</string>
                <key>spriteSize</key>
                <string>{126,164}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,447},{126,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{122,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{810,583},{122,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{126,192}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{814,455},{126,192}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,8}</string>
                <key>spriteSize</key>
                <string>{122,166}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{161,580},{122,166}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{138,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{670,487},{138,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,5}</string>
                <key>spriteSize</key>
                <string>{110,166}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{557,580},{110,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{122,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,707},{122,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{118,180}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{125,707},{118,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-1}</string>
                <key>spriteSize</key>
                <string>{118,176}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{245,707},{118,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{120,168}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{365,707},{120,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_res_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{120,178}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{241,889},{120,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-16}</string>
                <key>spriteSize</key>
                <string>{118,208}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{815,1},{118,208}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_res_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-13}</string>
                <key>spriteSize</key>
                <string>{128,200}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{815,325},{128,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_circle_heal_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{450,444}</string>
                <key>spriteSourceSize</key>
                <string>{534,534}</string>
                <key>textureRect</key>
                <string>{{1,1},{450,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_ss_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{815,121},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_circle_heal_ss_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{453,1},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_circle_heal.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cd42da267fbd223f8c5986e310c962a:b9c1cea8e3270c3142ce47e7b1f47d4f:0cacf2928b562d4546e78b71da4fcca5$</string>
            <key>textureFileName</key>
            <string>skill_circle_heal.png</string>
        </dict>
    </dict>
</plist>
