<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_04_light_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,416},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_2_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,416},{210,176}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,278},{210,176}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_4_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{126,608}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,0},{126,608}}</string>
                <key>sourceSize</key>
                <string>{500,608}</string>
            </dict>
            <key>dark_castle_4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1861,412}}</string>
                <key>offset</key>
                <string>{0,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,388},{1861,412}}</string>
                <key>sourceSize</key>
                <string>{1861,800}</string>
            </dict>
            <key>dark_castle_4_a_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{240,132}}</string>
                <key>offset</key>
                <string>{204,-126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,460},{240,132}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_4_a_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,544},{150,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{425,366},{150,68}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_4_a_object_block_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,544},{80,52}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{80,52}}</string>
                <key>sourceSize</key>
                <string>{82,52}</string>
            </dict>
            <key>dark_castle_4_a_plant.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,416},{498,320}}</string>
                <key>offset</key>
                <string>{22,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,480},{498,320}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,544},{236,170}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,320},{236,170}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle_candle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,416},{64,64}}</string>
                <key>offset</key>
                <string>{-88,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,983},{64,64}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_4.png</string>
            <key>size</key>
            <string>{1865,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a73cb1e666a659d37133cdbfc33b2372:b73b5bf6c9f7c58b3d3506359d1c8ac8:34d531f130615c1d648952ffd945d5ab$</string>
            <key>textureFileName</key>
            <string>dark_castle_4.png</string>
        </dict>
    </dict>
</plist>
