<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{502,320}}</string>
                <key>offset</key>
                <string>{21,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,480},{502,320}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,2},{472,312}}</string>
                <key>offset</key>
                <string>{-8,-244}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,488},{472,312}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_5.png</string>
            <key>size</key>
            <string>{980,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e4bbe169b2046f8ca1ebdf516a0c8b8:90c06cb4844c2906ca2d467de345456b:b42d0997845bd7903ca020a483eae5e1$</string>
            <key>textureFileName</key>
            <string>dark_castle_5.png</string>
        </dict>
    </dict>
</plist>
