<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{500,168}}</string>
                <key>offset</key>
                <string>{-4,-141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,457},{500,168}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{518,190}}</string>
                <key>offset</key>
                <string>{45,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,424},{518,190}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_3.png</string>
            <key>size</key>
            <string>{1024,194}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a652368544c3afb1a92d93ac6d4d5d9:1d0131c0f06792cbc1bcf9fb9e79e8a6:82dc3882b038db931443ab3a4ac7cb09$</string>
            <key>textureFileName</key>
            <string>dark_castle_3.png</string>
        </dict>
    </dict>
</plist>
