<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_2_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{710,360}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{644,549},{710,360}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1984,674}}</string>
                <key>offset</key>
                <string>{-8,-277}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,740},{1984,674}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle_3_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,678},{1472,590}}</string>
                <key>offset</key>
                <string>{87,-261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,766},{1472,590}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_3.png</string>
            <key>size</key>
            <string>{1988,1390}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7841e3a7c0d469e86e4ea83daecc9b02:3ae3d50073b348202147280922158ac0:82dc3882b038db931443ab3a4ac7cb09$</string>
            <key>textureFileName</key>
            <string>dark_castle_3.png</string>
        </dict>
    </dict>
</plist>
