<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dmgate_menu_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,129}</string>
                <key>spriteSourceSize</key>
                <string>{124,129}</string>
                <key>textureRect</key>
                <string>{{1,1774},{124,129}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,2}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{184,1922},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_box_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{132,1940},{54,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_box_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,36}</string>
                <key>spriteSourceSize</key>
                <string>{54,36}</string>
                <key>textureRect</key>
                <string>{{92,1958},{54,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_box_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,43}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{170,1949},{45,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_box_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{89,95}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1,1900},{89,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_effect_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,190}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,1582},{214,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_lock_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,82}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{132,1774},{68,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_lock_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,9}</string>
                <key>spriteSize</key>
                <string>{38,56}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{92,1900},{38,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_lock_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-13}</string>
                <key>spriteSize</key>
                <string>{46,50}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{132,1892},{46,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_lock_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,-7}</string>
                <key>spriteSize</key>
                <string>{46,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{132,1844},{46,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dmgate_menu_effect_lock_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,27}</string>
                <key>spriteSize</key>
                <string>{30,28}</string>
                <key>spriteSourceSize</key>
                <string>{68,82}</string>
                <key>textureRect</key>
                <string>{{184,1892},{30,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_lock_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,525}</string>
                <key>spriteSourceSize</key>
                <string>{200,537}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_lock_frame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,525}</string>
                <key>spriteSourceSize</key>
                <string>{200,537}</string>
                <key>textureRect</key>
                <string>{{1,528},{198,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dmgate_menu_effect_menu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{198,525}</string>
                <key>spriteSourceSize</key>
                <string>{200,537}</string>
                <key>textureRect</key>
                <string>{{1,1055},{198,525}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dmgate_menu_effect.png</string>
            <key>size</key>
            <string>{216,2013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da9874051b48b145c15922df7ff9b3e8:c1a2743363192ec565102bf9dccb202f:fdd763528dcfae0d4332af3ee347021d$</string>
            <key>textureFileName</key>
            <string>dmgate_menu_effect.png</string>
        </dict>
    </dict>
</plist>
