<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-5}</string>
                <key>spriteSize</key>
                <string>{99,101}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{1,1411},{99,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_purple_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{853,748}</string>
                <key>spriteSourceSize</key>
                <string>{853,748}</string>
                <key>textureRect</key>
                <string>{{1,1},{853,748}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_purple_circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{298,288}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{527,1054},{298,288}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_purple_circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,207}</string>
                <key>spriteSourceSize</key>
                <string>{203,207}</string>
                <key>textureRect</key>
                <string>{{464,1344},{203,207}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_purple_circle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-14}</string>
                <key>spriteSize</key>
                <string>{360,301}</string>
                <key>spriteSourceSize</key>
                <string>{450,375}</string>
                <key>textureRect</key>
                <string>{{458,751},{360,301}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_purple_line_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{461,119}</string>
                <key>spriteSourceSize</key>
                <string>{473,155}</string>
                <key>textureRect</key>
                <string>{{1,1290},{461,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_purple_smog_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,325}</string>
                <key>spriteSourceSize</key>
                <string>{455,325}</string>
                <key>textureRect</key>
                <string>{{1,751},{455,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,524}</string>
                <key>spriteSourceSize</key>
                <string>{214,528}</string>
                <key>textureRect</key>
                <string>{{1,1078},{210,524}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>battle_menu_dungeon_1.png</string>
            <key>size</key>
            <string>{855,1548}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0bffb3102460ab640fc34969d2b84d:c6e20fe88635fcfb116eeeea579c561b:a1155cf9552fe41815244ec02b7cd63d$</string>
            <key>textureFileName</key>
            <string>battle_menu_dungeon_1.png</string>
        </dict>
    </dict>
</plist>
