<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colosseum_2_1_door_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1004},{124,270}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,109},{124,270}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>colosseum_2_1_door_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{240,310}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,89},{240,310}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>colosseum_2_blue_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,842},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,568},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{24,26}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2012,596},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,842},{62,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,25},{62,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,568},{272,214}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{272,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_door_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1922,1094},{88,108}}</string>
                <key>offset</key>
                <string>{0,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{852,804},{88,108}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_fountain_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,314},{220,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1276},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,132},{38,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_mainhall.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1792,1344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1792,1344}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colosseum_2_2.png</string>
            <key>size</key>
            <string>{2038,1348}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:974f8d18879b2c7ba3b58f7d769eb4ba:5ed2406e7900b99f09ad68119687c472:905955f367bc35a5093daa3472566446$</string>
            <key>textureFileName</key>
            <string>colosseum_2_2.png</string>
        </dict>
    </dict>
</plist>
