<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>cutscene_tamer_a_type_res_00_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{435,1600}</string>
                <key>spriteSourceSize</key>
                <string>{721,1600}</string>
                <key>textureRect</key>
                <string>{{2,2},{435,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutscene_tamer_a_type_res_00_g.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{435,1600}</string>
                <key>spriteSourceSize</key>
                <string>{721,1600}</string>
                <key>textureRect</key>
                <string>{{2,1604},{435,1600}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cutscene_tamer_a_type_res_00_k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{435,1600}</string>
                <key>spriteSourceSize</key>
                <string>{721,1600}</string>
                <key>textureRect</key>
                <string>{{439,2},{435,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutscene_tamer_a_type_res_00_m.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,0}</string>
                <key>spriteSize</key>
                <string>{435,1600}</string>
                <key>spriteSourceSize</key>
                <string>{721,1600}</string>
                <key>textureRect</key>
                <string>{{876,2},{435,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cutscene_tamer_a_type_res_00_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{435,1600}</string>
                <key>spriteSourceSize</key>
                <string>{721,1600}</string>
                <key>textureRect</key>
                <string>{{1313,2},{435,1600}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cutscene_tamer_a_type_t.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b79a55fd6ebacdfc910cb250c8d9669:16820e527b4c60d4e133db987ac1bf93:e0727a61c7057f4ae0703829c6b14d04$</string>
            <key>textureFileName</key>
            <string>cutscene_tamer_a_type_t.png</string>
        </dict>
    </dict>
</plist>
