<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_white_day_book_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1924},{58,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,72},{58,56}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_book_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1966},{34,28}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{34,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_book_eye.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{10,10}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,97},{10,10}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_book_open.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1966},{34,28}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,85},{34,28}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_candle_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,1924},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,80},{40,40}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,1984},{6,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,96},{6,8}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_light_gold_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1924},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,88},{22,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_light_gold_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1924},{22,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,88},{22,24}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_light_window_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1800},{154,176}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{154,176}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_light_window_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1800},{184,194}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,3},{184,194}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_light_window_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1604},{194,200}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{194,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>map_white_day_room_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,2},{256,1600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,1600}}</string>
                <key>sourceSize</key>
                <string>{256,1600}</string>
            </dict>
            <key>map_white_day_room_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,1080}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,1080}}</string>
                <key>sourceSize</key>
                <string>{1920,1080}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_white_day.png</string>
            <key>size</key>
            <string>{1426,1996}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54d3f3cd3a37282d3cd2a9663093158b:81ae6aa37986f51c381930a532449be6:683dabfeb0ec6ac0bbfb66b8fd636484$</string>
            <key>textureFileName</key>
            <string>map_white_day.png</string>
        </dict>
    </dict>
</plist>
