<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>book_reward_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,65}</string>
                <key>textureRect</key>
                <string>{{252,125},{78,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>book_reward_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,110}</string>
                <key>textureRect</key>
                <string>{{252,1},{122,110}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>book_reward_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,191}</string>
                <key>spriteSourceSize</key>
                <string>{249,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{249,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>book.png</string>
            <key>size</key>
            <string>{363,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58ce5c4f0a69278d6412e3d30b082daf:2a6f1e15859c7523c618cec9418bc428:e27ca24fcbf88745db5ee4ad3e0c2df3$</string>
            <key>textureFileName</key>
            <string>book.png</string>
        </dict>
    </dict>
</plist>
