<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_screen_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,800}}</string>
                <key>sourceSize</key>
                <string>{640,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_screen.png</string>
            <key>size</key>
            <string>{644,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b1f0ea6c2811d1c2a71668294642416a:2d185a58e88d35f1494b12ae748a7d80:23e85d459961dc247594b31baebd28b0$</string>
            <key>textureFileName</key>
            <string>effect_screen.png</string>
        </dict>
    </dict>
</plist>
