<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_screen_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>effect_screen_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>effect_screen_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>effect_screen_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
            <key>effect_screen_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{128,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,160}}</string>
                <key>sourceSize</key>
                <string>{128,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_screen.png</string>
            <key>size</key>
            <string>{652,164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3560387042f0254e36338c47de75a412:1e2a648031cd5954f0128704eadd5f94:23e85d459961dc247594b31baebd28b0$</string>
            <key>textureFileName</key>
            <string>effect_screen.png</string>
        </dict>
    </dict>
</plist>
