<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res_btn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,331},{126,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-5}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{129,359},{126,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,523},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{126,551},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,399},{126,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-5}</string>
                <key>spriteSize</key>
                <string>{126,66}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{129,427},{126,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{126,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1,467},{126,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-17,-6}</string>
                <key>spriteSize</key>
                <string>{126,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{129,495},{126,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{142,72}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,257},{142,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,80}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,95},{148,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{148,78}</string>
                <key>spriteSourceSize</key>
                <string>{150,80}</string>
                <key>textureRect</key>
                <string>{{1,177},{148,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{160,92}</string>
                <key>spriteSourceSize</key>
                <string>{160,110}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{1,670},{56,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res_item_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,67}</string>
                <key>spriteSourceSize</key>
                <string>{56,67}</string>
                <key>textureRect</key>
                <string>{{161,618},{56,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res_item_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{151,195},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{145,277},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1,590},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,78}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{81,618},{78,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{163,1},{98,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res_item_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{98,92}</string>
                <key>spriteSourceSize</key>
                <string>{102,102}</string>
                <key>textureRect</key>
                <string>{{151,101},{98,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>package_step_period.png</string>
            <key>size</key>
            <string>{256,727}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8862cc3e0c01a5b38e4dd9807c30e9ae:3ba01df8bdab8c7a8037c9ea8a20681a:66f85a7e95ad60f471bbcaf5f72b2949$</string>
            <key>textureFileName</key>
            <string>package_step_period.png</string>
        </dict>
    </dict>
</plist>
