<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res_btn_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,56},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{123,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{126,56},{123,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{251,56},{125,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,65}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{378,56},{125,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{1,1},{125,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{128,1},{125,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{255,1},{125,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,53}</string>
                <key>spriteSourceSize</key>
                <string>{125,65}</string>
                <key>textureRect</key>
                <string>{{382,1},{125,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,1}</string>
                <key>spriteSize</key>
                <string>{166,82}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{1,205},{166,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{156,86}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{345,206},{156,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,2}</string>
                <key>spriteSize</key>
                <string>{178,96}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{98,293},{178,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_btn_normal_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{166,80}</string>
                <key>spriteSourceSize</key>
                <string>{180,92}</string>
                <key>textureRect</key>
                <string>{{1,123},{166,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{169,123},{89,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{89,81}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{260,123},{89,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{169,206},{85,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res_item_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,86}</string>
                <key>textureRect</key>
                <string>{{257,206},{85,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res_item_0301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{278,294},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{113,96}</string>
                <key>spriteSourceSize</key>
                <string>{115,110}</string>
                <key>textureRect</key>
                <string>{{393,294},{113,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0401.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{95,81}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{351,123},{95,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_item_0402.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{95,87}</string>
                <key>spriteSourceSize</key>
                <string>{95,95}</string>
                <key>textureRect</key>
                <string>{{1,289},{95,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>package_step_period.png</string>
            <key>size</key>
            <string>{508,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:944c17c879f202dbec95f68681402649:342e08b4de7401378c6662ebffe81fe7:66f85a7e95ad60f471bbcaf5f72b2949$</string>
            <key>textureFileName</key>
            <string>package_step_period.png</string>
        </dict>
    </dict>
</plist>
