<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>secret_dungeon_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{370,636}</string>
                <key>spriteSourceSize</key>
                <string>{460,670}</string>
                <key>textureRect</key>
                <string>{{1,1},{370,636}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>secret_dungeon_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,221}</string>
                <key>spriteSourceSize</key>
                <string>{216,221}</string>
                <key>textureRect</key>
                <string>{{639,1},{216,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>secret_dungeon.png</string>
            <key>size</key>
            <string>{856,372}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:19a68fb76fc3ade6b1c564300839695b:db2db9e1b302e9cc485401000e503884:c1ed5bbfb29cd33c9c115e81a538ef4c$</string>
            <key>textureFileName</key>
            <string>secret_dungeon.png</string>
        </dict>
    </dict>
</plist>
