<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_slime_res_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{574,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_slime_res_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{574,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_slime_res_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{574,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_slime_res_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{574,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>egg_slime_res_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{574,408}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{574,408}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_slime.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d82730440e648c9b6461f824767b543:95b72ad61d4e95ff50b9c2e1404980a6:7b7377af80269f2f86b36ae2fa090c9a$</string>
            <key>textureFileName</key>
            <string>egg_slime.png</string>
        </dict>
    </dict>
</plist>
