<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_rune_word_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{42,54}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,42},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{48,56}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,43},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_rune_word_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{42,64}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,39},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_rune_word.png</string>
            <key>size</key>
            <string>{482,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:83cbffe557b8e670942ae1aa982f7d6d:d6ead02beae667bdcc8b84c64822cda2:b08fdf108932acd2b0c1746efb46b98d$</string>
            <key>textureFileName</key>
            <string>missile_rune_word.png</string>
        </dict>
    </dict>
</plist>
