<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ray_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,56},{76,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{76,78}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>missile_ray_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,56},{56,97}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{56,97}}</string>
                <key>sourceSize</key>
                <string>{66,125}</string>
            </dict>
            <key>missile_ray_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,56},{105,102}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,12},{105,102}}</string>
                <key>sourceSize</key>
                <string>{139,126}</string>
            </dict>
            <key>missile_ray_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,56},{104,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,96}}</string>
                <key>sourceSize</key>
                <string>{104,96}</string>
            </dict>
            <key>missile_ray_fire_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{162,144}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{162,144}}</string>
                <key>sourceSize</key>
                <string>{166,146}</string>
            </dict>
            <key>missile_ray_fire_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{512,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{512,8}}</string>
                <key>sourceSize</key>
                <string>{512,16}</string>
            </dict>
            <key>missile_ray_fire_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{512,42}}</string>
                <key>sourceSize</key>
                <string>{512,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_ray_fire.png</string>
            <key>size</key>
            <string>{516,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33f2139df0b9d5e0cc0b9cf77fbbc444:63f9f1e8d49e3dab15aab30c503792b9:8058a6d27a2ac7feed605492485a449e$</string>
            <key>textureFileName</key>
            <string>missile_ray_fire.png</string>
        </dict>
    </dict>
</plist>
