<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_thunderbolt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,153}</string>
                <key>spriteSourceSize</key>
                <string>{166,171}</string>
                <key>textureRect</key>
                <string>{{1,171},{148,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_thunderbolt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,89}</string>
                <key>spriteSourceSize</key>
                <string>{106,107}</string>
                <key>textureRect</key>
                <string>{{164,1},{88,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_thunderbolt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,161}</string>
                <key>spriteSourceSize</key>
                <string>{186,179}</string>
                <key>textureRect</key>
                <string>{{1,1},{168,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_thunderbolt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,111}</string>
                <key>spriteSourceSize</key>
                <string>{103,129}</string>
                <key>textureRect</key>
                <string>{{151,171},{85,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_thunderbolt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,126}</string>
                <key>spriteSourceSize</key>
                <string>{140,144}</string>
                <key>textureRect</key>
                <string>{{130,326},{122,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_thunderbolt_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,124}</string>
                <key>spriteSourceSize</key>
                <string>{145,142}</string>
                <key>textureRect</key>
                <string>{{1,326},{127,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_thunderbolt_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{164,92},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_thunderbolt.png</string>
            <key>size</key>
            <string>{253,453}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:54ca2a6129e6efc275359eea215e43b1:0bee074dc0bfa736da0a599d514b22d6:a0ccd8bdd096b7c7adcedf51a88d386f$</string>
            <key>textureFileName</key>
            <string>missile_thunderbolt.png</string>
        </dict>
    </dict>
</plist>
