<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_gdragon_basic_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_dark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,78},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_gdragon_basic_dark_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_gdragon_basic_dark_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_earth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_earth_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,78},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_gdragon_basic_earth_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,38},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_gdragon_basic_earth_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,78},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_gdragon_basic_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,38},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_gdragon_basic_fire_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,78},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_gdragon_basic_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,38},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_gdragon_basic_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_gdragon_basic_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,78},{46,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>missile_gdragon_basic_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{38,93}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{38,93}}</string>
                <key>sourceSize</key>
                <string>{38,103}</string>
            </dict>
            <key>missile_gdragon_basic_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_gdragon_basic.png</string>
            <key>size</key>
            <string>{382,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4a0d7204b071521569c0caf7658a915:378392ca74b1a6039d2ffcbaa2a3ebad:2ae5b1c580f45ae362954a9b6b3bf497$</string>
            <key>textureFileName</key>
            <string>missile_gdragon_basic.png</string>
        </dict>
    </dict>
</plist>
