<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_canyon2_land_easy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1498,860}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,115},{1498,860}}</string>
                <key>sourceSize</key>
                <string>{2048,1024}</string>
            </dict>
            <key>map_canyon2_land_fan_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1844},{61,54}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,216},{61,54}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_fan_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1502},{19,18}}</string>
                <key>offset</key>
                <string>{8,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,238},{19,18}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,1522},{16,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,141},{16,18}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1502},{303,432}}</string>
                <key>offset</key>
                <string>{16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,90},{303,432}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,1502},{213,326}}</string>
                <key>offset</key>
                <string>{-35,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,87},{213,326}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1502},{263,340}}</string>
                <key>offset</key>
                <string>{-9,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,69},{263,340}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1936},{67,68}}</string>
                <key>offset</key>
                <string>{10,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,209},{67,68}}</string>
                <key>sourceSize</key>
                <string>{465,558}</string>
            </dict>
            <key>map_canyon2_land_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1844},{132,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,304},{132,136}}</string>
                <key>sourceSize</key>
                <string>{744,744}</string>
            </dict>
            <key>map_canyon2_land_nest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1830},{186,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,97},{186,106}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_nest_egg_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1502},{50,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,126},{50,48}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_nest_egg_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1982},{34,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,128},{34,44}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_nest_egg_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1666},{42,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,127},{42,46}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_nest_egg_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1552},{48,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,131},{48,38}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_nest_feather_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1907},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,139},{24,22}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,1982},{30,68}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,115},{30,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1936},{32,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,111},{32,78}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1634},{30,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,120},{30,60}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,1592},{40,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{130,116},{40,68}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1982},{22,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,133},{22,34}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1907},{30,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,137},{30,26}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,1564},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,140},{20,20}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_plant_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1936},{28,74}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,114},{28,74}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_sand_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{729,1830},{180,112}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,92},{180,112}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_canyon2_land_smoke_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,1844},{112,170}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,278},{112,170}}</string>
                <key>sourceSize</key>
                <string>{744,744}</string>
            </dict>
            <key>map_canyon2_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,1540},{22,22}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,36},{22,22}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>map_canyon2_text_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1936},{80,230}}</string>
                <key>offset</key>
                <string>{18,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,100},{80,230}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_canyon2_1.png</string>
            <key>size</key>
            <string>{864,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f16405948dd6e0bba574b943deee91e:9a882aa2dd94e22f3072bfb0eafa5670:47959d3375e022e5b05f4f540f8894c4$</string>
            <key>textureFileName</key>
            <string>map_canyon2_1.png</string>
        </dict>
    </dict>
</plist>
