<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_demong_circle_dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{470,200},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{70,64}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{120,649},{70,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_fire_effect_03_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{231,601},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_demong_circle_re_effect_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{1,538},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_re_effect_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{120,538},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,197}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{293,1},{197,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,173}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{293,200},{175,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{1,293},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{246,375},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_demong_circle_res_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_demong_circle.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f72ee7ee6266bb09578a35633b08d0cf:6936b8a32cba9a170c177a1bed453b34:9f9872782eadde7c1a87225fb65147d5$</string>
            <key>textureFileName</key>
            <string>skill_demong_circle.png</string>
        </dict>
    </dict>
</plist>
