<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>drag_skill_fx_light_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{242,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>drag_skill_fx_light_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,107}</string>
                <key>spriteSourceSize</key>
                <string>{53,107}</string>
                <key>textureRect</key>
                <string>{{297,2},{53,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,0}</string>
                <key>spriteSize</key>
                <string>{104,106}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1376,2},{104,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,180}</string>
                <key>spriteSourceSize</key>
                <string>{1280,180}</string>
                <key>textureRect</key>
                <string>{{528,386},{1280,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_bubble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,101}</string>
                <key>spriteSourceSize</key>
                <string>{138,101}</string>
                <key>textureRect</key>
                <string>{{1857,2},{138,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_bubble_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{524,191}</string>
                <key>spriteSourceSize</key>
                <string>{524,191}</string>
                <key>textureRect</key>
                <string>{{2,386},{524,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{117,103}</string>
                <key>textureRect</key>
                <string>{{1283,2},{91,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{290,262}</string>
                <key>textureRect</key>
                <string>{{582,111},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{251,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,245}</string>
                <key>textureRect</key>
                <string>{{800,111},{251,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,273}</string>
                <key>spriteSourceSize</key>
                <string>{287,273}</string>
                <key>textureRect</key>
                <string>{{1603,111},{287,273}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{1053,111},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_charging_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{1328,111},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{384,111},{196,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{2,111},{186,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_circle_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{190,111},{192,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_gauge_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,64}</string>
                <key>spriteSourceSize</key>
                <string>{131,64}</string>
                <key>textureRect</key>
                <string>{{1724,2},{131,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_gg_atk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1603,2},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_dragon_skill_gg_heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{119,52}</string>
                <key>spriteSourceSize</key>
                <string>{119,52}</string>
                <key>textureRect</key>
                <string>{{1482,2},{119,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{574,2},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{648,2},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{73,61}</string>
                <key>textureRect</key>
                <string>{{722,2},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{500,2},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{352,2},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_fx_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,62}</string>
                <key>spriteSourceSize</key>
                <string>{72,62}</string>
                <key>textureRect</key>
                <string>{{426,2},{72,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1121,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{878,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1040,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{1202,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{959,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_gg_fx_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,20}</string>
                <key>spriteSourceSize</key>
                <string>{79,20}</string>
                <key>textureRect</key>
                <string>{{797,2},{79,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{50,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{98,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{194,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>touch_skill_icon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,46}</string>
                <key>spriteSourceSize</key>
                <string>{46,46}</string>
                <key>textureRect</key>
                <string>{{146,2},{46,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_dragon_skill.png</string>
            <key>size</key>
            <string>{2048,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0e57b26b3ca8f3bd4f8f084f525e5161:4ddd38b89e143186e9748ff6033e5990:84fa350bf50a1f73ae01307cdcd5d52a$</string>
            <key>textureFileName</key>
            <string>ingame_dragon_skill.png</string>
        </dict>
    </dict>
</plist>
