<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_sky_temple3_big_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1800},{232,118}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,102},{232,118}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_big_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1536},{310,142}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,85},{310,142}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_big_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{342,122}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,94},{342,122}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1784},{8,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,119},{8,62}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1984},{10,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{173,103},{10,94}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_eyes_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1642},{22,26}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,57},{22,26}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_eyes_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1984},{26,22}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,60},{26,22}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_fountain_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1958},{24,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,119},{24,62}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_fountain_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1742},{26,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,142},{26,16}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_fountain_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,1702},{28,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,131},{28,38}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_fountain_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1984},{16,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,136},{16,28}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_fountain_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1784},{26,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,146},{26,8}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1660},{138,138}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,80},{138,138}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_gear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,1616},{64,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,119},{64,64}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_gear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1920},{68,70}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,118},{68,70}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1938},{12,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,142},{12,16}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1956},{14,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,144},{14,12}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_leaf_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1848},{16,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,137},{16,26}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_left_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1920},{146,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,117},{146,62}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1536},{114,224}}</string>
                <key>offset</key>
                <string>{-420,-193}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,1105},{114,224}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
            <key>map_sky_temple3_light_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1682},{16,18}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,73},{16,18}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1682},{20,18}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,69},{20,18}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1702},{18,20}}</string>
                <key>offset</key>
                <string>{27,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,58},{18,20}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,1536},{16,18}}</string>
                <key>offset</key>
                <string>{32,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,51},{16,18}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1920},{14,16}}</string>
                <key>offset</key>
                <string>{37,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,44},{14,16}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,1992},{14,14}}</string>
                <key>offset</key>
                <string>{37,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,40},{14,14}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>map_sky_temple3_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1724},{18,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,142},{18,16}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_light_orange_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1848},{113,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,108}}</string>
                <key>sourceSize</key>
                <string>{113,108}</string>
            </dict>
            <key>map_sky_temple3_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{1444,724}}</string>
                <key>offset</key>
                <string>{2,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,766},{1444,724}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
            <key>map_sky_temple3_sky_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1448},{1096,558}}</string>
                <key>offset</key>
                <string>{-139,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,848},{1096,558}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
            <key>map_sky_temple3_sky_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1660},{200,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,89},{200,122}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>map_sky_temple3_sky_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1532,812}}</string>
                <key>offset</key>
                <string>{-2,-103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,721},{1532,812}}</string>
                <key>sourceSize</key>
                <string>{2048,2048}</string>
            </dict>
            <key>map_sky_temple3_small_tree_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1742},{98,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,118},{98,64}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_small_tree_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1536},{96,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,111},{96,78}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_small_tree_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1784},{62,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,128},{62,44}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_small_tree_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1842},{96,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,114},{96,72}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_small_tree_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1536},{104,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,108},{104,84}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_small_tree_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1702},{64,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,108},{64,84}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,1958},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,128},{38,44}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1670},{20,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,138},{20,24}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,1788},{28,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,137},{28,26}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1702},{38,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,128},{38,44}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,1762},{106,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,73},{106,154}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_sword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,1848},{54,132}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,90},{54,132}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_sword_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1784},{62,160}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,76},{62,160}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_sword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1642},{58,110}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,100},{58,110}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_waterfall_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1984},{48,22}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,119},{48,22}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_waterfall_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1616},{50,24}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,118},{50,24}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
            <key>map_sky_temple3_waterfall_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,1946},{54,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,126},{54,48}}</string>
                <key>sourceSize</key>
                <string>{356,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>map_sky_temple3_1.png</string>
            <key>size</key>
            <string>{1914,2008}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a5cd1a229b5106cf5ed5b2db13035fb:ba0ec4252f154cbf3888fe03bfd7b7c5:96cb157be5c410c5772c428fc262598b$</string>
            <key>textureFileName</key>
            <string>map_sky_temple3_1.png</string>
        </dict>
    </dict>
</plist>
