<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_clowndragon_light_light_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{54,68}}</string>
                <key>sourceSize</key>
                <string>{56,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_clowndragon_light.png</string>
            <key>size</key>
            <string>{64,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05780864420bbb26ac2eae6f20f8626b:bcde834956da8ea527f9fff27c73eab8:d5173c47fd24729a662cb9c64da3a63a$</string>
            <key>textureFileName</key>
            <string>missile_clowndragon_light.png</string>
        </dict>
    </dict>
</plist>
