<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple2_4_chain_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,168},{32,254}}</string>
                <key>offset</key>
                <string>{112,-606}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{896,1279},{32,254}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_chain_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,2},{28,324}}</string>
                <key>offset</key>
                <string>{208,-617}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{994,1255},{28,324}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_chain_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1537,2},{24,164}}</string>
                <key>offset</key>
                <string>{291,-493}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1079,1211},{24,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{541,264}}</string>
                <key>offset</key>
                <string>{-208,-235}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,503},{541,264}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple2_4_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{405,190}}</string>
                <key>offset</key>
                <string>{-223,-263}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,568},{405,190}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple2_4_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,758},{577,246}}</string>
                <key>offset</key>
                <string>{106,-187}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,464},{577,246}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple2_4_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,618},{411,284}}</string>
                <key>offset</key>
                <string>{-20,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,476},{411,284}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple2_4_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{614,754}}</string>
                <key>offset</key>
                <string>{-23,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,42},{614,754}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple2_4_object_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,409},{162,162}}</string>
                <key>offset</key>
                <string>{-102,-504}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{617,1223},{162,162}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,409},{100,108}}</string>
                <key>offset</key>
                <string>{-101,-501}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,1247},{100,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{300,300}}</string>
                <key>offset</key>
                <string>{-444,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,518},{300,300}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,304},{230,228}}</string>
                <key>offset</key>
                <string>{363,-364}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1048,1050},{230,228}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,534},{150,152}}</string>
                <key>offset</key>
                <string>{499,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1224,701},{150,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_gear_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,573},{152,150}}</string>
                <key>offset</key>
                <string>{-420,-494}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,1219},{152,150}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_object_leaf_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,2},{614,366}}</string>
                <key>offset</key>
                <string>{-22,164}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,53},{614,366}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple2_4_object_leaf_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,904},{116,122}}</string>
                <key>offset</key>
                <string>{504,145}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1246,594},{116,122}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,595},{134,152}}</string>
                <key>offset</key>
                <string>{-242,-675}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,1399},{134,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,904},{154,108}}</string>
                <key>offset</key>
                <string>{-93,-708}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{630,1454},{154,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,424},{68,126}}</string>
                <key>offset</key>
                <string>{-88,-716}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{678,1453},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,511},{82,92}}</string>
                <key>offset</key>
                <string>{39,-674}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{798,1428},{82,92}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1404,904},{100,120}}</string>
                <key>offset</key>
                <string>{276,-576}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1026,1316},{100,120}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple2_4.png</string>
            <key>size</key>
            <string>{1563,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff5648003877d1b63a66530ee2d22fc8:87d08ad20c8d7757800f65ace8f21aad:a342f669662beaa7bec0d406851815d0$</string>
            <key>textureFileName</key>
            <string>sky_temple2_4.png</string>
        </dict>
    </dict>
</plist>
