<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean2_5_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{876,480}}</string>
                <key>offset</key>
                <string>{131,-560}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{533,1120},{876,480}}</string>
                <key>sourceSize</key>
                <string>{1680,1600}</string>
            </dict>
            <key>bg_ocean2_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{838,554}}</string>
                <key>offset</key>
                <string>{21,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,504},{838,554}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean2_7.png</string>
            <key>size</key>
            <string>{880,1040}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:93ac5e2d1e99306e293766f8d19bf047:7c575fa90b6899d125ec941944f3b612:9946578ac8ab6dc04d7cbab1efaaf3a7$</string>
            <key>textureFileName</key>
            <string>ocean2_7.png</string>
        </dict>
    </dict>
</plist>
