<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_gerner_passive_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{306,306}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>missile_gerner_passive_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{306,306}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{306,306}}</string>
                <key>sourceSize</key>
                <string>{326,326}</string>
            </dict>
            <key>missile_gerner_passive_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{278,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{278,278}}</string>
                <key>sourceSize</key>
                <string>{298,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_gerner.png</string>
            <key>size</key>
            <string>{898,310}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a941335701f8b878a22ecc10391e4bfe:3225d26dbc1b4f26dcb9cebb0b6bd15a:242465e73dd948b53e77ace8ff548cf7$</string>
            <key>textureFileName</key>
            <string>missile_gerner.png</string>
        </dict>
    </dict>
</plist>
