<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_btn_idle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,5}</string>
                <key>spriteSize</key>
                <string>{24,52}</string>
                <key>spriteSourceSize</key>
                <string>{72,72}</string>
                <key>textureRect</key>
                <string>{{103,71},{24,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_top_auto_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{211,1},{43,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_top_auto_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{211,46},{43,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_top_auto_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_top_repeat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1,71},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_top_repeat_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{31,71},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_top_repeat_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{71,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_top_speed_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{61,71},{27,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_top_speed_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{82,71},{27,19}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_top_speed_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{141,1},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_btn.png</string>
            <key>size</key>
            <string>{228,100}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb3be1a015a78bdcc277fa9d5b198950:98ad8246e84f089da9bf3cf019cde5e7:ce14db38d7e3885d010e29391a279102$</string>
            <key>textureFileName</key>
            <string>ingame_btn.png</string>
        </dict>
    </dict>
</plist>
