<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{361,153},{118,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_water_shield_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,207},{166,190}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_water_shield_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{166,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{191,1},{166,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_water_shield_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,190}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{193,193},{166,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_water_shield_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{37,27}</string>
                <key>spriteSize</key>
                <string>{126,150}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{359,1},{126,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_water_shield_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{188,204}</string>
                <key>spriteSourceSize</key>
                <string>{200,204}</string>
                <key>textureRect</key>
                <string>{{1,1},{188,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_water_shield.png</string>
            <key>size</key>
            <string>{486,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf3872f46dd8a5d8718edad764ddca5:756e6cfdc3e01b2d9de5698d1e45865a:feb0879ba740e4e1bf203a16b79ae867$</string>
            <key>textureFileName</key>
            <string>skill_water_shield.png</string>
        </dict>
    </dict>
</plist>
