<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_1.png</string>
            <key>size</key>
            <string>{1924,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd22fe1d2850efb2a0d3bebb3fb6938d:d2a4625d999156e9798a37678cc715c0:62b1eb3ff70726bfd5e74dd8e157943e$</string>
            <key>textureFileName</key>
            <string>volcano_1.png</string>
        </dict>
    </dict>
</plist>
