<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano_2_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1866,800}}</string>
                <key>offset</key>
                <string>{27,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{1866,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano_2.png</string>
            <key>size</key>
            <string>{1870,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e77e14a1f1b001f75d0cd6c8e705878:f5007b510528f9a4363a8bda751af7c0:e401b0bf725b937b42dafd77076ad0d2$</string>
            <key>textureFileName</key>
            <string>volcano_2.png</string>
        </dict>
    </dict>
</plist>
