<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_blind_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,34}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,100},{54,34}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
            <key>effect_blind_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{53,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,53}}</string>
                <key>sourceSize</key>
                <string>{53,53}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_blind.png</string>
            <key>size</key>
            <string>{58,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13c3fe448dafaabc61f5fb877795c9a5$</string>
            <key>textureFileName</key>
            <string>effect_blind.png</string>
        </dict>
    </dict>
</plist>
