<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>low_sky_temple2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,800}}</string>
                <key>sourceSize</key>
                <string>{1922,800}</string>
            </dict>
            <key>low_sky_temple2_4_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1040},{132,148}}</string>
                <key>offset</key>
                <string>{-242,-675}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,1401},{132,148}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>low_sky_temple2_4_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1392},{66,124}}</string>
                <key>offset</key>
                <string>{-88,-716}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{679,1454},{66,124}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>low_sky_temple2_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1392},{78,88}}</string>
                <key>offset</key>
                <string>{39,-675}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{800,1431},{78,88}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>low_sky_temple2_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1190},{100,116}}</string>
                <key>offset</key>
                <string>{276,-576}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1026,1318},{100,116}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>low_sky_temple2_5_sword_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1040},{76,192}}</string>
                <key>offset</key>
                <string>{-250,-185}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,489},{76,192}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>low_sky_temple2_5_sword_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,804},{90,234}}</string>
                <key>offset</key>
                <string>{-140,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{315,419},{90,234}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>low_sky_temple2_5_sword_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1234},{84,156}}</string>
                <key>offset</key>
                <string>{-60,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,503},{84,156}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>low_sky_temple2_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_sky_temple2_1.png</string>
            <key>size</key>
            <string>{1926,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e8008da1886fc7231ac4ec0d47e4053:d8906b8ceeec41d1d2ad7a7d34a853f8:98368455c1dd26bfe8ccbde6f46b2dd3$</string>
            <key>textureFileName</key>
            <string>low_sky_temple2_1.png</string>
        </dict>
    </dict>
</plist>
