<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>title_bg_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,2000}</string>
                <key>spriteSourceSize</key>
                <string>{1280,2000}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,2000}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_dragon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-2}</string>
                <key>spriteSize</key>
                <string>{344,248}</string>
                <key>spriteSourceSize</key>
                <string>{350,270}</string>
                <key>textureRect</key>
                <string>{{1283,1777},{344,248}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_dragon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{152,142}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1519,896},{152,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_logo_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{879,234}</string>
                <key>spriteSourceSize</key>
                <string>{879,234}</string>
                <key>textureRect</key>
                <string>{{1283,896},{879,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_logo_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,137}</string>
                <key>spriteSourceSize</key>
                <string>{110,137}</string>
                <key>textureRect</key>
                <string>{{1519,1050},{110,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_logo_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,76}</string>
                <key>spriteSourceSize</key>
                <string>{85,76}</string>
                <key>textureRect</key>
                <string>{{1519,1189},{85,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_logo_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,85}</string>
                <key>spriteSourceSize</key>
                <string>{69,85}</string>
                <key>textureRect</key>
                <string>{{1519,1276},{69,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>title_logo_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{893,318}</string>
                <key>spriteSourceSize</key>
                <string>{893,318}</string>
                <key>textureRect</key>
                <string>{{1283,1},{893,318}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>title.png</string>
            <key>size</key>
            <string>{1662,2026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8102fcf2569955f547d365496a22fcc5:7fa1136d9c383dde24f0ad5e7afa44a8:eac3319ae54fe6d043150c971d4e6759$</string>
            <key>textureFileName</key>
            <string>title.png</string>
        </dict>
    </dict>
</plist>
