<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,804},{614,292}}</string>
                <key>offset</key>
                <string>{-11,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,91},{614,292}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_1_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,804},{468,236}}</string>
                <key>offset</key>
                <string>{69,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,181},{468,236}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_1_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{620,368}}</string>
                <key>offset</key>
                <string>{-58,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,75},{620,368}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,1086},{210,176}}</string>
                <key>offset</key>
                <string>{13,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,278},{210,176}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,1098},{222,118}}</string>
                <key>offset</key>
                <string>{-79,76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,265},{222,118}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_2_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,1042},{318,208}}</string>
                <key>offset</key>
                <string>{-9,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,246},{318,208}}</string>
                <key>sourceSize</key>
                <string>{1000,800}</string>
            </dict>
            <key>dark_castle_light_blue_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,804},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_light_star_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1924,2},{36,46}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,254},{36,46}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
            <key>dark_castle_sky_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle_1.png</string>
            <key>size</key>
            <string>{1996,1264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4d90f9f1ee44e826170f7cf4ab83ead:24ab54ad594eba1b5b44918874205551:59e06370deffae78cc20d767bb1c3285$</string>
            <key>textureFileName</key>
            <string>dark_castle_1.png</string>
        </dict>
    </dict>
</plist>
