<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_curse_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-23}</string>
                <key>spriteSize</key>
                <string>{94,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{163,1},{94,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_curse_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{36,15}</string>
                <key>spriteSize</key>
                <string>{88,86}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{163,97},{88,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_curse_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-22}</string>
                <key>spriteSize</key>
                <string>{42,36}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{109,191},{42,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_curse_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,28}</string>
                <key>spriteSize</key>
                <string>{86,84}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{157,185},{86,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_curse_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,6}</string>
                <key>spriteSize</key>
                <string>{46,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,160}</string>
                <key>textureRect</key>
                <string>{{109,133},{46,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_curse_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,6}</string>
                <key>spriteSize</key>
                <string>{160,130}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{160,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_curse_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-6}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{160,142}</string>
                <key>textureRect</key>
                <string>{{1,133},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_curse.png</string>
            <key>size</key>
            <string>{252,270}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8bd8186e70596fef25c299a05e8900b9:9105596a83adb8e578f516ac396eb414:8a13c491719e9588a50051a27d70dd89$</string>
            <key>textureFileName</key>
            <string>effect_curse.png</string>
        </dict>
    </dict>
</plist>
