<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_bg_dark_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,1739},{432,297}}</string>
                <key>offset</key>
                <string>{-19,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,132},{432,297}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1284},{476,311}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,127},{476,311}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{494,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,127},{494,246}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_bg_dark_cloud_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,376},{278,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,181},{278,138}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_bg_dark_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1322},{415,275}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,136},{415,275}}</string>
                <key>sourceSize</key>
                <string>{547,547}</string>
            </dict>
            <key>dragon_bg_dark_crystal_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,223},{152,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,208},{152,151}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_forest_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,656},{76,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,221},{76,125}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,916},{112,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,242},{112,83}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{170,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,235},{170,97}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,734},{88,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,223},{88,121}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_l_leaf_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,101},{120,161}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,203},{120,161}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1597},{442,423}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,107},{442,423}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,656},{26,25}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{291,268},{26,25}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1087,778},{50,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,258},{50,51}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,223},{20,505}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,25},{20,505}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1836},{201,203}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,163},{201,203}}</string>
                <key>sourceSize</key>
                <string>{547,547}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1156},{34,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{283,239},{34,89}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,1296},{42,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{279,245},{42,77}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1192},{52,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,242},{52,83}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1097},{90,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,255},{90,57}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,876},{52,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,234},{52,99}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1284},{48,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,261},{48,45}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,730},{46,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{277,260},{46,47}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1882},{40,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,263},{40,41}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1239},{78,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,256},{78,55}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{50,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,265},{50,37}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_m_leaf_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,1080},{60,43}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,258},{60,43}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,824},{90,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,224},{90,119}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1246},{74,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,245},{74,77}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_s_leaf_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,1125},{82,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,248},{82,71}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_sphere_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1836},{44,43}}</string>
                <key>offset</key>
                <string>{14,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{292,274},{44,43}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_sphere_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1284},{46,47}}</string>
                <key>offset</key>
                <string>{14,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{291,271},{46,47}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,1001},{94,105}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,230},{94,105}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,1284},{48,73}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{270,245},{48,73}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1284},{48,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,247},{48,73}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1078,977},{60,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,233},{60,101}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,830},{44,53}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,256},{44,53}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
            <key>dragon_bg_dark_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1198},{82,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,264},{82,39}}</string>
                <key>sourceSize</key>
                <string>{600,567}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_bg_dark.png</string>
            <key>size</key>
            <string>{1140,2041}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a3fb7ba47a50659574cf843c9c26f98:8784657cddbd974da7c621d10d8587cb:566a745fe6c0576f468fa05ee5da4216$</string>
            <key>textureFileName</key>
            <string>dragon_bg_dark.png</string>
        </dict>
    </dict>
</plist>
