<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_volcano3_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,800}}</string>
                <key>sourceSize</key>
                <string>{1922,800}</string>
            </dict>
            <key>bg_low_volcano3_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>bg_low_volcano3_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1272},{228,166}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,48},{228,166}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_low_volcano3_light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1420},{8,8}}</string>
                <key>offset</key>
                <string>{-349,197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,279},{8,8}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>bg_low_volcano3_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,804},{466,438}}</string>
                <key>offset</key>
                <string>{-549,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,786},{466,438}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1372},{64,84}}</string>
                <key>offset</key>
                <string>{48,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,98},{64,84}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,1272},{68,80}}</string>
                <key>offset</key>
                <string>{44,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,60},{68,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,1272},{98,72}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,42},{98,72}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,1272},{96,80}}</string>
                <key>offset</key>
                <string>{-24,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,42},{96,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1430},{50,80}}</string>
                <key>offset</key>
                <string>{-51,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,56},{50,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_01_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1124,1370},{48,90}}</string>
                <key>offset</key>
                <string>{-58,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,78},{48,90}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1182,1420},{32,38}}</string>
                <key>offset</key>
                <string>{-34,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,56},{32,38}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1354},{34,80}}</string>
                <key>offset</key>
                <string>{-4,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,22},{34,80}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,804},{28,34}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,66},{28,34}}</string>
                <key>sourceSize</key>
                <string>{448,214}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,1436},{36,34}}</string>
                <key>offset</key>
                <string>{-42,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,63},{36,34}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,1440},{40,38}}</string>
                <key>offset</key>
                <string>{-44,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{128,59},{40,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1440},{38,40}}</string>
                <key>offset</key>
                <string>{-45,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,57},{38,40}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,1440},{58,42}}</string>
                <key>offset</key>
                <string>{-44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,54},{58,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,1440},{60,42}}</string>
                <key>offset</key>
                <string>{-45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,54},{60,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1370},{58,38}}</string>
                <key>offset</key>
                <string>{-44,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,58},{58,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1440},{64,38}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,58},{64,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_low_volcano3_magma_03_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,1438},{62,38}}</string>
                <key>offset</key>
                <string>{-43,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,58},{62,38}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_volcano3_1.png</string>
            <key>size</key>
            <string>{1926,1484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01610f0e8b7f4b859e9e1bf0559e1cd2:4cf23dc2b4b52c27acb01cebc981062e:54ed8006a8168fe812e883853c1d7362$</string>
            <key>textureFileName</key>
            <string>low_volcano3_1.png</string>
        </dict>
    </dict>
</plist>
