<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ball_water_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{56,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{56,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{58,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>missile_ball_water_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,2},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>missile_ball_water_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,24},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>missile_ball_water_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{48,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{48,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_ball_water.png</string>
            <key>size</key>
            <string>{540,64}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf1af6adf50c268c9b2340423e33b0fe:50ee48c43b55690337451b21f75b77bf:da32dd3a592aba8f045d57708c8a5c70$</string>
            <key>textureFileName</key>
            <string>missile_ball_water.png</string>
        </dict>
    </dict>
</plist>
