<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bar_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{500,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,172}}</string>
                <key>sourceSize</key>
                <string>{500,172}</string>
            </dict>
            <key>bar_01_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{500,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{500,172}}</string>
                <key>sourceSize</key>
                <string>{500,172}</string>
            </dict>
            <key>bar_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{494,172}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,172}}</string>
                <key>sourceSize</key>
                <string>{500,172}</string>
            </dict>
            <key>bar_02_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{494,172}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,172}}</string>
                <key>sourceSize</key>
                <string>{500,172}</string>
            </dict>
            <key>bar_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,524},{468,112}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{468,112}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>bar_03_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,524},{474,114}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{474,114}}</string>
                <key>sourceSize</key>
                <string>{500,170}</string>
            </dict>
            <key>bar_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,768},{54,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{54,112}}</string>
                <key>sourceSize</key>
                <string>{54,170}</string>
            </dict>
            <key>bar_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,994},{26,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,139}}</string>
                <key>sourceSize</key>
                <string>{26,139}</string>
            </dict>
            <key>bar_select_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,646},{62,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{62,120}}</string>
                <key>sourceSize</key>
                <string>{62,170}</string>
            </dict>
            <key>bar_select_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,524},{100,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,25},{100,120}}</string>
                <key>sourceSize</key>
                <string>{100,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2783cd6efaf53a5e5d83ae25e5b187b3$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
