<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dark_castle2_3_d_fence.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{882,283}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,231},{882,283}}</string>
                <key>sourceSize</key>
                <string>{1026,743}</string>
            </dict>
            <key>dark_castle2_4_a_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1860,388}}</string>
                <key>offset</key>
                <string>{0,-206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,412},{1860,388}}</string>
                <key>sourceSize</key>
                <string>{1860,800}</string>
            </dict>
            <key>dark_castle2_4_a_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,852},{420,182}}</string>
                <key>offset</key>
                <string>{409,-278}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1199,987},{420,182}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_4_a_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{304,126}}</string>
                <key>offset</key>
                <string>{409,-272}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1257,1009},{304,126}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_4_a_object_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,392},{204,240}}</string>
                <key>offset</key>
                <string>{306,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1204,903},{204,240}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_4_a_object_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,598},{210,170}}</string>
                <key>offset</key>
                <string>{509,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1404,929},{210,170}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,677},{384,360}}</string>
                <key>offset</key>
                <string>{-177,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{631,684},{384,360}}</string>
                <key>sourceSize</key>
                <string>{2000,1600}</string>
            </dict>
            <key>dark_castle2_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,392},{472,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,644},{472,312}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
            <key>dark_castle2_4_c_yellow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,706},{376,266}}</string>
                <key>offset</key>
                <string>{31,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{547,627},{376,266}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
            <key>dark_castle2_4_plant_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,677},{498,320}}</string>
                <key>offset</key>
                <string>{22,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,480},{498,320}}</string>
                <key>sourceSize</key>
                <string>{704,800}</string>
            </dict>
            <key>dark_castle2_5_d.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,392},{458,394}}</string>
                <key>offset</key>
                <string>{28,-603}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{503,1206},{458,394}}</string>
                <key>sourceSize</key>
                <string>{1408,1600}</string>
            </dict>
            <key>dark_castle2_light_yellow_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1664,770},{280,284}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,134},{280,284}}</string>
                <key>sourceSize</key>
                <string>{552,552}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dark_castle2_4.png</string>
            <key>size</key>
            <string>{1998,1063}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e5d7be19032be8d98a69867f94a42b2:2b15ada25f4f9159b39b624125f1d09d:0af6608e6b492302ed039c9ba16b5aa9$</string>
            <key>textureFileName</key>
            <string>dark_castle2_4.png</string>
        </dict>
    </dict>
</plist>
