<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_shop_noti_special.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,25}</string>
                <key>spriteSourceSize</key>
                <string>{85,25}</string>
                <key>textureRect</key>
                <string>{{45,38},{85,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_shop_noti_special_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{45,1},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_noti_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,34}</string>
                <key>spriteSourceSize</key>
                <string>{128,34}</string>
                <key>textureRect</key>
                <string>{{82,1},{128,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_noti_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{80,28}</string>
                <key>spriteSourceSize</key>
                <string>{100,34}</string>
                <key>textureRect</key>
                <string>{{132,37},{80,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res_noti_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,42}</string>
                <key>spriteSourceSize</key>
                <string>{47,42}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lobby_shop_noti.png</string>
            <key>size</key>
            <string>{213,66}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bea4662eb872a46c0e3d615383bf463:2359dbbdec7d361754d1d3bdf9fff875:d6b38f772483984b8a33ea5fa6ce77ba$</string>
            <key>textureFileName</key>
            <string>lobby_shop_noti.png</string>
        </dict>
    </dict>
</plist>
