<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indicator_effect_skill_full_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,53}</string>
                <key>spriteSourceSize</key>
                <string>{151,53}</string>
                <key>textureRect</key>
                <string>{{1,1},{151,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>indicator_effect_skill_full.png</string>
            <key>size</key>
            <string>{153,55}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12a08f99e4c1418957f33b844e2dfbf:180fd8fdce7a593c3ce06253f4a6bb16:a0ae2a2728466452478b02b23488031c$</string>
            <key>textureFileName</key>
            <string>indicator_effect_skill_full.png</string>
        </dict>
    </dict>
</plist>
