<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_enix_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,7}</string>
                <key>spriteSize</key>
                <string>{269,257}</string>
                <key>spriteSourceSize</key>
                <string>{295,287}</string>
                <key>textureRect</key>
                <string>{{1,292},{269,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,6}</string>
                <key>spriteSize</key>
                <string>{413,289}</string>
                <key>spriteSourceSize</key>
                <string>{415,301}</string>
                <key>textureRect</key>
                <string>{{1,1},{413,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{281,84}</string>
                <key>spriteSourceSize</key>
                <string>{295,96}</string>
                <key>textureRect</key>
                <string>{{416,1},{281,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_enix_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{143,103}</string>
                <key>spriteSourceSize</key>
                <string>{161,151}</string>
                <key>textureRect</key>
                <string>{{341,572},{143,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-3}</string>
                <key>spriteSize</key>
                <string>{216,127}</string>
                <key>spriteSourceSize</key>
                <string>{234,151}</string>
                <key>textureRect</key>
                <string>{{272,443},{216,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{136,111}</string>
                <key>spriteSourceSize</key>
                <string>{148,131}</string>
                <key>textureRect</key>
                <string>{{1,697},{136,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{144,180}</string>
                <key>spriteSourceSize</key>
                <string>{164,200}</string>
                <key>textureRect</key>
                <string>{{1,551},{144,180}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_enix_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{130,98}</string>
                <key>spriteSourceSize</key>
                <string>{148,106}</string>
                <key>textureRect</key>
                <string>{{341,677},{130,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,149}</string>
                <key>spriteSourceSize</key>
                <string>{249,157}</string>
                <key>textureRect</key>
                <string>{{272,292},{233,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_enix_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{134,156}</string>
                <key>spriteSourceSize</key>
                <string>{160,166}</string>
                <key>textureRect</key>
                <string>{{183,572},{134,156}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_enix_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,105}</string>
                <key>spriteSourceSize</key>
                <string>{112,105}</string>
                <key>textureRect</key>
                <string>{{139,708},{112,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_enix.png</string>
            <key>size</key>
            <string>{506,814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7d514715673781e9c80004a352605c6f:225d98cceaf63cc4e78558822362b14e:df77149840279067d3cd3c0031ed2c96$</string>
            <key>textureFileName</key>
            <string>skill_enix.png</string>
        </dict>
    </dict>
</plist>
