<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_sitael_dark_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{53,153}</string>
                <key>spriteSourceSize</key>
                <string>{69,167}</string>
                <key>textureRect</key>
                <string>{{73,2},{53,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_sitael_earth_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{53,153}</string>
                <key>spriteSourceSize</key>
                <string>{69,167}</string>
                <key>textureRect</key>
                <string>{{73,57},{53,153}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_sitael_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{30,129}</string>
                <key>spriteSourceSize</key>
                <string>{32,151}</string>
                <key>textureRect</key>
                <string>{{73,112},{30,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_sitael_fire_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,167}</string>
                <key>spriteSourceSize</key>
                <string>{69,167}</string>
                <key>textureRect</key>
                <string>{{2,2},{69,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_sitael.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c1a20f9ff800e492a93f0a8ed7bd2e0c:763f77ef08d4f700dd07db9f12ff892d:9689039b87b05040b6ec9994bb3d721e$</string>
            <key>textureFileName</key>
            <string>missile_sitael.png</string>
        </dict>
    </dict>
</plist>
