<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>illan_all_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{499,766},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,376}</string>
                <key>spriteSourceSize</key>
                <string>{268,394}</string>
                <key>textureRect</key>
                <string>{{584,305},{250,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,302}</string>
                <key>spriteSourceSize</key>
                <string>{318,320}</string>
                <key>textureRect</key>
                <string>{{584,1},{300,302}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,140}</string>
                <key>spriteSourceSize</key>
                <string>{378,158}</string>
                <key>textureRect</key>
                <string>{{561,683},{360,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{496,149}</string>
                <key>spriteSourceSize</key>
                <string>{514,167}</string>
                <key>textureRect</key>
                <string>{{1,766},{496,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{441,68}</string>
                <key>spriteSourceSize</key>
                <string>{459,86}</string>
                <key>textureRect</key>
                <string>{{499,825},{441,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{485,60}</string>
                <key>spriteSourceSize</key>
                <string>{503,78}</string>
                <key>textureRect</key>
                <string>{{886,1},{485,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_illan_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{558,172}</string>
                <key>spriteSourceSize</key>
                <string>{566,190}</string>
                <key>textureRect</key>
                <string>{{1,592},{558,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,258}</string>
                <key>spriteSourceSize</key>
                <string>{573,276}</string>
                <key>textureRect</key>
                <string>{{1,332},{555,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{581,329}</string>
                <key>spriteSourceSize</key>
                <string>{599,347}</string>
                <key>textureRect</key>
                <string>{{1,1},{581,329}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_illan_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{122,120}</string>
                <key>textureRect</key>
                <string>{{836,488},{94,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_illan_dark.png</string>
            <key>size</key>
            <string>{947,916}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bffd90c80682890e4ff61ed8cb4cf13e:a8dff92e9306b2115bd3c09033666a44:f78a5357933a1cc4d9f3b78e1fd56087$</string>
            <key>textureFileName</key>
            <string>skill_illan_dark.png</string>
        </dict>
    </dict>
</plist>
