<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_btn_auto_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1628,19},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1516,256},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{1488,370},{43,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_chat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1628,91},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1228,326},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1300,326},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1096,349},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1162,349},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_marble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1700,19},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_staminas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1700,85},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1700,151},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1372,326},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{1444,370},{34,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{802,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{820,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{838,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{856,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1734,1},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_number_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1746,1},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_number_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{874,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{892,403},{10,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_number_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1202,326},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_number_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{10,16}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{1405,298},{10,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_number_comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{10,12}</string>
                <key>spriteSourceSize</key>
                <string>{10,18}</string>
                <key>textureRect</key>
                <string>{{882,389},{10,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1543,184},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1444,298},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_pause_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1628,163},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1615,235},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1516,326},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{1698,307},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1687,235},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1586,307},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{1586,256},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_clan_raid.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{398,69}</string>
                <key>spriteSourceSize</key>
                <string>{398,69}</string>
                <key>textureRect</key>
                <string>{{802,278},{398,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1656,307},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,33}</string>
                <key>spriteSourceSize</key>
                <string>{1280,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,28}</string>
                <key>spriteSourceSize</key>
                <string>{739,28}</string>
                <key>textureRect</key>
                <string>{{802,184},{739,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{802,214},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{802,234},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,14}</string>
                <key>spriteSourceSize</key>
                <string>{702,14}</string>
                <key>textureRect</key>
                <string>{{802,254},{702,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,6}</string>
                <key>spriteSourceSize</key>
                <string>{694,6}</string>
                <key>textureRect</key>
                <string>{{802,270},{694,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,16}</string>
                <key>spriteSourceSize</key>
                <string>{155,16}</string>
                <key>textureRect</key>
                <string>{{1577,1},{155,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{802,389},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{1228,398},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,72}</string>
                <key>spriteSourceSize</key>
                <string>{824,72}</string>
                <key>textureRect</key>
                <string>{{802,36},{824,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{802,349},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{1202,278},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{802,369},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,6}</string>
                <key>spriteSourceSize</key>
                <string>{274,6}</string>
                <key>textureRect</key>
                <string>{{1283,27},{274,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,24}</string>
                <key>spriteSourceSize</key>
                <string>{292,24}</string>
                <key>textureRect</key>
                <string>{{1283,1},{292,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{799,377}</string>
                <key>spriteSourceSize</key>
                <string>{799,377}</string>
                <key>textureRect</key>
                <string>{{1,36},{799,377}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,72}</string>
                <key>spriteSourceSize</key>
                <string>{824,72}</string>
                <key>textureRect</key>
                <string>{{802,110},{824,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_dps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,26}</string>
                <key>spriteSourceSize</key>
                <string>{99,26}</string>
                <key>textureRect</key>
                <string>{{1304,298},{99,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_hps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,26}</string>
                <key>textureRect</key>
                <string>{{1202,298},{100,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_btn.png</string>
            <key>size</key>
            <string>{1765,414}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aad6818b15c9655d834c2b8a8b48f646:877e071779739d8d7083281a4e021b10:ce14db38d7e3885d010e29391a279102$</string>
            <key>textureFileName</key>
            <string>ingame_btn.png</string>
        </dict>
    </dict>
</plist>
