<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_talissah_light_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{826,146},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_talissah_light_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{826,146},{361,157}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_laser_in_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,45}</string>
                <key>spriteSourceSize</key>
                <string>{727,45}</string>
                <key>textureRect</key>
                <string>{{1,375},{727,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_laser_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,143}</string>
                <key>spriteSourceSize</key>
                <string>{482,151}</string>
                <key>textureRect</key>
                <string>{{826,1},{474,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_laser_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{784,134}</string>
                <key>spriteSourceSize</key>
                <string>{786,136}</string>
                <key>textureRect</key>
                <string>{{1,239},{784,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_sparkle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{730,375},{55,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_sparkle_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{53,31}</string>
                <key>textureRect</key>
                <string>{{787,239},{53,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talissah_sparkle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,70}</string>
                <key>textureRect</key>
                <string>{{982,305},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_sparkle_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,61}</string>
                <key>textureRect</key>
                <string>{{1066,305},{82,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_wave_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,181}</string>
                <key>spriteSourceSize</key>
                <string>{128,189}</string>
                <key>textureRect</key>
                <string>{{1189,146},{120,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>talissah_wave_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,193}</string>
                <key>spriteSourceSize</key>
                <string>{109,201}</string>
                <key>textureRect</key>
                <string>{{787,305},{101,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>talissahr_laser_main_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,236}</string>
                <key>spriteSourceSize</key>
                <string>{823,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{823,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_talissah_light.png</string>
            <key>size</key>
            <string>{1310,421}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:997cbc7bc9bf231912ae849f1f26a3d3:b2f70b4bdffc6ea18021d6fe75f83611:634b659999e12e94b1d145e3fde0611f$</string>
            <key>textureFileName</key>
            <string>skill_talissah_light.png</string>
        </dict>
    </dict>
</plist>
