<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>nest_dungeon_dragon_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1,1},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_dragon_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1,1245},{328,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_dragon_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1,623},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_dragon_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{333,1},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_dragon_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{333,623},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1245,1},{330,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_nightmare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{665,1},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_relation.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{665,623},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_tree_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{997,333},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_tree_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{328,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{623,1245},{328,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_tree_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1245,955},{330,620}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>nest_dungeon_tree_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1329,333},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nest_dungeon_tree_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,620}</string>
                <key>spriteSourceSize</key>
                <string>{330,620}</string>
                <key>textureRect</key>
                <string>{{1661,333},{330,620}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>nest_dungeon.png</string>
            <key>size</key>
            <string>{1992,1574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e4ba5b2f1f2c737c2bb0f29ffb25c6bb:1fed244cd8049365db8af100c9e05122:8263ee2cc1cda43d9fc71852f28cbc26$</string>
            <key>textureFileName</key>
            <string>nest_dungeon.png</string>
        </dict>
    </dict>
</plist>
