<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_ice_01_s_0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-8}</string>
                <key>spriteSize</key>
                <string>{65,56}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{347,585},{65,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-2}</string>
                <key>spriteSize</key>
                <string>{81,70}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{405,641},{81,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{91,74}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{178,382},{91,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,4}</string>
                <key>spriteSize</key>
                <string>{105,84}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{151,581},{105,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,3}</string>
                <key>spriteSize</key>
                <string>{111,90}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{407,528},{111,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-1}</string>
                <key>spriteSize</key>
                <string>{115,104}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{407,411},{115,104}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-5}</string>
                <key>spriteSize</key>
                <string>{121,118}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{151,458},{121,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-11}</string>
                <key>spriteSize</key>
                <string>{125,134}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{271,411},{125,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-16}</string>
                <key>spriteSize</key>
                <string>{147,148}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,433},{147,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_01_s_0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{175,164}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,267},{175,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,-20}</string>
                <key>spriteSize</key>
                <string>{205,188}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{280,221},{205,188}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-27}</string>
                <key>spriteSize</key>
                <string>{231,218}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{280,1},{231,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-22,-30}</string>
                <key>spriteSize</key>
                <string>{277,264}</string>
                <key>spriteSourceSize</key>
                <string>{461,346}</string>
                <key>textureRect</key>
                <string>{{1,1},{277,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_ice_01_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{258,585},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{45,107}</string>
                <key>spriteSourceSize</key>
                <string>{49,137}</string>
                <key>textureRect</key>
                <string>{{271,538},{45,107}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>missile_ice_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,95}</string>
                <key>spriteSourceSize</key>
                <string>{113,95}</string>
                <key>textureRect</key>
                <string>{{178,267},{113,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_ice.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6be453f554ee83b63b8e64166a766ec8:e1631707bca83a25e6e1ea30384a9cad:51b4cf9b95621d34f722132ea86b9b5c$</string>
            <key>textureFileName</key>
            <string>missile_ice.png</string>
        </dict>
    </dict>
</plist>
