<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friendship_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{506,92}</string>
                <key>spriteSourceSize</key>
                <string>{528,102}</string>
                <key>textureRect</key>
                <string>{{1,199},{506,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_down_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{377,1162},{60,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_down_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,86}</string>
                <key>spriteSourceSize</key>
                <string>{61,86}</string>
                <key>textureRect</key>
                <string>{{407,919},{61,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_down_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{334,1697},{67,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_down_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,83}</string>
                <key>spriteSourceSize</key>
                <string>{65,83}</string>
                <key>textureRect</key>
                <string>{{364,1429},{65,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_down_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,83}</string>
                <key>spriteSourceSize</key>
                <string>{65,83}</string>
                <key>textureRect</key>
                <string>{{364,1496},{65,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_down_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,87}</string>
                <key>spriteSourceSize</key>
                <string>{70,87}</string>
                <key>textureRect</key>
                <string>{{509,287},{70,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_down_0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,83}</string>
                <key>spriteSourceSize</key>
                <string>{69,83}</string>
                <key>textureRect</key>
                <string>{{375,1358},{69,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_emoticon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{414,695},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{414,751},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{414,807},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{414,863},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{70,1903},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{70,1959},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{126,1903},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{126,1959},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{182,1890},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{182,1946},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{238,1890},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{238,1946},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{294,1890},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{294,1946},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{325,1766},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{325,1822},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{412,1758},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{381,1814},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_emoticon_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{488,1896},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_a_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,139}</string>
                <key>spriteSourceSize</key>
                <string>{137,139}</string>
                <key>textureRect</key>
                <string>{{1,1764},{137,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_a_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,175}</string>
                <key>spriteSourceSize</key>
                <string>{174,175}</string>
                <key>textureRect</key>
                <string>{{187,1427},{174,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_b_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{350,1878},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_b_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{1,1588},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{166,164}</string>
                <key>textureRect</key>
                <string>{{466,1121},{166,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_c_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,136}</string>
                <key>spriteSourceSize</key>
                <string>{136,136}</string>
                <key>textureRect</key>
                <string>{{488,1758},{136,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_c_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,174}</string>
                <key>spriteSourceSize</key>
                <string>{174,174}</string>
                <key>textureRect</key>
                <string>{{449,1444},{174,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{146,134}</string>
                <key>spriteSourceSize</key>
                <string>{152,146}</string>
                <key>textureRect</key>
                <string>{{177,1754},{146,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,227}</string>
                <key>spriteSourceSize</key>
                <string>{185,227}</string>
                <key>textureRect</key>
                <string>{{250,293},{185,227}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,200}</string>
                <key>spriteSourceSize</key>
                <string>{205,200}</string>
                <key>textureRect</key>
                <string>{{1,507},{205,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,213}</string>
                <key>spriteSourceSize</key>
                <string>{218,213}</string>
                <key>textureRect</key>
                <string>{{250,480},{218,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,153}</string>
                <key>spriteSourceSize</key>
                <string>{159,153}</string>
                <key>textureRect</key>
                <string>{{461,1289},{159,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-10}</string>
                <key>spriteSize</key>
                <string>{196,200}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{205,883},{196,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-2}</string>
                <key>spriteSize</key>
                <string>{186,204}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{208,695},{186,204}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{192,202}</string>
                <key>spriteSourceSize</key>
                <string>{234,234}</string>
                <key>textureRect</key>
                <string>{{1,709},{192,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,34}</string>
                <key>spriteSourceSize</key>
                <string>{34,34}</string>
                <key>textureRect</key>
                <string>{{208,507},{34,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_fx_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,155}</string>
                <key>spriteSourceSize</key>
                <string>{149,155}</string>
                <key>textureRect</key>
                <string>{{177,1603},{149,155}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_s_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,157}</string>
                <key>spriteSourceSize</key>
                <string>{136,157}</string>
                <key>textureRect</key>
                <string>{{449,1620},{136,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_s_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,193}</string>
                <key>spriteSourceSize</key>
                <string>{174,193}</string>
                <key>textureRect</key>
                <string>{{1,903},{174,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_tutorial_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-3}</string>
                <key>spriteSize</key>
                <string>{86,102}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{509,199},{86,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_tutorial_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-6}</string>
                <key>spriteSize</key>
                <string>{94,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{531,103},{94,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_tutorial_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{531,1},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{518,92}</string>
                <key>spriteSourceSize</key>
                <string>{528,102}</string>
                <key>textureRect</key>
                <string>{{1,105},{518,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{377,1224},{60,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,86}</string>
                <key>spriteSourceSize</key>
                <string>{61,86}</string>
                <key>textureRect</key>
                <string>{{407,1007},{61,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,76}</string>
                <key>spriteSourceSize</key>
                <string>{67,76}</string>
                <key>textureRect</key>
                <string>{{1,1903},{67,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,83}</string>
                <key>spriteSourceSize</key>
                <string>{65,83}</string>
                <key>textureRect</key>
                <string>{{364,1563},{65,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,83}</string>
                <key>spriteSourceSize</key>
                <string>{65,83}</string>
                <key>textureRect</key>
                <string>{{334,1630},{65,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,84}</string>
                <key>spriteSourceSize</key>
                <string>{70,84}</string>
                <key>textureRect</key>
                <string>{{375,1286},{70,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_0107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,87}</string>
                <key>spriteSourceSize</key>
                <string>{65,87}</string>
                <key>textureRect</key>
                <string>{{377,1095},{65,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,82}</string>
                <key>spriteSourceSize</key>
                <string>{20,82}</string>
                <key>textureRect</key>
                <string>{{598,287},{20,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_fx_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{470,559},{186,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_fx_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{186,161}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{470,747},{186,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_fx_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{184,159}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{470,935},{184,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_fx_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-11}</string>
                <key>spriteSize</key>
                <string>{186,149}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{479,371},{186,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_up_fx_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,171}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{1,1079},{186,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_fx_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{186,171}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{189,1081},{186,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_fx_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{184,169}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{1,1417},{184,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_fx_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-4}</string>
                <key>spriteSize</key>
                <string>{186,163}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{1,1252},{186,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_fx_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{184,171}</string>
                <key>spriteSourceSize</key>
                <string>{192,183}</string>
                <key>textureRect</key>
                <string>{{189,1254},{184,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_heart.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{247,212}</string>
                <key>spriteSourceSize</key>
                <string>{247,212}</string>
                <key>textureRect</key>
                <string>{{1,293},{247,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_up_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,102}</string>
                <key>spriteSourceSize</key>
                <string>{528,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{528,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>friendship.png</string>
            <key>size</key>
            <string>{632,2015}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8a1a69e8d9d7ae137fb563441dbed35:a23acb04e9bcab14edbeff43d5c73cd8:56e1c0b621046333c0269a9a0eeda3e4$</string>
            <key>textureFileName</key>
            <string>friendship.png</string>
        </dict>
    </dict>
</plist>
