<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_dispel_magic_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{77,110}</string>
                <key>spriteSourceSize</key>
                <string>{89,114}</string>
                <key>textureRect</key>
                <string>{{174,204},{77,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{73,43}</string>
                <key>spriteSourceSize</key>
                <string>{75,57}</string>
                <key>textureRect</key>
                <string>{{174,316},{73,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{49,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{195,1},{49,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dispel_magic_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{37,32}</string>
                <key>spriteSourceSize</key>
                <string>{51,44}</string>
                <key>textureRect</key>
                <string>{{113,497},{37,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{171,165}</string>
                <key>spriteSourceSize</key>
                <string>{177,165}</string>
                <key>textureRect</key>
                <string>{{1,181},{171,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{151,147}</string>
                <key>spriteSourceSize</key>
                <string>{177,165}</string>
                <key>textureRect</key>
                <string>{{1,348},{151,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{192,178}</string>
                <key>spriteSourceSize</key>
                <string>{196,190}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,-83}</string>
                <key>spriteSize</key>
                <string>{44,24}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{113,531},{44,24}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dispel_magic_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,-64}</string>
                <key>spriteSize</key>
                <string>{72,50}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{139,534},{72,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-64,-31}</string>
                <key>spriteSize</key>
                <string>{54,58}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{195,89},{54,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dispel_magic_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{31,-26}</string>
                <key>spriteSize</key>
                <string>{110,40}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{1,497},{110,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-36,1}</string>
                <key>spriteSize</key>
                <string>{96,90}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{154,415},{96,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,36}</string>
                <key>spriteSize</key>
                <string>{90,42}</string>
                <key>spriteSourceSize</key>
                <string>{196,204}</string>
                <key>textureRect</key>
                <string>{{1,539},{90,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{101,52}</string>
                <key>spriteSourceSize</key>
                <string>{125,70}</string>
                <key>textureRect</key>
                <string>{{154,361},{101,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{35,59}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{195,52},{35,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dispel_magic_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,67}</string>
                <key>textureRect</key>
                <string>{{195,145},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dispel_magic_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-1}</string>
                <key>spriteSize</key>
                <string>{93,25}</string>
                <key>spriteSourceSize</key>
                <string>{111,53}</string>
                <key>textureRect</key>
                <string>{{152,507},{93,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_dispel_magic.png</string>
            <key>size</key>
            <string>{256,585}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3b8eb37a7e2e68b571fedcd6379acdaf:3bfd2729b3fc4dc06127c03fd2cc57ab:99a7b16f139285570ec880560ea22bdc$</string>
            <key>textureFileName</key>
            <string>skill_dispel_magic.png</string>
        </dict>
    </dict>
</plist>
