<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_zombie_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,241}</string>
                <key>spriteSourceSize</key>
                <string>{239,241}</string>
                <key>textureRect</key>
                <string>{{1,1},{239,241}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_zombie_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{151,144}</string>
                <key>textureRect</key>
                <string>{{147,244},{131,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_zombie_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,144}</string>
                <key>spriteSourceSize</key>
                <string>{151,144}</string>
                <key>textureRect</key>
                <string>{{1,244},{151,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_zombie.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e9da9d45c98076dbc6c3c77ca1a17856:355fb66ab29c5f45eb2cf5abf11d35f9:6b144f09b999a1d85a81b219f6bdb315$</string>
            <key>textureFileName</key>
            <string>effect_zombie.png</string>
        </dict>
    </dict>
</plist>
