<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_cloud_tornado_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,202}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{695,1033},{202,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_cloud_tornado_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,360}</string>
                <key>spriteSourceSize</key>
                <string>{500,500}</string>
                <key>textureRect</key>
                <string>{{1,973},{360,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_cloud_tornado_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,10}</string>
                <key>spriteSize</key>
                <string>{450,444}</string>
                <key>spriteSourceSize</key>
                <string>{534,534}</string>
                <key>textureRect</key>
                <string>{{479,587},{450,444}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_cloud_tornado_wind_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{363,1033},{172,330}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{931,587},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_cloud_tornado_wind_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-275}</string>
                <key>spriteSize</key>
                <string>{350,450}</string>
                <key>spriteSourceSize</key>
                <string>{360,1000}</string>
                <key>textureRect</key>
                <string>{{1,621},{350,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{180,490}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{521,183},{180,490}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_06_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{218,518}</string>
                <key>spriteSourceSize</key>
                <string>{220,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{218,518}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{180,494}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{521,1},{180,494}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_07_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-3}</string>
                <key>spriteSize</key>
                <string>{216,512}</string>
                <key>spriteSourceSize</key>
                <string>{220,518}</string>
                <key>textureRect</key>
                <string>{{1,221},{216,512}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,7}</string>
                <key>spriteSize</key>
                <string>{180,476}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,439},{180,476}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_cloud_tornado_wind_08_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{220,506}</string>
                <key>spriteSourceSize</key>
                <string>{220,518}</string>
                <key>textureRect</key>
                <string>{{515,365},{220,506}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_cloud_tornado.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d98b419be2b69257b534ff9ada5fb741:3e9892d5ee3066435651c8782e8b8601:9ad535d4172282ba62735ad94a6181e0$</string>
            <key>textureFileName</key>
            <string>skill_cloud_tornado.png</string>
        </dict>
    </dict>
</plist>
