<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean_2_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1668,618}}</string>
                <key>offset</key>
                <string>{-9,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,466},{1668,618}}</string>
                <key>sourceSize</key>
                <string>{1686,1600}</string>
            </dict>
            <key>bg_ocean_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{1376,1170}}</string>
                <key>offset</key>
                <string>{-2,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,430},{1376,1170}}</string>
                <key>sourceSize</key>
                <string>{1380,1600}</string>
            </dict>
            <key>bg_ocean_4_c_grass_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1672},{102,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,16},{102,180}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>bg_ocean_4_c_grass_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1670},{126,154}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{126,154}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>bg_ocean_4_coral_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{232,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,123},{232,192}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1672},{192,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{123,160},{192,118}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1554},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,152},{114,134}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1442},{110,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,151},{110,136}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,1890},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,180},{98,78}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1174},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,149},{150,140}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1672},{176,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,111},{176,216}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1890},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,173},{92,92}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1866},{146,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,167},{146,104}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1906},{94,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,185},{94,68}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1826},{154,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,172},{154,94}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_shell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1875,1326},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,162},{140,114}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1971,1826},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_ocean_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1906},{104,62}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,34},{104,62}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
            <key>bg_ocean_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1174},{1251,801}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,73},{1251,801}}</string>
                <key>sourceSize</key>
                <string>{1315,931}</string>
            </dict>
            <key>bg_ocean_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1854},{48,46}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean_1.png</string>
            <key>size</key>
            <string>{2017,1984}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e16d62c36165c16749bb4f9fbe6983:d4fb34c6801351bc1066e63d5dc83e60:1afad114d38c1cfdfac9f7beb2c84e74$</string>
            <key>textureFileName</key>
            <string>ocean_1.png</string>
        </dict>
    </dict>
</plist>
