<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ancient_tower_room_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1021,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1021,800}}</string>
                <key>sourceSize</key>
                <string>{1021,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ancient_tower_1.png</string>
            <key>size</key>
            <string>{1025,804}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b43c1fd0d14f4c204fb3840caed5f835:b2a6076ac3c60bbd7ae2816a4e822164:9cf02bb320f5dd2a8758603651544fcc$</string>
            <key>textureFileName</key>
            <string>ancient_tower_1.png</string>
        </dict>
    </dict>
</plist>
