<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_low_ocean_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1922,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1922,800}}</string>
                <key>sourceSize</key>
                <string>{1922,800}</string>
            </dict>
            <key>bg_low_ocean_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1607},{21,23}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{21,23}}</string>
                <key>sourceSize</key>
                <string>{47,49}</string>
            </dict>
            <key>bg_low_ocean_fish.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{776,841}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{776,841}}</string>
                <key>sourceSize</key>
                <string>{780,853}</string>
            </dict>
            <key>bg_low_ocean_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,804},{1251,801}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,73},{1251,801}}</string>
                <key>sourceSize</key>
                <string>{1315,931}</string>
            </dict>
            <key>bg_low_ocean_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{48,46}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,43},{48,46}}</string>
                <key>sourceSize</key>
                <string>{146,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>low_ocean_1.png</string>
            <key>size</key>
            <string>{2033,1647}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:efb356a5d3f67343d40bc5e58065b3e5:7204fb28e4e367c2abbff74ca3ec02e4:e52faa641b72eab1b9dfd35d34b07f37$</string>
            <key>textureFileName</key>
            <string>low_ocean_1.png</string>
        </dict>
    </dict>
</plist>
