<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_text_number_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,63}</string>
                <key>spriteSourceSize</key>
                <string>{29,63}</string>
                <key>textureRect</key>
                <string>{{43,328},{29,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,63}</string>
                <key>spriteSourceSize</key>
                <string>{39,63}</string>
                <key>textureRect</key>
                <string>{{75,1},{39,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,63}</string>
                <key>spriteSourceSize</key>
                <string>{40,63}</string>
                <key>textureRect</key>
                <string>{{1,328},{40,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,63}</string>
                <key>spriteSourceSize</key>
                <string>{43,63}</string>
                <key>textureRect</key>
                <string>{{71,197},{43,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,63}</string>
                <key>spriteSourceSize</key>
                <string>{38,63}</string>
                <key>textureRect</key>
                <string>{{75,66},{38,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{1,286},{40,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,62}</string>
                <key>spriteSourceSize</key>
                <string>{42,62}</string>
                <key>textureRect</key>
                <string>{{67,262},{42,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,64}</string>
                <key>spriteSourceSize</key>
                <string>{41,64}</string>
                <key>textureRect</key>
                <string>{{1,243},{41,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_text_number_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,64}</string>
                <key>spriteSourceSize</key>
                <string>{40,64}</string>
                <key>textureRect</key>
                <string>{{74,326},{40,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{68,64}</string>
                <key>textureRect</key>
                <string>{{1,177},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_number_slash.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,64}</string>
                <key>spriteSourceSize</key>
                <string>{34,64}</string>
                <key>textureRect</key>
                <string>{{75,131},{34,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_text_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,72}</string>
                <key>spriteSourceSize</key>
                <string>{174,72}</string>
                <key>textureRect</key>
                <string>{{1,1},{174,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_text.png</string>
            <key>size</key>
            <string>{115,392}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1e2843150e7a4d3537972d958add9d7:b23055290c4ac30a51f70fe715fbc46c:cd9bae295ffe0933a755c440bfe49be0$</string>
            <key>textureFileName</key>
            <string>ingame_text.png</string>
        </dict>
    </dict>
</plist>
