<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>package_step_arrow_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,32}</string>
                <key>spriteSourceSize</key>
                <string>{47,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{47,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>package_step_arrow_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,40}</string>
                <key>spriteSourceSize</key>
                <string>{23,40}</string>
                <key>textureRect</key>
                <string>{{1,35},{23,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>package_step.png</string>
            <key>size</key>
            <string>{49,59}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdd8ec7f24789d354fd4e426c817af6e:2bfbbd13e9c378a9916ceb4916cc3a43:3d585388f00db314d2fc82f2f4c4e2de$</string>
            <key>textureFileName</key>
            <string>package_step.png</string>
        </dict>
    </dict>
</plist>
