<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_layer_02_center_cake_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,847},{56,48}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{56,48}}</string>
                <key>sourceSize</key>
                <string>{74,66}</string>
            </dict>
            <key>lobby_layer_02_center_cake_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,847},{22,98}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{22,98}}</string>
                <key>sourceSize</key>
                <string>{38,104}</string>
            </dict>
            <key>lobby_layer_02_center_cake_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,736},{35,139}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{35,139}}</string>
                <key>sourceSize</key>
                <string>{55,153}</string>
            </dict>
            <key>lobby_layer_02_center_cake_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,879},{58,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{58,58}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>lobby_layer_02_center_cake_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,943},{16,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,5},{16,22}}</string>
                <key>sourceSize</key>
                <string>{24,32}</string>
            </dict>
            <key>lobby_layer_02_center_cake_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,693},{217,64}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{217,64}}</string>
                <key>sourceSize</key>
                <string>{237,78}</string>
            </dict>
            <key>lobby_layer_02_center_cake_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{360,265}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,31},{360,265}}</string>
                <key>sourceSize</key>
                <string>{432,327}</string>
            </dict>
            <key>lobby_layer_02_center_cake_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,693},{41,139}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,20},{41,139}}</string>
                <key>sourceSize</key>
                <string>{93,171}</string>
            </dict>
            <key>lobby_layer_02_center_cake_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,905},{45,44}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,3},{45,44}}</string>
                <key>sourceSize</key>
                <string>{65,54}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a01.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,871},{45,45}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{45,45}}</string>
                <key>sourceSize</key>
                <string>{67,57}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,773},{45,51}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{45,51}}</string>
                <key>sourceSize</key>
                <string>{55,67}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,939},{20,29}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{20,29}}</string>
                <key>sourceSize</key>
                <string>{30,33}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,773},{100,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{100,72}}</string>
                <key>sourceSize</key>
                <string>{110,82}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a05.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,759},{105,118}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{105,118}}</string>
                <key>sourceSize</key>
                <string>{111,132}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a06.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,879},{27,21}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{27,21}}</string>
                <key>sourceSize</key>
                <string>{39,29}</string>
            </dict>
            <key>lobby_layer_02_center_cake_a07.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,925},{31,34}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{31,34}}</string>
                <key>sourceSize</key>
                <string>{35,42}</string>
            </dict>
            <key>lobby_layer_02_center_cake_b01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,905},{60,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{60,54}}</string>
                <key>sourceSize</key>
                <string>{86,82}</string>
            </dict>
            <key>lobby_layer_02_center_cake_b02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,759},{103,127}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{103,127}}</string>
                <key>sourceSize</key>
                <string>{115,137}</string>
            </dict>
            <key>lobby_layer_02_center_cake_b03.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,871},{37,52}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{37,52}}</string>
                <key>sourceSize</key>
                <string>{47,66}</string>
            </dict>
            <key>lobby_layer_02_center_cake_b04.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,918},{42,39}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{42,39}}</string>
                <key>sourceSize</key>
                <string>{42,45}</string>
            </dict>
            <key>lobby_layer_02_center_cake_b05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{53,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{53,98}}</string>
                <key>sourceSize</key>
                <string>{69,108}</string>
            </dict>
            <key>lobby_layer_02_center_cake_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,422}}</string>
                <key>offset</key>
                <string>{249,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{709,174},{360,422}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_layer_02_center_cake.png</string>
            <key>size</key>
            <string>{364,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3088b1a2587f8c5f0fb1f5a4bdfe038:3828ae2c98d2347fc369506ddecd38bd:5f7f5711e89fad8a25878eaaecd72798$</string>
            <key>textureFileName</key>
            <string>lobby_layer_02_center_cake.png</string>
        </dict>
    </dict>
</plist>
