<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano2_3_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{917,460}}</string>
                <key>offset</key>
                <string>{0,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,340},{917,460}}</string>
                <key>sourceSize</key>
                <string>{917,800}</string>
            </dict>
            <key>bg_volcano2_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,2},{528,412}}</string>
                <key>offset</key>
                <string>{88,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,388},{528,412}}</string>
                <key>sourceSize</key>
                <string>{1024,800}</string>
            </dict>
            <key>bg_volcano2_herb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1451,2},{180,186}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,703},{180,186}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano2_3.png</string>
            <key>size</key>
            <string>{1633,464}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c045fb64430c6227b412a4a076e66939:c8ae3832dfbe2233352fcad8267077d6:49c5d830a2d139cd2623a790d892486a$</string>
            <key>textureFileName</key>
            <string>volcano2_3.png</string>
        </dict>
    </dict>
</plist>
