<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano2_3_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,596},{1048,818}}</string>
                <key>offset</key>
                <string>{176,-391}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{676,782},{1048,818}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{962,1126}}</string>
                <key>offset</key>
                <string>{-314,-237}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,474},{962,1126}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2028,592}}</string>
                <key>offset</key>
                <string>{-10,-504}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1008},{2028,592}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,1416},{178,184}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,703},{178,184}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1672},{50,72}}</string>
                <key>offset</key>
                <string>{14,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{489,789},{50,72}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_herb_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,1416},{254,336}}</string>
                <key>offset</key>
                <string>{-21,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,612},{254,336}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_magma_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1224,1672},{58,42}}</string>
                <key>offset</key>
                <string>{-44,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,54},{58,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_volcano2_magma_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,1672},{60,42}}</string>
                <key>offset</key>
                <string>{-45,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,54},{60,42}}</string>
                <key>sourceSize</key>
                <string>{384,160}</string>
            </dict>
            <key>bg_volcano2_magma_04_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1416},{214,312}}</string>
                <key>offset</key>
                <string>{-438,-600}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{479,1244},{214,312}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_spiderweb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1798,1416},{162,153}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,34},{162,153}}</string>
                <key>sourceSize</key>
                <string>{256,237}</string>
            </dict>
            <key>bg_volcano2_spiderweb_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1672},{64,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,187},{64,50}}</string>
                <key>sourceSize</key>
                <string>{450,424}</string>
            </dict>
            <key>bg_volcano2_spiderweb_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1672},{48,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,185},{48,54}}</string>
                <key>sourceSize</key>
                <string>{450,424}</string>
            </dict>
            <key>bg_volcano2_spiderweb_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,1632},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,185},{54,54}}</string>
                <key>sourceSize</key>
                <string>{450,424}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano2_4.png</string>
            <key>size</key>
            <string>{2032,1724}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76fef1f67e031c2be7046960af3a634:9e015ea1817cf62ce48f1be09a5fafe6:7c9d6622d336278435f6cadae1ac065a$</string>
            <key>textureFileName</key>
            <string>volcano2_4.png</string>
        </dict>
    </dict>
</plist>
