<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_volcano2_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{852,850}}</string>
                <key>offset</key>
                <string>{345,-375}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{943,750},{852,850}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_5_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1896,500}}</string>
                <key>offset</key>
                <string>{-45,-550}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,1100},{1896,500}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_5_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,1084},{718,524}}</string>
                <key>offset</key>
                <string>{183,-538}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{848,1076},{718,524}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_herb_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,1534},{396,642}}</string>
                <key>offset</key>
                <string>{13,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{315,564},{396,642}}</string>
                <key>sourceSize</key>
                <string>{1000,1600}</string>
            </dict>
            <key>bg_volcano2_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,854},{678,764}}</string>
                <key>offset</key>
                <string>{-30,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,428},{678,764}}</string>
                <key>sourceSize</key>
                <string>{756,1600}</string>
            </dict>
            <key>bg_volcano2_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,644},{466,438}}</string>
                <key>offset</key>
                <string>{-549,-205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,786},{466,438}}</string>
                <key>sourceSize</key>
                <string>{2048,1600}</string>
            </dict>
            <key>bg_volcano2_spiderweb_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,2},{640,522}}</string>
                <key>offset</key>
                <string>{20,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,163},{640,522}}</string>
                <key>sourceSize</key>
                <string>{1008,870}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>volcano2_5.png</string>
            <key>size</key>
            <string>{1882,1938}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76fef1f67e031c2be7046960af3a634:9e015ea1817cf62ce48f1be09a5fafe6:7c9d6622d336278435f6cadae1ac065a$</string>
            <key>textureFileName</key>
            <string>volcano2_5.png</string>
        </dict>
    </dict>
</plist>
