<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_optatio_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,412},{96,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{96,95}}</string>
                <key>sourceSize</key>
                <string>{114,115}</string>
            </dict>
            <key>missile_optatio_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>missile_optatio_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,538},{62,64}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>missile_optatio_effect_s_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,268},{58,64}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,41},{58,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,485},{62,66}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,39},{62,66}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,334},{58,64}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,41},{58,64}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,485},{66,70}}</string>
                <key>offset</key>
                <string>{4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,36},{66,70}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,509},{74,78}}</string>
                <key>offset</key>
                <string>{2,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,29},{74,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,479},{64,80}}</string>
                <key>offset</key>
                <string>{-3,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,27},{64,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{72,78}}</string>
                <key>offset</key>
                <string>{-2,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,28},{72,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_effect_s_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,401},{76,80}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,25},{76,80}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>missile_optatio_elbow_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{141,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,14},{141,139}}</string>
                <key>sourceSize</key>
                <string>{169,167}</string>
            </dict>
            <key>missile_optatio_elbow_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,401},{141,135}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{141,135}}</string>
                <key>sourceSize</key>
                <string>{169,167}</string>
            </dict>
            <key>missile_optatio_elbow_earth.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,133}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{211,133}}</string>
                <key>sourceSize</key>
                <string>{231,167}</string>
            </dict>
            <key>missile_optatio_elbow_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,273},{137,123}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,31},{137,123}}</string>
                <key>sourceSize</key>
                <string>{169,167}</string>
            </dict>
            <key>missile_optatio_elbow_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,130},{141,127}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,27},{141,127}}</string>
                <key>sourceSize</key>
                <string>{169,167}</string>
            </dict>
            <key>missile_optatio_hand_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,135},{157,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{157,131}}</string>
                <key>sourceSize</key>
                <string>{187,157}</string>
            </dict>
            <key>missile_optatio_hand_dark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{157,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{157,131}}</string>
                <key>sourceSize</key>
                <string>{187,157}</string>
            </dict>
            <key>missile_optatio_hand_fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,268},{157,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{157,131}}</string>
                <key>sourceSize</key>
                <string>{187,157}</string>
            </dict>
            <key>missile_optatio_hand_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{165,131}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{165,131}}</string>
                <key>sourceSize</key>
                <string>{187,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_optatio.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2880ed2b7619a14d9f606dc1fc06d8e:050508f1b578bef6cc87e3bebf2acd67:93db13e4b1490c90fa8c16014f28ebc8$</string>
            <key>textureFileName</key>
            <string>missile_optatio.png</string>
        </dict>
    </dict>
</plist>
