<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>summon_eff_00_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,271},{58,85}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{58,85}}</string>
                <key>sourceSize</key>
                <string>{70,93}</string>
            </dict>
            <key>summon_eff_00_t_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{256,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,182}}</string>
                <key>sourceSize</key>
                <string>{256,182}</string>
            </dict>
            <key>summon_eff_00_t_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,150},{80,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,119}}</string>
                <key>sourceSize</key>
                <string>{80,119}</string>
            </dict>
            <key>summon_eff_00_t_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,150},{132,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,168}}</string>
                <key>sourceSize</key>
                <string>{132,168}</string>
            </dict>
            <key>summon_eff_00_t_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{146,239}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,239}}</string>
                <key>sourceSize</key>
                <string>{146,239}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>summon_cut.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:745ebac75269096c6a0e46882fe15cbe$</string>
            <key>textureFileName</key>
            <string>summon_cut.png</string>
        </dict>
    </dict>
</plist>
