<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_width_heal_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,215}</string>
                <key>spriteSourceSize</key>
                <string>{215,215}</string>
                <key>textureRect</key>
                <string>{{196,1},{215,215}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{196,430},{52,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{196,348},{80,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{97,464},{70,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{250,430},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{309,319},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{413,91},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{383,218},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{1,333},{94,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{175,218},{99,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{97,129}</string>
                <key>spriteSourceSize</key>
                <string>{135,135}</string>
                <key>textureRect</key>
                <string>{{97,333},{97,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_dark_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,39}</string>
                <key>spriteSize</key>
                <string>{172,330}</string>
                <key>spriteSourceSize</key>
                <string>{180,500}</string>
                <key>textureRect</key>
                <string>{{1,1},{172,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_dark_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,88}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{413,1},{88,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_width_heal.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e6f6bc7d5e9f894a05d1fbb1b20752d:eff19c9434edb91bab2c401cc7c21bc1:c942a8b06ef64b611d2976431584d80b$</string>
            <key>textureFileName</key>
            <string>skill_width_heal.png</string>
        </dict>
    </dict>
</plist>
