<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_width_heal_re_effect_02_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,117}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{553,1838},{117,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_re_effect_02_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,109}</string>
                <key>spriteSourceSize</key>
                <string>{117,117}</string>
                <key>textureRect</key>
                <string>{{1,1933},{109,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,10}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1627},{320,10}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,12}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,1611},{320,12}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,14}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1009,1},{320,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,16}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{999,1289},{320,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,18}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1005,323},{320,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,20}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{999,967},{320,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,22}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1001,645},{320,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,26}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1599},{320,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,28}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1639},{320,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,30}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,967},{320,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,30}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,1289},{320,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,32}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,645},{320,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,36}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,323},{320,36}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{320,40}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{967,1},{320,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{320,62}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,1597},{320,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{320,90}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,1505},{320,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{320,108}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1489},{320,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-11}</string>
                <key>spriteSize</key>
                <string>{320,124}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1363},{320,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-13}</string>
                <key>spriteSize</key>
                <string>{320,136}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1501},{320,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0072.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{320,148}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,1355},{320,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0074.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-15}</string>
                <key>spriteSize</key>
                <string>{320,156}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1343},{320,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0076.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{320,170}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1171},{320,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0078.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{320,184}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,1169},{320,184}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-19}</string>
                <key>spriteSize</key>
                <string>{320,196}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1165},{320,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0082.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{320,206}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,957},{320,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0084.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-14}</string>
                <key>spriteSize</key>
                <string>{320,212}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,957},{320,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0086.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{320,216}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,951},{320,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0088.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{320,222}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,727},{320,222}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{320,228}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,727},{320,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0092.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{320,232}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,723},{320,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0094.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{320,236}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,485},{320,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0096.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,1},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0098.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,1},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,197}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{246,1669},{197,197}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,1},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,243},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,243},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{645,243},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{1,485},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_0110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,240}</string>
                <key>spriteSourceSize</key>
                <string>{320,240}</string>
                <key>textureRect</key>
                <string>{{323,485},{320,240}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,173}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{445,1661},{175,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_width_heal_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,243}</string>
                <key>spriteSourceSize</key>
                <string>{249,249}</string>
                <key>textureRect</key>
                <string>{{1,1669},{243,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,106}</string>
                <key>spriteSourceSize</key>
                <string>{153,106}</string>
                <key>textureRect</key>
                <string>{{112,1933},{153,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{469,1933},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_width_heal_s_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,91}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{267,1933},{200,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_width_heal.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7c6f1b2a9fa16ef8733a43ddb5e4d4:11d36e6eef9e2fc89700d7e7f7b2f3bc:c942a8b06ef64b611d2976431584d80b$</string>
            <key>textureFileName</key>
            <string>skill_width_heal.png</string>
        </dict>
    </dict>
</plist>
