<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jaryong_spear_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,19},{324,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{324,324}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{264,264}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,576},{170,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,118},{170,186}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,611},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,161},{100,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_res_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,428},{46,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,16},{46,177}}</string>
                <key>sourceSize</key>
                <string>{54,211}</string>
            </dict>
            <key>skill_jaryong_spear_res_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{15,338}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{15,338}}</string>
                <key>sourceSize</key>
                <string>{17,404}</string>
            </dict>
            <key>skill_jaryong_spear_res_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{20,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>skill_jaryong_spear_res_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,345},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{81,60}}</string>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>skill_jaryong_spear_res_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{102,99}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>skill_jaryong_spear_res_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{126,572}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,111},{126,572}}</string>
                <key>sourceSize</key>
                <string>{146,792}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jaryong_spear.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c526480b8d8f1c9585d2383964ec1a4$</string>
            <key>textureFileName</key>
            <string>skill_jaryong_spear.png</string>
        </dict>
    </dict>
</plist>
