<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_taros_claw_bluecircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{300,370},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_claw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,45}</string>
                <key>spriteSourceSize</key>
                <string>{257,45}</string>
                <key>textureRect</key>
                <string>{{253,400},{257,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_taros_claw_cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{188,196}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,644},{188,196}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_cloud_won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{256,252}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{1,146},{256,252}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,1}</string>
                <key>spriteSize</key>
                <string>{222,139}</string>
                <key>spriteSourceSize</key>
                <string>{232,141}</string>
                <key>textureRect</key>
                <string>{{259,146},{222,139}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_taros_claw_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-9}</string>
                <key>spriteSize</key>
                <string>{126,120}</string>
                <key>spriteSourceSize</key>
                <string>{128,142}</string>
                <key>textureRect</key>
                <string>{{383,1},{126,120}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_taros_claw_effect_flame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,137}</string>
                <key>spriteSourceSize</key>
                <string>{147,137}</string>
                <key>textureRect</key>
                <string>{{1,842},{147,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_effect_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{433,904},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{400,257},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_fire_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{367,838},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_fire_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{433,838},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_fire_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{367,904},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,143}</string>
                <key>spriteSourceSize</key>
                <string>{380,143}</string>
                <key>textureRect</key>
                <string>{{1,1},{380,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_greencircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{300,526},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_lightdust.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,99}</string>
                <key>spriteSourceSize</key>
                <string>{127,99}</string>
                <key>textureRect</key>
                <string>{{150,842},{127,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_taros_claw_nail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14,4}</string>
                <key>spriteSize</key>
                <string>{126,102}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{400,129},{126,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_taros_claw_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,111}</string>
                <key>spriteSourceSize</key>
                <string>{114,111}</string>
                <key>textureRect</key>
                <string>{{251,838},{114,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_redcircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{191,682},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_velvetcircle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,2}</string>
                <key>spriteSize</key>
                <string>{154,154}</string>
                <key>spriteSourceSize</key>
                <string>{158,158}</string>
                <key>textureRect</key>
                <string>{{347,682},{154,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_taros_claw_won_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{250,242}</string>
                <key>spriteSourceSize</key>
                <string>{250,250}</string>
                <key>textureRect</key>
                <string>{{1,400},{250,242}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_taros_claw.png</string>
            <key>size</key>
            <string>{504,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cd5142797b4a981ab552b692d75181e:2498271c818da72d08fc08255be57236:67aedfe3e62d75ddea127bad76f58cc1$</string>
            <key>textureFileName</key>
            <string>skill_taros_claw.png</string>
        </dict>
    </dict>
</plist>
