<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>indicator_type_target_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,1},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_type_target_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,217},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_type_target_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,488}</string>
                <key>spriteSourceSize</key>
                <string>{26,500}</string>
                <key>textureRect</key>
                <string>{{1,309},{26,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_type_target_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{1,109},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>indicator_type_target_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,488}</string>
                <key>spriteSourceSize</key>
                <string>{26,500}</string>
                <key>textureRect</key>
                <string>{{29,309},{26,488}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>indicator_type_target.png</string>
            <key>size</key>
            <string>{108,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e4537323326e64d33c81e9b38a7e1d:28e55eff8d1c0bd3a5769646a3481467:e48ceb2108d616dfe9ec164d3f80dc67$</string>
            <key>textureFileName</key>
            <string>indicator_type_target.png</string>
        </dict>
    </dict>
</plist>
