<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lactea_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{431,38}</string>
                <key>spriteSourceSize</key>
                <string>{431,38}</string>
                <key>textureRect</key>
                <string>{{507,989},{431,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lactea_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,77}</string>
                <key>spriteSourceSize</key>
                <string>{83,77}</string>
                <key>textureRect</key>
                <string>{{685,1175},{83,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lactea_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{793,1275},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,343}</string>
                <key>spriteSourceSize</key>
                <string>{380,343}</string>
                <key>textureRect</key>
                <string>{{559,369},{380,343}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lactea_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{504,470}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1,989},{504,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,79}</string>
                <key>spriteSourceSize</key>
                <string>{154,79}</string>
                <key>textureRect</key>
                <string>{{559,751},{154,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_frame_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,61}</string>
                <key>spriteSize</key>
                <string>{366,366}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{559,1},{366,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_frame_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{556,492}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1,1},{556,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_frame_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{556,492}</string>
                <key>spriteSourceSize</key>
                <string>{600,588}</string>
                <key>textureRect</key>
                <string>{{1,495},{556,492}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{715,751},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{559,832},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{713,905},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{152,152}</string>
                <key>spriteSourceSize</key>
                <string>{154,154}</string>
                <key>textureRect</key>
                <string>{{559,986},{152,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_point_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-10}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{793,1175},{98,128}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lactea_point_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{13,1}</string>
                <key>spriteSize</key>
                <string>{132,136}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{547,1140},{132,136}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lactea_point_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,1}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{713,1059},{148,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_point_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-7}</string>
                <key>spriteSize</key>
                <string>{128,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{547,1274},{128,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lactea_point_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,6}</string>
                <key>spriteSize</key>
                <string>{114,134}</string>
                <key>spriteSourceSize</key>
                <string>{166,152}</string>
                <key>textureRect</key>
                <string>{{677,1274},{114,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dragon_lactea.png</string>
            <key>size</key>
            <string>{926,1460}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae85eeee46b819386b635f7cee504acb:2f3260196599926e673ad69d402a3b29:2b351b2b297e40c2eeea0b3318f01762$</string>
            <key>textureFileName</key>
            <string>dragon_lactea.png</string>
        </dict>
    </dict>
</plist>
