<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>colosseum_2_1_red_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1348},{484,230}}</string>
                <key>offset</key>
                <string>{-26,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,245},{484,230}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>colosseum_2_2_crack_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1348},{866,580}}</string>
                <key>offset</key>
                <string>{-13,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{866,580}}</string>
                <key>sourceSize</key>
                <string>{896,672}</string>
            </dict>
            <key>colosseum_2_2_crack_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1710,1348},{130,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,203},{130,82}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>colosseum_2_2_crack_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,1890},{38,80}}</string>
                <key>offset</key>
                <string>{13,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,229},{38,80}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>colosseum_2_2_crack_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,256},{54,104}}</string>
                <key>offset</key>
                <string>{13,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,224},{54,104}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>colosseum_2_2_crack_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1890},{38,86}}</string>
                <key>offset</key>
                <string>{177,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1054,523},{38,86}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_crack_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1960,362},{52,90}}</string>
                <key>offset</key>
                <string>{173,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1043,522},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,898},{210,206}}</string>
                <key>offset</key>
                <string>{-10,94}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,43},{210,206}}</string>
                <key>sourceSize</key>
                <string>{640,480}</string>
            </dict>
            <key>colosseum_2_2_light_07_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1586},{260,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,22},{260,256}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_2_light_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1730,1480},{344,230}}</string>
                <key>offset</key>
                <string>{203,328}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{927,229},{344,230}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_08_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1348},{352,236}}</string>
                <key>offset</key>
                <string>{203,328}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{923,226},{352,236}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_08_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,256},{366,162}}</string>
                <key>offset</key>
                <string>{-193,312}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{520,279},{366,162}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_08_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1580},{284,314}}</string>
                <key>offset</key>
                <string>{-39,387}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{715,128},{284,314}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_08_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,1586},{284,314}}</string>
                <key>offset</key>
                <string>{-39,387}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{715,128},{284,314}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_light_08_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,1848},{76,290}}</string>
                <key>offset</key>
                <string>{36,397}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{894,130},{76,290}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_2_red_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1106},{160,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,70},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1896},{24,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,59},{24,26}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1958,1106},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_blue_light_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,1826},{62,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,25},{62,250}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_blue_light_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,624},{272,214}}</string>
                <key>offset</key>
                <string>{-14,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{272,214}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_door_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,1268},{88,108}}</string>
                <key>offset</key>
                <string>{0,-186}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{852,804},{88,108}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
            <key>colosseum_2_door_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,1268},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,60},{24,24}}</string>
                <key>sourceSize</key>
                <string>{144,144}</string>
            </dict>
            <key>colosseum_2_fountain_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,2},{220,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,24},{220,252}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_gear_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,1890},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,132},{38,36}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>colosseum_2_mainhall_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1792,1344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1792,1344}}</string>
                <key>sourceSize</key>
                <string>{1792,1344}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>colosseum_2_4.png</string>
            <key>size</key>
            <string>{2018,1930}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5271ea6dd14b2d4ef0573515c18bf332:14744dd406c9359976bc23927a1ed8b9:b19a4ddd391031d2a8961536c6cb6d90$</string>
            <key>textureFileName</key>
            <string>colosseum_2_4.png</string>
        </dict>
    </dict>
</plist>
