<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_slime_res_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,49}</string>
                <key>spriteSize</key>
                <string>{324,504}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{324,504}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_slime_dark.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f01def98ba01ab6470e011efa28ffc4:3fac5eb1068f4b5fd6ba9ef0deec8631:3909f98f50a8382c05891189cce2555b$</string>
            <key>textureFileName</key>
            <string>egg_slime_dark.png</string>
        </dict>
    </dict>
</plist>
