<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tower_reward_ancient.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{1,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_reward_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{201,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_reward_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{401,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_reward_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{601,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_reward_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{801,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_reward_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,220}</string>
                <key>spriteSourceSize</key>
                <string>{198,220}</string>
                <key>textureRect</key>
                <string>{{1001,1},{198,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower_reward.png</string>
            <key>size</key>
            <string>{1200,222}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41c923d47feec1c39465cc01d4734354:751b690c90ef33d54edd543b6d33df71:57148a12fd710571b294c7987d64872c$</string>
            <key>textureFileName</key>
            <string>tower_reward.png</string>
        </dict>
    </dict>
</plist>
