<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_wedge_fire_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
            <key>missile_wedge_fire_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,44},{69,75}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>missile_wedge_fire_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,108}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{60,108}}</string>
                <key>sourceSize</key>
                <string>{60,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_wedge_fire.png</string>
            <key>size</key>
            <string>{146,115}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4fb0380021e49657c7f10357126e53c:40dc0ca0393efd21be2bdcd38410ffbf:e164bd2a4f92aee0088d8a4a133c174a$</string>
            <key>textureFileName</key>
            <string>missile_wedge_fire.png</string>
        </dict>
    </dict>
</plist>
