<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_book_reward_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,65}</string>
                <key>spriteSourceSize</key>
                <string>{78,65}</string>
                <key>textureRect</key>
                <string>{{1161,365},{78,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_book_reward_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,110}</string>
                <key>spriteSourceSize</key>
                <string>{122,110}</string>
                <key>textureRect</key>
                <string>{{1,346},{122,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_book_reward_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{249,191}</string>
                <key>spriteSourceSize</key>
                <string>{249,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{249,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_arrow_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{157,440},{35,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_arrow_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,42}</string>
                <key>spriteSourceSize</key>
                <string>{35,42}</string>
                <key>textureRect</key>
                <string>{{201,440},{35,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_attr_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{259,344},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1407,289},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1509,297},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1553,297},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{251,388},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1363,321},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1468,1},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1468,149},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1053,153},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1201,153},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{303,303},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1,194},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_frame_boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{252,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_frame_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{153,194},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_frame_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{303,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{453,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_icon_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,70}</string>
                <key>spriteSourceSize</key>
                <string>{100,70}</string>
                <key>textureRect</key>
                <string>{{1349,153},{100,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_icon_friend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,32}</string>
                <key>spriteSourceSize</key>
                <string>{36,32}</string>
                <key>textureRect</key>
                <string>{{1292,405},{36,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_icon_inuse.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,41}</string>
                <key>spriteSourceSize</key>
                <string>{36,41}</string>
                <key>textureRect</key>
                <string>{{1324,357},{36,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_icon_leader.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{252,153},{40,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_icon_lock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,34}</string>
                <key>spriteSourceSize</key>
                <string>{27,34}</string>
                <key>textureRect</key>
                <string>{{1450,385},{27,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_icon_noti.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{1285,301},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1362,409},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{20,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1583,341},{20,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1363,437},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1405,421},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1433,421},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{251,432},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_num_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1461,421},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1511,385},{26,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_cha_num_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1489,421},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,40}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1517,413},{26,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_cha_num_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{26,32}</string>
                <key>spriteSourceSize</key>
                <string>{26,40}</string>
                <key>textureRect</key>
                <string>{{1553,385},{26,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_item_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{404,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_all.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1407,333},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1451,329},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1362,365},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1406,377},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1495,341},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_attr_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,42}</string>
                <key>spriteSourceSize</key>
                <string>{42,42}</string>
                <key>textureRect</key>
                <string>{{1539,341},{42,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_bg_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{451,303},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_bg_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{593,303},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_bg_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{735,303},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_bg_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{877,303},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_bg_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,140}</string>
                <key>spriteSourceSize</key>
                <string>{140,140}</string>
                <key>textureRect</key>
                <string>{{1019,303},{140,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{556,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_frame_check.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{603,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_frame_disable.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{753,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rp_frame_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,148}</string>
                <key>spriteSourceSize</key>
                <string>{148,148}</string>
                <key>textureRect</key>
                <string>{{903,153},{148,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rune_frame_common.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{708,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rune_frame_hero.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{860,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rune_frame_legend.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1012,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rune_frame_none.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1164,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_rune_frame_rare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1316,1},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_gray_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{215,408},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_gray_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{157,408},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_gray_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1228,365},{78,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_gray_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1349,225},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_gray_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1035,445},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_gray_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{451,445},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_purple_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1331,321},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_purple_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1292,347},{56,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_purple_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1260,365},{78,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_purple_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1349,257},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_purple_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1159,445},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_purple_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{597,445},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_red_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1326,400},{34,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_red_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1349,289},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_red_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1283,445},{78,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_red_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{125,346},{100,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_red_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1161,301},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_red_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{743,445},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_yellow_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1479,385},{34,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>card_star_yellow_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1451,297},{56,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_yellow_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{157,376},{78,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_yellow_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{157,344},{100,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_yellow_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{1161,333},{122,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_star_yellow_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,30}</string>
                <key>spriteSourceSize</key>
                <string>{150,30}</string>
                <key>textureRect</key>
                <string>{{889,445},{144,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1615,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e03e8872d1970b17e051ec1fb87a455:2c1634df2ae72d2e7b9d927597103af4:ac15c2787776c146127be3982bd2a622$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
