<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_solar_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,177}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{196,1},{177,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_solar_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{193,193}</string>
                <key>spriteSourceSize</key>
                <string>{213,213}</string>
                <key>textureRect</key>
                <string>{{1,1},{193,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_solar_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{375,1},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>missile_solar_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{375,90},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>missile_solar.png</string>
            <key>size</key>
            <string>{458,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:539b3d7aecf22f3c14072bdd360f9a9c:a8197dc05b5ae4a481a5cad203d4920f:48b936ed3d5f672cc5263ac9573e7587$</string>
            <key>textureFileName</key>
            <string>missile_solar.png</string>
        </dict>
    </dict>
</plist>
