<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clan_lobby_indoor_04_left_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,114}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1804,428},{114,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clan_lobby_indoor_04_left_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,0}</string>
                <key>spriteSize</key>
                <string>{424,146}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1804,2},{424,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clan_lobby_indoor_04_left_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1800,960}</string>
                <key>spriteSourceSize</key>
                <string>{1800,960}</string>
                <key>textureRect</key>
                <string>{{2,2},{1800,960}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clan_lobby_indoor_04_left.png</string>
            <key>size</key>
            <string>{1952,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51039c1776dc99cfe5eff35f5f446d42:986e55b7781dc5dac2ba38e2d600aa0e:ea81e0cc83b58643455054f3465c3a0e$</string>
            <key>textureFileName</key>
            <string>clan_lobby_indoor_04_left.png</string>
        </dict>
    </dict>
</plist>
