<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dungeon_ancient_ruin_list.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,602}</string>
                <key>spriteSourceSize</key>
                <string>{290,602}</string>
                <key>textureRect</key>
                <string>{{1,1},{290,602}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>dungeon_ancient_ruin.png</string>
            <key>size</key>
            <string>{292,604}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eea83c50e36d69049016aaa0421aaac:563f8c09845dcd2adbce5106253381b6:d6a0f4bae9efa20a211307f7ada1f4e3$</string>
            <key>textureFileName</key>
            <string>dungeon_ancient_ruin.png</string>
        </dict>
    </dict>
</plist>
