<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>evildragon_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,267}</string>
                <key>spriteSourceSize</key>
                <string>{285,285}</string>
                <key>textureRect</key>
                <string>{{990,667},{267,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,2}</string>
                <key>spriteSize</key>
                <string>{287,291}</string>
                <key>spriteSourceSize</key>
                <string>{311,311}</string>
                <key>textureRect</key>
                <string>{{701,685},{287,291}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,372}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{440,1},{372,372}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{80,104}</string>
                <key>spriteSourceSize</key>
                <string>{98,122}</string>
                <key>textureRect</key>
                <string>{{1,841},{80,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,99}</string>
                <key>spriteSourceSize</key>
                <string>{96,117}</string>
                <key>textureRect</key>
                <string>{{83,841},{78,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{66,92}</string>
                <key>spriteSourceSize</key>
                <string>{84,110}</string>
                <key>textureRect</key>
                <string>{{1176,221},{66,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{70,89}</string>
                <key>spriteSourceSize</key>
                <string>{90,107}</string>
                <key>textureRect</key>
                <string>{{1056,368},{70,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,95}</string>
                <key>spriteSourceSize</key>
                <string>{88,113}</string>
                <key>textureRect</key>
                <string>{{253,841},{70,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evildragon_effect_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{72,110}</string>
                <key>spriteSourceSize</key>
                <string>{90,128}</string>
                <key>textureRect</key>
                <string>{{1176,1},{72,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,106}</string>
                <key>spriteSourceSize</key>
                <string>{85,124}</string>
                <key>textureRect</key>
                <string>{{1176,113},{67,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_fire_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,103}</string>
                <key>spriteSourceSize</key>
                <string>{94,121}</string>
                <key>textureRect</key>
                <string>{{1,947},{76,103}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evildragon_effect_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{88,84}</string>
                <key>spriteSourceSize</key>
                <string>{118,104}</string>
                <key>textureRect</key>
                <string>{{163,841},{88,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_magic_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{322,308}</string>
                <key>spriteSourceSize</key>
                <string>{342,326}</string>
                <key>textureRect</key>
                <string>{{440,375},{322,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_magic_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{399,399}</string>
                <key>spriteSourceSize</key>
                <string>{417,417}</string>
                <key>textureRect</key>
                <string>{{1,440},{399,399}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_magic_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,437}</string>
                <key>spriteSourceSize</key>
                <string>{455,455}</string>
                <key>textureRect</key>
                <string>{{1,1},{437,437}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_ring_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,365}</string>
                <key>spriteSourceSize</key>
                <string>{378,383}</string>
                <key>textureRect</key>
                <string>{{814,1},{360,365}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_rune_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{88,88}</string>
                <key>textureRect</key>
                <string>{{193,927},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_rune_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,85}</string>
                <key>spriteSourceSize</key>
                <string>{99,103}</string>
                <key>textureRect</key>
                <string>{{106,942},{81,85}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evildragon_effect_rune_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{88,94}</string>
                <key>textureRect</key>
                <string>{{1056,539},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_rune_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,82}</string>
                <key>spriteSourceSize</key>
                <string>{69,100}</string>
                <key>textureRect</key>
                <string>{{1128,368},{51,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_rune_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,76}</string>
                <key>spriteSourceSize</key>
                <string>{96,94}</string>
                <key>textureRect</key>
                <string>{{1056,459},{78,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>evildragon_effect_won_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,290}</string>
                <key>spriteSourceSize</key>
                <string>{308,308}</string>
                <key>textureRect</key>
                <string>{{764,375},{290,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>evildragon_effect_won_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{297,297}</string>
                <key>spriteSourceSize</key>
                <string>{319,319}</string>
                <key>textureRect</key>
                <string>{{402,685},{297,297}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_evildragon.png</string>
            <key>size</key>
            <string>{1258,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d32bf5ad022de453bfc684979ed2e883:545032b9da93c8588dcfac3b0c917aad:1a77f0b3cf2ef9229b386cbe25537485$</string>
            <key>textureFileName</key>
            <string>skill_evildragon.png</string>
        </dict>
    </dict>
</plist>
