<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>reserch_deco_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,468}</string>
                <key>spriteSourceSize</key>
                <string>{462,486}</string>
                <key>textureRect</key>
                <string>{{975,1},{442,468}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,456}</string>
                <key>spriteSourceSize</key>
                <string>{462,486}</string>
                <key>textureRect</key>
                <string>{{1419,1},{432,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,392}</string>
                <key>spriteSourceSize</key>
                <string>{462,486}</string>
                <key>textureRect</key>
                <string>{{1421,891},{392,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{462,486}</string>
                <key>spriteSourceSize</key>
                <string>{462,486}</string>
                <key>textureRect</key>
                <string>{{957,505},{462,486}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{430,430}</string>
                <key>spriteSourceSize</key>
                <string>{462,486}</string>
                <key>textureRect</key>
                <string>{{1421,459},{430,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,502}</string>
                <key>spriteSourceSize</key>
                <string>{494,518}</string>
                <key>textureRect</key>
                <string>{{1,521},{476,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,502}</string>
                <key>spriteSourceSize</key>
                <string>{494,518}</string>
                <key>textureRect</key>
                <string>{{479,521},{476,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{476,502}</string>
                <key>spriteSourceSize</key>
                <string>{494,518}</string>
                <key>textureRect</key>
                <string>{{497,1},{476,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_deco_light_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,518}</string>
                <key>spriteSourceSize</key>
                <string>{494,518}</string>
                <key>textureRect</key>
                <string>{{1,1},{494,518}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,1067},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,1095},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>reserch_light_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1,1025},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>dragon_reserch.png</string>
            <key>size</key>
            <string>{1852,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8c9fa16d82fea3cf9ded0ef774ad5e9:02ef51ddca9076629a628d019f09a0f4:da6260bdb740d1256ebbb4385cf282d4$</string>
            <key>textureFileName</key>
            <string>dragon_reserch.png</string>
        </dict>
    </dict>
</plist>
