<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tamer_combat_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,44},{130,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_tamer_combat_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,44},{86,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{86,88}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_tamer_combat_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,154},{130,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_tamer_combat_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,256},{36,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{36,76}}</string>
                <key>sourceSize</key>
                <string>{72,94}</string>
            </dict>
            <key>effect_tamer_combat_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,256},{33,45}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{33,45}}</string>
                <key>sourceSize</key>
                <string>{45,73}</string>
            </dict>
            <key>effect_tamer_combat_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{40,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,0},{40,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_tamer_combat_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,214},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>effect_tamer_combat_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,291}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{282,291}}</string>
                <key>sourceSize</key>
                <string>{326,315}</string>
            </dict>
            <key>effect_tamer_combat_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,134},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tamer_combat.png</string>
            <key>size</key>
            <string>{506,299}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:77994c3ef2e5d603898711d3cb63810b:59dd248870ee88092502256088927280:abf2578ee6172d08e2ea1ff5df20abd1$</string>
            <key>textureFileName</key>
            <string>effect_tamer_combat.png</string>
        </dict>
    </dict>
</plist>
