<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_lumines_effect_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-2}</string>
                <key>spriteSize</key>
                <string>{290,144}</string>
                <key>spriteSourceSize</key>
                <string>{306,164}</string>
                <key>textureRect</key>
                <string>{{1,1129},{290,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{266,138}</string>
                <key>spriteSourceSize</key>
                <string>{272,164}</string>
                <key>textureRect</key>
                <string>{{370,837},{266,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-2}</string>
                <key>spriteSize</key>
                <string>{204,168}</string>
                <key>spriteSourceSize</key>
                <string>{224,184}</string>
                <key>textureRect</key>
                <string>{{297,1105},{204,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,3}</string>
                <key>spriteSize</key>
                <string>{220,158}</string>
                <key>spriteSourceSize</key>
                <string>{224,184}</string>
                <key>textureRect</key>
                <string>{{244,1275},{220,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{139,320}</string>
                <key>spriteSourceSize</key>
                <string>{155,356}</string>
                <key>textureRect</key>
                <string>{{1,702},{139,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{126,220}</string>
                <key>spriteSourceSize</key>
                <string>{142,244}</string>
                <key>textureRect</key>
                <string>{{378,615},{126,220}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{133,130}</string>
                <key>spriteSourceSize</key>
                <string>{167,174}</string>
                <key>textureRect</key>
                <string>{{378,483},{133,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-2}</string>
                <key>spriteSize</key>
                <string>{133,132}</string>
                <key>spriteSourceSize</key>
                <string>{145,174}</string>
                <key>textureRect</key>
                <string>{{378,349},{133,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-1}</string>
                <key>spriteSize</key>
                <string>{106,118}</string>
                <key>spriteSourceSize</key>
                <string>{124,146}</string>
                <key>textureRect</key>
                <string>{{405,1435},{106,118}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{189,82}</string>
                <key>spriteSourceSize</key>
                <string>{191,94}</string>
                <key>textureRect</key>
                <string>{{423,109},{189,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-2}</string>
                <key>spriteSize</key>
                <string>{420,330}</string>
                <key>spriteSourceSize</key>
                <string>{444,334}</string>
                <key>textureRect</key>
                <string>{{1,1},{420,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,0}</string>
                <key>spriteSize</key>
                <string>{294,284}</string>
                <key>spriteSourceSize</key>
                <string>{358,334}</string>
                <key>textureRect</key>
                <string>{{1,843},{294,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,9}</string>
                <key>spriteSize</key>
                <string>{106,88}</string>
                <key>spriteSourceSize</key>
                <string>{146,130}</string>
                <key>textureRect</key>
                <string>{{423,1},{106,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{45,49}</string>
                <key>spriteSourceSize</key>
                <string>{53,51}</string>
                <key>textureRect</key>
                <string>{{323,702},{45,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{423,300},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{319,45}</string>
                <key>spriteSourceSize</key>
                <string>{335,77}</string>
                <key>textureRect</key>
                <string>{{323,749},{319,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_16_wave.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,241}</string>
                <key>spriteSourceSize</key>
                <string>{244,241}</string>
                <key>textureRect</key>
                <string>{{1,1275},{244,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_lumines_effect_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{375,367}</string>
                <key>spriteSourceSize</key>
                <string>{433,419}</string>
                <key>textureRect</key>
                <string>{{1,333},{375,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_lumines_effect_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,159}</string>
                <key>spriteSourceSize</key>
                <string>{175,161}</string>
                <key>textureRect</key>
                <string>{{244,1435},{159,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_lumines.png</string>
            <key>size</key>
            <string>{512,1595}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1ae95c5677f40a976f84c1c718749da:8d524957dc807c2c11c7692fbfc1dd93:0ebfda5604ebfcbd6644bf152fd64cbe$</string>
            <key>textureFileName</key>
            <string>skill_lumines.png</string>
        </dict>
    </dict>
</plist>
