<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stage_map_event_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,38}</string>
                <key>spriteSourceSize</key>
                <string>{105,38}</string>
                <key>textureRect</key>
                <string>{{447,1},{105,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>stage_map_event_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,0}</string>
                <key>spriteSize</key>
                <string>{444,46}</string>
                <key>spriteSourceSize</key>
                <string>{462,46}</string>
                <key>textureRect</key>
                <string>{{1,1},{444,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stage_map.png</string>
            <key>size</key>
            <string>{553,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d6d5a366c8e7549f2e98e423291002e:cee6cabb034059cc90234b1c06f33f7e:08ee36fc2461b0f8f973c7a273b13dee$</string>
            <key>textureFileName</key>
            <string>stage_map.png</string>
        </dict>
    </dict>
</plist>
