<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_layer_04_left_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>lobby_layer_04_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,2},{894,299}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{894,299}}</string>
                <key>sourceSize</key>
                <string>{918,347}</string>
            </dict>
            <key>lobby_layer_04_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1799,898},{342,150}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,21},{342,150}}</string>
                <key>sourceSize</key>
                <string>{390,196}</string>
            </dict>
            <key>lobby_layer_04_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,964},{715,317}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,18},{715,317}}</string>
                <key>sourceSize</key>
                <string>{801,347}</string>
            </dict>
            <key>lobby_layer_04_left_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1283},{652,194}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{652,194}}</string>
                <key>sourceSize</key>
                <string>{666,194}</string>
            </dict>
            <key>lobby_layer_04_left_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1078,434}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{1078,434}}</string>
                <key>sourceSize</key>
                <string>{1110,460}</string>
            </dict>
            <key>lobby_layer_04_left_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{960,326}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,14},{960,326}}</string>
                <key>sourceSize</key>
                <string>{1034,388}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_layer_04_left.png</string>
            <key>size</key>
            <string>{1951,1479}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:94b69b770cb405d4a7168fda598c68e3:0ce341deb47d7e9d6eeaf3fe61838233:06910fae2d89e41a3ef92406c3d07136$</string>
            <key>textureFileName</key>
            <string>lobby_layer_04_left.png</string>
        </dict>
    </dict>
</plist>
