<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_3_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,2},{580,276}}</string>
                <key>offset</key>
                <string>{0,-142}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{670,404},{580,276}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple_3_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{728,1060}}</string>
                <key>offset</key>
                <string>{-49,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,234},{728,1060}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_object_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{572,430}}</string>
                <key>offset</key>
                <string>{9,352}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{523,233},{572,430}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,672},{56,92}}</string>
                <key>offset</key>
                <string>{-178,-352}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{594,1106},{56,92}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,576},{76,134}}</string>
                <key>offset</key>
                <string>{-86,-488}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{676,1221},{76,134}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,584},{132,128}}</string>
                <key>offset</key>
                <string>{15,-641}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{749,1377},{132,128}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,576},{94,140}}</string>
                <key>offset</key>
                <string>{34,-492}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{787,1222},{94,140}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,576},{154,194}}</string>
                <key>offset</key>
                <string>{116,-562}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{839,1265},{154,194}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple_3_stone_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,584},{130,134}}</string>
                <key>offset</key>
                <string>{212,-400}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{947,1133},{130,134}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_3.png</string>
            <key>size</key>
            <string>{1774,732}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef1348a455abfb1b6bc9487c98e03a02:4bb9b425f04c965cf9ca82733885b2b4:c699c3b152a511c1b45a0eeae5724b25$</string>
            <key>textureFileName</key>
            <string>sky_temple_3.png</string>
        </dict>
    </dict>
</plist>
