<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_tamer_skill_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1235},{102,89}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{102,89}}</string>
                <key>sourceSize</key>
                <string>{130,115}</string>
            </dict>
            <key>ingame_tamer_skill_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1327},{162,110}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,10},{162,110}}</string>
                <key>sourceSize</key>
                <string>{170,126}</string>
            </dict>
            <key>ingame_tamer_skill_b_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1449},{102,104}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,68},{102,104}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1451},{89,73}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{89,73}}</string>
                <key>sourceSize</key>
                <string>{117,103}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,405},{214,216}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,21},{214,216}}</string>
                <key>sourceSize</key>
                <string>{290,262}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1092},{251,233}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{251,233}}</string>
                <key>sourceSize</key>
                <string>{259,245}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{287,273}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,273}}</string>
                <key>sourceSize</key>
                <string>{287,273}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{273,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,259}}</string>
                <key>sourceSize</key>
                <string>{273,259}</string>
            </dict>
            <key>ingame_tamer_skill_charging_0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,831},{273,259}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,259}}</string>
                <key>sourceSize</key>
                <string>{273,259}</string>
            </dict>
            <key>ingame_tamer_skill_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,621},{202,232}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{202,232}}</string>
                <key>sourceSize</key>
                <string>{226,244}</string>
            </dict>
            <key>ingame_tamer_skill_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1327},{176,177}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{176,177}}</string>
                <key>sourceSize</key>
                <string>{236,225}</string>
            </dict>
            <key>ingame_tamer_skill_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{424,291}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{424,291}}</string>
                <key>sourceSize</key>
                <string>{476,329}</string>
            </dict>
            <key>ingame_tamer_skill_effect_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,1491},{53,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,3},{53,101}}</string>
                <key>sourceSize</key>
                <string>{61,109}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,982},{182,143}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{182,143}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0101_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,825},{194,155}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{194,155}}</string>
                <key>sourceSize</key>
                <string>{210,167}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0201.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1343},{106,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{106,104}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0201_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,295},{106,106}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{106,106}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0301.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1127},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,106}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0301_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1127},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,106}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0401.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1235},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,106}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_skill_frame_0401_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1343},{106,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{106,106}}</string>
                <key>sourceSize</key>
                <string>{122,116}</string>
            </dict>
            <key>ingame_tamer_talk_0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{401,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{401,80}}</string>
                <key>sourceSize</key>
                <string>{401,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ingame_tamer_skill.png</string>
            <key>size</key>
            <string>{511,1553}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5914998b605c65b4296089c5a30843b9:7be88a9b0912c7b03fc395dd6570110f:df3c90c02fc25d4056968dfcc1144384$</string>
            <key>textureFileName</key>
            <string>ingame_tamer_skill.png</string>
        </dict>
    </dict>
</plist>
