<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>loon_intension_eff_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,7}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{902,260},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_eff_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{194,925},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_eff_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,257}</string>
                <key>spriteSourceSize</key>
                <string>{307,307}</string>
                <key>textureRect</key>
                <string>{{666,1},{259,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_eff_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{226,234}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{666,260},{226,234}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_eff_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,183}</string>
                <key>spriteSourceSize</key>
                <string>{190,183}</string>
                <key>textureRect</key>
                <string>{{360,881},{190,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_eff_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{293,268}</string>
                <key>spriteSourceSize</key>
                <string>{293,268}</string>
                <key>textureRect</key>
                <string>{{371,1},{293,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-6}</string>
                <key>spriteSize</key>
                <string>{191,197}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,371},{191,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{191,185}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,908},{191,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{193,183}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{369,505},{193,183}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-12}</string>
                <key>spriteSize</key>
                <string>{193,185}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{804,488},{193,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-12}</string>
                <key>spriteSize</key>
                <string>{187,189}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{753,858},{187,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-12}</string>
                <key>spriteSize</key>
                <string>{191,189}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{367,690},{191,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-8}</string>
                <key>spriteSize</key>
                <string>{193,179}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,727},{193,179}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{197,161}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,564},{197,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{197,161}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{605,488},{197,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,0}</string>
                <key>spriteSize</key>
                <string>{193,165}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{200,566},{193,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-2}</string>
                <key>spriteSize</key>
                <string>{193,167}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{200,371},{193,167}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0051.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{193,171}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{564,651},{193,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0052.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{189,173}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{743,1047},{189,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0053.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-8}</string>
                <key>spriteSize</key>
                <string>{187,175}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,1095},{187,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0054.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-6}</string>
                <key>spriteSize</key>
                <string>{187,173}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{383,1184},{187,173}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0055.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-8}</string>
                <key>spriteSize</key>
                <string>{181,181}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{1,1272},{181,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_0056.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-8}</string>
                <key>spriteSize</key>
                <string>{175,185}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{190,1247},{175,185}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0057.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{177,189}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{552,1005},{177,189}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0058.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{179,191}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{560,824},{179,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0059.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{181,191}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{759,675},{181,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{179,187}</string>
                <key>spriteSourceSize</key>
                <string>{419,403}</string>
                <key>textureRect</key>
                <string>{{194,1066},{179,187}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loon_intension_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{232,232}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{371,271},{232,232}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{74,73}</string>
                <key>spriteSourceSize</key>
                <string>{200,155}</string>
                <key>textureRect</key>
                <string>{{927,1},{74,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{368,368}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{1,1},{368,368}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{75,75}</string>
                <key>spriteSize</key>
                <string>{162,162}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{196,761},{162,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loon_intension_res_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,76}</string>
                <key>spriteSize</key>
                <string>{32,162}</string>
                <key>spriteSourceSize</key>
                <string>{390,390}</string>
                <key>textureRect</key>
                <string>{{927,76},{32,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>loon_intension.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c909ea9ec8fc497ac2cbb66d2f85e247:8de50248e4736e068cad3e9fc772cef2:c79db904dc23ca93dca6b26d8fb4787a$</string>
            <key>textureFileName</key>
            <string>loon_intension.png</string>
        </dict>
    </dict>
</plist>
