<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_tamer_tactics_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,208},{80,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,20},{80,54}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>effect_tamer_tactics_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,295},{85,210}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{85,210}}</string>
                <key>sourceSize</key>
                <string>{105,210}</string>
            </dict>
            <key>effect_tamer_tactics_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,208},{90,164}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{90,164}}</string>
                <key>sourceSize</key>
                <string>{100,168}</string>
            </dict>
            <key>effect_tamer_tactics_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{176,204}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,47},{176,204}}</string>
                <key>sourceSize</key>
                <string>{180,282}</string>
            </dict>
            <key>effect_tamer_tactics_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,300},{86,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,17},{86,88}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_tamer_tactics_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,347},{42,51}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,13},{42,51}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_tamer_tactics_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,290},{54,55}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{54,55}}</string>
                <key>sourceSize</key>
                <string>{70,77}</string>
            </dict>
            <key>effect_tamer_tactics_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{40,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,0},{40,200}}</string>
                <key>sourceSize</key>
                <string>{150,200}</string>
            </dict>
            <key>effect_tamer_tactics_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,295},{78,57}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{78,57}}</string>
                <key>sourceSize</key>
                <string>{90,63}</string>
            </dict>
            <key>effect_tamer_tactics_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,291}}</string>
                <key>offset</key>
                <string>{-3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{282,291}}</string>
                <key>sourceSize</key>
                <string>{326,315}</string>
            </dict>
            <key>effect_tamer_tactics_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,300},{79,78}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{79,78}}</string>
                <key>sourceSize</key>
                <string>{99,102}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_tamer_tactics.png</string>
            <key>size</key>
            <string>{508,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:67fa85245db1ca07a41fa2c8c0a6af58:2f508e8c013c4ea2d8ee4a605e18063f:7de8b1d74c6db05aa1acdaf31f1c7dbb$</string>
            <key>textureFileName</key>
            <string>effect_tamer_tactics.png</string>
        </dict>
    </dict>
</plist>
