<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_attr_fire_10_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,6}</string>
                <key>spriteSize</key>
                <string>{549,440}</string>
                <key>spriteSourceSize</key>
                <string>{773,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{549,440}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_attr_fire_10.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d34483cc230161aec0d394f60e0d369c:7fe16e81743aab99e50a01753f4a0e42:851b135fb265db0389989509dc237c48$</string>
            <key>textureFileName</key>
            <string>egg_attr_fire_10.png</string>
        </dict>
    </dict>
</plist>
