<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_ocean_4_c_grass_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,650},{102,180}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,16},{102,180}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>bg_ocean_4_c_grass_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{126,154}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,31},{126,154}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>bg_ocean_4_coral_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{232,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,123},{232,192}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{192,118}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,160},{192,118}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,832},{114,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,152},{114,134}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,948},{110,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,151},{110,136}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1082},{98,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,180},{98,78}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,149},{150,140}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{176,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,111},{176,216}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{92,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,173},{92,92}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_08_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{146,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,167},{146,104}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1060},{94,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{172,185},{94,68}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_coral_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,494},{154,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,172},{154,94}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
            <key>bg_ocean_4_shell_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{140,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{149,162},{140,114}}</string>
                <key>sourceSize</key>
                <string>{438,438}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ocean_5.png</string>
            <key>size</key>
            <string>{254,1182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9daa9e5c2b176aa27efeaf73f49c885c:6d5b6fefe15ac7c75dc0712502d673e0:643126144cd0c930bfc0f8e2e71d1afe$</string>
            <key>textureFileName</key>
            <string>ocean_5.png</string>
        </dict>
    </dict>
</plist>
