<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ingame_btn_auto_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{907,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1649,19},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_auto_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,16}</string>
                <key>spriteSourceSize</key>
                <string>{43,16}</string>
                <key>textureRect</key>
                <string>{{1559,21},{43,16}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ingame_btn_chat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{979,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1051,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_effect_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1123,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_exp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1625,91},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1691,99},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_marble.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{1757,99},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_hot_staminas.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,64}</string>
                <key>spriteSourceSize</key>
                <string>{64,64}</string>
                <key>textureRect</key>
                <string>{{827,106},{64,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1789,29},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_idle_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1195,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1267,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_panel_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1339,92},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_pause_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1411,100},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1483,100},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1719,29},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_repeat_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{784,110},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{1577,19},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{1555,91},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_btn_speed_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,19}</string>
                <key>spriteSourceSize</key>
                <string>{27,19}</string>
                <key>textureRect</key>
                <string>{{784,140},{27,19}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_base.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{742,110},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_frame_panel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,33}</string>
                <key>spriteSourceSize</key>
                <string>{1280,33}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,28}</string>
                <key>spriteSourceSize</key>
                <string>{739,28}</string>
                <key>textureRect</key>
                <string>{{1,110},{739,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{1,140},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,18}</string>
                <key>spriteSourceSize</key>
                <string>{712,18}</string>
                <key>textureRect</key>
                <string>{{827,36},{712,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{702,14}</string>
                <key>spriteSourceSize</key>
                <string>{702,14}</string>
                <key>textureRect</key>
                <string>{{827,56},{702,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_boss_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,6}</string>
                <key>spriteSourceSize</key>
                <string>{694,6}</string>
                <key>textureRect</key>
                <string>{{1,160},{694,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,16}</string>
                <key>spriteSourceSize</key>
                <string>{155,16}</string>
                <key>textureRect</key>
                <string>{{1577,1},{155,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{697,160},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_dps_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,12}</string>
                <key>spriteSourceSize</key>
                <string>{78,12}</string>
                <key>textureRect</key>
                <string>{{827,92},{78,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,72}</string>
                <key>spriteSourceSize</key>
                <string>{824,72}</string>
                <key>textureRect</key>
                <string>{{1,36},{824,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{1283,1},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{827,72},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,18}</string>
                <key>spriteSourceSize</key>
                <string>{292,18}</string>
                <key>textureRect</key>
                <string>{{1121,72},{292,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_gg_pvp_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,6}</string>
                <key>spriteSourceSize</key>
                <string>{274,6}</string>
                <key>textureRect</key>
                <string>{{1283,21},{274,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_dps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,26}</string>
                <key>spriteSourceSize</key>
                <string>{99,26}</string>
                <key>textureRect</key>
                <string>{{1734,1},{99,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ingame_info_hps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,26}</string>
                <key>spriteSourceSize</key>
                <string>{100,26}</string>
                <key>textureRect</key>
                <string>{{1415,72},{100,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_btn.png</string>
            <key>size</key>
            <string>{1846,173}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:169872ad35430c14e5382966e4f0c38d:494a4c1d83655ef85231f2330c41000b:ce14db38d7e3885d010e29391a279102$</string>
            <key>textureFileName</key>
            <string>ingame_btn.png</string>
        </dict>
    </dict>
</plist>
