<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_circle_heal_aphrodite_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,427},{215,215}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,215}}</string>
                <key>sourceSize</key>
                <string>{215,215}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,255},{52,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,76}}</string>
                <key>sourceSize</key>
                <string>{52,76}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,173},{80,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,61}}</string>
                <key>sourceSize</key>
                <string>{80,61}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,136},{70,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,46}}</string>
                <key>sourceSize</key>
                <string>{70,46}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,255},{57,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,57}}</string>
                <key>sourceSize</key>
                <string>{57,57}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,314},{55,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,55}}</string>
                <key>sourceSize</key>
                <string>{55,55}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,602},{82,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,87}}</string>
                <key>sourceSize</key>
                <string>{82,87}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,95},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{92,162}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{92,162}}</string>
                <key>sourceSize</key>
                <string>{100,168}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,602},{97,204}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{97,204}}</string>
                <key>sourceSize</key>
                <string>{105,210}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,225},{95,127}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,2},{95,127}}</string>
                <key>sourceSize</key>
                <string>{135,135}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_dark_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{170,328}}</string>
                <key>offset</key>
                <string>{3,39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,47},{170,328}}</string>
                <key>sourceSize</key>
                <string>{180,500}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_dark_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,644},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_re_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{254,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{254,252}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_re_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,95},{47,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{47,39}}</string>
                <key>sourceSize</key>
                <string>{55,47}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_re_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,371},{229,229}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{229,229}}</string>
                <key>sourceSize</key>
                <string>{229,229}</string>
            </dict>
            <key>skill_circle_heal_aphrodite_re_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{461,208},{45,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,45}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_circle_heal_aphrodite.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e20483e4fea59bc41666a0bca4361cf9$</string>
            <key>textureFileName</key>
            <string>skill_circle_heal_aphrodite.png</string>
        </dict>
    </dict>
</plist>
