<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_forest_4_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{980,1038}}</string>
                <key>offset</key>
                <string>{-8,-281}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,562},{980,1038}}</string>
                <key>sourceSize</key>
                <string>{1012,1600}</string>
            </dict>
            <key>bg_forest_4_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{1122,880}}</string>
                <key>offset</key>
                <string>{-23,-360}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,720},{1122,880}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>bg_forest_4_c.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{1132,640}}</string>
                <key>offset</key>
                <string>{-60,-480}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,960},{1132,640}}</string>
                <key>sourceSize</key>
                <string>{1280,1600}</string>
            </dict>
            <key>bg_forest_bush_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{192,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,78},{192,142}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_bush_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1136},{262,224}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,37},{262,224}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_bush_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,1136},{72,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,117},{72,64}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_flower_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,984},{164,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,55},{164,90}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>bg_forest_herb_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1136},{192,184}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,57},{192,184}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,984},{138,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,69},{138,160}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,984},{174,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,74},{174,150}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,1322},{180,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,51},{180,196}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,984},{150,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,78},{150,142}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_leaf_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,1362},{176,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,73},{176,152}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
            <key>bg_forest_mushroom_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,984},{194,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,83},{194,132}}</string>
                <key>sourceSize</key>
                <string>{306,298}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>forest_4.png</string>
            <key>size</key>
            <string>{1684,2018}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47cda4cd653e4594d18b1caa3d1a3943:0610fd0b5e85d605da0bbf86caad096f:139a39c3d10c8790bfb441c14002ae13$</string>
            <key>textureFileName</key>
            <string>forest_4.png</string>
        </dict>
    </dict>
</plist>
