<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple_4_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,250},{405,190}}</string>
                <key>offset</key>
                <string>{-220,-263}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,568},{405,190}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple_4_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{577,246}}</string>
                <key>offset</key>
                <string>{108,-186}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,463},{577,246}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
            <key>sky_temple_4_cloud_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{411,312}}</string>
                <key>offset</key>
                <string>{-16,-232}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,476},{411,312}}</string>
                <key>sourceSize</key>
                <string>{961,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple_6.png</string>
            <key>size</key>
            <string>{895,442}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:351eeb74bb873bd1b41e01a98d48a3b8:19cf79c0eeeaaaed474daa33261f2fe3:9f90b1f93dc804a4f8a84dfeca40400e$</string>
            <key>textureFileName</key>
            <string>sky_temple_6.png</string>
        </dict>
    </dict>
</plist>
