<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_dragonslayer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-1}</string>
                <key>spriteSize</key>
                <string>{622,795}</string>
                <key>spriteSourceSize</key>
                <string>{638,819}</string>
                <key>textureRect</key>
                <string>{{1,1},{622,795}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-1}</string>
                <key>spriteSize</key>
                <string>{542,596}</string>
                <key>spriteSourceSize</key>
                <string>{554,604}</string>
                <key>textureRect</key>
                <string>{{1,798},{542,596}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{525,482}</string>
                <key>spriteSourceSize</key>
                <string>{535,490}</string>
                <key>textureRect</key>
                <string>{{1,1396},{525,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{509,416}</string>
                <key>spriteSourceSize</key>
                <string>{517,422}</string>
                <key>textureRect</key>
                <string>{{1185,513},{509,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{274,391}</string>
                <key>spriteSourceSize</key>
                <string>{274,391}</string>
                <key>textureRect</key>
                <string>{{923,1404},{274,391}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{545,798},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,193}</string>
                <key>spriteSourceSize</key>
                <string>{145,193}</string>
                <key>textureRect</key>
                <string>{{1696,729},{145,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,56}</string>
                <key>spriteSourceSize</key>
                <string>{158,56}</string>
                <key>textureRect</key>
                <string>{{1463,1404},{158,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,143}</string>
                <key>spriteSourceSize</key>
                <string>{234,143}</string>
                <key>textureRect</key>
                <string>{{1696,493},{234,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{490,152}</string>
                <key>spriteSourceSize</key>
                <string>{500,162}</string>
                <key>textureRect</key>
                <string>{{1652,1},{490,152}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{425,393}</string>
                <key>spriteSourceSize</key>
                <string>{443,411}</string>
                <key>textureRect</key>
                <string>{{528,1396},{425,393}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{109,99}</string>
                <key>spriteSourceSize</key>
                <string>{135,119}</string>
                <key>textureRect</key>
                <string>{{1463,1564},{109,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{262,379}</string>
                <key>spriteSourceSize</key>
                <string>{278,391}</string>
                <key>textureRect</key>
                <string>{{1199,1404},{262,379}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,318}</string>
                <key>spriteSourceSize</key>
                <string>{576,336}</string>
                <key>textureRect</key>
                <string>{{625,597},{558,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{516,471}</string>
                <key>spriteSourceSize</key>
                <string>{530,483}</string>
                <key>textureRect</key>
                <string>{{1077,931},{516,471}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{514,594}</string>
                <key>spriteSourceSize</key>
                <string>{530,610}</string>
                <key>textureRect</key>
                <string>{{625,1},{514,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_dragonslayer_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{470,530}</string>
                <key>spriteSourceSize</key>
                <string>{500,540}</string>
                <key>textureRect</key>
                <string>{{545,917},{470,530}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{698,259}</string>
                <key>spriteSourceSize</key>
                <string>{738,293}</string>
                <key>textureRect</key>
                <string>{{1595,931},{698,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_dragonslayer_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{509,510}</string>
                <key>spriteSourceSize</key>
                <string>{543,544}</string>
                <key>textureRect</key>
                <string>{{1141,1},{509,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_dragonslayer.png</string>
            <key>size</key>
            <string>{1855,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b0f7c90f9f69501867924df99542603:0c6abe81512ed46e60aa71638ff20c66:0cbca4839544845e36d4b13a8b682548$</string>
            <key>textureFileName</key>
            <string>skill_dragonslayer.png</string>
        </dict>
    </dict>
</plist>
