<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flare_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{500,155}</string>
                <key>spriteSourceSize</key>
                <string>{500,281}</string>
                <key>textureRect</key>
                <string>{{1501,457},{500,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>flare_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{500,239}</string>
                <key>spriteSourceSize</key>
                <string>{500,281}</string>
                <key>textureRect</key>
                <string>{{1,609},{500,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{501,1},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1001,1},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1501,1},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{501,153},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_bottom_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1001,153},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1501,153},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{501,305},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1001,305},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1501,305},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_middle_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{501,457},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{498,150}</string>
                <key>spriteSourceSize</key>
                <string>{500,150}</string>
                <key>textureRect</key>
                <string>{{1001,457},{498,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{503,609},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_dark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1005,614},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_earth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1507,614},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_fire.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1,850},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{503,877},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1005,882},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tower_top_water.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-17}</string>
                <key>spriteSize</key>
                <string>{500,266}</string>
                <key>spriteSourceSize</key>
                <string>{500,300}</string>
                <key>textureRect</key>
                <string>{{1507,882},{500,266}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tower.png</string>
            <key>size</key>
            <string>{2008,1149}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5a7e6721b36fbd527fa3f82680ff2238:f35623037b6dd74224116dbabd6f2d4d:0e760ff8ddf4cb8c1511a36966d1a804$</string>
            <key>textureFileName</key>
            <string>tower.png</string>
        </dict>
    </dict>
</plist>
