<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_thunder_cloud_01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,46}</string>
                <key>spriteSize</key>
                <string>{252,178}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,307},{252,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunder_cloud_01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{25,-49}</string>
                <key>spriteSize</key>
                <string>{250,174}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{307,1},{250,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunder_cloud_01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{559,1},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunder_cloud_01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,159}</string>
                <key>spriteSourceSize</key>
                <string>{100,159}</string>
                <key>textureRect</key>
                <string>{{255,383},{100,159}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunder_cloud_01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{100,157}</string>
                <key>spriteSourceSize</key>
                <string>{100,159}</string>
                <key>textureRect</key>
                <string>{{416,383},{100,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_thunder_cloud_01_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{88,198}</string>
                <key>spriteSourceSize</key>
                <string>{100,198}</string>
                <key>textureRect</key>
                <string>{{520,177},{88,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunder_cloud_01_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{211,204}</string>
                <key>spriteSourceSize</key>
                <string>{229,222}</string>
                <key>textureRect</key>
                <string>{{307,177},{211,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_thunder_cloud_01_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,304}</string>
                <key>spriteSourceSize</key>
                <string>{400,400}</string>
                <key>textureRect</key>
                <string>{{1,1},{304,304}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_thunder_cloud_01.png</string>
            <key>size</key>
            <string>{642,486}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e810b9843927280af1925c09cb2ce5c9:c479319fb4975c9d09ecbc8b031c2998:b498f7f06bf9b2d718c2679a6955ba87$</string>
            <key>textureFileName</key>
            <string>skill_thunder_cloud_01.png</string>
        </dict>
    </dict>
</plist>
