<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>egg_high_legend_dark_src.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,19}</string>
                <key>spriteSize</key>
                <string>{644,638}</string>
                <key>spriteSourceSize</key>
                <string>{644,810}</string>
                <key>textureRect</key>
                <string>{{1,1},{644,638}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>egg_high_legend_dark.png</string>
            <key>size</key>
            <string>{646,640}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b0f3cc3628d88331fe4e618cb100ba26:451c7d5d88a9592dacaab10bbf58154c:6bf6f2bed1e208c393f230f0d0457d32$</string>
            <key>textureFileName</key>
            <string>egg_high_legend_dark.png</string>
        </dict>
    </dict>
</plist>
