<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_psyker_wave_s_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-314,17}</string>
                <key>spriteSize</key>
                <string>{355,298}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1691,411},{355,298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-260,13}</string>
                <key>spriteSize</key>
                <string>{369,290}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1677,711},{369,290}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-204,2}</string>
                <key>spriteSize</key>
                <string>{465,268}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1677,1003},{465,268}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_res_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,-1}</string>
                <key>spriteSize</key>
                <string>{535,262}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1,1470},{535,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_res_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-7}</string>
                <key>spriteSize</key>
                <string>{605,250}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{654,1229},{605,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_res_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-18}</string>
                <key>spriteSize</key>
                <string>{651,228}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1,1229},{651,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{817,246}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{872,411},{817,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,73}</string>
                <key>spriteSize</key>
                <string>{869,410}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1,407},{869,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,70}</string>
                <key>spriteSize</key>
                <string>{955,404}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1,1},{955,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,72}</string>
                <key>spriteSize</key>
                <string>{913,408}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{958,1},{913,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,73}</string>
                <key>spriteSize</key>
                <string>{789,408}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1,819},{789,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_res_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,84}</string>
                <key>spriteSize</key>
                <string>{803,430}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{872,659},{803,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_psyker_wave_fire.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b512a25c434ea2914a181f87f525b06f:345f187c9e91ed42d2f2d6b8ad0c892c:109bab43ab66fcb9f3214ee3e2ee4ecb$</string>
            <key>textureFileName</key>
            <string>skill_psyker_wave_fire.png</string>
        </dict>
    </dict>
</plist>
