<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_psyker_wave_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{138,348}</string>
                <key>spriteSourceSize</key>
                <string>{162,414}</string>
                <key>textureRect</key>
                <string>{{1874,2},{138,348}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,241}</string>
                <key>spriteSourceSize</key>
                <string>{244,241}</string>
                <key>textureRect</key>
                <string>{{748,1230},{244,241}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-314,17}</string>
                <key>spriteSize</key>
                <string>{355,298}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1692,412},{355,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-260,13}</string>
                <key>spriteSize</key>
                <string>{369,290}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{1678,769},{369,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-204,2}</string>
                <key>spriteSize</key>
                <string>{465,268}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{484,1767},{465,268}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-174,-1}</string>
                <key>spriteSize</key>
                <string>{535,262}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{484,1230},{535,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-130,-7}</string>
                <key>spriteSize</key>
                <string>{605,250}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{232,1230},{605,250}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-87,-18}</string>
                <key>spriteSize</key>
                <string>{651,228}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{2,1230},{651,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_psyker_wave_s_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-23,-9}</string>
                <key>spriteSize</key>
                <string>{817,246}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{873,412},{817,246}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,73}</string>
                <key>spriteSize</key>
                <string>{869,410}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{2,408},{869,410}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{49,70}</string>
                <key>spriteSize</key>
                <string>{955,404}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{2,2},{955,404}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{67,72}</string>
                <key>spriteSize</key>
                <string>{913,408}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{959,2},{913,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{109,73}</string>
                <key>spriteSize</key>
                <string>{789,408}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{2,820},{789,408}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_psyker_wave_s_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{117,84}</string>
                <key>spriteSize</key>
                <string>{803,430}</string>
                <key>spriteSourceSize</key>
                <string>{1977,734}</string>
                <key>textureRect</key>
                <string>{{873,660},{803,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_psyker_wave.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2e11436e73b55734f7a233bc2b3fc53a:c9eaac33927bc2a2b5cf2a2181da185d:ea48bbd46851cafd54ca553846311665$</string>
            <key>textureFileName</key>
            <string>skill_psyker_wave.png</string>
        </dict>
    </dict>
</plist>
