<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sc_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1,1},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1,103},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{601,1},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_10_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,401},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_10_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_10_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{125,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1674,307},{125,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_10_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1,205},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_11_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_11_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_11_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_11_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{601,103},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_12_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_12_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_12_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1201,307},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_12_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-34,0}</string>
                <key>spriteSize</key>
                <string>{95,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1944,301},{95,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_1_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_1_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1201,1},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1652,407},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_2_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1201,407},{161,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1,307},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_3_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_3_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{143,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,201},{143,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1,409},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1652,407},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_4_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-21,0}</string>
                <key>spriteSize</key>
                <string>{121,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,401},{121,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_4_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,101},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{601,205},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_5_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{125,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1674,307},{125,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_5_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_5_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1652,407},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_5_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1201,103},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_6_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1652,407},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_6_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_6_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_6_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,0}</string>
                <key>spriteSize</key>
                <string>{141,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,301},{141,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{601,307},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_7_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-2}</string>
                <key>spriteSize</key>
                <string>{93,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1946,201},{93,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_7_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{125,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1674,307},{125,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_7_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_7_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{155,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1366,307},{155,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{601,409},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_8_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_8_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-19,0}</string>
                <key>spriteSize</key>
                <string>{125,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1674,307},{125,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_8_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1801,1},{163,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_8_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-10,0}</string>
                <key>spriteSize</key>
                <string>{143,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1364,407},{143,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{598,100}</string>
                <key>spriteSourceSize</key>
                <string>{598,100}</string>
                <key>textureRect</key>
                <string>{{1201,205},{598,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_9_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,0}</string>
                <key>spriteSize</key>
                <string>{127,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,401},{127,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_9_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{113,98}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1924,401},{113,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_9_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-2}</string>
                <key>spriteSize</key>
                <string>{125,94}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1652,407},{125,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sc_9_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-3}</string>
                <key>spriteSize</key>
                <string>{149,92}</string>
                <key>spriteSourceSize</key>
                <string>{163,98}</string>
                <key>textureRect</key>
                <string>{{1523,307},{149,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>sc_thumb.png</string>
            <key>size</key>
            <string>{2040,510}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d348ed27bef042f7f488b9fc480cc0aa:678bab3543f22fb05723f87d05f5514d:92b837ba56c9ab77bcab3bde09925a17$</string>
            <key>textureFileName</key>
            <string>sc_thumb.png</string>
        </dict>
    </dict>
</plist>
