<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_darkbane_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,149}</string>
                <key>spriteSourceSize</key>
                <string>{390,167}</string>
                <key>textureRect</key>
                <string>{{144,240},{372,149}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,161}</string>
                <key>spriteSourceSize</key>
                <string>{385,179}</string>
                <key>textureRect</key>
                <string>{{1,77},{367,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{367,137}</string>
                <key>spriteSourceSize</key>
                <string>{385,155}</string>
                <key>textureRect</key>
                <string>{{479,1},{367,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{361,157}</string>
                <key>spriteSourceSize</key>
                <string>{379,175}</string>
                <key>textureRect</key>
                <string>{{295,240},{361,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{386,141}</string>
                <key>spriteSourceSize</key>
                <string>{404,159}</string>
                <key>textureRect</key>
                <string>{{1,240},{386,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_beam01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,77}</string>
                <key>spriteSourceSize</key>
                <string>{367,95}</string>
                <key>textureRect</key>
                <string>{{535,230},{349,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_beam02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,76}</string>
                <key>spriteSourceSize</key>
                <string>{353,94}</string>
                <key>textureRect</key>
                <string>{{683,230},{335,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_beam03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,67}</string>
                <key>spriteSourceSize</key>
                <string>{378,85}</string>
                <key>textureRect</key>
                <string>{{614,230},{360,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_beam04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{353,79}</string>
                <key>spriteSourceSize</key>
                <string>{371,97}</string>
                <key>textureRect</key>
                <string>{{454,230},{353,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_beam05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,88}</string>
                <key>spriteSourceSize</key>
                <string>{376,106}</string>
                <key>textureRect</key>
                <string>{{370,140},{358,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_beam06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{358,75}</string>
                <key>spriteSourceSize</key>
                <string>{376,93}</string>
                <key>textureRect</key>
                <string>{{144,614},{358,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_charge01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,86}</string>
                <key>spriteSourceSize</key>
                <string>{89,104}</string>
                <key>textureRect</key>
                <string>{{504,585},{71,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_charge02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,83}</string>
                <key>spriteSourceSize</key>
                <string>{93,101}</string>
                <key>textureRect</key>
                <string>{{577,592},{75,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_charge03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,53}</string>
                <key>spriteSourceSize</key>
                <string>{82,71}</string>
                <key>textureRect</key>
                <string>{{370,77},{64,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_charge04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,25}</string>
                <key>spriteSourceSize</key>
                <string>{51,43}</string>
                <key>textureRect</key>
                <string>{{730,140},{33,25}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_charge05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{39,39}</string>
                <key>textureRect</key>
                <string>{{100,628},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_lazer_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{76,20}</string>
                <key>spriteSize</key>
                <string>{476,74}</string>
                <key>spriteSourceSize</key>
                <string>{768,576}</string>
                <key>textureRect</key>
                <string>{{1,1},{476,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_lazer_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,106}</string>
                <key>spriteSourceSize</key>
                <string>{153,106}</string>
                <key>textureRect</key>
                <string>{{848,1},{153,106}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_lazer_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,91}</string>
                <key>spriteSourceSize</key>
                <string>{228,97}</string>
                <key>textureRect</key>
                <string>{{845,259},{200,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_lazer_boom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{851,601},{82,87}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_light01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,101}</string>
                <key>spriteSourceSize</key>
                <string>{127,119}</string>
                <key>textureRect</key>
                <string>{{845,156},{109,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_light02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,44}</string>
                <key>spriteSourceSize</key>
                <string>{68,62}</string>
                <key>textureRect</key>
                <string>{{662,626},{50,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_light03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{114,114}</string>
                <key>textureRect</key>
                <string>{{761,474},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_particle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,89}</string>
                <key>spriteSourceSize</key>
                <string>{156,107}</string>
                <key>textureRect</key>
                <string>{{859,461},{138,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_particle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,52}</string>
                <key>spriteSourceSize</key>
                <string>{184,70}</string>
                <key>textureRect</key>
                <string>{{683,572},{166,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_darkbane_ring.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,97}</string>
                <key>spriteSourceSize</key>
                <string>{68,115}</string>
                <key>textureRect</key>
                <string>{{1,628},{50,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_darkbane_smoke.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{332,82}</string>
                <key>spriteSourceSize</key>
                <string>{350,100}</string>
                <key>textureRect</key>
                <string>{{761,140},{332,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_darkbane.png</string>
            <key>size</key>
            <string>{955,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4b941f9874b4eb96379b81d32387658b:da3660281023a01cacd193cb6474b6ec:bfc0bbf735bdde2a46910cb8d2e02974$</string>
            <key>textureFileName</key>
            <string>skill_darkbane.png</string>
        </dict>
    </dict>
</plist>
