<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_athanasia_new_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{131,132}</string>
                <key>spriteSourceSize</key>
                <string>{151,144}</string>
                <key>textureRect</key>
                <string>{{102,1},{131,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,76}</string>
                <key>spriteSourceSize</key>
                <string>{52,76}</string>
                <key>textureRect</key>
                <string>{{208,328},{52,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_athanasia_new_s_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,61}</string>
                <key>spriteSourceSize</key>
                <string>{80,61}</string>
                <key>textureRect</key>
                <string>{{150,135},{80,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,46}</string>
                <key>spriteSourceSize</key>
                <string>{70,46}</string>
                <key>textureRect</key>
                <string>{{102,135},{70,46}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_athanasia_new_s_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{232,135},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,55}</string>
                <key>spriteSourceSize</key>
                <string>{55,55}</string>
                <key>textureRect</key>
                <string>{{151,328},{55,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,87}</string>
                <key>spriteSourceSize</key>
                <string>{82,87}</string>
                <key>textureRect</key>
                <string>{{167,385},{82,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{151,198},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{94,164}</string>
                <key>spriteSourceSize</key>
                <string>{100,168}</string>
                <key>textureRect</key>
                <string>{{1,391},{94,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>effect_athanasia_new_s_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{99,206}</string>
                <key>spriteSourceSize</key>
                <string>{105,210}</string>
                <key>textureRect</key>
                <string>{{1,1},{99,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_athanasia_new_s_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,8}</string>
                <key>spriteSize</key>
                <string>{180,148}</string>
                <key>spriteSourceSize</key>
                <string>{200,200}</string>
                <key>textureRect</key>
                <string>{{1,209},{180,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_athanasia_new.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:20fb71ffc2f758e57129e6619d1a9338:c17fce8f6e74b9c088d800e3537e0c7f:0ec860cabdec06fe7218de50c4520c05$</string>
            <key>textureFileName</key>
            <string>effect_athanasia_new.png</string>
        </dict>
    </dict>
</plist>
