<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_eternal_air.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,136}</string>
                <key>spriteSourceSize</key>
                <string>{143,136}</string>
                <key>textureRect</key>
                <string>{{197,124},{143,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,99}</string>
                <key>spriteSourceSize</key>
                <string>{103,99}</string>
                <key>textureRect</key>
                <string>{{342,217},{103,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,97}</string>
                <key>spriteSourceSize</key>
                <string>{103,97}</string>
                <key>textureRect</key>
                <string>{{197,262},{103,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,101}</string>
                <key>spriteSourceSize</key>
                <string>{101,101}</string>
                <key>textureRect</key>
                <string>{{197,361},{101,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,99}</string>
                <key>spriteSourceSize</key>
                <string>{97,99}</string>
                <key>textureRect</key>
                <string>{{300,361},{97,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,97}</string>
                <key>spriteSourceSize</key>
                <string>{97,97}</string>
                <key>textureRect</key>
                <string>{{399,318},{97,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_fire_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,97}</string>
                <key>spriteSourceSize</key>
                <string>{90,97}</string>
                <key>textureRect</key>
                <string>{{399,417},{90,97}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_eternal_flare.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{223,121}</string>
                <key>spriteSourceSize</key>
                <string>{223,121}</string>
                <key>textureRect</key>
                <string>{{197,1},{223,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_lay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,450}</string>
                <key>spriteSourceSize</key>
                <string>{194,450}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_line.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,91}</string>
                <key>spriteSourceSize</key>
                <string>{143,91}</string>
                <key>textureRect</key>
                <string>{{342,124},{143,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_eternal_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,63}</string>
                <key>spriteSourceSize</key>
                <string>{59,63}</string>
                <key>textureRect</key>
                <string>{{422,1},{59,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_eternal.png</string>
            <key>size</key>
            <string>{497,508}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:91e2b7296cb777c5ccf11c68bbe7b270:a89b22eee42d05e62eeafe3ed9d99a98:ba51730dfb19d3e6143928e91e261ce6$</string>
            <key>textureFileName</key>
            <string>skill_eternal.png</string>
        </dict>
    </dict>
</plist>
