<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>clanwar_fire_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-11}</string>
                <key>spriteSize</key>
                <string>{82,110}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{265,147},{82,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clanwar_fire_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-5}</string>
                <key>spriteSize</key>
                <string>{84,122}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{407,1},{84,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clanwar_fire_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-2}</string>
                <key>spriteSize</key>
                <string>{92,128}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{405,125},{92,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clanwar_fire_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,1}</string>
                <key>spriteSize</key>
                <string>{70,138}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{265,75},{70,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clanwar_fire_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,140}</string>
                <key>spriteSourceSize</key>
                <string>{100,140}</string>
                <key>textureRect</key>
                <string>{{265,1},{72,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>clanwar_light_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{262,258}</string>
                <key>spriteSourceSize</key>
                <string>{300,300}</string>
                <key>textureRect</key>
                <string>{{1,1},{262,258}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>clanwar_light_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,47}</string>
                <key>spriteSourceSize</key>
                <string>{58,51}</string>
                <key>textureRect</key>
                <string>{{349,147},{54,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>clanwar_fire.png</string>
            <key>size</key>
            <string>{498,260}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bac12a2fc2f1a1a2823de023fb163db0:f8cf7eecc11289903678472b4739eb87:5a272149a198fc63500db099785ecb2e$</string>
            <key>textureFileName</key>
            <string>clanwar_fire.png</string>
        </dict>
    </dict>
</plist>
