<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,119}</string>
                <key>spriteSourceSize</key>
                <string>{82,119}</string>
                <key>textureRect</key>
                <string>{{617,297},{82,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,116}</string>
                <key>spriteSourceSize</key>
                <string>{76,116}</string>
                <key>textureRect</key>
                <string>{{788,297},{76,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,117}</string>
                <key>spriteSourceSize</key>
                <string>{65,117}</string>
                <key>textureRect</key>
                <string>{{894,77},{65,117}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,116}</string>
                <key>spriteSourceSize</key>
                <string>{85,116}</string>
                <key>textureRect</key>
                <string>{{701,297},{85,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,101}</string>
                <key>spriteSourceSize</key>
                <string>{69,101}</string>
                <key>textureRect</key>
                <string>{{1,404},{69,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,99}</string>
                <key>spriteSourceSize</key>
                <string>{65,99}</string>
                <key>textureRect</key>
                <string>{{894,196},{65,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fire_0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,99}</string>
                <key>spriteSourceSize</key>
                <string>{56,99}</string>
                <key>textureRect</key>
                <string>{{866,297},{56,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fire_0204.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,99}</string>
                <key>spriteSourceSize</key>
                <string>{72,99}</string>
                <key>textureRect</key>
                <string>{{72,404},{72,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,3}</string>
                <key>spriteSize</key>
                <string>{74,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{886,413},{74,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{66,74}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{894,1},{66,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_0202.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,58}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{83,290},{74,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tamer_skill_0203.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{866,355},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_charging_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,7}</string>
                <key>spriteSize</key>
                <string>{91,75}</string>
                <key>spriteSourceSize</key>
                <string>{117,103}</string>
                <key>textureRect</key>
                <string>{{809,415},{91,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tamer_skill_charging_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{216,218}</string>
                <key>spriteSourceSize</key>
                <string>{290,262}</string>
                <key>textureRect</key>
                <string>{{146,290},{216,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_charging_0103.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{251,235}</string>
                <key>spriteSourceSize</key>
                <string>{259,245}</string>
                <key>textureRect</key>
                <string>{{364,276},{251,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_charging_0104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,273}</string>
                <key>spriteSourceSize</key>
                <string>{287,273}</string>
                <key>textureRect</key>
                <string>{{83,1},{287,273}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tamer_skill_charging_0105.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{358,1},{273,259}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tamer_skill_charging_0106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,259}</string>
                <key>spriteSourceSize</key>
                <string>{273,259}</string>
                <key>textureRect</key>
                <string>{{619,1},{273,259}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_skill_frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{617,418},{92,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tamer_skill_frame_0201.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,96}</string>
                <key>spriteSourceSize</key>
                <string>{92,96}</string>
                <key>textureRect</key>
                <string>{{715,415},{92,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tamer_talk_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{401,80}</string>
                <key>spriteSourceSize</key>
                <string>{401,80}</string>
                <key>textureRect</key>
                <string>{{1,1},{401,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ingame_tamer_skill.png</string>
            <key>size</key>
            <string>{966,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f1f3e60014659642f10071ca31d256e:54bfbd1d94591a5bacd08f083664b5c8:df3c90c02fc25d4056968dfcc1144384$</string>
            <key>textureFileName</key>
            <string>ingame_tamer_skill.png</string>
        </dict>
    </dict>
</plist>
