<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_pulse_res_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{655,655}</string>
                <key>spriteSourceSize</key>
                <string>{655,655}</string>
                <key>textureRect</key>
                <string>{{1,1},{655,655}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>effect_pulse_res_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{521,521}</string>
                <key>spriteSourceSize</key>
                <string>{655,655}</string>
                <key>textureRect</key>
                <string>{{1,658},{521,521}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>effect_pulse.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aceebcc0f378031f400c3bffeea98f8e:e5a7caa3730cf83fc75b46672d58bf29:7502d6b492b8a55131bfabf439ff4089$</string>
            <key>textureFileName</key>
            <string>effect_pulse.png</string>
        </dict>
    </dict>
</plist>
