<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dragon_bg_water_bubble_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1508},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,273},{10,10}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,1966},{82,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,242},{82,72}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1796},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,237},{80,82}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_01_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1688},{108,98}}</string>
                <key>offset</key>
                <string>{26,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,226},{108,98}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,650},{142,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,137},{142,282}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,1966},{64,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,248},{64,60}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1746},{94,116}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{217,220},{94,116}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,1376},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,215},{130,126}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,1964},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,238},{84,80}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1964},{80,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,230},{80,96}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_left_02_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1788},{48,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,252},{48,52}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1812},{150,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,208},{150,140}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,366},{206,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,137},{206,282}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,650},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,253},{50,50}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1512,1864},{84,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,238},{84,80}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1580},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,225},{106,106}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1966},{78,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,230},{78,96}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,1966},{70,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,250},{70,56}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_03_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,1966},{76,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,245},{76,66}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_03_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,1966},{116,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,242},{116,72}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_03_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,1842},{48,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,260},{48,36}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,1508},{114,70}}</string>
                <key>offset</key>
                <string>{-20,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,240},{114,70}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_coral_right_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1608,1746},{68,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,254},{68,48}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{526,556}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{526,556}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,702},{364,234}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,161},{364,234}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,2},{362,208}}</string>
                <key>offset</key>
                <string>{83,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,188},{362,208}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_03_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1966},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,242},{90,72}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_03_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,1966},{90,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,242},{90,72}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_light_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,938},{414,436}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,59},{414,436}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
            <key>dragon_bg_water_ocean.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>dragon_bg_water_seaweed_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1506,1546},{170,198}}</string>
                <key>offset</key>
                <string>{-16,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,186},{170,198}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_bg_water_seaweed_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,1546},{134,264}}</string>
                <key>offset</key>
                <string>{21,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,104},{134,264}}</string>
                <key>sourceSize</key>
                <string>{500,500}</string>
            </dict>
            <key>dragon_bg_water_seaweed_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,1966},{82,66}}</string>
                <key>offset</key>
                <string>{-8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,242},{82,66}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_seaweed_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,964},{524,556}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{524,556}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_seaweed_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1376},{168,288}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,136},{168,288}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_stone_left_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{522,546}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,546}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_stone_left_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1080,1494},{470,288}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,156},{470,288}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_stone_left_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{698,296}}</string>
                <key>offset</key>
                <string>{-8,-130}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,260},{698,296}}</string>
                <key>sourceSize</key>
                <string>{714,556}</string>
            </dict>
            <key>dragon_bg_water_stone_right_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1522},{528,442}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{528,442}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
            <key>dragon_bg_water_stone_right_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,964},{528,318}}</string>
                <key>offset</key>
                <string>{0,-119}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,238},{528,318}}</string>
                <key>sourceSize</key>
                <string>{528,556}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dragon_bg_water.png</string>
            <key>size</key>
            <string>{1794,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:918dbf66da2d4eadc0a9809cf0e91588:f71b68f2625ecc08f8670ea4f2d74138:8c621db5529a109dc434500c11f3e778$</string>
            <key>textureFileName</key>
            <string>dragon_bg_water.png</string>
        </dict>
    </dict>
</plist>
