<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_cave_1_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,800}</string>
                <key>spriteSourceSize</key>
                <string>{1920,800}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,800}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_cave_3_a_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{1619,992}</string>
                <key>spriteSourceSize</key>
                <string>{1647,992}</string>
                <key>textureRect</key>
                <string>{{1,803},{1619,992}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cave.png</string>
            <key>size</key>
            <string>{1922,1796}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a22d5da1a7cbef5dc770036af1e4aca4:dcd34516f38b5533b80b089309c1d976:1a2403c431c18bdd517b265a2f52c2b0$</string>
            <key>textureFileName</key>
            <string>cave.png</string>
        </dict>
    </dict>
</plist>
