<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_jaryong_spear_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,594},{324,324}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{324,324}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,312},{264,264}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,79},{264,264}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,124},{170,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,118},{170,186}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_effect_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,920},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,161},{100,100}}</string>
                <key>sourceSize</key>
                <string>{422,422}</string>
            </dict>
            <key>skill_jaryong_spear_res_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,76},{46,177}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,16},{46,177}}</string>
                <key>sourceSize</key>
                <string>{54,211}</string>
            </dict>
            <key>skill_jaryong_spear_res_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,2},{72,185}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,17},{72,185}}</string>
                <key>sourceSize</key>
                <string>{78,209}</string>
            </dict>
            <key>skill_jaryong_spear_res_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,312},{138,163}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,33},{138,163}}</string>
                <key>sourceSize</key>
                <string>{166,209}</string>
            </dict>
            <key>skill_jaryong_spear_res_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{15,338}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{15,338}}</string>
                <key>sourceSize</key>
                <string>{17,404}</string>
            </dict>
            <key>skill_jaryong_spear_res_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{19,594},{15,338}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{15,338}}</string>
                <key>sourceSize</key>
                <string>{17,404}</string>
            </dict>
            <key>skill_jaryong_spear_res_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,594},{15,338}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{15,338}}</string>
                <key>sourceSize</key>
                <string>{17,404}</string>
            </dict>
            <key>skill_jaryong_spear_res_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,312},{20,15}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{20,15}}</string>
                <key>sourceSize</key>
                <string>{24,17}</string>
            </dict>
            <key>skill_jaryong_spear_res_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,934},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{81,60}}</string>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>skill_jaryong_spear_res_04_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,580},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{81,60}}</string>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>skill_jaryong_spear_res_04_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,580},{81,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,6},{81,60}}</string>
                <key>sourceSize</key>
                <string>{97,72}</string>
            </dict>
            <key>skill_jaryong_spear_res_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,920},{102,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{102,99}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>skill_jaryong_spear_res_05_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{837,642},{58,73}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,36},{58,73}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>skill_jaryong_spear_res_05_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,642},{44,65}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,44},{44,65}}</string>
                <key>sourceSize</key>
                <string>{122,119}</string>
            </dict>
            <key>skill_jaryong_spear_res_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,452},{126,572}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,111},{126,572}}</string>
                <key>sourceSize</key>
                <string>{146,792}</string>
            </dict>
            <key>skill_jaryong_spear_res_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,920},{96,568}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,117},{96,568}}</string>
                <key>sourceSize</key>
                <string>{146,792}</string>
            </dict>
            <key>skill_jaryong_spear_res_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,590}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,93},{146,590}}</string>
                <key>sourceSize</key>
                <string>{146,792}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_jaryong_spear.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:84bc3e7ef2a22f30eda2c9353a58539d:fdf2acd6ee2c38a4a98685c488545af6:b88f72922b5dfd40a60e11805c14d9dc$</string>
            <key>textureFileName</key>
            <string>skill_jaryong_spear.png</string>
        </dict>
    </dict>
</plist>
