<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lobby_layer_02_center_00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{946,414}}</string>
                <key>offset</key>
                <string>{167,91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{334,182},{946,414}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>lobby_layer_02_center_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,950},{17,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{17,17}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>lobby_layer_02_center_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{83,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{83,40}}</string>
                <key>sourceSize</key>
                <string>{89,46}</string>
            </dict>
            <key>lobby_layer_02_center_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,950},{149,13}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,8},{149,13}}</string>
                <key>sourceSize</key>
                <string>{159,25}</string>
            </dict>
            <key>lobby_layer_02_center_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,969},{230,15}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{230,15}}</string>
                <key>sourceSize</key>
                <string>{248,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lobby_layer_02_center.png</string>
            <key>size</key>
            <string>{418,992}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d263d8762e21fa7ccd94ebbd4f46bdae:3d4207210062b9ddb69f7eb62b70eed2:2e3400b8a56923057b372c4721a94b0a$</string>
            <key>textureFileName</key>
            <string>lobby_layer_02_center.png</string>
        </dict>
    </dict>
</plist>
