<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wedge_15_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{2024,530}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,428},{2024,530}}</string>
                <key>sourceSize</key>
                <string>{2024,1386}</string>
            </dict>
            <key>wedge_15_15_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{622,559}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{622,559}}</string>
                <key>sourceSize</key>
                <string>{624,559}</string>
            </dict>
            <key>wedge_15_15_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1158},{482,482}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{482,482}}</string>
                <key>sourceSize</key>
                <string>{482,482}</string>
            </dict>
            <key>wedge_15_15_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1642},{222,222}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,222}}</string>
                <key>sourceSize</key>
                <string>{222,222}</string>
            </dict>
            <key>wedge_15_15_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1891},{149,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,149}}</string>
                <key>sourceSize</key>
                <string>{149,149}</string>
            </dict>
            <key>wedge_15_15_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1158},{488,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,232}}</string>
                <key>sourceSize</key>
                <string>{488,232}</string>
            </dict>
            <key>wedge_15_15_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1648},{241,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{241,241}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>wedge_15_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,1891},{26,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,139}}</string>
                <key>sourceSize</key>
                <string>{26,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wedge_15.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:feffaa687a150e9f6760c9b2560b8d6a$</string>
            <key>textureFileName</key>
            <string>wedge_15.png</string>
        </dict>
    </dict>
</plist>
