<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>event_roulette_blue_frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,416}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{500,1},{416,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_effect.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-3}</string>
                <key>spriteSize</key>
                <string>{399,388}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{1289,419},{399,388}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_effect_change_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{497,497}</string>
                <key>spriteSourceSize</key>
                <string>{505,505}</string>
                <key>textureRect</key>
                <string>{{1,1},{497,497}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_effect_dark_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-15}</string>
                <key>spriteSize</key>
                <string>{389,376}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{911,419},{389,376}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>event_roulette_effect_dark_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{409,392}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{500,419},{409,392}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_red_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,168}</string>
                <key>spriteSize</key>
                <string>{45,74}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{1,624},{45,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_red_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{121,122}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{1,500},{121,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_red_frame_0101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,416}</string>
                <key>spriteSourceSize</key>
                <string>{420,420}</string>
                <key>textureRect</key>
                <string>{{918,1},{416,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>event_roulette_red_frame_0102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{353,354}</string>
                <key>spriteSourceSize</key>
                <string>{409,410}</string>
                <key>textureRect</key>
                <string>{{1336,1},{353,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>event_roulette.png</string>
            <key>size</key>
            <string>{1690,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc7bfa2906603bb540d285ccbc92ec6:57632b83ed8c3a7119ab628d67658212:3898c714003a0b5258aeba6fe3d15a5a$</string>
            <key>textureFileName</key>
            <string>event_roulette.png</string>
        </dict>
    </dict>
</plist>
