<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple2_1_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1920,800}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1920,800}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_1_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,804},{566,214}}</string>
                <key>offset</key>
                <string>{-49,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{628,321},{566,214}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_1_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{662,382}}</string>
                <key>offset</key>
                <string>{-45,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,116},{662,382}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple2_1.png</string>
            <key>size</key>
            <string>{1924,1188}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d1c75ce9517949a1592a7b34b5a0cfb:57fdf3241c9977b644fb766b1772b14c:9ad82fcfaf121cdc6e871df247b907a8$</string>
            <key>textureFileName</key>
            <string>sky_temple2_1.png</string>
        </dict>
    </dict>
</plist>
