<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>missile_wedge_eff_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>missile_wedge_light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,80}}</string>
                <key>sourceSize</key>
                <string>{40,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>missile_wedge_light.png</string>
            <key>size</key>
            <string>{44,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe0b18dd952d33cadfe31fbcd339a816:51b23c8870d3b70e003d32ce79503b5b:a61534c49efa20b73315aa4e57e9e691$</string>
            <key>textureFileName</key>
            <string>missile_wedge_light.png</string>
        </dict>
    </dict>
</plist>
