<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_recovery_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{260,260}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{260,260}}</string>
                <key>sourceSize</key>
                <string>{302,302}</string>
            </dict>
            <key>skill_recovery_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{231,235}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{231,235}}</string>
                <key>sourceSize</key>
                <string>{241,241}</string>
            </dict>
            <key>skill_recovery_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,264},{186,188}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,23},{186,188}}</string>
                <key>sourceSize</key>
                <string>{230,230}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skill_recovery.png</string>
            <key>size</key>
            <string>{423,501}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c76beb85d7a05326e79dc40731d89e15:635082f4c74d10197f33efefa88436c5:4db533c47852b808716aca01f5c4cc05$</string>
            <key>textureFileName</key>
            <string>skill_recovery.png</string>
        </dict>
    </dict>
</plist>
