<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple3_1_cloud_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{536,374}}</string>
                <key>offset</key>
                <string>{-466,153}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,60},{536,374}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_1_cloud_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,2},{320,224}}</string>
                <key>offset</key>
                <string>{426,231}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1226,57},{320,224}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_1_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{662,382}}</string>
                <key>offset</key>
                <string>{-45,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{584,116},{662,382}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_2_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,250},{428,180}}</string>
                <key>offset</key>
                <string>{673,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1419,313},{428,180}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_2_cloud_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,2},{472,246}}</string>
                <key>offset</key>
                <string>{-475,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,245},{472,246}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple3_2_cloud_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{626,378}}</string>
                <key>offset</key>
                <string>{333,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1940,630},{626,378}}</string>
                <key>sourceSize</key>
                <string>{3840,1600}</string>
            </dict>
            <key>sky_temple3_2_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,378},{386,512}}</string>
                <key>offset</key>
                <string>{502,384}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1109,160},{386,512}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_01_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,432},{174,228}}</string>
                <key>offset</key>
                <string>{675,285}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1388,401},{174,228}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_01_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1886,228},{130,152}}</string>
                <key>offset</key>
                <string>{276,246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1011,478},{130,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,432},{256,272}}</string>
                <key>offset</key>
                <string>{-135,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{537,497},{256,272}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_02_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,548},{158,96}}</string>
                <key>offset</key>
                <string>{-439,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,721},{158,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_02_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,432},{288,154}}</string>
                <key>offset</key>
                <string>{-347,68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{309,655},{288,154}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_02_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,228},{206,164}}</string>
                <key>offset</key>
                <string>{137,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{834,558},{206,164}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_2_object_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1594,662},{188,96}}</string>
                <key>offset</key>
                <string>{-661,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,715},{188,96}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_4_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1770,394},{134,152}}</string>
                <key>offset</key>
                <string>{-242,-675}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,1399},{134,152}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_4_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,382},{154,108}}</string>
                <key>offset</key>
                <string>{-93,-708}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{630,1454},{154,108}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_4_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1930,538},{68,126}}</string>
                <key>offset</key>
                <string>{-88,-716}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{678,1453},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_4_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,666},{82,92}}</string>
                <key>offset</key>
                <string>{39,-674}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{798,1428},{82,92}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple3_4_stone_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,646},{100,120}}</string>
                <key>offset</key>
                <string>{276,-576}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1026,1316},{100,120}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple3_2.png</string>
            <key>size</key>
            <string>{2018,766}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdf90371d2062c022dce07d440b9b9a0:2d79a491757795176963a8608e8b6eb5:7f01be5da1179478f1f3b5ef825091bf$</string>
            <key>textureFileName</key>
            <string>sky_temple3_2.png</string>
        </dict>
    </dict>
</plist>
