<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{245,61},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_skill_upgrade_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,132}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{1,1},{132,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-127,0}</string>
                <key>spriteSize</key>
                <string>{56,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{213,195},{56,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>star_upgrade_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-101,0}</string>
                <key>spriteSize</key>
                <string>{108,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{135,61},{108,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-76,0}</string>
                <key>spriteSize</key>
                <string>{158,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{135,1},{158,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-50,0}</string>
                <key>spriteSize</key>
                <string>{210,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{1,195},{210,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_upgrade_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-25,0}</string>
                <key>spriteSize</key>
                <string>{260,58}</string>
                <key>spriteSourceSize</key>
                <string>{310,58}</string>
                <key>textureRect</key>
                <string>{{1,135},{260,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>star.png</string>
            <key>size</key>
            <string>{316,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73771d00c12bd149f53b022f03ae9c23:d142a360ebfda1d64cc9b488f34a3f8d:3529feb3fcfae6daa554c62bd8c6844e$</string>
            <key>textureFileName</key>
            <string>star.png</string>
        </dict>
    </dict>
</plist>
