<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_stone_curse_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,357},{70,84}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{70,84}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_stone_curse_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{46,56}}</string>
                <key>offset</key>
                <string>{25,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,11},{46,56}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_stone_curse_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,287},{68,106}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{68,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>effect_stone_curse_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,449},{22,26}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,14},{22,26}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>effect_stone_curse_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,287},{160,130}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,130}}</string>
                <key>sourceSize</key>
                <string>{160,142}</string>
            </dict>
            <key>effect_stone_curse_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{267,283}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,17},{267,283}}</string>
                <key>sourceSize</key>
                <string>{299,327}</string>
            </dict>
            <key>effect_stone_curse_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,449},{68,44}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{68,44}}</string>
                <key>sourceSize</key>
                <string>{76,60}</string>
            </dict>
            <key>effect_stone_curse_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,443},{75,54}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{75,54}}</string>
                <key>sourceSize</key>
                <string>{83,74}</string>
            </dict>
            <key>effect_stone_curse_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,357},{64,59}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,10},{64,59}}</string>
                <key>sourceSize</key>
                <string>{74,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_stone_curse.png</string>
            <key>size</key>
            <string>{271,499}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e08c63889388b666141c36ed34c6e44:d6061a2f5fd7a46143330501bb4275a6:a6268456c4e8840f25510cd7c2054131$</string>
            <key>textureFileName</key>
            <string>effect_stone_curse.png</string>
        </dict>
    </dict>
</plist>
