<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>whitedestroyer_laser_black_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,38}</string>
                <key>spriteSourceSize</key>
                <string>{332,46}</string>
                <key>textureRect</key>
                <string>{{422,1},{324,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_black_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{170,33}</string>
                <key>spriteSourceSize</key>
                <string>{178,39}</string>
                <key>textureRect</key>
                <string>{{1,1302},{170,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitedestroyer_laser_black_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{426,102}</string>
                <key>spriteSourceSize</key>
                <string>{432,108}</string>
                <key>textureRect</key>
                <string>{{263,787},{426,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_black_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,115}</string>
                <key>spriteSourceSize</key>
                <string>{462,123}</string>
                <key>textureRect</key>
                <string>{{146,826},{454,115}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_in_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,45}</string>
                <key>spriteSourceSize</key>
                <string>{727,45}</string>
                <key>textureRect</key>
                <string>{{375,1},{727,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{474,143}</string>
                <key>spriteSourceSize</key>
                <string>{482,151}</string>
                <key>textureRect</key>
                <string>{{1,826},{474,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_main.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{784,134}</string>
                <key>spriteSourceSize</key>
                <string>{786,136}</string>
                <key>textureRect</key>
                <string>{{239,1},{784,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_laser_main_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{823,236}</string>
                <key>spriteSourceSize</key>
                <string>{823,236}</string>
                <key>textureRect</key>
                <string>{{1,1},{823,236}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_sparkle_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,33}</string>
                <key>spriteSourceSize</key>
                <string>{63,41}</string>
                <key>textureRect</key>
                <string>{{375,730},{55,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_sparkle_01_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,31}</string>
                <key>spriteSourceSize</key>
                <string>{53,31}</string>
                <key>textureRect</key>
                <string>{{173,1282},{53,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_sparkle_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{82,64}</string>
                <key>spriteSourceSize</key>
                <string>{88,70}</string>
                <key>textureRect</key>
                <string>{{367,982},{82,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitedestroyer_sparkle_02_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,61}</string>
                <key>spriteSourceSize</key>
                <string>{82,61}</string>
                <key>textureRect</key>
                <string>{{367,1048},{82,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>whitedestroyer_wave_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,181}</string>
                <key>spriteSourceSize</key>
                <string>{128,189}</string>
                <key>textureRect</key>
                <string>{{263,1215},{120,181}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>whitedestroyer_wave_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,193}</string>
                <key>spriteSourceSize</key>
                <string>{109,201}</string>
                <key>textureRect</key>
                <string>{{367,787},{101,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_whitedestroyer_earth.png</string>
            <key>size</key>
            <string>{469,1336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5805a67950460d7b5585f52c5235f274:e176106808658f61207dd4c96ae2a747:70444e2a584686e7a8cf095094426d0b$</string>
            <key>textureFileName</key>
            <string>skill_whitedestroyer_earth.png</string>
        </dict>
    </dict>
</plist>
