<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>target_cone_60_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{361,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,361}}</string>
                <key>sourceSize</key>
                <string>{361,361}</string>
            </dict>
            <key>target_cone_60_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,365},{26,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,139}}</string>
                <key>sourceSize</key>
                <string>{26,139}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>target_cone_60.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0ba40348ef7e335075b4c4f486a96ad0$</string>
            <key>textureFileName</key>
            <string>target_cone_60.png</string>
        </dict>
    </dict>
</plist>
