<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill_ordo_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{305,96}</string>
                <key>spriteSourceSize</key>
                <string>{323,114}</string>
                <key>textureRect</key>
                <string>{{1,363},{305,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,103}</string>
                <key>spriteSourceSize</key>
                <string>{260,121}</string>
                <key>textureRect</key>
                <string>{{513,397},{242,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,231}</string>
                <key>spriteSourceSize</key>
                <string>{253,249}</string>
                <key>textureRect</key>
                <string>{{1105,269},{235,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_Stone_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,144}</string>
                <key>spriteSourceSize</key>
                <string>{165,162}</string>
                <key>textureRect</key>
                <string>{{1461,1},{147,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_Stone_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{147,146}</string>
                <key>spriteSourceSize</key>
                <string>{165,164}</string>
                <key>textureRect</key>
                <string>{{957,286},{147,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_Stone_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,149}</string>
                <key>spriteSourceSize</key>
                <string>{162,167}</string>
                <key>textureRect</key>
                <string>{{1315,1},{144,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_Stone_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,146}</string>
                <key>spriteSourceSize</key>
                <string>{162,164}</string>
                <key>textureRect</key>
                <string>{{1607,1},{144,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_Stone_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,144}</string>
                <key>spriteSourceSize</key>
                <string>{163,162}</string>
                <key>textureRect</key>
                <string>{{1753,1},{145,144}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_boom_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{266,262}</string>
                <key>spriteSourceSize</key>
                <string>{284,280}</string>
                <key>textureRect</key>
                <string>{{1051,1},{266,262}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_boom_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,201}</string>
                <key>spriteSourceSize</key>
                <string>{216,219}</string>
                <key>textureRect</key>
                <string>{{757,290},{198,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_boom_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,287}</string>
                <key>spriteSourceSize</key>
                <string>{440,305}</string>
                <key>textureRect</key>
                <string>{{343,1},{422,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_boom_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{283,282}</string>
                <key>spriteSourceSize</key>
                <string>{301,300}</string>
                <key>textureRect</key>
                <string>{{767,1},{283,282}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_boom_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,288}</string>
                <key>spriteSourceSize</key>
                <string>{336,306}</string>
                <key>textureRect</key>
                <string>{{1683,149},{318,288}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_fire_03_wing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,65}</string>
                <key>textureRect</key>
                <string>{{451,348},{114,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_fire_03_wing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,56}</string>
                <key>spriteSourceSize</key>
                <string>{159,74}</string>
                <key>textureRect</key>
                <string>{{308,363},{141,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_fire_03_wing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{139,63}</string>
                <key>textureRect</key>
                <string>{{1,461},{121,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_light_03_wing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,65}</string>
                <key>textureRect</key>
                <string>{{486,290},{114,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_light_03_wing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,56}</string>
                <key>spriteSourceSize</key>
                <string>{159,74}</string>
                <key>textureRect</key>
                <string>{{370,421},{141,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_light_03_wing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{139,63}</string>
                <key>textureRect</key>
                <string>{{124,461},{121,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{343,349}</string>
                <key>spriteSourceSize</key>
                <string>{361,367}</string>
                <key>textureRect</key>
                <string>{{1338,152},{343,349}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_line_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,340}</string>
                <key>spriteSourceSize</key>
                <string>{378,358}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>skill_ordo_water_03_wing_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,47}</string>
                <key>spriteSourceSize</key>
                <string>{132,65}</string>
                <key>textureRect</key>
                <string>{{567,339},{114,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_water_03_wing_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,56}</string>
                <key>spriteSourceSize</key>
                <string>{159,74}</string>
                <key>textureRect</key>
                <string>{{343,290},{141,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill_ordo_water_03_wing_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,45}</string>
                <key>spriteSourceSize</key>
                <string>{139,63}</string>
                <key>textureRect</key>
                <string>{{247,461},{121,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_ordo.png</string>
            <key>size</key>
            <string>{1972,507}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcde442157bd5fad0e32f115f4e7a72b:d1de9c6d95fef3107ce07b2346182fbb:4f976a8ce6bb9989f9c40868547c5ad2$</string>
            <key>textureFileName</key>
            <string>skill_ordo.png</string>
        </dict>
    </dict>
</plist>
