<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>friendship_rank_a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{136,122}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{317,1},{136,122}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>friendship_rank_b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{130,108}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{169,131},{130,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,164}</string>
                <key>spriteSourceSize</key>
                <string>{166,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_c.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,-16}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{301,139},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>friendship_rank_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{128,146}</string>
                <key>spriteSourceSize</key>
                <string>{164,164}</string>
                <key>textureRect</key>
                <string>{{169,1},{128,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>realTextureFileName</key>
            <string>friendship.png</string>
            <key>size</key>
            <string>{440,240}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371dbd360c40a779b748ace3638dcec5:349ebdd46ba2758f89fc0838ef9757ac:56e1c0b621046333c0269a9a0eeda3e4$</string>
            <key>textureFileName</key>
            <string>friendship.png</string>
        </dict>
    </dict>
</plist>
