<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exciting_back_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{163,126}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{163,126}}</string>
                <key>sourceSize</key>
                <string>{179,136}</string>
            </dict>
            <key>exciting_effect_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{47,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{47,58}}</string>
                <key>sourceSize</key>
                <string>{57,72}</string>
            </dict>
            <key>exciting_effect_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,62},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>exciting_eye_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{84,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{84,23}}</string>
                <key>sourceSize</key>
                <string>{88,23}</string>
            </dict>
            <key>exciting_face_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,88},{81,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,11}}</string>
                <key>sourceSize</key>
                <string>{81,11}</string>
            </dict>
            <key>exciting_mouth_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,101},{19,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,32}}</string>
                <key>sourceSize</key>
                <string>{19,32}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>exciting.png</string>
            <key>size</key>
            <string>{250,130}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9313496c672ed107441eb202b49cd9f:e6ab107653436ec91e8a7d6e2ef4d0d2:87eae2ca7b07a433a43a89795baee2ff$</string>
            <key>textureFileName</key>
            <string>exciting.png</string>
        </dict>
    </dict>
</plist>
