<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>effect_defense_up_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,108}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{130,108}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_defense_up_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{86,88}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{86,88}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
            <key>effect_defense_up_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{130,100}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{130,100}}</string>
                <key>sourceSize</key>
                <string>{130,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>effect_defense_up.png</string>
            <key>size</key>
            <string>{354,112}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:757d1dda9d8102e24aa62d6d6013af06:2d65f55ef7aa89fe24d32964ab2f4d2b:a482a676a7a36ec1d69a09dae7da6c4e$</string>
            <key>textureFileName</key>
            <string>effect_defense_up.png</string>
        </dict>
    </dict>
</plist>
