<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>sky_temple2_3_cloud_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{572,260}}</string>
                <key>offset</key>
                <string>{15,-131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{689,401},{572,260}}</string>
                <key>sourceSize</key>
                <string>{1920,800}</string>
            </dict>
            <key>sky_temple2_3_object_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,588}}</string>
                <key>offset</key>
                <string>{-27,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,122},{348,588}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple2_3_object_leaf.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,2},{280,180}}</string>
                <key>offset</key>
                <string>{8,188}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,122},{280,180}}</string>
                <key>sourceSize</key>
                <string>{800,800}</string>
            </dict>
            <key>sky_temple2_3_stone_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,282},{56,92}}</string>
                <key>offset</key>
                <string>{-176,-352}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{596,1106},{56,92}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_3_stone_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,264},{76,134}}</string>
                <key>offset</key>
                <string>{-83,-490}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{679,1223},{76,134}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_3_stone_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1166,184},{132,128}}</string>
                <key>offset</key>
                <string>{10,-642}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{744,1378},{132,128}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
            <key>sky_temple2_3_stone_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,184},{96,142}}</string>
                <key>offset</key>
                <string>{30,-494}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{782,1223},{96,142}}</string>
                <key>sourceSize</key>
                <string>{1600,1600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sky_temple2_3.png</string>
            <key>size</key>
            <string>{1448,352}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:431d6f7c8e92068f039c5ad0802426e6:d29e994eae3e0635bff7f0f5a81e05d3:cdeb87ba3512e281abd86ed53b62cb51$</string>
            <key>textureFileName</key>
            <string>sky_temple2_3.png</string>
        </dict>
    </dict>
</plist>
